[2015-09-30 08:09] mpcjanssen commented on #305
Should be easy enough to add.

[2015-09-30 08:38] durcheinandr commented on #305
Sounds great.

[2015-09-30 08:45] #305 closed

[2015-10-01 21:59] ghubby123 opened #306 "[feature request] Allow the user to choose where to save the todo.txt"
This app is a fantastic app with a great interface that I really like, but the cloudless app should allow the user to select where they want to save the todo.txt file so that it could be made to sync with owncloud rather than dropbox.   Keep up the good work!

[2015-10-02 07:42] mpcjanssen commented on #306
You can open a todo file from any location. After doing that, the same file will be used for updates, so I don't understand this issue.
Can you explain what you want to do which isn't covered by `Open todo file` from the menu?

[2015-10-02 12:51] ghubby123 commented on #306
Silly me, you're right; this functionality is already in the app and it works well, thank you.

I had installed the app and added multiple entries before I tried to find a way to save the entries and have them sync via owncloud.  To correct this, I shared the full list with myself via email, then copied the output to a new file on my PC in the owncloud folder which I was then able to open via simp

[2015-10-02 12:55] mpcjanssen commented on #306
Glad you got it resolved. The PayPal link is in the support section of the main help file.

[2015-10-02 12:55] #306 closed

[2015-10-04 17:55] jotwewe commented on #291
For me this is a major bug because of two related things:
 - the selected item is not visible, usually one has to scroll a lot to find it
 - in contrast to previous versions the menu (which sometimes does not come up) does not show the number of selected items

These issues make opening simpletask by touching the widget a source of errors.

[2015-10-04 18:11] mpcjanssen commented on #291
Scrolling to a specific position is a remarkably difficult thing to achieve. But I will look into this again if I have some time.

[2015-10-05 04:05] tigamai commented on #169
Seems like the issue is fixed (tested in 6.0.8).

It was an intermittent issue but I've been using simpletask a fair bit over the last few months and haven't seen the problem again.

[2015-10-05 04:05] #169 closed

[2015-10-05 10:54] mpcjanssen commented on #169
@tigamai thanks for the feedback. If this happens to reoccur don't hesitate to reopen, but I think the redesign of the data backend actually did fix this.

[2015-10-06 17:41] jotwewe opened #307 "Editing creates copy of item"
Steps to reproduce (doesn't happen everytime, but often):

- open simpletask from widget
- select item
- edit
- close via 'ok' check mark

Often the item is saved as a new one (the one before the edit is still there, but also the edited one).

[2015-10-09 18:44] fxshpac commented on #235
was looking for a way to open any file type (jpg, doc, etc) from the path in the task. this is the closest that i can find. any chance to implement it. a relative path support is even better to make it portable.

[2015-10-10 11:21] mpcjanssen commented on #294
Can't find anything that migh cause this.

[2015-10-11 21:23] morgonhed opened #308 "Display of tasks belonging to multiple list broken"
Consider this todo-list:

    a @a
    b @b
    ab @a @b

When displayed without filter it looks like this:

    A
       a
       ab
    B
       b

This is not intuitive as the task ab belongs to both lists and therefore (that's my intuition at least) should be displayed in both lists.

It gets worse when one filters by list. This is what it looks like when filtered by list "b":

    A
       ab

[2015-10-12 18:19] mpcjanssen commented on #308
To start, this is working as designed so it's not broken in that sense. This is all a consequence of tasks being on more than one list. If you filter for a single list and then sort by lists, you got exactly what you asked for.

Now whether the design is broken or not is up for discussion.

Firstly it's currently not very easy to show a single task more than once in the UI. I don't think this is f

[2015-10-12 19:39] mpcjanssen commented on #281
Importing into Android Studio should work fine for the cloudless version. Building the dropbox version requires a developer API key.

[2015-10-13 16:15] fmartelg opened #309 "Cannot click on "..." menu icon on top right of screen. Cannot open right pane."
SimpleTask paid version
HTC One M9
Android 5.1
HTC Sense 7.0

### Symptoms
1. I open Simple Task.  I try to clik on `...` menu icon on top right.  Instead the Filter menu opens up.  Not an issue with fat fingers.

2. I can open left pane but right pane is unresponsive.  It does not open.

3. I long press a task in list to highlight it.  Bottom menu pops up.  Clicking on vertical `...` icon opens u

[2015-10-13 18:02] fmartelg commented on #309
OK.  It seems this may be a hardware issue.  A quarter inch margin on the right side of the touch panel is insensitive to touch.  Getting a replacement from HTC.

Please close this issue

[2015-10-13 21:41] mpcjanssen commented on #309
Thanks for the update.  Good luck with the replacement.

[2015-10-13 21:41] #309 closed

[2015-10-16 19:12] h-cspu opened #312 "threshold duedate recurring"
I played around with threshold- and duedates with recurring.

Let's give an example

foo t:2015-10-13 due:2015-10-16 rec:1w

If I complete this task today (2015-10-16), a new one will be created

foo t:2015-10-23 due:2015-10-23 rec:1w

I would have expected the new one to preserve the 3 days diffence between threshold and duedate, like

foo t:2015-10-20 due:2015-10-23 rec:1w

[2015-10-17 01:10] y2kbugger commented on #293
In addition to allowing a filter to be associated with a specific file, it should then have the option to be shown globally (any file open), or locally (only when the associated files is open) that way you can use filters for jumping between files, and also have filters that can "dig deeper" into certain files without cluttering the global list.

[2015-10-17 01:12] y2kbugger commented on #282
Crazy, I use @@errands also. I just thought I was using the program wrong to make some lists look like lists and others like contexts. Cool!

[2015-10-18 15:00] y2kbugger opened #313 "2 rec tags rather than option"
rec should be based on original date.
arec(anachronistic rec) should base the recurrences on the complete date. Calling it anachronistic as a reference to anacron vs cron.

For backward compatibility look at what the option was set to in previous version. If set to the latter mode, convert all rec to arec.

Alternatively make the option tristate. Cron way, anacron way, and two tag way. This will a

[2015-10-18 15:15] mpcjanssen commented on #313
This is fixed in the latest version:

Recurrence is from today by default (if you specify for example `rec:2d`) however if you use `rec:+2d` recurrence occurs from the original date.

[2015-10-18 15:17] y2kbugger commented on #313
That's an awesome solution!
On Oct 18, 2015 11:15 AM, "Mark Janssen" <notifications@github.com> wrote:

[2015-10-19 09:26] #313 closed

[2015-10-19 09:31] #298 closed

[2015-10-19 09:31] mpcjanssen commented on #298
Fixed in latest release

[2015-10-19 09:32] mpcjanssen commented on #277
@jorgb is this still ocuuring with the latest version from the playstore (6.0.8) ?

[2015-10-19 09:35] mpcjanssen commented on #91
The whole idea of launching from the widget is to get the same view. It's very easy to get the other view back if you save it in the saved filters drawer on the right. I wont change this behavior.

[2015-10-19 09:35] #91 closed

[2015-10-19 09:40] mpcjanssen commented on #241
The small overhead of adding the actual recurring unit doesn't offset the additional complexity of setting the default setting properly and all the extra code. Biggest disadvantage is that a recurring part can mean different things based on the config.
This leads to very difficult to debug issues. So I am not going to change this.

[2015-10-19 09:40] #241 closed

[2015-10-19 09:41] mpcjanssen commented on #282
Because of the difficulty of tracking background file changes and the already available options to partition the todo file, this is never going to happen. Closed.

[2015-10-19 09:41] #282 closed

[2015-10-19 09:42] mpcjanssen commented on #251
@jflinchbaugh any update on this. Did this happen again with the latest version 6.0.8?

[2015-10-19 13:39] jflinchbaugh commented on #251
I've not seen it happen again, so it's probably safe to close this.

[2015-10-19 13:39] #251 closed

[2015-10-20 07:31] mpcjanssen opened #314 "Task count is wrong when filtering"
If you are filtering for tags or lists, then at the top, where it displays the number of items left as n/m, n is not correct.

[2015-10-20 07:33] mpcjanssen commented on #312
I agree changing all dates in a task makes more sense. Currently Simpletask tries to be smart about it. This would be break compatibility with the current version though so I will need to think about how to implement it.

[2015-10-20 07:34] mpcjanssen commented on #307
Selecting from the widget is not working as it should at the moment anyway. I will look into this when I have time.

[2015-10-20 07:36] mpcjanssen commented on #291
See also #307 for a possibly related bug.

[2015-10-20 07:38] mpcjanssen commented on #288
I am quite busy at the moment do this will take some time.

[2015-10-20 07:40] mpcjanssen commented on #178
New versions use the Core API again and handle connection detection and syncing from code. This should be fixed. If not please open a new issue.

[2015-10-20 07:40] #178 closed

[2015-10-20 07:42] mpcjanssen commented on #196
You can always add a threshold or due date and change the prefix if you want quick date entry. One idea might be to split the date entry from the due and threshold date.
Support for custom fields without any root in an existing todo.txt extension is not going to happen.

[2015-10-20 09:53] alienx2 opened #315 "Add Taskpaper / Plain Text format support"
I would like to suggest to support taskpaper or understandable to read plain text format.

there was problem between simpletask and taskpaper like indent tab,priority (A), losing '-', add @done instead of 'x'

I will give you idea to trick: to add check/uncheck "Taskpaper term" beside todo.txt term

Function> Simpletask will support Taskpaper term or understandable to read plain text format.
- Ind

[2015-10-22 15:41] mpcjanssen commented on #315
The text shouldn't change even if it's not proper todo.txt format. This is a bug in the parser probably. I will look into this.
Better support for taskpaper in general is very low on the list and will probably never happen.

[2015-10-22 16:08] alienx2 commented on #315
ok then please fix not to remove intend tab after edited line (except 'x' or priority) & sync from simpletask.

[2015-10-23 07:07] mpcjanssen opened #316 "Completed prio setting doesn't seem to do anything."

[2015-10-25 10:16] mpcjanssen commented on #315
BTW, the main limitation to properly support taskpaper and todo.txt is that todo.txt doesn't support projects with subtasks whereas taskpaper does.

[2015-10-28 22:48] fmartelg opened #318 "UX improvement for search"
1. Open app.
2. Click on magnifying glass to search.
3. Click again on `Search todo.txt`
4. Cursor is on search text box, keyboard visible.
5. Type search query.

Step 3 could be skipped.  Go from 2 to 4 directly.  After Step 2 is obvious I want to type something.

Thanks!

[2015-10-28 22:50] fmartelg opened #319 "UX improvement navigation"
1. I hold phone with right hand.
2. My thumb sits close to edge of phone.
3. Every time I scroll up and down I jump several pages because my thumb touches scroll bar.

Could not find setting to disable jumping when touching scroll bar.  That would be very useful.

[2015-10-29 07:41] mpcjanssen commented on #318
Unfortunately these types of 'simple' things, are very hard to achieve on Android (or I don't know how). I will into this.

[2015-10-29 07:42] mpcjanssen commented on #319
I recently noticed this myself too. This is caused by the fast scrolling scrollbar. I will make this a configurable option.

[2015-10-29 08:14] mpcjanssen commented on #318
Commit didn't fix the issue.

[2015-10-29 09:56] #318 closed

[2015-10-31 07:59] #319 closed

[2015-10-31 15:25] perafon opened #321 "Tags visible as headlines in widget also"

[2015-11-02 19:07] jotwewe commented on #307
It seems important to change the screen rotation between "edit" and "close via 'ok' check mark" to reproduce the bug. I usually browse the list in portrait orientation but edit in landscape.

[2015-11-06 15:18] alienx2 commented on #315
No.. i mean i want indent tab (yes like subtask) is untouched (no remove) in text bec it was edited by PC/MAC.

[2015-11-09 09:05] paullemmens opened #322 "Grouping by due data"
When I sort my list view on threshold date, I get a list/view in which tasks are nicely grouped by their threshold date. For this I set 'by threshold' date at the top of the sorting list. However, this does not work for sorting by due date.

Is this intentional?

[2015-11-09 11:24] mpcjanssen commented on #322
Yes this is intentional. The grouping is limited but I will change it to allow grouping by any sort field.

[2015-11-09 18:25] paullemmens commented on #322
Great to hear, thnx! Out of curiosity, why did you initially limit it?
On Nov 9, 2015 12:24, "Mark Janssen" <notifications@github.com> wrote:

[2015-11-10 11:40] mpcjanssen commented on #322
I didn't think it would make much sense to group by due date considering most groups would contain a single task. (At least for me)

[2015-11-10 15:20] #322 closed

[2015-11-12 04:46] mpcjanssen opened #324 "CalendarSync exception"
The following exception was reported via Google:

[code]

[2015-11-12 09:08] vojtechkral commented on #324
Thanks for info, will have a look at it asap...

[2015-11-12 09:24] vojtechkral commented on #324
Can you find out what was the user's SDK version?

[2015-11-12 13:36] mpcjanssen commented on #324
Android 5.1 with xposed on a note 2. So almost certainly cm12.1

[2015-11-12 13:37] mpcjanssen commented on #324
So that's api level  22

[2015-11-12 15:23] vojtechkral commented on #324
I'm not sure how this could happen, maybe it's xposed+xprivacy refusing access to calendar URL. Anyway, I'll add an exception handler just to be on the safe side...

[2015-11-15 17:45] #324 closed

[2015-11-16 02:18] mpcjanssen opened #327 "leverage embedded lua interp better"

[2015-11-29 13:42] okurz commented on #92
screenshots look fine to me. maybe screenshot were updated in the meantime? solved?

[2015-11-29 13:46] okurz opened #328 "documentation on https://mpcjanssen.nl/pages/simpletask.html has broken links"
maybe the documentation should refer to github issues instead?

[2015-11-29 13:51] okurz commented on #86
Another app which features a checkbox to complete tasks from widget is https://play.google.com/store/apps/details?id=org.dayup.gtask maybe taking this as a reference also helps?

[2015-11-29 13:59] vojtechkral commented on #92
They seem old to me. Definitely not material design.

[2015-11-29 15:11] mpcjanssen commented on #92
The screenshots are ancient. Will need to update them.

[2015-11-29 15:12] mpcjanssen commented on #328
Ah I should update my homepage indeed. Thanka for letting me know.

[2015-11-29 18:18] mpcjanssen commented on #328
Page now refers to github.

[2015-11-29 18:18] #328 closed

[2015-12-01 18:45] Opennat commented on #328
"the tracker" link on http://mpcjanssen.nl/doc/simpletask/ still go to http://mpcjanssen.nl/tracker/projects/simpletask-android (404)

[2015-12-02 17:40] erysavy opened #329 "Cursor on beginning of line after setting or changing priority"
Simpletask v6.0.9:
Create a new task, choose priority from widget. After this the cursor is positioned *left* of the widget, hence when adding e.g. the context(s) (`@xxx`) and/or project (`+yyy`) this will lead to something like:
`@context some descriptive text (A)`

The same happens to the cursor when changing the priority for an existing task.

Preferred behavior: the cursor shouldn't be touched

[2015-12-03 20:26] jorgb commented on #277
No, I have not seen newlines anymore. Good fix, thanks!
On Oct 19, 2015 11:32, "Mark Janssen" <notifications@github.com> wrote:

[2015-12-11 22:48] gaydenko opened #331 "date, due:date font size is too tiny"
Hi! Android 4.4.2 is in use. `Date` and `due:some-date` fields' font size is too small (and it is show stopper for my eyes, unfortunately). Moreover, font size setting doesn't result in these fields rendering change.

Can these "additional" (but having sometimes even more sense rather than todo text itself) fields be rendered (I mean font size) the same way as todo text?

[2015-12-13 05:46] mpcjanssen commented on #331
This is yet another request to make the UI elements of Simpletask more configurable. I will create a single issue to bundle all of these. However because of the amount of work required and the limited time I have at the moment I don't think I will get to it anytime soon.

[2015-12-28 11:59] erictlee opened #332 "NOW FIXED: When editing, clicking on + causes crash"
I see you've fixed this - wow, very fast!  Thank you! (You need to go to Google Play to download the laterst version of the app, but it did work.)

When editing an existing task, when I click on the plus (+) sign below to tag it, I get the error message "Unfortunately, Simpletask has stopped."  This happens every time, on each task, including new ones.  This has only started happening with the new

[2015-12-28 12:41] mpcjanssen commented on #332
Can you confirm this is fixed with 6.3.1 ?

[2015-12-28 12:41] mpcjanssen commented on #332
Ah just saw the title, never mind.

[2015-12-28 12:41] #332 closed

[2015-12-28 12:41] mpcjanssen commented on #332
Sorry about the initial bug.

[2015-12-28 15:53] fmartelg commented on #329
Yes.  Very annoying.

[2015-12-28 16:11] mpcjanssen commented on #329
Trying to keep the cursor at the same spot is a tricky problem. For example what if you remove the tag where the cursor currently is or what if you add a priority so that where the cursor currently is moves.
I did have a sort of working solution before, but that had a tendency to crash because setting the cursor past the end of the textfield is not allowed.
I will look into restoring this behavior

[2015-12-29 17:01] erysavy commented on #329
As I haven't seen your previous solution, what I suggest might be too simple, but nevertheless.
Assuming you can get the whole line content and are able to get and set the cursor position, the following rules should be sufficient:
1. when deleting anything beginning left of the current cursor position, calculate the new position as:
max((old cursor position - length of deleted text), start positio

[2015-12-30 22:36] #277 closed

[2015-12-31 11:59] mpcjanssen commented on #329
@erysavy I have used a slightly simpler approach

* When changing the prio, move the cursor position to match for the new or removed prio.
* When changing due or threshold date don't change the cursor position

This should work for most cases. I also made sure that I am not setting the cursor out of bounds now which should eliminate the crashes.

As such this is will be fixed in 6.3.3

[2015-12-31 11:59] #329 closed

[2016-01-02 10:38] vojtechkral opened #334 "Toast shown when calendar access denied and calendar sync disabled"
Don't show a toast warning if due/threshold calendar events not enabled.

[2016-01-02 13:01] #93 closed

[2016-01-03 10:10] mpcjanssen opened #336 "Tasks can be lost if unsaved and Simpletask is closed"
Currently the task list is stored in memory. If Simpletask is exited if there is a pending save, the pending save can be lost (although it is cached).
There will be no real data loss (the save always go into the backup) but the in app storage of the tasks should be move to the DB anyway, which will be easier now with greenDAO.
This should also resolve concurrent changes and other race conditions o

[2016-01-03 23:03] bttrx opened #337 "Bug: Setting 'Date new tasks' affects tasks edited"
If 'Date **new** tasks' is enabled and I edit some **existing** task with no creation date so far, then the current date is written to the task as creation date.

[2016-01-03 23:07] mpcjanssen commented on #337
I can reproduce this and I agree it's a bit weird.

The main problem to fix this is that it's not very clear what is a new task and what is an updated task. Mainly because the you can add tasks while updating other tasks. It also doesn't help that tasks don't really have an identity (it's just strings) apart from maybe the line number in the `todo.txt`.

I'll have to think very hard on how (if pos

[2016-01-03 23:13] mpcjanssen opened #338 "Update docs and artwork"
The documentation and the images on google play don't match the current version anymore. Update it.

[2016-01-03 23:13] mpcjanssen commented on #270
Documentation will be tracked with #338 .

[2016-01-03 23:13] #270 closed

[2016-01-03 23:15] bttrx commented on #337
Does updating a task change its position in todo.txt?

[2016-01-03 23:16] mpcjanssen commented on #337
It shouldn't

[2016-01-03 23:17] bttrx commented on #337
Then the line number is your unique identifier. ;-) Or what about hashing a line?

[2016-01-03 23:24] mpcjanssen commented on #337
Hashing wont work if you change the task: For example if you have two task: `A` and `A later` and you change the first to `A later` and the second to `A even later` it wont work with hashes,

However when you update tasks and new ones Simpletask already replaces the update tasks based on the position in the Edit box. Currently the code is not in place to take creation date into account when this h

[2016-01-04 08:22] vojtechkral commented on #338
... and I should create doc/help for the calendar events stuff...

[2016-01-04 18:24] #337 closed

[2016-01-06 13:33] tomtom opened #339 "Support implicit parent child relationships using indentation for creating outlines."
Is there a chance, you'll add support for outlines à la https://github.com/ginatrapani/todo.txt-cli/wiki/Todo.sh-Add-on-Directory#outline--plan-with-an-outline-sync-your-next-actions

Regards

[2016-01-06 13:46] mpcjanssen commented on #339
If I understand this correctly, it allows selective sync based on tabs in the source file.

Because Simpletask uses the todo.txt file as the storage, selective sync is not really possible at the moment.
However in the future (when the database backend matures) things like this might become possible.

I will tag this someday/maybe for now so don't expect anything any time soon.

[2016-01-06 18:28] tomtom commented on #339
IMHO the implementation of outlines by the plugin is questionable. At its core, outlines rather work as filters -- in the overview only the leafs of the tree of tasks will be shown, where a leaf is a node with no pending/open subtasks. This is how I implemented this feature in https://github.com/tomtom/ttodo_vim (which is, besides simpletask, what I use to work with todo.txt files) and I find it q

[2016-01-06 20:06] Heiko-L opened #340 "Simpletask doesn't ask for storage permission on Android 6"
Hi!

After configuring my sd card as internal storage I cannot access my todo.txt anymore.

https://developer.android.com/about/versions/marshmallow/android-6.0.html#adoptable-storage

Is a fix possible?

TIA,
Heiko

[2016-01-06 20:13] tasn commented on #340
For whatever its worth, I can't access my todo.txt at all since upgrading to 6. I also have an sd card, but mine is not set to adoptable.

[2016-01-07 13:51] ashraf8 opened #341 "Multiple widget's with multiple files"
Hi, thanks for the great work, is there is a chance to create multiple widget's with different to-do file.
Ex: widget one todo1.txt widget two todo2.txt

Thanks

[2016-01-07 14:00] mpcjanssen commented on #341
Will be fixed if #293 is fixed. Will close this issue. Updates will be in #293

[2016-01-07 14:00] #341 closed

[2016-01-08 11:39] mpcjanssen commented on #340
@tasn it would be helpful to get some log output. I assume this is for cloudless. You can share the logging from the settings (at the bottom). You can send it to my personal email (mpc.janssen@gmail.com) although the logging should not contain any private info.

@Heiko-L I read the link, but Simpletask doesn't use any of the methods that are impacted by adoptable storage so I am not sure what migh

[2016-01-08 11:43] mpcjanssen commented on #339
There is no real way to make a filter like this in Simpletask at the moment because filtering doesn't consider adjacent tasks.
I could possible make the complete task list available when filtering with Lua so that you could use Lua to make this custom filter. I will look into enabling this without degrading performance too much.

[2016-01-08 12:11] Heiko-L commented on #340
Sorry, it was my fault :(

With Android 6 one has to enable permissions after installation (the app should ask for it?). I had to manually permit calendar and storage permission. Now it works.
Maybe I configured Cyanogenmod 13 so that it disables all permissions by default and because of that apps don't ask for it.

https://support.google.com/googleplay/answer/6270602?hl=en

And yes, for me it is

[2016-01-08 12:14] mpcjanssen commented on #340
@Heiko-L you are right, the app should ask for storage permission, I still need to add the code for this. I hope this will be in the next version.

[2016-01-08 12:15] tasn commented on #340
Thanks to @Heiko-L I solved my problem.

As I was writing my reply, @mpcjanssen wrote exactly what I was about to say. The problem is that simpletask cloudless doesn't ask for the storage permission. It was off by default, and I was none the wiser.

[2016-01-08 12:17] Heiko-L commented on #340
So I think this issue can be closed?

[2016-01-08 12:18] mpcjanssen commented on #340
I renamed the issue, I will still need to fix it.

[2016-01-10 16:17] bttrx opened #342 "Feature: Bulk change prio"
As of today you can select multiple tasks and open an edit window, but there's no search and replace, so you have to edit each tasks priority manually. To me it would be a big step forward to have a menu item to set all selected tasks to the same prio, e.g., to change all from "(C)" to "(B)".

Background: [Rule #2: Use only the top few priorities, A-D, and make them mean something specific and tim

[2016-01-10 16:23] mpcjanssen commented on #342
You can change the prio from the main screen. There is no need to go to the edit screen. Select the tasks and press the star button.
Why do you want to do this from the edit screen?

[2016-01-10 19:15] sunnyolives opened #343 "Sorting by due date"
Simpletask sorts alfabetically. Is there a way to make it sort by due date? In the case of no specified due date, it could sort alfabetically or by creation date.

[2016-01-10 19:38] bttrx commented on #342
Oops, I didn't notice the star button. It exactly does, what I want. :+1:

[2016-01-10 19:38] #342 closed

[2016-01-10 19:46] mpcjanssen commented on #343
Sorting is part of the filter, so if you click the double tag button, there is a tab "sort" (you might have to swipe the tabbar on a very small device.
You can then drag the "By Due Date" to the top for this to be the first sort.

[2016-01-10 21:33] sunnyolives commented on #343
Thanks! I just hadn't explored the app thoroughly enough. Is there a website with this kind of documentation anywhere?

[2016-01-10 21:35] mpcjanssen commented on #343
There is help in the app itself, but this is mostly more advanced usage. I should write a simple tutorial which handles all the basic functions. There is already an issue for that.

[2016-01-10 21:35] #343 closed

[2016-01-13 05:26] flusi100 commented on #190
Thank you for this - I also think this setting should be moved into the filter settings (although this option usually will not be altered)
Fortunately I found this issue before opening a new one ;-)

[2016-01-13 05:34] flusi100 commented on #231
This feature could make sense, but as described above, the current features can be used. If the todo.txt file is synchronized with dropbox, on a pc any text editor could also be used to replace or delete each occurrence of a tag.

[2016-01-21 14:41] mpcjanssen commented on #336
It seems that this is fixed with 6.3.5.

[2016-01-21 22:41] mpcjanssen opened #344 "Move show hidden tasks to the filter from settings"

[2016-01-22 21:20] mpcjanssen commented on #344
Duplicate of #190

[2016-01-22 21:20] #344 closed

[2016-01-23 00:13] GarciaPL opened #345 "Losing tasks after update to 6.3.5"
I have just updated few seconds ago Simpletask to version 6.3.5 through FDroid. It is hard to say, but I lost my tasks. I mean that they are not removed, but application is not be able to load them for some reason.

For those who might be frightened about this issue, you might found your todo.txt file under path /storage/emulated/0/data/nl.mpcjanssen.simpletask/todo.txt

[2016-01-23 09:00] mpcjanssen commented on #345
Are you on Android M?

[2016-01-23 09:11] mpcjanssen commented on #345
Also can you send me a logcat? I obviously don't get crash reports via FDroid

[2016-01-23 10:47] mpcjanssen commented on #345
Did you uninstall the previous version before updating? This should only be an issue in that case. The default location of the todo file changed.

[2016-01-23 11:10] GarciaPL commented on #345
I have Android 5.1.1. You might found logs as a attachment. I never remove previous version before installing new one. I did experiment. I uninstalled Simpletask and then install 6.3.4. Now I can see my tasks. But when I uninstalled Simpletask and then install 6.3.5 (newer one), app does not load any tasks.

What is the default location now ? Maybe there is a way just to copy todo.txt to new locat

[2016-01-23 11:15] mpcjanssen commented on #345
Default is now: /storage/emulated/0/Documents/todo.txt

However you can open the original file like so:

- 3 dot Menu -> Open Todo File
- Goto /storage/emulated/0/data/nl.mpcjanssen.simpletask/
- Open todo.txt

[2016-01-23 11:38] GarciaPL commented on #345
Thank you. It works now as expected. I copied todo.txt from old location to new one. Thanks a lot!

[2016-01-23 11:40] #345 closed

[2016-01-25 06:21] nthorne opened #346 "Changes not synced to Dropbox in 7.0.0"
New tasks get synced to Dropbox properly, but if I for example change priority of a task, or complete a task and then hit refresh, the change is lost.

[2016-01-25 07:49] mpcjanssen commented on #346
I think this is caused by a very small change. I will investigate.

[2016-01-25 08:53] #346 closed

[2016-01-25 12:01] nthorne commented on #346
Works fine in the new release. Well done!

[2016-01-25 12:02] mpcjanssen commented on #346
Shame on me for breaking such essential functionality in the first place though.

[2016-01-25 17:27] firecat53 opened #347 "Recent update broke archiving"
Hey, great little app! The most recent update seems to have broken the archive feature. I can click the checkbox to complete a task and the strikethrough line appears through the item, but it doesn't get archived, even when selecting  'Archive now' from the menu. Also, exiting the app and re-opening it removes the completed strikethrough but the task is still there.

Let me know if I can provide a

[2016-01-25 17:29] mpcjanssen commented on #347
Can you confirm this is fixed in 7.0.1?

[2016-01-25 17:33] firecat53 commented on #347
Well, it's half-fixed :) It will archive the item now if I manually select the 'Archive' option from the menu, but I have 'Auto-Archive' set in the settings and that doesn't seem to be working.

Thanks!

[2016-01-25 17:36] mpcjanssen commented on #347
With auto archive it first archives and then completes the task which is the wrong order. I will fix this.

[2016-01-25 17:43] #347 closed

[2016-01-26 10:19] mpcjanssen opened #348 "Show notification if taskslist has been updated in the background"

[2016-01-26 15:55] Nelvin opened #349 "Extended Lua features like modifying, creating tasks etc."
Is there a chance you'll extend the support of Lua of SimpleTask beyond filtering of tasks?

F.i. create/modify tasks by script which get's called on some specific events like finished a task.

This would enable features like
- add a counter to recurring tasks
- limit the number of times a task reoccurs
- on completion unmark the done flag (x) and instead increase a pomodoro counter (this of cours

[2016-01-26 17:08] mpcjanssen commented on #327
More info a #349.

[2016-01-26 17:08] #327 closed

[2016-01-26 17:22] mpcjanssen commented on #349
I would love it if all this was possible. It is quite a bit easier said than done though.

[2016-01-26 19:07] mpcjanssen commented on #226
One main issue with using a recyclerview with cards is that it requires manually writing the complete selection code.

[2016-01-26 19:10] mpcjanssen commented on #279
Seems to be fixed in the latest versions. @shayneholmes can you confirm?

[2016-01-26 19:14] mpcjanssen commented on #217
See also #349

[2016-01-26 19:19] mpcjanssen commented on #314
Fixed in latest versions.

[2016-01-26 19:19] #314 closed

[2016-01-26 19:20] mpcjanssen commented on #336
Was caused by a logic error in handing pending changes. Fixed.

[2016-01-26 19:20] #336 closed

[2016-01-26 19:22] mpcjanssen commented on #157
Fixed.

[2016-01-26 19:22] #157 closed

[2016-01-26 19:23] shayneholmes commented on #279
Verified in latest. Thanks!

[2016-01-26 19:23] #279 closed

[2016-01-26 19:24] mpcjanssen commented on #115
Archiving should work properly in newer versions. If there are remaining issues please open a separate issue.

[2016-01-26 19:24] #115 closed

[2016-01-27 15:14] mpcjanssen opened #350 "Allow sort by completion date"

[2016-01-27 15:15] mpcjanssen opened #351 "Allow testing of Lua filter without actually applying the filter"
Right now if you create a filter with an infinite loop, you will have a problem.

[2016-01-27 15:16] mpcjanssen opened #352 "Cursor off by one when setting priority"
When I set a priority with the menu in the edit screen the cursor is one character from the end. I will often set a priority then context and have a stray letter after the context.

[2016-01-27 15:42] mpcjanssen commented on #352
Fixed

[2016-01-27 15:42] #352 closed

[2016-01-27 19:38] #350 closed

[2016-01-27 22:50] eduncan911 commented on #340
Confirming this is still a bug as of today with latest Play version.

ANDROID 6.0.1 Stock (non-root)
Simple task Cloudless

Aa mentioned above, manually enabling the permissions worked.  But, I had no idea to do that.  Was just about to uninstall it and move on, but though I'd try the GH issues. Glad I found this one.

Error at first was I was never able to select any file or folder.  I thought th

[2016-01-28 05:36] bartnaaijkens opened #353 "Archiving is not creating a done.txt"
Hi,

Love your app! However I came across 1 critical bug. When I archive 'done.txt' is not created. I connected SimpleTask to a Dropbox 'app folder'.

Let me know if there is anything I can do to help.

Best,
Bart

[2016-01-28 07:17] jorgb opened #354 "Reminder should (if possible) use Reminder API"
Google calendar supports reminder entries which are perfect to link to from a simpletask todo item. So instead of making a calendar entry, make every reminder entry. This makes more sense as the reminders need to be dismissed to be completed, and stay in view even when the alotted time slot has expired (if you miss a calendar appointment, the reminding part will vanish together with dismissing the

[2016-01-28 07:57] #353 closed

[2016-01-28 09:49] djibux opened #355 "Feature request: hide task till they are due"
Hello,

When I set due dates I like hiding the task till it's due.  I currently set both a due and a threshold date.  Here are a few implementations I can think of:
- Having a filter to hide due dates in the future (just like there is one for threshold)
- Having an option to use due date as threshold date
- Having an option to automatically set a threshold date equal to the due date when setting a

[2016-01-28 12:17] #340 closed

[2016-01-28 13:39] mpcjanssen commented on #355
@djibux I am not quite sure I understand why you would even want to use due date in this case. Why can't you use threshold date only in this case?

[2016-01-28 13:58] mpcjanssen commented on #355
Also it's relatively easy to filter tasks with due dates in the future using a script filter (https://github.com/mpcjanssen/simpletask-android/blob/master/src/main/assets/script.en.md).

For example:

[code]

[2016-01-28 14:00] mpcjanssen commented on #355
So this is a typical request that can already be handled by the Lua script filter and which doesn't seem common enough to warrant inclusion as a separate filter option. So closed. @djibux , if you have questions about how to implement the exact filter in Lua, don't hesitate to ask as a comment to this issue.

[2016-01-28 14:00] #355 closed

[2016-01-28 14:03] djibux commented on #355
Thanks for the script!
I want to use due dates and not threshold to be able to view it in my agenda :)

[2016-01-28 14:04] mpcjanssen commented on #355
The main reason I embedded Lua is to allow these kind of highly customized filters without needing to change the application.

[2016-01-28 14:04] djibux commented on #355
Yeah, that's awesome!

[2016-01-28 14:05] mpcjanssen commented on #355
BTW you can also create agenda items based on threshold date.

[2016-01-28 14:05] djibux commented on #355
D'oh!  I completely forgot about that, sorry.

[2016-01-29 06:06] bartnaaijkens commented on #353
Awesome! Thanks for quick response. Straight away bought the donation package to support your development.

[2016-01-29 07:54] mpcjanssen commented on #353
@bartnaaijkens thanks for the support :)

[2016-01-29 10:35] mpcjanssen commented on #334
Should be fixed in latest version

[2016-01-29 10:35] #334 closed

[2016-01-29 11:13] mpcjanssen commented on #291
Should be fixed with new way of tracking selection.

[2016-01-29 11:13] #291 closed

[2016-01-29 18:52] vojtechkral commented on #334
Thanks and sorry for not fixing this earlier, kind of low on free time now :-/

[2016-01-29 19:10] mpcjanssen commented on #334
@vojtechkral no problem, I know the feeling :-)

[2016-02-03 18:29] Dynalt-glj1 opened #357 "Dropbox todo.txt not opened"
On Galaxy 6S, contents of Dropbox / todo / todo.txt isn't displayed.
The open file from settings shows correct path.
Connected to Dropbox using the Dropbox app.
Features look great if I can get it to work.

[2016-02-03 21:05] nthorne opened #358 "Wrong context shown when adding multiple tasks"
Version: 7.0.7

Scenario:

Add two tasks, eg.
[code]

If I select the second task, and open the context tag dialog, that dialog will indicate that the second task has the @home context set, which is false (unticking the context will, as you might guess, erroneously remove the context from the first task). The same problem exists for the project tag.

[2016-02-04 09:29] mpcjanssen commented on #357
Could you send me the logging when the file doesn't display (You can share the logging from the settings->View log)

[2016-02-04 09:31] mpcjanssen commented on #358
@nthorne I cannot reproduce this issue. Could you send me a screenshot demonstrating the issue?

[2016-02-04 09:35] mpcjanssen opened #359 "Performance issues with relative small todo files."
Developer console link: https://play.google.com/apps/publish/?account=6653778978507327683#ReviewDetailsPlace:p=nl.mpcjanssen.todotxtholo&reviewid=gp:AOqpTOFa8qyvDkj6duzemrEEfUVDjKATv2SKInxXCGgAaXhPDCTsyd_tzSTr9i5jGqtoiKc0Vzrec56XMN3EW5Y

Issue was raised for Dropbox version but Cloudless version performance is the same.

[2016-02-04 18:17] Dynalt-glj1 commented on #357
09:29:03.9	i	TodoApplication	Created todolist {}nl.mpcjanssen.simpletask.task.TodoList@5e948d8
09:29:03.9	i	TodoApplication	Load todolist
09:29:03.9	i	TodoList	Loading TodoList asynchronously
09:29:03.9	i	TodoList	Handler: Queue Reload
09:29:03.9	i	TodoList	Creating action Reload
09:29:03.9	i	TodoList	Execution action Reload
09:29:03.9	i	TodoApplication	Scheduling daily UI update alarm, first at T

[2016-02-04 20:31] nthorne commented on #358
Here you go - as you can see, the cursor is after the Test 2 task, which does not have a context assigned, but still a context is indicated. This has worked in previous versions, but I am not sure as of when it stopped working.

![screenshot_2016-02-04-21-26-12](https://cloud.githubusercontent.com/assets/1839979/12828664/57e3c30e-cb86-11e5-964a-8e61f2c2411c.png)

[2016-02-05 08:51] mpcjanssen commented on #359
Main cause is the inFuture call recalculating today for every task. This is fixed by 02cd3f384e77421449ab13d341aaa692c6e97266

[2016-02-05 08:51] #359 closed

[2016-02-05 08:54] mpcjanssen commented on #357
@Dynalt-glj1 I don't see anything strange in this log. Are you using App Folder access to dropbox? If so the actual todo.txt being used is in the dropbox Apps/Simpletask App Folder

[2016-02-05 12:11] mpcjanssen commented on #358
@nthorne could you please retry with the latest version at http://mpcjanssen.nl/files/simpletask/latest and let me know if this is fixed? I can't reproduce the error.

[2016-02-05 18:00] Dynalt-glj1 commented on #357
Mark,

That would explain it.

Can I access the file in the /todo folder of Dropbox? Would I need to
reinstall to redo the Dropbox access?

I have an app on iPad that insist on that location.

--
Thanks,

Garold L. Johnson

On 02/05/2016 00:54, Mark Janssen wrote:

[2016-02-05 20:27] mpcjanssen commented on #357
You can logout from Dropbox from the settings. Simpletask will then ask you to login again.

[2016-02-05 20:35] bttrx opened #360 "Typo: Drobox"
In "src/dropbox/java/nl/mpcjanssen/simpletask/remote/FileStore.java".

[2016-02-06 06:39] nthorne commented on #358
Seems to be working fine in 7.0.9

[2016-02-07 10:03] #360 closed

[2016-02-07 10:03] #358 closed

[2016-02-07 10:04] mpcjanssen commented on #357
@Dynalt-glj1 can you let me know if it is working now?

[2016-02-07 10:05] mpcjanssen commented on #331
@gaydenko would displaying them like the widget without "extended widget" in the settings work?

[2016-02-07 10:22] mpcjanssen commented on #307
@jotwewe is this still an issue in the latest version (7.0.9)

[2016-02-07 10:23] mpcjanssen commented on #312
The suggested behavior is the behavior in newer versions.

[2016-02-07 12:16] gaydenko commented on #331
@mpcjanssen , sorry, I can not supply useful feedback as far as don't use the app - can not marry life rhythm with tasks idea.

[2016-02-07 12:16] #331 closed

[2016-02-07 14:11] h-cspu commented on #312
Thanks. I installed the most recent version 7.0.9. As I tested, the behaviour has not changed since my 1st post. Have I missed something? Like a setting?

For testing I created a new task

testing t:2016-02-04 due:2016-02-07 rec:1w

Completing this task results in the new one

testing t:2016-02-14 due:2016-02-14 rec:1w

Same behaviour as before.

[2016-02-07 15:21] mpcjanssen commented on #266
With the queuing I am pretty convinced this is fixed. Please re-open if this re-occurs.

[2016-02-07 15:21] #266 closed

[2016-02-07 16:30] #190 closed

[2016-02-07 16:54] #30 closed

[2016-02-07 16:57] mpcjanssen commented on #203
Should be fixed in latest versions. Manual refresh for cloudless is not necessary any discrepancy in the file and the view in Simpletask is a bug. Please open a new issue if this occurs again.

[2016-02-07 16:57] #203 closed

[2016-02-07 17:33] Dynalt-glj1 commented on #357
Mark,

Just got to your email.

That does it! Simple Task is now looking at my todo.txt file!

That's great!

I am looking forward to this. It looks much better that the app I am using.

--
Thanks,

Garold L. Johnson

On 02/07/2016 02:04, Mark Janssen wrote:

[2016-02-07 21:59] #357 closed

[2016-02-07 22:01] mpcjanssen commented on #312
Odd, let me double check this

[2016-02-08 07:19] jason-mehmel opened #361 "When creating a new task, app is crashing when selecting List or Tag from menu"
The app still functions through typing, I can type new or existing tags and lists with no crashing, but using the menu for either list or tag causes a crash. Samsung Galaxy S5.

[2016-02-08 07:42] mpcjanssen commented on #361
I think I know the cause. It should only occur if the edit box is empty. If it is occurring for other scenarios for you @jason-mehmel  could you please include a logcat here?

[2016-02-08 07:53] jason-mehmel commented on #361
Just tested it, and you're right! If the edit box has content, the crash does not occur.

(If I do find it again, how do I get a logcat from my phone? Sorry for the newb question.)

[2016-02-08 10:28] pruperting commented on #361
Happens to me as well when I try to select a context. Seems to crash even if I have typed in a new context. Doesn't crash if I have typed in something to the main data entry window first. Can't see how to attach a logcat to this thread, though I have one. I can email you if needed.

[2016-02-08 10:30] pruperting commented on #361
Aha, need to use desktop view...
[logcat_and_device_info.zip](https://github.com/mpcjanssen/simpletask-android/files/121419/logcat_and_device_info.zip)

[2016-02-08 10:32] mpcjanssen commented on #361
@pruperting logcat confirms the cause of the crash. This will be fixed in next version.

@jason-mehmel I have added functionality that uncaught exceptions will also be logged in the application log. So you can just share the logging from the settings.

[2016-02-08 13:58] mpcjanssen commented on #361
Waiting with close until confirmed fixed in 7.0.12

[2016-02-08 21:23] inducer opened #362 "[wishlist] Implement topydo-style dependencies"
https://github.com/bram85/topydo/wiki/dep-%28subcommand%29

[2016-02-09 04:15] jason-mehmel commented on #361
Also adding my log...
[simpletask.txt](https://github.com/mpcjanssen/simpletask-android/files/122577/simpletask.txt)

[2016-02-09 08:05] pruperting commented on #361
Seems to work fine for me now. Many thanks for super quick response.
On 9 Feb 2016 04:15, "jason-mehmel" <notifications@github.com> wrote:

[2016-02-09 12:45] #361 closed

[2016-02-09 12:48] mpcjanssen commented on #362
Implementing `do` should be do-able (no pun intended). Including `ls` would be more difficult. I don't know how this should look in a Android UI. I am open to suggestions.

[2016-02-09 13:06] inducer commented on #362
Actually, I like the existing UI just fine. This was supposed about `dep:4` and `id:4` tags. (Further down the page)

[2016-02-09 15:00] mpcjanssen commented on #362
What would the `dep` `id` functionality do? Complete the deps if you complete the id? And complete the id if all the deps are closed?
Could you describe your wished workflow in Simpletask by an example?

[2016-02-09 15:17] inducer commented on #362
Mainly, hide (or provide a criterion to hide, by the sort criteria) tasks with unmet dependencies.

E.g.

[code]

[2016-02-09 15:45] mpcjanssen commented on #362
I still don't understand exactly. You would like to see parent tasks and dependent tasks where the dependent task is not complete?

So

[code]

will show as

[code]

[2016-02-09 15:47] mpcjanssen commented on #281
Related to #362

[2016-02-09 16:36] inducer commented on #362
No, actually the other way around. I'd only like to see `abcd`. Once that's done, I'd like to start seeing the tasks that depend on that.

[2016-02-09 17:07] mpcjanssen commented on #362
Ah I see so you only want to see tasks which have completed parents (so which are active).
Interesting idea. What I can consider is:

## Filtering

1. Extend the lua functionality so you can access the full task list and build it yourself
2. Add functionality to filter show active tasks where a task is active if all `dep:` tasks are completed or if there are no `dep:` tasks

## UI support

1. Add

[2016-02-09 17:10] mpcjanssen commented on #362
Hmm the active task definition is probably:

A task is active if all it's child tasks are completed. So a task with `id:x` is active if all `dep:x` tasks are completed.

[2016-02-09 17:20] jason-mehmel commented on #361
Just a quick note to say thanks for the response, and thanks for the app!

[2016-02-09 17:26] inducer commented on #362
I'd phrase it as follows: If a task has a `dep:something` then it is active if and only if there isn't another task active with `id:something`. A task without `dep:something` is the same as before.

Regarding UI support: I'd think you'll typically forget to add IDs to tasks that you'll want to involve in dependcies, so I wouldn't filter to tasks with IDs. Instead add them when needed.

Next, I've

[2016-02-09 22:34] mpcjanssen commented on #147
Note: the todo.txt gh-pages was merged 8 days ago.

[2016-02-10 07:24] bram85 commented on #362
For the record, topydo uses the `p` tag instead of `dep` to designate its _parent_ item.

In @inducer's example, _get room_ will be hidden by default in topydo, because _email meeting notice_ has not yet been completed. You cannot complete the first item before you finish the second. topydo will only suggest to complete the child items when you request to complete a parent item (not vice versa).

[2016-02-10 08:31] mpcjanssen commented on #362
So summarizing:

- `p:id1`  this is a sub-task of the task with `id:id1`
- managing of `p` and `id` is automatic
- completing a parent task prompts to complete its children
- there is a filter to hide parent tasks with uncomplete children. In that way the parent can be seen to be after all children.

## UI

- You can select a parent or child task from the UI. To do this, select the task and pick s

[2016-02-10 10:08] bram85 commented on #362
Yes, this is possible. You risk cyclic dependencies; in that case, topydo doesn't hide parents when one of their own descendant items depend on them.

No, it doesn't. When completing a parent task, topydo is unaware of any child tasks that already have been completed (because `id` and `p` are cleaned up quite aggressively). Maybe it could work if parent and children have exactly the same `rec` pat

[2016-02-10 12:34] cjbcjb opened #365 "Cursor placed at beginning of line after adding a list"
Previously, when I added a list to a new empty task, the cursor would be placed after it, and I could continue typing the task entry. Now, it is placed before the list that I chose, and I must move the cursor after it before beginning to type. Just to test things, I added a list to an existing task, and it moved the cursor to the beginning of the task. Is this a bug or is it new intentional behavi

[2016-02-10 13:12] mpcjanssen commented on #362
@bram85

Does this mean any `id:` or `p:` tags are cleaned on completing?

[2016-02-10 13:25] cjbcjb commented on #365
After spending some time with it, I now think I like it better this way. Having the list tags at the end of the task makes them easier to read. So, never mind unless you did not intend for it to work this way.

[2016-02-10 13:42] bram85 commented on #362
Yes, and on deletion. But only if archiving to a done.txt file is enabled (which is the default).

It's not really a requirement, but it reduces the noise of dependency tags in the items.

[2016-02-10 14:23] mpcjanssen commented on #365
This was a slightly unintended side effect of fixing bugs with updating the lists (removing and adding). Turns out that it's very difficult to restore the cursor position when changing the tags or lists. Nothing really works for all scenarios so I have given up trying (trying also lead to frequent out of bounds exceptions)

[2016-02-10 14:23] #365 closed

[2016-02-11 18:33] jotwewe commented on #307
I'm on 7.0.12 now and it seems this issue is solved. However, although not
actually having tried to trigger it, I didn't notice it with the
version I previously had (6.0.9 AFAIK).

BTW, when marking an item as done from the list 7.0.12 is so slow
that I'd consider that a regression.

[2016-02-11 22:25] mpcjanssen commented on #307
@jotwewe are you using autoarchive and are how big is your todo.txt (how many lines)

[2016-02-12 18:49] jotwewe commented on #307
todo.txt has 189 lines, autoarchive is off.

[2016-02-14 10:05] mpcjanssen opened #366 "Allow quickly adding of dates other the due and threshold"
In the AddTask screen it would be good to be able to quickly add dates from a picker.

[2016-02-14 12:13] alehandrof commented on #147
Indeed. I was offline for a couple of weeks, so I didn't catch up until yesterday.

[2016-02-14 16:26] vojtechkral commented on #366
Quickly in what way?

[2016-02-14 16:41] mpcjanssen commented on #366
Quickly in the sense of having a nenubentry for a date picker.  Calendar sync will not be a requirement here.

[2016-02-16 16:14] mpcjanssen opened #367 "Can't remove due and threshold date from AddTask screen"

[2016-02-16 16:16] ukrexpo opened #368 "Set DUE date to FALSE"
The best task manager I have ever used. The only remark when I set DUE date for a task I can`t select FALSE in dropdown menu to remove the DUE date. Thus, I have to delete DUE date by hand in the textarea.

[2016-02-16 19:26] mpcjanssen commented on #368
Duplicate of #367

[2016-02-16 19:26] #368 closed

[2016-02-16 19:27] mpcjanssen commented on #368
Will be fixed in next version

[2016-02-16 19:31] #367 closed

[2016-02-19 21:40] Erulisse opened #369 "Calendar Integration date filter"
The app filters out dates in the task list. It seems that it should also filter out dates in the google calendar/ calendar widget.

[2016-02-19 21:44] Erulisse opened #370 "[Feature Request] Calendar time blocks"
If the user could specify specific start and stop times in tasks this would be splendid. It seems like you could easily acquire this by using thresholds as the start time to an appointment and due: as the end time. The idea does require some tweaking because currently thresholds make a task invisible until t:DATE.

[2016-02-20 08:35] mpcjanssen commented on #370
Threshold date doesn't necessarily hide a task (it's a setting in the filter Other tab)

I don't want to add a start time and en time as there is no real well established way to do that in todo.txt. I am a bit hesitant to make Simpletask a full calendar application. Not because I can't see the use, but because it's complicated to get right and it will need to be supported.

I will leave this reque

[2016-02-20 10:44] vojtechkral commented on #369
Actually, I'd say this is a bug. This must've been changed when Task API changed. I'd like to fix this...

[2016-02-20 10:53] vojtechkral commented on #370
This is in a similar vein to #210.

Long story short, this is tricky to do right. Once a bunch of dates _and times_ are added to tasks, they become very verbose and hard to read and the syntax becomes complex or requires a whole bunch of extensions, making it hard to stay plain-text friendly and it also requires a lot of user interface. So far I wasn't able to figure out a decent way to accomplish

[2016-02-20 15:55] mpcjanssen commented on #210
Keep in mind that this will make the text part really complicated. So I am not sure I would merge an at: for: extension

[2016-02-20 15:57] mpcjanssen commented on #370
Time blocks in calendar will probably not be merged. It's a lot of maintenance and development work and it makes the text part of todo.txt too complicated. If you want tasks at specific times use the existing add reminder option, or add it to the calendar directly. Simpletask is not intended to be a calendar replacement.

[2016-02-20 15:57] #370 closed

[2016-02-20 15:57] mpcjanssen commented on #210
. If you want tasks at specific times use the existing add reminder option, or add it to the calendar directly. Simpletask is not intended to be a calendar replacement.

[2016-02-20 15:57] #210 closed

[2016-02-20 16:23] vojtechkral commented on #354
Hm, how does this work, is this specific to the Google calendar app?

[2016-02-20 16:49] jorgb commented on #354
Yes, the Google calendar has an option to either make a calendar entry or a
reminder. See attached picture. When pressing the Plus icon it shows two
options. The benefit of a reminder is that it will stick in the calendar,
if you didn't complete it on the 17th it will still be there on the 18th..
It makes more sense than a calendar entry that is volatile and will vanish
out of sight when it passes

[2016-02-20 16:53] vojtechkral commented on #354
@jorgb I can't find any API reference to these events. Either they are just a different interface for the existing reminder functionality or there's no API.

[2016-02-20 16:58] jorgb commented on #354
Does this help? (quick google)
https://developers.google.com/google-apps/calendar/concepts/reminders
On 20 Feb 2016 5:53 pm, "Vojtech Kral" <notifications@github.com> wrote:

[2016-02-20 17:11] vojtechkral commented on #354
@jorgb Not really. One problem is that that's a remote REST API, we need localy accesbile API. Second problem is that they only mention reminders, but there's no reference as far as I can see. Anyway, we use the Calendar Provider API (https://developer.android.com/guide/topics/providers/calendar-provider.html) that ties reminders to events.

The only way to do this from Simpletask would be to crea

[2016-02-20 17:17] jorgb commented on #354
Ok too bad. Thanks for looking into it!

With regards,
- Jorgen
On 20 Feb 2016 18:13, "Vojtech Kral" <notifications@github.com> wrote:

[2016-02-20 17:46] #354 closed

[2016-02-22 12:06] djibux opened #371 ""recurrence" not working as expected in Lua scripts"
Hello,

I am trying to filter all recurring events.  I am using the global variable "recurrence", but it seems to have the value "nil" no matter what I try.

As I understand it, the following code should hide all non recurring tasks.
`return recurrence;`
It seems to hide every single task though.  For instance testing `test rec:+1w` with the code above returns "nil" but I would have expected it to

[2016-02-22 12:35] mpcjanssen commented on #371
The documentation is lying. The recurrence field is never actually filled. I will update the documentation. :smile:

[2016-02-22 12:49] #371 closed

[2016-02-22 13:05] djibux commented on #371
Awesome, thanks!

[2016-02-22 23:55] GrouchyGaijin opened #372 "Choose calendar"
This is a feature request.
It would be great if the user could choose which calendar todo tasks should be written in. Currently the program seems to create a new calendar which is shown in the calendar program (S-Planner).  If I could choose a different calendar the todo tasks would show up on my laptop and desktop machines.

[2016-02-23 13:04] mpcjanssen commented on #372
Using an existing calendar is never going to happen to prevent corruption or incorrect writes which would destroy an existing user calendar. Also modifying an existing calendar which already has Simpletask items is hard.

Creating a calendar that syncs with google will probably require extra permissions for the app which for me is not an option. But this is already being investigated in #212, so c

[2016-02-23 13:04] #372 closed

[2016-02-23 16:48] jflinchbaugh opened #373 "Provide widget/shortcut for opening filtered lists"
I use a couple list widgets filtered to a certain context (@grocery for example).  I can click the header  of the widget and dive right into the full view of the filtered list. The add button from the widget is really convenient too.  Those work great.

I'd like to have widgets or shortcuts that work just like the header and the '+' of the widget without having to see the list contents in the widg

[2016-02-23 19:19] mpcjanssen commented on #373
You can already add a shortcut to a saved filter.

- Save the filter in the right drawer. ( press plus )
- Long press the saved filter item
- Select to homescreen to make a shortcut

You can then easily open multiple lists. To add ab item you still need to add plus. But thats already halfway there.

[2016-02-23 20:13] jflinchbaugh commented on #373
Yay! Thanks.  That's all I wanted. ;)

[2016-02-23 20:14] #373 closed

[2016-02-25 19:11] hockeymikey opened #374 "Don't change sort on widget tap"
When you tap on a widget, it's sort settings are applied to the sort settings in the app.  I want an opinion where this sort isn't applied to the application's list in the UI keeping the widget and app sorts separate.

[2016-02-26 08:12] mpcjanssen commented on #374
I am thinking of adding a question when creating the widget to set if the filter in the app should be changed.
There are some details to get right, for example not selecting the clicked task when opening from such a widget. Or maybe change the filter when clicking a task but not when clicking the header.

@hockeymikey for now you can save your normal filter in the right side drawer so you can quic

[2016-03-01 14:18] tomtom opened #376 "Support for file urls"
In issue #107, you mention that SimpleTask supports URLs and will add them to the popup menu. Obviously this doesn't work for file:// urls. It would be excellent, if SimpleTask were able to open referenced files (e.g. notes in markdown format) with a appropriate app.

[2016-03-01 16:23] mpcjanssen commented on #376
Already added in https://github.com/mpcjanssen/simpletask-android/commit/affb0cc602c114136cee30514326772187cf0157 will be part of the next release.

[2016-03-01 16:23] #376 closed

[2016-03-05 20:51] mpcjanssen opened #378 "bare @ or + introduce empty lists and tags"
A bare `+` or a bare `@` introduce tags and projects with empty names. This doesn't make sense.

[2016-03-07 08:50] #378 closed

[2016-03-10 02:32] JonathanReeve opened #381 "Feature Request: Toggl Integration"
It'd be really cool to get Toggl Integration, such that when you select a task, you'd have the option of starting a task timer for it. Tags and projects could be automatically passed along to Toggl. I'm already doing this in vim, with toggl.vim and todo.txt.vim, but it'd be great to get this for Android, too.

[2016-03-10 11:54] mpcjanssen commented on #381
A toggl integration will require integration with an API over internet. Simpletask Cloudless doesn't have internet permissions. Because it is mostly used by people who can't use apps with internet permissions because of security restrictions, this is never going to change.
I do not want to make this integration in the dropbox version only because that would make the two code bases too different.
S

[2016-03-10 11:54] #381 closed

[2016-03-11 00:12] ddisanti opened #382 "Change simple touch-click on a task"
It would be nice to exchange behavior between long and single "click" on task list. Most of the time you have to edit a task and I think it is more natural go to edit task screen after a single "click" instead of showing contextual menu.

[2016-03-11 01:28] smichel17 commented on #102
At whatever point you look into this, please also consider undo functionality for archiving, deleting, and maybe even editing of tasks, since it's essentially the same issue. Added benefit if you support those: you can remove the "show confirmation dialogues" setting, since undo functionality deprecates confirmation dialogues.

Possible Implementation: maintain an additional file, todo.txt.bak. Wh

[2016-03-11 02:37] smichel17 commented on #349
Food for thought: extended Lua functionality could become closer to the core of the application.

For example, in the filter view, *all* filters could be implemented in LUA, and editable, and the "script" tab could be removed in favor of an "add new filter" option. It would also be possible to download existing filters to implement additional functionality -- a possible implementation for #362 wou

[2016-03-11 02:46] smichel17 commented on #339
With the clarified definition of outlines, does that make #362 a duplicate of this issue?

[2016-03-11 03:21] smichel17 commented on #303
I'm confused about the use case for encryption. Here's what I could think of...

1) If someone steals my device, I don't want them to be able to read my to-do's. I think android's FDE would work better here, so someone who steals your device can't read *anything*. Granted, good FDE (different lock screen and disk passwords) currently requires a rooted phone.

2) I don't want google / dropbox to be

[2016-03-11 03:42] smichel17 commented on #308
Would it be possible to implement a partial solution via a special case? If you're sorting by list, and you filter by a single list, display all visible items under the header of that list.

This would fix the second original example (which I agree is the more obviously unintuitive behavior) without getting into the complexity of showing a single task multiple times.

[2016-03-11 03:56] smichel17 commented on #382
I don't think 'exchnage' is the word you're looking for -- as far as I can tell, there is no difference in behavior between a press and a tap. Both show the contextual menu. I think you're proposing changing the default behavior on tap to 'edit' instead of 'select'.

I feel like this change would help some people (you and me) but hurt others (those with checkboxes disabled). Perhaps a better solut

[2016-03-11 04:03] smichel17 opened #383 "Add secondary text to "Use calendar for date entry" setting"
I can't figure out for the life of me what it does.

[2016-03-11 04:06] smichel17 commented on #275
If possible, I'd encourage having the widget inherit font size from the main app rather than adding another setting.

[2016-03-11 04:17] smichel17 commented on #260
I think the list of settings is already pretty long. If you want to add more, I'd encourage you to organize them into sub-menus. Actually, that might be worth doing regardless.

I think there's a bit of room for improved categories. It's probably not worth doing in the current flat structure, but if you're interested in making sub-menus, I'd be happy to put together a list of updated categories.

[2016-03-11 04:20] smichel17 commented on #238
@mpcjanssen tag with someday/maybe?

[2016-03-11 04:44] smichel17 opened #384 "[multi select] Do not add tags or lists unless the user explicitly does so"
Say my todo.txt looks like:
[code]
I select both items, edit lists, and remove `@a`. Afterward, I'd expect my todo.txt file to look like:
[code]
but instead I get this
[code]
Commonly, this is implemented with a gui distinction for "some items are in this list" vs "all items are in this list". Call it 'half-checked'.

Say there's another item `c @c` in the file. When you select `a` and `ab` and ed

[2016-03-11 05:47] smichel17 opened #385 "Floating Action Button for Save Task"
When you're adding or editing tasks, the primary action is saving them. It's therefore appropriate to use a floating action button. The current check mark up top is also awkward to reach. I made a mockup where save functionality is moved to a FAB (forgive a few editing errors). Shifted 'word wrap' left to make room.

![simpletask_fab](https://cloud.githubusercontent.com/assets/6563664/13694352/7d0

[2016-03-11 06:21] smichel17 commented on #172
implemented as of 957c50fabe46b3db714de86044edea34ef7de080?

[2016-03-11 06:24] smichel17 commented on #275
duplicate of #166?

[2016-03-11 06:26] smichel17 commented on #165
Perhaps an easier-to-implement way of getting the same functionality would be adding an option upon long-pressing a filter, "create widget".

[2016-03-11 06:50] smichel17 opened #386 "Move "Create is threshold" setting to filter settings"
It seems more appropriate there. I'd prefer to add it in the 'Sort' tab, but there's not room, so perhaps just in the 'Other' tab, for now.

[2016-03-11 08:27] mpcjanssen commented on #102
@smichel17 I already keep a full copy of previous todo lists in a database so this should be fairly easy to create. So instead of delaying the write I would like undo to revert the complete previous version from the database. This reduced the risk of losing changes while undo is showing.

In Settings->History I could already make a restore button to a specific version.

[2016-03-11 08:34] mpcjanssen opened #387 "Add access to full task list in filter script"
Currently you can only access the task contents in the filter script. Giving access to the full task list will make more complex filters possible

[2016-03-11 08:37] mpcjanssen commented on #349
@smichel17 even though I like the idea there are several issues with doing all filtering in Lua.

* It's slower than using Java code, this matters for very large lists
* You don't have access to the full task list in the Lua code, this is needed for things like subtasks. Adding this seems to harm performance. I will look into this again though see #387.

Also modifying filters from the UI (like un

[2016-03-11 08:41] mpcjanssen commented on #339
@smichel17 I don't think so, the outline idea as I understand it requires a partial sync from the outline to todo.txt. You could use #362 to implement a similar thing though.

Anyway partial sync is never going to happen, IMO it should be handled by a separate application which will generate tasks.

[2016-03-11 08:44] mpcjanssen commented on #303
@smichel17 Agreed however integrating a encrypting tool with another android application is not possible right now. It might be possible to do this for Cloudless with FDE but on Dropbox it's impossible.

Therefore I do not want to close this issue just yet.

[2016-03-11 08:45] mpcjanssen commented on #308
@smichel17 this would be relatively easy (I think) I will look into this.

[2016-03-11 08:49] mpcjanssen commented on #383
Funny, at the moment it doesn't do anything :smile: it's supposed to show a calendar when picking dates. If unset it should use the spinner calendar view.
This is a bug actually. But some secondary text will help.

[2016-03-11 08:51] mpcjanssen commented on #260
@smichel17  Agreed on the length. I would like to reduce the size and add better sectioning. If you have a suggestions that would be appreciated.

[2016-03-11 08:53] mpcjanssen commented on #382
@ddisanti, @smichel17 is correct that this change would hurt others (me for example). So this will only change with an additional setting. However the settings list is already huge so I am a bit hesitant to add even more.
How are you editing a task which cannot be done by selecting it and making modifications from the menu then?

[2016-03-11 08:58] mpcjanssen commented on #384
This needs a tri-state checkbox. Duplicate of #149

[2016-03-11 08:58] #384 closed

[2016-03-11 08:58] mpcjanssen commented on #385
Looks nice.

[2016-03-11 09:41] #385 closed

[2016-03-11 09:43] mpcjanssen commented on #172
@smichel17 not quite. A week day is not the same as a working day. It ignores bank holidays for now. However adding bank holidays is never going to happen anyway so indeed implemented as much as feasable.

[2016-03-11 09:43] #172 closed

[2016-03-11 09:45] mpcjanssen commented on #275
@smichel17 similar yes. It's all different aspects of configuring the UI. I would like to add a completely separate section where one can configure all UI aspects instead of fixing it one by one.

[2016-03-11 09:47] mpcjanssen commented on #165
@smichel17 that would be much easier yes. Unfortunately Android doesn't offer create widget functionality outside of the launcher as far as I now.

This is much less of an issue now though because the filter is prefilled with the currently active filter.

[2016-03-11 09:48] mpcjanssen commented on #386
Agreed.

[2016-03-11 10:56] revuwa commented on #303
@smichel17
To your first point. You're right, (and I'm using FDE), but this doesn't protect you against losing the todo.txt to other people/services/companies through security issues on your device (or some nosy apps) or just your backup system, because it's a simple text-file, and you could use simpletask for much more than just regular todo stuff...

This is probably the same point, you meant in

[2016-03-11 11:54] mpcjanssen commented on #303
@revuwa just encrypting the file is not enough. You will also need to encrypt the internal databases to be really save. This makes it a bit more difficult.

I will check the miniNoteViewer code for inspiration.

[2016-03-11 12:07] khorser opened #388 "Toasts "Dropbox error, loading from cache" when offline"
Hi, it would be great to have an option to turn off the toast. When a device is offline, the only thing the toast does is distracting the user. Or, probably, it's worth displaying once until the next online-offline cycle, but not repeatedly.

[2016-03-11 12:22] mpcjanssen commented on #388
Maybe I should also show the changes pending line but with a different color (maybe orange or yellow)

[2016-03-11 12:53] tomtom commented on #339
You're clinging too much to the particular implementation as an addon for the todo CLI app.

With respect to the other thread, these two todo lists are equivalent:

As outline:

    foo
      bar1

As dependencies:

    foo id:id1
    bar1 p:id1

[2016-03-11 13:05] mpcjanssen commented on #339
I read the original request as:

[code]

Becomes

[code]

This is not going to happen. #362 might.

[2016-03-11 13:07] #388 closed

[2016-03-11 14:02] tomtom commented on #339
That would be the result after filtering tasks with open/pending
dependencies. This would be a nice extra but it's IMHO not an essential
feature.

IMHO one has the distinguish between the basic idea of outlines and
particular implementations. The way I see it, outlines are a simple way
to express tree-like dependencies with minimal textual overhead (leading
whitespace).

To make this work I see tw

[2016-03-11 14:08] mpcjanssen commented on #339
@tomtom I am open to interpreting indentation as implict `id:`  and `dep:` fields. I have renamed the issue to reflect this. Of course this will then require #362 to be implemented.

[2016-03-11 14:58] smichel17 commented on #382
@mpcjanssen If I want to change the wording of a task, I'll tap to select and then hit the edit button. @ddisanti's proposal would remove the intermediary 'tap to select' step.

For me personally, it is not that big of a deal / I would not have created a ticket for this, in large part because all of the solutions I see cause bigger issues than the problem it's trying to solve.

[2016-03-11 15:02] smichel17 commented on #260
Working on it now. Quick question @mpcjanssen: There are two overall directions you could take this: either have widgets inherit all possible settings from the app's internal settings (advantage: fewer settings) or let ALL applicable settings be customized for widgets (advantage: flexibility).

If you choose the former, I would group widget settings with the related app setting (ex: widget theme a

[2016-03-11 15:08] smichel17 commented on #383
You mean, to implement #176?

Until this bug gets fixed, could you just add secondary text noting that "this setting currently has no effect"?

[2016-03-11 15:09] smichel17 commented on #386
Same for "sort case sensitive"

[2016-03-11 15:13] mpcjanssen commented on #383
No this is supposed to allow you to choose between a date picker and a calendar as shown in http://i.stack.imgur.com/H4gJ0.jpg

[2016-03-11 15:14] mpcjanssen commented on #386
Thing is; adding a setting is less work than adding a filter option :smile:

[2016-03-11 15:18] smichel17 commented on #386
Heh :)

Yeah, I wouldn't say this is a high-priority issue, no expectations as to if/when you (or I) will have time/motivation to implement (or in my case, learn java/android and then implement). Just figured it'd be better to have them tracked than not.

[2016-03-11 15:50] smichel17 commented on #383
I'm a bit confused. At one point I remember seeing a date picker like the one on the left in your image. Now these are the options I have. Granted I am running on an S4, and I know Samsung makes some modifications, perhaps to the system date picker (?).

![date picker](https://cloud.githubusercontent.com/assets/6563664/13707252/c5fc2956-e776-11e5-9fae-4ab00b0a4f31.png)

[2016-03-11 15:54] vojtechkral commented on #303
@revuwa I doubt there's much point in trying to protect the todo.txt file against the users phone's ecosystem. If the user installs an app that reads their files and sends the data somewhere, their privacy has already been compromised and IMHO there is little point trying to fight this in Simpletask. This really seems beyond Simpletask and up to the phone's system to encrypt data and/or protect ag

[2016-03-11 16:04] smichel17 commented on #303
I'd second that. It should be android's responsibility to provide a sandboxed space for apps.

There is an argument "Android isn't doing it so we need to fill in the gaps in the meantime." If the focus of this app were privacy (Signal does it), or if we had a bigger dev team, I'd agree with that argument, but right now @mpcjanssen is doing >95% of commits.

Therefore, one valid use case.

[2016-03-11 17:27] mpcjanssen commented on #383
The standard date picker has three forms. The left one (spinner) the right ibe (calendar) or both. The setting is supposed to let you swithc from spinner to calendar.

[2016-03-11 17:29] smichel17 commented on #383
Got'cha. Thanks for the clarification.

[2016-03-11 18:04] smichel17 commented on #260
Here's what I'm thinking at the moment. For now, just review the sorting. As per material design guidelines, this includes the ordering of items within a section (by importance) too. I want to do another pass at phrasing and other details, like which settings should be a check box vs a switch, so don't worry about that yet.

@mpcjanssen it might be worth renaming this issue because it's much more

[2016-03-11 18:34] smichel17 opened #389 ""Back Button" setting"
The problem: neither having this setting checked or unchecked is exactly what I want.

- If the setting is checked, then the only ways to discard a new task-in-creation are:
  - Exit the app, then re-open
  - Erase the entire contents of the task, then hit back
- If the setting is unchecked, I might accidentally hit the system back button (I use a galaxy S4)

The solution: replace the upper left c

[2016-03-11 19:24] the-solipsist commented on #138
I really enjoy Simpletask, but I too was missing this feature.  Are there plans still of adding this?

[2016-03-12 12:59] mpcjanssen opened #390 "Allow to easily move tasks between two files"
From mail: Allow to easily move tasks between two lists, eg. from todo.txt to someday.txt (eg through drag and drop)

[2016-03-12 13:01] mpcjanssen opened #391 "Allow setting defaults for all created tasks"
Allow defaults for all created tasks

[2016-03-12 13:46] ubuntudroid commented on #138
Sorry, real life turned out much more demanding than hoped - and I've switched to another TODO manager in the meantime, so unfortunately don't see any realistic chance for this to be completed by me, sorry! :(

[2016-03-12 13:47] the-solipsist commented on #138
If I may ask, which one do you use now?

On Sat, Mar 12, 2016 at 7:16 PM, Sven Bendel <notifications@github.com>
wrote:

[2016-03-12 13:52] ubuntudroid commented on #138
@the-solipsist [Todoist](https://todoist.com).

[2016-03-12 13:56] vojtechkral commented on #138
I implemented this via calendar reminders about a year ago... (I hope I'm talking about the same thing here).

[2016-03-12 15:12] mpcjanssen commented on #138
@vojtechkral it's part of the functionality. But between being able to sync with the calendar and putting custom Lua filters on a widget, more of this functionality is very low on the list.

[2016-03-14 02:17] ddisanti opened #392 "Calendar reminders"
It would be possible a more flexible global settings of calendar reminders? I know. Calendar reminders is still a experimental feature. But it would be cool to aggregate multiple notifications and more days of anticipation and not just 7.

[2016-03-14 07:14] vojtechkral commented on #392
Could you elaborate what you mean by the aggregation? I'm not sure I follow...

[2016-03-14 14:00] smichel17 commented on #392
Right now, if you enable the experimental calendar reminders feature (as opposed to creating calendar reminders manually), it creates one reminder per task due that day, all at the same time. I am guessing that @ddisanti was wondering about creating a single calendar reminder regardless of how many tasks are due that day.

While we're talking about this feature, I'll just put it out there that I'd

[2016-03-14 19:21] ddisanti commented on #392
@vojtechkral I meant "set" (instead of aggregate). I would like to set multiple reminders. But it will be a global calendar setting and not task-by-task.

This is an example of what I meant:

3 weeks before due date at 8:00am
1 weeks before due date at 8:00am
1day before due date at 8:00am
at due date at 8:00am.

Now, it will be for all task with calendar reminder set.

[2016-03-14 20:05] mpcjanssen commented on #392
@ddisanti considering that you can already make widgets with task due less than x weeks/x days etc using Lua filters, I will probably not add functionality like this even if someone creates a pull request. It requires quite some changes in the user interface to be able to make all this configurable.

[2016-03-14 20:21] #392 closed

[2016-03-15 07:56] vojtechkral commented on #212
Closing due to lack of time and scope. Feel free to reopen if needed...

[2016-03-15 07:56] #212 closed

[2016-03-15 08:00] gastus1 opened #393 "Share an image (it's file path) to Simpletask"
As lot of "Stuff" comes in as a paper (letters, invoices), it would be great to photograph it with the phone, and share it to ST as a task.
Then, from the task we would be able to click that file path link and open the image.

[2016-03-15 10:42] gastus1 commented on #393
Or even better:
From task creation screen initiate the camera, make the picture, and the link would automatically be created in the task text.
(Dreams dreams 😑😁😁)

[2016-03-15 12:20] mpcjanssen commented on #393
Direct camera access requires permissions I am not willing to request. Sharing a link to an existing image should be fairly easy.

[2016-03-15 13:16] #393 closed

[2016-03-15 13:19] mpcjanssen commented on #393
Next release will allow inclusion of any type of file (as far as I have tested) which is shareable. So you can also refer to recorded voice snippets for example.

[2016-03-15 19:34] tomtom opened #394 "file:// URLs: Support for relative path"
It is unclear to me how file:// URLs are interpreted. There should be a way to define a path relative to the todo file. (If there already is one, the help docs don't mention it.)

[2016-03-15 19:50] mpcjanssen commented on #394
There is a root folder setting. file:// will only refer to local files.

The next version will use file:// to refer to fully qualified local content and root:// as a file relative to the configured root folder.

Basically in the next version, sharing a file to simpletask will add a link that will open that file.

[2016-03-15 19:54] mpcjanssen commented on #394
The root folder setting is /sdcard/ by default. I do suspect that the share everything to simpletask feature will make this much less used though.

[2016-03-15 20:30] tomtom commented on #394
Would you be willing to support something like
file://$TODOS/notes/foo.md in order to remain compatibility with other
apps. E.g. on the bash command line, an environment variable in the URL
gets expanded.

[2016-03-15 20:32] mpcjanssen commented on #394
I think in that case it will be easy to use root:// and replace that with $TODOS in bash.

[2016-03-15 20:39] smichel17 commented on #394
What's the use case for a root that isn't the folder where you todo.txt file is located?

It seems to me that if I want to use a different directory, I should use file:// and specify the full path.

If you agree, you could remove the "root folder" setting.

[2016-03-15 20:41] mpcjanssen commented on #394
@smichel17 root:// is for situations where you want relative links. For example of you have all your productivity files in at the same relative organisation but on different phones.

[2016-03-15 20:44] smichel17 commented on #394
@mpcjanssen if you have all your productivity files in the same relative organization, that includes your todo.txt file.

That is, you could remove the root setting, automatically set root={folder containing todo.txt}. Yes, you might not always have your todo.txt file in the root, but you can still have paths with ../*

[2016-03-16 08:50] mpcjanssen commented on #394
I agree this could be an easier option, however this doesn't work for the Dropbox version, because Dropbox doesn't have local files and showing a remote file is tricky.

[2016-03-19 09:01] mpcjanssen commented on #149
Fixed in 7.0.16. For any UI updates log a new issue.

[2016-03-19 09:01] #149 closed

[2016-03-20 01:54] getthemike opened #395 "New tri-state buttons confused me"
They are useful and awesome but when I opened a single task it didn't make sense. Maybe when a single task is selected the original ui could show?

Or maybe it should be better explained somewhere.

I actually had to go look up 149 to find out what it was.

Not really sure how to make it more obvious what it's doing but it should be more obvious.

[2016-03-20 10:32] mpcjanssen commented on #395
@getthemike  I agree, I don't like the UI at all, but I don't know a better option. I also think that having a different UI for one or more tasks is a bad idea. Maybe just adding an explanation is enough.

[2016-03-20 12:38] mpcjanssen commented on #395
Next version will have proper tri-state checkboxes.

[2016-03-20 12:39] #395 closed

[2016-03-20 12:42] mpcjanssen opened #396 "Include licenses of used libraries in help"

[2016-03-20 14:50] ddisanti opened #397 "Change the position of the new Floating Action Button."
It overlays the "Salto de línea automático" ("Word wrap") when Spanish is the system language. On Spanish most of the times all phrases gets longer.
![screenshots_2016-03-20-11-18-35](https://cloud.githubusercontent.com/assets/17773786/13904951/577bb38e-eeba-11e5-81b3-c9620dcc00a3.png)

[2016-03-20 15:01] mpcjanssen commented on #394
in new version, file:// is absolute path root:// is relative to root. But it is less of an issue because you can just share the target file to Simpletask and the url will be correct.

[2016-03-20 15:04] mpcjanssen commented on #235
Link to any file type is implemented by #393

[2016-03-20 15:04] #235 closed

[2016-03-20 15:07] mpcjanssen commented on #397
I don't know where I could put it then. I should probably move the settings in a drawer.

[2016-03-20 15:39] smichel17 commented on #397
You could definitely shorten the `@`, `+`, `due`, and `t` menus, making room for an overflow menu in the corner, like you have when you select todo items from the main screen.

[2016-03-20 15:42] mpcjanssen commented on #397
@smichel17 I don't understand what you mean exactly here. In the main screen if you select an item the FAB disappears. How will this work in the AddTask screen?

[2016-03-20 16:03] mpcjanssen commented on #397
Proposal:

![screenshot_2016-03-20-16-58-59](https://cloud.githubusercontent.com/assets/146895/13905335/597da342-eebd-11e5-8f39-22e55209dc4c.png)

![screenshot_2016-03-20-16-59-04](https://cloud.githubusercontent.com/assets/146895/13905340/65da8f24-eebd-11e5-9622-6186e4f7cea9.png)

[2016-03-20 16:18] ddisanti commented on #397
Sorry about the noob question, but it would be wrong move it a little
higher so it will show over the menus?

El dom, 20 de marzo de 2016 13:03, Mark Janssen <notifications@github.com>
escribió:

[2016-03-20 16:24] mpcjanssen commented on #397
you mean the side drawer?

[2016-03-20 16:35] smichel17 commented on #397
I believe @ddisanti is asking if we could move the FAB up so it's fully in the text box.

I'd avoid the drawer solution, because there's no visual indicator that the drawer exists, and people simply won't find these (useful) options.

I see two acceptable solutions:

1. Move those two options into the drop down menu
2. Create a new overflow menu in the bottom row.

![move_fab](https://cloud.github

[2016-03-20 16:36] ddisanti commented on #397
I speak Spanish. Sorry if I'm not clear about what I'm trying to express.
I meant move up the New Button so it will be over the @.., +.., etc. menus.

El dom, 20 de marzo de 2016 13:24, Mark Janssen <notifications@github.com>
escribió:

[2016-03-20 16:40] ddisanti commented on #397
@smichel17 , your proposal looks nice, since these options are not changed
too often, and in case you need them, it would take just one more tap.

El dom, 20 de marzo de 2016 13:36, David Di Santi <ddisanti1@gmail.com>
escribió:

[2016-03-20 16:43] smichel17 commented on #397
For reference, here's a mockup with what @ddisanti proposed:

![higher_fab](https://cloud.githubusercontent.com/assets/6563664/13905553/43171ae4-ee99-11e5-8945-a47dba8c6198.png)

[2016-03-20 16:48] mpcjanssen commented on #397
Ah I understand now. BTW @smichel17 why do you use the Send icon to add/update the tasks? Is this in the material guidelines somewhere?

[2016-03-20 16:49] ddisanti commented on #397
@smichel17 , you've got it. ☺

El dom, 20 de marzo de 2016 13:43, smichel17 <notifications@github.com>
escribió:

[2016-03-20 16:52] smichel17 commented on #397
@mpcjanssen haha, it's because I'm doing this all in pixel art with GIMP; the FAB I'm using, I just grabbed from a screenshot of a different app (so I don't need to worry about resizing it for the mockup, which is based on a screenshot of Simpletask on my phone).

It's not in the material guidelines that I can remember (though I haven't read them end-to-end), but a high percentage of other todo ap

[2016-03-20 17:04] mpcjanssen commented on #397
So this will be it:

![screenshot_2016-03-20-18-03-06](https://cloud.githubusercontent.com/assets/146895/13905641/17ee18d6-eec6-11e5-802c-35c45a036878.png)

[2016-03-20 17:25] mpcjanssen commented on #397
@ddisanti @smichel17

How about this to make the addition buttons more obvious??
![screenshot_2016-03-20-18-23-19](https://cloud.githubusercontent.com/assets/146895/13905752/12bd6332-eec9-11e5-9910-9c224245107a.png)
![screenshot_2016-03-20-18-23-52](https://cloud.githubusercontent.com/assets/146895/13905753/12c04c5a-eec9-11e5-9e67-5851d8a16199.png)

[2016-03-20 17:34] smichel17 commented on #397
@mpcjanssen I like it.

FWIW, I also liked it better when `Word wrap` was centered instead of left aligned.

[2016-03-20 17:53] #397 closed

[2016-03-20 18:04] ddisanti commented on #397
@mpcjanssen , it looks good. Thanks.

El dom, 20 de marzo de 2016 14:53, Mark Janssen <notifications@github.com>
escribió:

[2016-03-20 20:41] getthemike commented on #395
I like this a lot better. I think it will make more sense to people.
Good work!

[2016-03-21 10:42] mimmori commented on #266
@shayneholmes Could you share your tasker Task/Profile?

I am going to work to add more automation in todo management (add task by mail / whatsapp, show task for current location / ... ) and your work could be a good starting point.

Thanks.
Domenico

[2016-03-22 13:16] mpcjanssen opened #398 "Error toasts if all calendar functionality is disabled"
From emai;:

The build-in "Calendar" app, "Calendar Storage" , and "Google Calendar Sync" are disabled.
Some executions on SimpletaskCloudless (such as checkbox checked/unchecked) trigger the error pop up: "Error: could not write calendar".
I have tried disabling all features of SimpletaskCloudless which link to calendar. However, the error message still appears.
How can I hide that error message?

[2016-03-22 13:19] vojtechkral commented on #398
Hmm. We don't have log for that do we?

[2016-03-22 13:19] mpcjanssen commented on #398
No.

[2016-03-22 13:20] mpcjanssen commented on #398
But it should be easy enough to find where the toast is created. The user who reported it is running android without Calendar Storage

[2016-03-25 07:30] mimmori opened #399 "New task via Intent not work (via tasker)"
I have some issue with intent using tasker app. In details I can not add a new task via intent. I use the guide https://github.com/mpcjanssen/simpletask-android/blob/master/src/main/assets/intents.en.md

Action: nl.mpcjanssen.simpletask.BACKGROUND_TASK
Cat: Default
Mime Type: text/*
Extra: task: <Task text with possible variables here> +tasker
Target: Activity

The result is that nothing is happen

[2016-03-25 07:58] mpcjanssen commented on #399
@mimmori works for me. Do you see a toast (task added to simpletask) if you test the tasker Action?

[2016-03-25 08:01] mimmori commented on #399
no, i don't see any tost

[2016-03-25 08:09] mpcjanssen commented on #399
Strange. Do you see anything in the log? Settings->View Log?

[2016-03-25 08:18] mimmori commented on #399
Nothing...

At this point i think is related to tasker action. is there a way to intercept intent for analyze it?

[2016-03-25 08:22] mpcjanssen commented on #399
Not easily. You can share the action data from the Tasks screen. 3-Dot menu->Data->Share

[2016-03-25 08:23] mpcjanssen commented on #399
For me thos gives:

[code]

[2016-03-25 08:27] mimmori commented on #399
here the data

<TaskerData sr="" dvi="1" tv="4.8m">
<Task sr="task22">
<cdate>1458862451820</cdate>
<edate>1458894359646</edate>
<id>22</id>
<nme>simpletask</nme>
<pri>100</pri>
<Action sr="act0" ve="7">
<code>877</code>
<Str sr="arg0" ve="3">nl.mpcjanssen.simpletask.BACKGROUND_TASK</Str>
<Int sr="arg1" val="1"/>
<Str sr="arg2" ve="3">text/*</Str>
<Str sr="arg3" ve="3">task</Str>
<Str sr="arg4" ve

[2016-03-25 08:32] mpcjanssen commented on #399
This is wrong:

[code]

The data field should be empty and the extra requires `task:` at the beginning. So instead of

`task from tasker` you'll need `task: task from tasker`

[2016-03-25 08:41] mimmori commented on #399
yes, it works now! thanks

the data field remained following a try, but the descriptor "task:" i had
noticed in your guide. sorry

thanks again
Il 25/mar/2016 09:32, "Mark Janssen" <notifications@github.com> ha scritto:

[2016-03-25 08:42] mpcjanssen commented on #399
No problem, glad it's resolved.

[2016-03-25 08:42] #399 closed

[2016-03-25 13:49] smichel17 commented on #399
@mimmori for future reference, [this](https://f-droid.org/repository/browse/?fdfilter=intercept&fdid=uk.co.ashtonbrsc.android.intentintercept) is a great tool.

[2016-03-25 13:57] mimmori commented on #399
ok, thanks!
Are there only two intents availlable to other app?

it would be helpful if i can read task data also...

[2016-03-25 14:02] mpcjanssen commented on #399
@smichel17 indeed a very useful tool. @mimmori note that this tool doesn't work with the tasker setup which sends the intent directly to the activity

[2016-03-25 14:19] mpcjanssen commented on #399
@mimmori the proper way to allow reading of tasks is to implement a content provider. How would you like to use the contents of a task.

[2016-03-25 14:37] mimmori commented on #399
I want to create a report based on context of the task. The final purpose
is to ask report via mail...
Il 25/mar/2016 15:19, "Mark Janssen" <notifications@github.com> ha scritto:

[2016-03-26 03:42] ddisanti opened #400 "Task text ellipsizing option for widget."
It would be possible to add the "Task text ellipsizing" option in the widget settings?

[2016-03-26 17:00] smichel17 opened #401 "Settings Hierarchy"
Here's a new hierarchy to make settings more find-able, and a couple wording changes to reflect putting the widget settings together in a sub-menu.

**N.B.** The order of settings within a category is intentional, and essentially follows the material guidelines "settings should be in order of importance" mandate. Let me know if you disagree with any of the ordering.

---

Appearance:
- ~~Applicati

[2016-03-26 17:03] smichel17 opened #402 "Remove 'archive now' setting"
1. A part of the app's main workflow does not belong in settings.
2. It's already accessible from the main context menu of the app. Why would you ever go into settings to use this functionality?

[2016-03-26 17:05] smichel17 opened #403 "Remove name/version number "setting""
[Material guidelines:](https://www.google.com/design/spec/patterns/settings.html#settings-usage)

Note: if you are opposed to putting this information in the help screen, you can put it in the secondary text of a different menu item (donate or view log)

[2016-03-26 17:18] smichel17 opened #404 "Theme & font size secondary text should show current setting"
[Material Guidelines:](https://www.google.com/design/spec/patterns/settings.html#settings-labels-secondary-text)

This affects:

- Application theme
- Change font size
- Widget theme

[2016-03-26 17:37] smichel17 opened #405 "Tri-state checkboxes: allow return to original state"
Example. Here's my list:
[code]
Steps:
- Select a and c
- Open 'lists' menu
  - `b` checkbox is in 3rd (partial) state
- Tap `b` once
  - Checkbox becomes fully checked
- Tap `b` a second time
  - Checkbox becomes un-checked
- Tab `b` a 3rd time
  - **Current behavior:** checkbox becomes fully checked
  - **Desired behavior:** checkbox returns to 3rd, partially-checked state

[2016-03-28 15:57] mpcjanssen commented on #403
Only issue with this is that it's a bit harder to move to the Help, but no reason to not do it.

[2016-03-28 15:58] mpcjanssen commented on #405
The current tri-state box I am using doesn't support this use case so I will need to modify it. The older radioboxes did support this so the requested behavior is clear.

[2016-03-28 15:59] mpcjanssen commented on #401
Thanks for this. I will restructure if I have time.

[2016-03-28 16:04] smichel17 commented on #403
I'd rename "View log" to "View debug log", then put the simpletask version number as the secondary text of that item. Less work, and personally I like that location better anyway.

[2016-03-28 16:06] mpcjanssen commented on #403
That makes sense. I would even think that it should be "View debug information" in that case.

[2016-03-29 12:27] logos88 opened #406 "[Request feature] Allow drag and drop between lists"
Hi. I think it would be useful to have the option of changing context with drag and drop. It would be great to have things in the inbox, and assign them a context later only moving it to the proper place. It would make it much more faster the processing part.

[2016-03-29 13:30] fmartelg opened #407 "Please change default cursor placement after adding a tag or list"
Use case:

1. I have a list _+-waiting.for_ and a tag _@Fred_.
2. A typical entry might for me might read _+-waiting.for @Fred to send over report_.
3. Here is what happens when I try to type above entry:
    1. After inserting _+-waiting.for_ list cursor is placed at the beginning of the entry, so I have to shift it to end of line;
    2. After inserting _@Fred_ tag cursor is placed at the beginn

[2016-03-29 14:59] smichel17 commented on #407
From the use case you give, it seems like your problem isn't actually with adding lists and tags at the end of the list, but with where the cursor is placed after you do so.

If you add lists and tags at the cursor, instead of the end, someone can't edit a task, tap anywhere in the line, and then change tags/lists through the app's interface (because you could potentially insert tags in the middle

[2016-03-29 15:05] smichel17 commented on #406
A few design questions:
- What happens when you drag a task that has multiple contexts?
- What about when tasks are sorted first by tags, or date, or priority?

[2016-03-29 15:11] fmartelg commented on #407
Indeed, my problem is not adding tags or lists at the end of an entry.  However, this seems to be the default behaviour, and there is no way to change it.

Got it.

Correct, except it might conflict with the case where cursor is in middle of word and you add a tag.

What I want is for tag to be inserted where cursor is, and cursor left in position as if I had typed out the tag.  Almost like text a

[2016-03-29 15:21] smichel17 commented on #407
I understand. I'm proposing a different solution that I think will solve your issue. I'm proposing the different solution because:

I would consider this a regression. When we can protect users from messing up, we should.

This is a good solution, but requires a lot more dev work.

---

Placing the cursor at line end after adding a list or tag should only require changing ~4 lines of code, and doe

[2016-03-29 15:25] fmartelg commented on #407
I see. That works for me.

Thanks!

[2016-03-29 15:29] smichel17 commented on #407
(worth noting that while I've chimed in / done design work on issues here enough that I hope @mpcjanssen respects my opinion, it's still just my opinion and he might have a different one)

[2016-03-29 15:47] mpcjanssen commented on #407
I will have to review the proposals in more detail, but a major limiting factor in all this is the absolute crap cursor handling Android provides. You can only retrieve and set the cursor position relative to the beginning of the text box, so for example line 3 column 5 is not supported.

Another difficulty is that it's easy to say:

But to calculate the actual cursor position is tricky because th

[2016-03-29 15:51] fmartelg commented on #407
Thanks Mark. BTW I remember we went through something similar when setting
a priority would place the cursor after the priority. The default now is to
leave it in place.
On Mar 29, 2016 11:47 AM, "Mark Janssen" <notifications@github.com> wrote:

[2016-03-29 17:01] mpcjanssen commented on #407
@fmartelg Priorities is a much easier problem because the cursor position is always -3, same or +3

[2016-03-29 20:19] smichel17 commented on #101
@mpcjanssen How often do you reinstall the app or change devices? I'd wager it's few enough times that most people are happy to do the manual work of selecting where to export to / import from, as long as they _can_ import/export.

I suggest adding manual import/export to file only, and closing this issue. Then create a someday/maybe issue for the M backup stuff, which seems like it isn't particul

[2016-03-30 04:47] smichel17 commented on #407
Oof. That is... interesting.

I looked quickly at AddTask.kt, and here's my current understanding of how this works; please correct me if I'm wrong.

After thinking through several implementations and realizing there's always annoying edge cases that don't work... I see where you're coming from, even leaving in place is hard. Well, doing it isn't hard. Finding an elegant solution that you don't wa

[2016-04-02 08:12] mpcjanssen commented on #101
Import Export should be easy. I will move this up in prio.

[2016-04-03 12:26] #101 closed

[2016-04-03 14:03] smichel17 commented on #401
@mpcjanssen I haven't done any android development but I am a programmer; if you make a branch and do the work to separate out the appearance settings, I can use that and figure out how to change the rest.

[2016-04-03 14:06] smichel17 commented on #404
as with #401, if you make a commit with one of these -- so I can see all the files that need to be changed -- I can use that to do the other two.

[2016-04-03 14:19] #403 closed

[2016-04-03 16:24] mpcjanssen commented on #401
@smichel17 I am not quite sure yet how to do this. But the main thing is using a `PreferenceScreen`

[2016-04-03 16:33] mpcjanssen commented on #401
@smichel17 : see latest commit for an example you can expand upon.

[2016-04-03 16:42] mpcjanssen commented on #401
this approach is wrong. I will change it so it's right.

[2016-04-03 18:06] mpcjanssen commented on #401
@smichel17 proper way is elaborate, but I am getting there.

[2016-04-03 18:17] mpcjanssen commented on #401
@smichel17 basic framework works. Files needed are:

- `preference_headers.xml`
- `preferenceFragment` in `Preferences.kt`

[2016-04-03 18:26] mpcjanssen commented on #401
@smichel17 see f3a920c for the needed changes to add a section

[2016-04-03 19:31] mpcjanssen commented on #401
@smichel17 don't bother spending time. I will finish this.

[2016-04-03 20:35] mpcjanssen opened #408 "Multiple tasks are appended one at a time"
When sharing or adding multiple tasks, they are appended one at a time. This will create a large number of queued actions. It will be more efficient to append them in bulk.

[2016-04-04 12:47] #402 closed

[2016-04-04 12:47] mpcjanssen commented on #404
Fixed

[2016-04-04 12:47] #404 closed

[2016-04-04 14:01] mpcjanssen commented on #401
I will close this issue now as most/all? of the work is done. If there are details to be fixed, please log a new issue.

[2016-04-04 14:02] #401 closed

[2016-04-04 14:23] mpcjanssen commented on #389
The first scenario should work properly in the new version with FAB where you can press the X. The scenario back saves would make the FAB unnecessary so I might implement that. I will play with it a bit first.

[2016-04-04 14:56] smichel17 commented on #389
At the time I made this issue, there was no 'x' in the upper right corner. So, the original issue is solved in some sense. However, I stand by my original suggestion. At the time I didn't know this, but there is actually a [part](https://www.google.com/design/spec/components/dialogs.html#dialogs-full-screen-dialogs) of the Material guidelines that supports it.

This means:
- If the button in the u

[2016-04-04 14:58] mpcjanssen commented on #389
I am playing with it an the setting will go.

- Left top X
- Right Send icon
- Back saves.

[2016-04-04 15:01] smichel17 commented on #389
Actually, that is my own personal preferred solution, and it's what I would have proposed if you were designing the app from scratch; but when I'm doing design work I also try to consider other people's preferences: in this case, avoiding causing regressions in some people's workflow.

[2016-04-04 15:02] smichel17 commented on #389
That said, if you remove the preference and people complain, you can always add it back in :)

[2016-04-04 15:15] mpcjanssen commented on #389
@smichel17 if the material guidelines specify the behavior I don't mind breaking that part of the workflow. Consistency is a good thing and I don't want to fight the platform (it hurts).

[2016-04-04 15:16] #389 closed

[2016-04-04 18:39] smichel17 commented on #389
FWIW, for saving tasks, I still prefer the easy access of a FAB instead of an action in the header.

[2016-04-04 18:40] mpcjanssen commented on #389
But back will also save the task now, so you wont need the FAB anymore, right?

[2016-04-04 20:46] smichel17 commented on #389
I prefer to use the button on screen to hitting back several times. Also, if a first time user looks at their screen, there's no indication that the back button saves; that's a discovered behavior. There _is_ an indication that the top button is the way to save. That's a much less convenient button, for the main action a user will take on this page, than a FAB.

Is there a reason why you want to g

[2016-04-04 20:48] mpcjanssen commented on #389
I just find it a bit cleaner without the fab. But i will put it back.

[2016-04-04 20:52] smichel17 opened #409 "Clean up new/edit task interface"
@mpcjanssen If you're looking to clean up the interface (ie, address concerns in #389), take a look at [this section](https://www.google.com/design/spec/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions) of the material guidelines and see if any of those transitions is appealing to you.

Also, I'd encourage you to consider moving the "prefill next" and "word

[2016-04-04 21:03] smichel17 commented on #409
The overflow menu is really underused on this screen -- it has only a single option, "help." At that rate, you might as well just have a help button (note: I do not advocate replacing the overflow menu with a help button).

[2016-04-04 21:12] mpcjanssen commented on #409
I will probably settle for readding the fab and moving the checkboxes to the overflow menu.

[2016-04-05 06:07] colinsullivan commented on #391
+1!

I use "+Inbox" for all incoming items.

[2016-04-05 15:17] smichel17 commented on #409
Is it possible to do checkboxes in the overflow menu? If so, you should do that.

If not, menu items need to clearly indicate whether they are describing status or action, eg "Turn [on/off] prefill next" or "Prefill next is [activated/deactivated]."

[2016-04-05 16:57] mpcjanssen commented on #409
Checkmarks in menus are only supported in popup menus not in action menus. (I tried). I will rephrase the menu items to reflect it's an action with disable/enable.

[2016-04-05 17:01] smichel17 commented on #409
Can you cheat, but just making it two different strings, one of which includes a unicode check?

ie, "Prefill next" vs "✓ Prefill next"

[2016-04-05 17:04] mpcjanssen commented on #409
hmm that might be an option. No idea how nice it will look. I'll try

[2016-04-05 17:14] mpcjanssen commented on #409
Faking it doesn't look very nice.

[2016-04-05 17:22] mpcjanssen commented on #409
Strangely enough I got it to work now with checkboxes.

[2016-04-05 17:26] #409 closed

[2016-04-05 17:28] smichel17 commented on #409
You can also remove the blue and grey lines that used to separate the check box items & text box.

[2016-04-05 17:30] mpcjanssen commented on #409
the blue line is the bottom line of the edittext. Will see if I can remove that

[2016-04-05 17:30] mpcjanssen commented on #409
keeping the menu open doesn't seem to be possible

[2016-04-05 17:33] smichel17 commented on #409
That's fine.

A check box is just a differently-styled check mark, right? :P

[2016-04-05 17:52] mpcjanssen commented on #391
@colinsullivan you do know that you can set a text to be added to any task coming in through sharing or in the background, right?

[2016-04-05 23:20] colinsullivan commented on #391
Does that include the plus button on the widget?

----------
Colin

On Tue, Apr 5, 2016 at 10:52 AM, Mark Janssen <notifications@github.com>
wrote:

[2016-04-05 23:23] smichel17 commented on #391
A quick test says it does not.

[2016-04-05 23:24] smichel17 commented on #391
@colinsullivan However, if you use the plus on the widget, it will pre-fill with whatever that widget's filtering is.

So you can get the behavior you want by creating a widget that shows only things tagged with "+Inbox", and the plus button on that widget will open an entry box pre-filled with "+Inbox".

[2016-04-05 23:34] colinsullivan commented on #391
That's not the behavior I want :P

I'd rather keep my widget with its current filtering (this happens to be
all items, sorted by due date).

Thank you for your suggestion though, I genuinely appreciate it :)

----------
Colin

On Tue, Apr 5, 2016 at 4:24 PM, smichel17 <notifications@github.com> wrote:

[2016-04-05 23:35] smichel17 commented on #391
You can create a second widget with the 'inbox' filter, resize it to 1x1, and the + button will take up ~1/4 of the space. It's ugly as heck, but it'll approximate a "add new task to inbox" behavior that you want, I think.

[2016-04-05 23:48] smichel17 opened #410 "Open selection menu with system menu button"
On devices that have hardware menu buttons, pressing that button from the main screen will show the overflow menu.

When you select a task, that button has no effect. It would be nice if it opened the menu here as well.

Low priority.

[2016-04-06 03:45] smichel17 opened #411 "Update Drawer Interface (UX overhaul part 1)"
#### 2016-07-14 edit: Do not implement this right now. I am rethinking it.

---
Material design guidelines prohibit drawers on the right. That's because drawers are hidden functionality that the user is unlikely to discover for themselves (I used simpletask for a few weeks before I realized the drawer existed).

Filters are first class citizens in Simpletask. They are the core that makes this app

[2016-04-06 03:59] smichel17 commented on #94
This seems like pretty low-hanging fruit? Or is it currently difficult to check if changes have occurred?

[2016-04-06 04:02] smichel17 commented on #107
@mpcjanssen What is the action for this issue? Do you intend to do it?

[2016-04-06 04:12] smichel17 commented on #122
Would it be possible / make sense to replace LUA script functionality with js?

[2016-04-06 04:37] smichel17 commented on #133
I would advise not to break the todo.txt format. However, I would support custom prefixes as an _extension_ of the format.

[2016-04-06 04:39] smichel17 commented on #133
#122 has a bit of overlap with this issue.

[2016-04-06 05:02] smichel17 commented on #138
@the-solipsist I'm a little confused. What would this feature add that calendar reminders on due/threshold dates does not already cover?

[2016-04-06 05:14] smichel17 commented on #161
You've been playing with settings recently -- is now a good time to close this?

[2016-04-06 05:21] smichel17 opened #412 "Per-widget settings"
Now that widgets have their own section of the settings, it's possible to create a UI for changing settings on a per-widget basis.

- Widgets
  - widget 1
    - Theme
    - Datebar
    - Header Transparency
    - Background Transparency
    - Update filter
  - widget 2
    - Theme
    - Datebar
    - Header Transparency
    - Background Transparency
    - Update filter
  - etc

You can't create ne

[2016-04-06 05:30] smichel17 commented on #173
Is this worth implementing? Could you get the same mileage out of allowing the user to define a custom phone number format (with regex, or something) in settings?

[2016-04-06 06:19] smichel17 commented on #175
I think we should do as little normalization on display as possible. The more processing, the less useful the plain text file is without the app, and portability is a big draw of todo.txt. For making tasks easily skimmable, I'd encourage syntax highlighting instead.

I also don't like normalization on write. If a user wants to add both `+buy milk @store` and `go to @store and +buy milk` to their t

[2016-04-06 06:27] smichel17 commented on #180
I think this is one of those things that sounds great on paper, but then when you try it out it's actually just really confusing to have your tasks jumping all around when you select them. If @y2kbugger agrees, my vote is to close this.

[2016-04-06 06:42] smichel17 commented on #182
I'm currently working my way through designing a new interface for editing tasks. The UI buttons would have a different function so this exact suggestion would not work.

Instead, to solve the same issue, I suggest auto-completion of lists/tags while typing. Here's an example interface:

![autocomplete](https://cloud.githubusercontent.com/assets/6563664/14307891/6b84951a-fba0-11e5-9f41-b0e695d7e58

[2016-04-06 06:44] smichel17 commented on #407
@fmartelg would implementing my suggestion on #182 (auto-completion while typing) be sufficient to close this ticket?

[2016-04-06 06:52] smichel17 commented on #192
@mpcjanssen This still something you'd like to do sooner, or tag it with someday/maybe?

[2016-04-06 06:55] smichel17 commented on #349
related: #122

[2016-04-06 07:00] smichel17 commented on #226
I think this is a someday/maybe, as it seems relatively high effort, low reward (much of this can be replicated through excessive use of widgets).

Related: #412

[2016-04-06 07:11] smichel17 commented on #275
Related: #412

[2016-04-06 07:13] smichel17 commented on #362
Related: #122

[2016-04-06 07:19] smichel17 commented on #287
Seems like this is currently implemented when datebar is enabled. I think this issue could be closed if due dates got the same highlighting (red/green/none) whether or not the date bar is shown.

[2016-04-06 07:21] smichel17 commented on #287
#285, #173, and #175 also involve highlighting.

[2016-04-06 07:22] smichel17 commented on #288
This is related to processing custom fields, so it goes in the with group of issues related to #160

[2016-04-06 07:27] smichel17 commented on #294
Another filtering issue. #160

[2016-04-06 07:29] smichel17 commented on #308
#160

[2016-04-06 07:35] smichel17 commented on #312
Can confirm this bug/enhancement is still outstanding.

[2016-04-06 07:35] smichel17 commented on #321
Or whatever sort is in use (lists, dates..)

[2016-04-06 07:36] smichel17 commented on #338
Related: #92

[2016-04-06 07:37] smichel17 commented on #351
#122

[2016-04-06 07:40] mpcjanssen commented on #122
Rhino Javascript was replaced with Lua. The main reason being that its easier to embed and it performs better. The functionality is the same.
If there are better javascript engines I might consider going back because Lua is not widely know. I would love if this could be kotlin as well.

[2016-04-06 07:42] smichel17 commented on #122
Ah. I agree, kotlin would be the best, if that's possible. I went through all the issues related to filtering and referenced this one, so it is a good place to discuss how filtering should be implemented, going forward.

[2016-04-06 07:45] smichel17 commented on #374
I like having the filter on widget tap in some cases, not in others. Related: #412.

[2016-04-06 07:51] smichel17 commented on #382
Here's a more specific scenario: I have an @waiting list as per GTD for things I'm waiting on. It's in the format: `t:when-to-check-in-with-this-person @waiting [what I'm waiting on] -> [what I'll do when that thing is done] @context-of-the-thing-i'll-do`. When the person I'm waiting on does the thing I'm waiting for, instead of completing the task, I'll modify it and delete everything up through

[2016-04-06 07:52] smichel17 commented on #387
#122

[2016-04-06 07:58] smichel17 commented on #394
What if the dropbox version used a local file, too, that it also synced to dropbox? Practically, it wouldn't do much except for backup and maybe saving offline changes. But it would simplify the interface in this ticket, and be the first step towards unifying the two versions\*.

\*It seems weird to me, that there are two versions. Why not just one, with a setting where I can enable dropbox sync?

[2016-04-06 07:59] smichel17 commented on #400
Related: #412

[2016-04-06 08:02] smichel17 commented on #410
I'm going to pre-emptively close this so you don't waste time on it.

[2016-04-06 08:02] #410 closed

[2016-04-06 08:27] mpcjanssen commented on #391
@colinsullivan question, why do you want to tag inbox tasks? I have a filter for tasks without tags and lists which is my inbox. This works fine.

[2016-04-06 08:29] mpcjanssen commented on #410
If you select a task the overflow menu should be gone and the selection menu is opened as toolbar so indeed closed

[2016-04-06 08:30] mpcjanssen commented on #411
Please keep this in one issue for now. The amount of issues is becoming a bit overwhelming :)

[2016-04-06 08:31] mpcjanssen commented on #94
Not difficult. I will look into this.

[2016-04-06 08:31] #107 closed

[2016-04-06 08:34] mpcjanssen commented on #138
Use calendar integration for this. More is not going to happen.

[2016-04-06 08:34] #138 closed

[2016-04-06 08:35] mpcjanssen commented on #161
Closing for other/new missing translations open a new issue.

[2016-04-06 08:35] #161 closed

[2016-04-06 08:35] mpcjanssen commented on #412
Possible but low prio.

[2016-04-06 08:37] mpcjanssen commented on #175
Will not implement this in code. If there are lua hooks you can build this yourself.

[2016-04-06 11:32] y2kbugger commented on #182
The issue is that the keyboard doesn't have a @ so it would really slow down adding tags if you had to look it up in the keyboard all the time.

[2016-04-06 11:37] mpcjanssen commented on #182
I think we should support both (the current way and the popup during typing way)

[2016-04-06 11:39] mpcjanssen commented on #288
It is more related to displaying of the task. I would like to add a display filter tab in the filter. This should allow you to hide certain token types (such as recurrence tags)

[2016-04-06 11:41] mpcjanssen commented on #294
Can't reproduce this. Closed. Please re-open if additional info.

[2016-04-06 11:41] #294 closed

[2016-04-06 11:42] mpcjanssen commented on #307
If slowness is still an issue in the latest versins (which had some performance fixes) please log a specific issue for that.

[2016-04-06 11:43] mpcjanssen commented on #308
Not really related to #122. #122 is about the display of a single task. This is about the display of a whole tasklist. This is very hard to fix.

[2016-04-06 11:45] mpcjanssen commented on #92
Closed, see #338

[2016-04-06 11:45] #92 closed

[2016-04-06 11:46] mpcjanssen commented on #351
#122 is only meant to process task before they are saved to the `todo.txt` (for example to sort tags to the end). This is about display. The common theme is Lua though.

[2016-04-06 11:47] mpcjanssen commented on #374
Apply filter could be an additional widget setting.

[2016-04-06 11:50] mpcjanssen commented on #382
Also note that single click also pops up screen to dial numbers or go to URLs now. Making single click edit will also collide with this. So concluding save one click and make everything else more complex, is not going to happen.

[2016-04-06 11:50] #382 closed

[2016-04-06 11:50] mpcjanssen commented on #387
#122 is not the catch all Lua item.

[2016-04-06 11:54] mpcjanssen commented on #394
@smichel17

Problem with unifying is that the cloudless version then will need NETWORK permission in its manifest. For a large percentage of cloudless users this then disqualifies this app for work use, because it could communicate to the internet.
Additionally, I can't include Dropbox for FDroid without sharing my API keys and making Cloudless partially closed source.

These are the main reason w

[2016-04-06 11:55] mpcjanssen commented on #407
It would be, but see my remark in #182

[2016-04-06 15:28] smichel17 commented on #382
Agreed. Two-click to edit is not a big hardship and not worth the added complexity.

[2016-04-06 15:41] smichel17 opened #413 "Managing github issues"
@mpcjanssen Hang in there, I'm trying to help clean up! Here's what I'm doing, and some suggestions:

- Anything that is actionable, I will put a checkbox and immediately after list the desired state only. This should allow you to either read an issue for full context, or skim an issue for the relevant to-do's. It will also allow you to actually check off those items as you get to them, tracking p

[2016-04-06 16:04] colinsullivan commented on #391
I've thought about that, could work and would save me a few touch strokes
in my current workflow. Would just need to write a filter for todo.sh.

I'm using BitTorrent sync to synchronize with desktop! :-)

--------
Colin
On Apr 6, 2016 1:27 AM, "Mark Janssen" <notifications@github.com> wrote:

[2016-04-06 16:52] smichel17 opened #414 "Replace hints with walkthrough on first new task"
The goal overall is that a user can pick up the app and start using it without ever touching the settings. Settings should offer as much useful customization as possible without overloading the user. Therefore, we should strive to remove settings that are not useful so that we can replace them with useful settings.

- Hints are annoying for experienced users, and they should not have to manually d

[2016-04-06 16:55] smichel17 opened #415 "Add empty state to home screen"
- [ ] When the user has 0 tasks, the background of the home screen should say something like "No new tasks! Click here to add one." and have an arrow pointing to the FAB.

[2016-04-06 17:24] smichel17 opened #416 "[Easy] Collapse empty search bar on scroll"
Steps to reproduce:

- Select search
- Optional: type text in the search bar, then delete it
- scroll down/up the todo list

Expected behavior: search bar collapses back into icon and title ("Simpletask Cloudless") is displayed.

Actual behavior: search bar stays expanded.

[2016-04-06 17:35] smichel17 commented on #391
I have a suggestion that I think would (A) solve @colinsullivan's issue, and (B) be useful independent of this thread's original suggestion:

- Unique "Add Task" widgets:
  - Icon stays the same
  - [ ] On creation, opens a modified widget creation dialogue
    - Only includes `LIST`, `TAG`, and `PRIO` tabs.
  - [ ] When tapped, opens AddTask activity with lists, tags, and prio pre-filled.
    - L

[2016-04-06 17:36] mpcjanssen commented on #413
I really dont want to over organize all this. I will tag issues I really plan with planned, i will tag issues I probably wont ever do but dont want to close with someday maybe. Everythong else i will pick something I feel like doing.
Please keep the comments coming but unless I plan to actual code against it or discuss for clarification I might not react.

[2016-04-06 17:37] mpcjanssen commented on #391
I like this. Please put in a different issue and refer to this one.

[2016-04-06 17:40] kstep commented on #287
Also, it would be nice to have the ability to customize visible date format, like maybe an option to set it to `%a, %d %b %Y` or some other format string.

The often use case, is when I have to ask "oh, what exact date is "Wednesday"?" in conversation because SimpleTask doesn't show weekday names in dates, and I need to look up my schedule in my todo.txt file.

[2016-04-06 17:41] smichel17 opened #417 "Unique "Add Task" widgets"
Icon stays the same

- [ ] On creation, opens a modified widget creation dialogue
  - Only includes `LIST`, `TAG`, and `PRIO` tabs.
- [ ] When tapped, opens AddTask activity with lists, tags, and prio pre-filled.
  - Like the + in the upper right of list widgets

I believe this would close #391.

[2016-04-06 17:43] smichel17 commented on #391
@colinsullivan can we close this issue, especially since #417 exists?

[2016-04-06 17:44] smichel17 commented on #413
Okay, sounds good.

[2016-04-06 17:44] #413 closed

[2016-04-06 18:11] logos88 commented on #406
smichel17 when you drag a task that has multiple contexts it should be the same as if you add a context editing one that already has others I imagine.

[2016-04-06 18:17] smichel17 commented on #406
My list looks like this:

[code]

I'm sorting by context. I drag `b` into `@a`. Which is the result?

[code]
or
[code]

[2016-04-06 18:22] smichel17 commented on #406
Here's another one. Starting list:
[code]
I drag `bc` into `@a`. Result?
[code]
or
[code]
or
[code]
The last one exists because on my screen, `c` would be displayed under `@b`. I dragged it out of `@b` and into `@a`, so if you follow the "remove tags when dragging them out of a header" pattern, `@b` should be removed and `@a` should be added. I didn't drag it out of `@c` so it should not be remove

[2016-04-06 18:48] smichel17 commented on #287
I don't think it is wise to do custom formatting in-line, so I'm assuming we're talking about when the "Show datebar" setting is enabled.

Here's a list of things that Simpletask does or (checkboxes) could do for `days in future`:

- `[<0]`: "x [days|week|months|years] ago"
- `[0]` "today"
- [ ] `[1-6]` "[day-of-week]"
  - Today is Wednesday the 6th. Display the day of week up to & including Tuesd

[2016-04-06 18:51] smichel17 commented on #406
Probably better to wait until #153, though, so @logos88 be prepared to wait a while.

[2016-04-06 18:51] smichel17 commented on #308
I think a true fix for this would depend on #153.

[2016-04-07 00:32] smichel17 opened #418 "[Eye candy] Transition to new task"
Like the very last transition [here](https://www.google.com/design/spec/components/buttons-floating-action-button.html#buttons-floating-action-button-transitions).

[2016-04-07 01:47] smichel17 opened #419 "Field order of insertion"
When you insert fields using the UI tools, it's in this order: `$prio $date $task $other`, where `$other` is lists, tags, due dates, and threshold dates, all appended to the end in whatever order they happen to be. This order is very hard to skim because tasks, lists, and tags are highly variable in length.

I think the order should be `$prio $date $due $threshold $other`. The constant length in f

[2016-04-07 01:52] smichel17 commented on #175
Do you mean a normalized view, a normalize function, or both? If both, you could close this issue.

[2016-04-07 01:55] smichel17 commented on #351
There are some other tasks I've linked to #122 that are also about Lua/display; just trying to get them all in one place.

[2016-04-07 02:52] smichel17 commented on #132
@mpcjanssen I agree, there should be a shared interface for editing tasks between the main and edit screens. I am working on that now.. When you edit multiple tasks, how does Simpletask decide which order to display them in? Could you customize that, eg, so they always appear in the same order that they were when you selected them?

@alehandrof I agree with you in principle. In practice, I'm conce

[2016-04-07 04:07] getthemike opened #420 "Android Wear Widget?"
Pretty please.

Not sure what you would reuse. Maybe the watch would simply show the currently applied filter. Maybe allow only scrolling and marking as done.

[2016-04-07 04:22] smichel17 commented on #420
I've never owned a smart watch. My gut says the most useful feature would be universal capture -- tap the watch, dictate to it, speech recognition -> new task.

It might also be useful if the watch could show a handful (wristful?) of tasks that are due today. How many tasks could you view on a watch?

[2016-04-07 04:40] getthemike commented on #420
Well you could scroll. I would say a good reference for inspiration is the [google keep app](https://play.google.com/store/apps/details?id=com.google.android.keep).
It allows you to scroll multiple keep cards which doesn't apply, but within a card can be either plain text or lists with a checkbox. It also has ambient mode, which is nice.

![image](https://cloud.githubusercontent.com/assets/697694/

[2016-04-07 04:43] smichel17 commented on #182
I think we should use this ticket to track autocompletion and #132 to track enhancements to the UI.

[2016-04-07 04:48] smichel17 commented on #418
I am thinking about the design of editing tasks; if that changes, this work would be wasted, so closing this until after I create an issue for that and get resolution on it.

[2016-04-07 04:48] #418 closed

[2016-04-07 07:08] smichel17 opened #421 "Settings part 2 of 3: Phrasing"
**The vast majority of these are just changing strings; I can make a PR for that.**

---

- Appearance > Color due dates
  - [x] Secondary text reads, "Color due and threshold dates"
- Appearance > Show hints
  - [x] Secondary text reads, "Show hints when adding tasks. Disable this if you find these distracting."

---
- User Interface > Show todo path
  - [x] Label reads, "Show file path"
  - [x]

[2016-04-07 10:33] y2kbugger commented on #180
Hmm, i wasn't clear here. I didn't mean for them to move interactively. I meant when editing an old task sort the checked ones to the top, in addition to the being in their normal order. separated by a thin gray live (or something) from the bulk list.
This is helpful for two reasons: you can see which lists were already associated at a glance, and it makes it quicker to remove a list or two. when

[2016-04-07 10:42] y2kbugger commented on #180
The idea is similar to using a customer's IP address and floating their country to the top of the combo box on e-commerce sites.

[2016-04-07 12:56] smichel17 commented on #180
Ah! I think you mean on the popup where you pick lists/tags? So if I have this list:
[code]
And it's sorted by context so it appears like:
[code]
If I select d and b, then open the list dialogue, it will look like this:
[code]

[2016-04-07 14:30] y2kbugger commented on #180
not sure I understand how that the middle part about how it sorted is relevant, but yes.

Just to give a more relatable picture:
[code]

Showing how it would work with tri-value checkboxes if you selected the first two on the above list:
[code]
and I would like to promote the idea of making the "floated" lists *in addition* to the regular list for reasons described below.
[code]
The *in addition*

[2016-04-07 14:32] smichel17 commented on #180
You can use this for partial checked: ☑

[2016-04-07 14:33] smichel17 commented on #180
Now that I understand this idea, I like it very much.

[2016-04-07 14:38] y2kbugger commented on #180
Also for sure don't try to make them disappear from the top when unchecked. Though adding `@lists` to the top when checking might provide a nice summary of your changes before committing them

[2016-04-07 14:47] smichel17 commented on #180
I think that this would be confusing, because each time you checked a list it would shift the location of some of the others. It would also be more confusing if un-checking a list did not remove it from the top (since you would be taking away the "lists at top were initially checked" paradigm but not introducing "lists at the top are currently checked.")

Not sure I understand, either, haha. (Actu

[2016-04-07 17:57] mpcjanssen commented on #175
Both as separate hooks

[2016-04-07 18:00] mpcjanssen commented on #308
Duplicate of #153

[2016-04-07 18:00] #308 closed

[2016-04-07 18:03] mpcjanssen commented on #420
I dont own one, but I will check.

[2016-04-07 18:03] mpcjanssen commented on #421
Please make a PR

[2016-04-07 18:18] colinsullivan commented on #391
:thumbsup:

----------
Colin

On Wed, Apr 6, 2016 at 10:37 AM, Mark Janssen <notifications@github.com>
wrote:

[2016-04-07 18:21] smichel17 commented on #420
So we just need to raise a couple hundred dollars to buy you one! Something something Snowdrift.coop

[2016-04-07 20:33] getthemike commented on #420
You could borrow mine @mpcjanssen . Email me your address and I will send to you for month or so.

[2016-04-07 20:34] smichel17 commented on #420
@mpcjanssen is in Europe; might take a month to get there :P

[2016-04-08 00:02] smichel17 commented on #421
@mpcjanssen to remove secondary text, would you prefer I make the english version an empty string (or space), or that I delete the android:summary for the relevant pref and also the related strings for all other languages?

[2016-04-08 02:48] smichel17 commented on #421
I decided just to remove the `android:summary` field and leave the string, unused.

[2016-04-08 03:13] smichel17 commented on #421
I did everything except:

I believe it requires overriding the onCreate function of CalendarPrefFragment, on line 132 or Preferences.kt and calling valueInSummary, but just copying over from ConfigurationPrefFragment creates crashes and I'm not sure exactly what's needed to make it work.

@vojtechkral might be able to help with this, too.

[2016-04-08 08:06] #405 closed

[2016-04-08 09:43] mpcjanssen commented on #416
Latest commit doesn't close the keyboard if scrolling occurs so has limited usuability

[2016-04-08 10:06] mpcjanssen commented on #391
There is still a part remaining here to have certain defaults for new tasks which come in through sharing or background actions. I for instance want a default threshold date on all tasks.

Main challenge is to distinguish updated tasks in the addtask screen from newly created ones. So I wont close this just yet.

[2016-04-08 10:08] mpcjanssen commented on #420
I will check with an emulator, please don't send me stuff, I don't want the hard commitment to do something about this :)

[2016-04-08 10:09] mpcjanssen commented on #421
Yes you'll need to get access to the proper preference view. I will look at this

[2016-04-08 10:49] mpcjanssen commented on #415
Serious question, how useful is it to highlight the FAB, to me it seems fairly obvious that you can add a new task with +.

[2016-04-08 14:10] smichel17 commented on #415
To be honest, the arrow is probably overkill. It also creates localization issues (RTL). Perhaps it would be better just to do:

[logo]
Congratulations!
Your task list is empty

[2016-04-08 17:12] mpcjanssen opened #424 "Push sync using longpoll can kill battery"
In situations where the network coverage is spotty. The longpoll dropbox sync can have quite some impact on battery usage.

[2016-04-08 17:50] smichel17 opened #425 "[Bug] Renaming filter also updates it"
Steps to reproduce:
- Set unique filter settings
- Rename a preexisting filter

Expected behavior: Filter is renamed, but keeps the same settings.
Actual behavior: Filter is renamed, and updates to use the current filter settings.

[2016-04-09 08:38] #425 closed

[2016-04-09 10:11] mpcjanssen commented on #424
Latest master will only longpoll when app is in the foreground. It will also check for any changes when coming to the foreground.

[2016-04-09 15:01] smichel17 commented on #424
I use cloudless so this doesn't affect me personally, but does that mean if I make changes from another device but don't open Simpletask, my widgets won't update?

[2016-04-09 17:35] mpcjanssen commented on #424
Only polling when the app is active works well.

[2016-04-09 17:35] #424 closed

[2016-04-09 17:52] smichel17 commented on #411
## Update drawers

### a. Swap drawers

Move the filter drawer to the left and the list/tag drawer to the right.

### b. Update filter drawer

Normal view:

![filter-main](https://cloud.githubusercontent.com/assets/6563664/14405049/93f40afc-fe53-11e5-8044-c454ca5034ac.png)

Long press a filter to select it. Note that I drew these before adding "All Tasks".

![filter-select-one](https://cloud.githu

[2016-04-09 18:35] mpcjanssen commented on #411
Very nice, note though that displaying tasks per filter is quite difficult :)

[2016-04-09 21:00] smichel17 commented on #411
## Update Filters

### a. Remove the filter drawer

### b. Move filter settings

Tasks tab:

![home-tasks](https://cloud.githubusercontent.com/assets/6563664/14406206/3d8dd0b4-fe6f-11e5-8211-f6dc92e20089.png)

Any other tab:

![home-prio](https://cloud.githubusercontent.com/assets/6563664/14406337/d6ac03f8-fe72-11e5-9114-0400d0815b7b.png)

### c. Clean up

We save updates to filters through the ma

[2016-04-09 21:21] smichel17 commented on #411
I don't quite understand what you mean. I don't think I've made any changes to how tasks in the list are actually displayed? The task tab should feel identical to the current main view.

[2016-04-09 21:26] smichel17 commented on #411
@mpcjanssen two notes:

1. These steps, in order, are all complete changes on their own. That is, as long as you complete all the things in a letter section and all the previous sections, the app should be usable in that form.
2. I made a few edits.
  - Nothing major, but github doesn't give notifications when updates are made so I think it's a good practice to tell people :)

[2016-04-10 05:29] smichel17 commented on #128
I am working on a new design (a small set of changes, really) that will address this issue and a couple of others scattered around the tracker.

[2016-04-10 05:54] y2kbugger opened #426 "Wrong list/ tag getting applied"
When editing a task from the main list, I noticed that the tag being applied was not the one I tapped. I repeated the multiple times, first checking the one that was mistaken added and closing the correct one. Closing the list of tags the wrong tag was applied again. I can't remember is it was always the same wrong one but it was the same at least a few of the times. also when checking a tag and s

[2016-04-10 09:22] mpcjanssen commented on #426
@y2kbugger how many tags do you have? Is it a large list?

[2016-04-10 12:48] y2kbugger commented on #426
around 36 lists and 24 tags
On Apr 10, 2016 5:22 AM, "Mark Janssen" <notifications@github.com> wrote:

[2016-04-10 13:10] ddisanti opened #427 "Changes to a edited task are not saved on last app update."
I've just installed the last update. And now, when I edit a task, it isn't get updated with the new data. Maybe I'm missing something. By the way, on the edit box, I find the Add Floating button a little bit confusing. You're editing a task, maybe adding new ones, so the old Send or Done Floating buttons would be a best choice.

[2016-04-10 13:18] mpcjanssen commented on #426
I will check

[2016-04-10 13:18] mpcjanssen commented on #426
@y2kbugger  Was this an issue in older versions? Before the indeterminate checkbox?

[2016-04-10 14:18] y2kbugger commented on #426
only noticed it now, but to be honest I wasn't doing much other than adding
and marking complete for the last few months.
On Apr 10, 2016 9:18 AM, "Mark Janssen" <notifications@github.com> wrote:

[2016-04-10 14:19] y2kbugger commented on #426
I'm running 6.01
On Apr 10, 2016 10:18 AM, "Zak Kohler" <y2kbugger@gmail.com> wrote:

[2016-04-10 16:08] mpcjanssen commented on #427
FAB will have done icon in next release. Updating was only an issue on Cloudless and is fixed.

[2016-04-10 16:08] #427 closed

[2016-04-10 22:24] smichel17 commented on #180
Related: #132

[2016-04-10 22:26] smichel17 commented on #189
Related: #182

[2016-04-11 04:16] smichel17 commented on #128
Done! One note: I don't like ~~most~~ of the icons here (both the ones I added and a couple of the current ones): some are not very clear what they stand for; others are not very distinctive. I just used them anyway because I wanted to get this done. If you decide to implement, we can go on a hunt for better icons.

---
## List view

- Icons moved to app bar:
  - Select all: this is the normal/exp

[2016-04-11 04:18] smichel17 opened #428 "[Bug] Keyboard should hide on task selection"
Steps:

- Start typing in the search bar
- tap or long-press a task to select it

Expected behavior: task is selected, keyboard is hidden
Actual behavior: task is selected, keyboard is not hidden

This is a problem because when you open the 3-dot menu, there is not enough space on screen to display all the options (you need to scroll), which is confusing. It also means you can see fewer tasks on s

[2016-04-11 17:26] mpcjanssen commented on #428
Hiding and showing the keyboard is surprisingly hard, but ill look into this.

[2016-04-12 00:25] y2kbugger commented on #426
Also I just got the update that the notes included tristate so I checked and I was running 7.1.1. I'm updating to 7.2.1 now

[2016-04-12 02:04] y2kbugger commented on #128
List view
Please please consider Complete/Uncomplete with a swipe like gmail does. If you are a view where completes are visible, leave it/ resort it if required. Use the exact same undo visual language used by the newest gmail. That way, whether it is disappearing on you or not you always have a chance to catch yourself. Also if done this way it makes sense to hide the Complete Uncomplete in the

[2016-04-12 14:34] smichel17 opened #429 "Add 'Show priority in the tasks' option to filter"
I would like to be able to view tasks with priority hidden.

After I do universal capture and processing, I have a *long* list of next-actions. From it, I create a 'shortlist' of things that I will actually do immediately. I use priorities as a way to create this list, but don't actually care about the priority -- it's just an implementation detail for me to filter on. I'd like to be able to use a

[2016-04-13 07:14] smichel17 commented on #128
Well, the more standard way is simply not to offer the text versions. That was actually my first iteration; the 'done' button replaced the shift button. If people were okay with only starting autocompletion by typing a + or @, then this would be fine, but as you noted in #182, those keys are not very accessible on most keyboards.

I'm happy to think through other solutions, though.

The thing is,

[2016-04-13 11:57] mpcjanssen opened #430 "Crash in updateLists (Playstore)"
[code]

[2016-04-13 11:58] mpcjanssen commented on #430
Fixed by 59d81b7800646583be514bdf6d491a8670bde0b8

[2016-04-13 11:58] #430 closed

[2016-04-13 12:19] y2kbugger commented on #128
True. Also just noticed that github has a button that merely inserts an "@".

[2016-04-13 12:26] mpcjanssen commented on #429
I will look at this.

[2016-04-13 21:53] mpcjanssen opened #431 "Simpletask can leave behind extra calendars"
There was an old bug when simpletask would add a lot of calendars. This bug is now fixed, but the calendars can still remain and are not removable without resetting the calendar provider.

We should provide a (manual) way to remove possible rogue calendars.

[2016-04-14 02:00] smichel17 commented on #128
For due, threshold, and priority, I expect them to be inserted in a consistent location (IMO, beginning is best) no matter where my cursor is.

For lists and tags, I would really need to test this out to see what's best.

[2016-04-14 02:05] y2kbugger commented on #128
not when you use it in prose
`my homework is due:2016-04-27`

this is even more of a big deal for lists, tags. I think this adds
complexity and might not beer the last surprising way to do this. what
about old tags. what about those of us who track their lists with git?
On Apr 13, 2016 10:00 PM, "smichel17" <notifications@github.com> wrote:

[2016-04-14 12:01] mpcjanssen commented on #431
@vojtechkral could you have a look into this?

[2016-04-14 12:35] vojtechkral commented on #431
Ok, will try

[2016-04-14 12:56] aurisnoctis opened #432 "Sticky reminders for the day"
Hey Simpletask team,

I have the calendar reminder feature enabled and it works great so far: the reminders all appear on time.

However, they all disappear at once whenever I open Simpletask for the first time (for instance to work on one of these tasks or to do something completely unrelated to the reminders).

Is there a way to make reminders stick around until they are actively dismissed from

[2016-04-14 13:08] mpcjanssen commented on #431
@vojtechkral let me know if you don't have time so I will look into it.

[2016-04-14 13:16] vojtechkral commented on #431
@mpcjanssen Ok

[2016-04-14 13:50] vojtechkral commented on #432
Hi.

This is problematic. I presume the reason those notifications disappear is that Simpletask will re-create all the calendar events/notifications each time todo list is updated. The code managing the calendar events doesn't really have a way to tell which events need updating, deleting, etc., so it just removes them all an re-creates from scratch.

I guess I'd have to somehow diff the current s

[2016-04-14 13:50] vojtechkral commented on #432
I'll have a look in a couple days, hand tight.

[2016-04-14 16:05] smichel17 commented on #128
okay, fair.

I think to start, perhaps the best way would be so simply insert the chars at cursor for dates, lists, and tags. I imagine this is by far the easiest to implement, and it would give us a chance to play around with it and figure out edge cases. It's also safe to do: while it's better to correctly guess what the user wants than not guessing, not guessing is better than guessing wrong.

[2016-04-14 16:33] y2kbugger commented on #128
I agree to that point:

You don't want it to start mangling text when people try to copy and paste,
or type an email address using thye button, for example of an edgecase.

One of my biggest frustrations with windows is when it does things like
select extra characters because "of course people only want to select whole
words, let's make a feature" ggrrrrr M$ does NOT know what I want!

On Thu, Apr

[2016-04-14 18:08] smichel17 commented on #132
I think this issue can be closed when the issues that reference this one are closed.

[2016-04-14 18:21] smichel17 commented on #182
This issue requires 2 parts:

1. Only show the popup when `@` is typed as the first symbol in a word.

2. Wait for #128 to be complete. Then also show the popup when the `@` GUI button is pressed.

[2016-04-14 22:47] getthemike opened #433 "I tried any.do . It is so visually inspiring."
I know it's not fair to compare. They have a subscription model and a large team but wow. The app is beautiful.

I suggest anyone interested in amazing ui for a task management app should go look at it.

The todo.txt compatibility is a different premise than just making a beautiful app but if you can steal any design notes from them you would be doing simpletask a huge favor.

I love the changes I

[2016-04-15 15:40] smichel17 commented on #128
@y2kbugger Two things about swiping:

1. Swipe is an archive action. If swiping on tasks is added it should be swipe to complete-and-archive. This would probably go along with removing the archive on completion setting.

2. Unfortunately, adding swipe functionality conflicts with #411. If you had to choose between quick access to filter settings a-la #411 and swipe to complete-and-archive, what wo

[2016-04-15 19:38] getthemike commented on #411
@smichel17 have you seen the android UI for Any.do . I checked it out the other day and I think in this redesign you should definitely process it some.

http://www.any.do/

[2016-04-15 22:46] smichel17 commented on #411
@getthemike I saw the other issue. Will respond there.

[2016-04-15 23:09] smichel17 commented on #433
So, there's two different kinds of design at play here: appearance and functionality. Visual designers are experts in appearance and interaction designers are experts in functionality. (People often confuse interaction design with user experience design because UX is a buzz word right now; UX includes both functionality _and_ appearance.)

I am an interaction designer (in training), but have littl

[2016-04-16 11:31] ddisanti commented on #432
@vojtechkral @aurisnoctis ,  that's true. Every time the list is updated, the Calendar app shows nothing. It's empty. It's that so for a few minutes until it regenerates all its data. A bad side effect is the battery drain. If you do edit tasks too often with calendar reminders activated,  once you've done take a look at the battery level and go check the battery statistics. Calendar provider will

[2016-04-16 11:40] aurisnoctis commented on #432
@vojtechkral Thanks!

Didn't check for battery drain, but for me the reminders for today don't get regenerated. They just disappear for good whenever Simpletask is launched.

[2016-04-16 15:45] smichel17 commented on #432
I imagine it will be difficult not to regenerate calendar reminders until the backend identifies tasks by line number instead of my text.

[2016-04-17 04:31] vojtechkral commented on #432
@smichel17 Well, I can diff the task between the list and the calendar by text & date. The sync is also delayed to a thread so that it doesn't occur too often - I could also increase this delay. Right now it's just 1sec, which is probably too short.

[2016-04-17 16:25] vojtechkral commented on #398
@mpcjanssen Can you see some of those calendars? If so, could you run the following command for me:

    adb shell "sqlite3 '/data/data/com.android.providers.calendar/databases/calendar.db' 'SELECT name FROM Calendars WHERE name LIKE \"simpletask%\"'"

Thanks

[2016-04-17 16:26] vojtechkral commented on #398
Oh, sorry, this belongs under #431

[2016-04-19 15:59] aurisnoctis commented on #432
@vojtechkral Update: At the moment I don't receive calendar reminders anymore. I have updated Simpletask since my first entry in this issue, but I don't know if it could be related to that. My usual  calendar reminder configuration is: 0 days in advance at 08:00 for due dates. For testing purposes, I made a test task due tomorrow, and changed the config to 1 day in advance at <2 minutes from now>

[2016-04-20 09:50] vojtechkral commented on #432
@aurisnoctis Ok, thanks for the report. I am reworking the way events/reminders are created, so this'll probably change...

[2016-04-21 22:53] smichel17 commented on #411
@mpcjanssen I don't think you have started this, but I want to think about it some more. I'm going to close and re-open in a bit.

[2016-04-21 22:55] smichel17 commented on #411
Not that I think this version does anything worse than the current. But if a big UI overhaul is going to happen, it's best to make all big UI changes at the same time..

[2016-04-21 23:31] smichel17 opened #434 "Tri-state filtering"
It would be silly for me to have an `@next-action` list; 70% of my tasks would be on the list. So instead, in my filter that shows next-actions, I invert the context and exclude `@shopping` and `@wishlist` etc. When I'm looking at my next-actions, I prefer to sort them by tag than by list. I also want to be able to filter by ~~context~~ list, so I can see all the next actions I can do `@laptop`, f

[2016-04-21 23:34] smichel17 commented on #434
An alternative way to think about / display these states is:

- Unchecked: Like live
- Checked: Like live
- Double-checked: acts to Checked the way Checked does to Unchecked: as long as anything is double-checked, only double-checked things will be shown.

[2016-04-21 23:35] smichel17 commented on #434
Finally, I will also note that these are both somewhat temporary solutions, and thinking about a long-term solution is why I closed #411.

[2016-04-22 09:43] vojtechkral commented on #434
To me, this sounds waaay to complex and hard to understand for users...

[2016-04-22 13:19] smichel17 commented on #434
I think that with the proper visuals it would not be difficult to understand. That said I do not think either of my proposed solutions are the proper visuals.

That's why I noted that these would both be temporary solutions, not something that's acceptable long-term. Maybe that means we should just call them bad solutions and not do anything about this until we figure out what would be an acceptab

[2016-04-23 07:40] mpcjanssen opened #435 "Crash from play when changing font size."
android.content.ActivityNotFoundException: No Activity found to handle Intent { flg=0x14000000 (has extras) }
	at android.app.Instrumentation.checkStartActivityResult(Instrumentation.java:1801)
	at android.app.Instrumentation.execStartActivity(Instrumentation.java:1499)
	at android.app.ContextImpl.startActivity(ContextImpl.java:1616)
	at android.app.ContextImpl.startActivity(ContextImpl.java:1598)

[2016-04-23 07:41] #435 closed

[2016-04-23 07:43] mpcjanssen commented on #434
If you use Lua filtering this is fairly straightforward to achieve. So unless the visuals will be really intuitive, I think using Lua will be the saner option.

[2016-04-23 08:36] mpcjanssen commented on #128
@y2kbugger @smichel17 I personally dislike swipe actions if the app has a sidebar. I will always modify something while trying to open the sidebar. I find quick filter access much more important than swiping actions, so swiping is not likely to be added any time soon.

[2016-04-23 08:56] #180 closed

[2016-04-23 11:06] frankhommers commented on #245
I have the problem again, but not only with the widget also with the app. If I update the todo.txt externally the app and widget are not refreshed. (I don't know since when because I didn't use the app for a long time). Can I send SimpleTask an intent to force updates?

[2016-04-23 11:21] mpcjanssen commented on #245
@frankhommers can you send me a log of when this occurs? You can share a log from Settings->Other->View debug information

[2016-04-23 11:22] mpcjanssen commented on #245
Also I will consider adding an intent to force refresh.

[2016-04-23 11:50] jotwewe commented on #307
I just experienced this bug again using 7.2.2.

And, by the way, slowness has improved, but it is still much slower than some previous version (6.x?). Using those versions, there was no lag at all..

[2016-04-23 13:15] mpcjanssen commented on #431
@vojtechkral I don't see extra calendars, so I can't help with this.

[2016-04-23 13:17] mpcjanssen commented on #426
This should have been fixed in 7.2.2 please reopen if it doesn't work with the latest version.

[2016-04-23 13:17] #426 closed

[2016-04-23 14:20] smichel17 commented on #434
Yeah, that's what I'm doing right now, it just seems like a really awkward script:
[code]

[2016-04-23 15:01] vojtechkral commented on #431
Oh, ok, nvm. I presume those leftover calendars are from before I appended a random string to the Calendar ID. I'm a bit uneasy about removing calendars with the old name, but I suppose the user had to know what they're doing...

[2016-04-23 17:08] mpcjanssen commented on #434
Yes in this sense Lua is crappy. I would love to have a more expressive language instead of Lua. It would be nice to say `if x in {"[redacted]", .....`

[2016-04-23 17:09] mpcjanssen opened #437 "Investigate better scripting language"
Doing more complex filters in Lua can become quite verbose quickly. Investigate better options.

[2016-04-23 17:09] mpcjanssen commented on #434
See  #437

[2016-04-23 19:31] vojtechkral commented on #437
I'd vote for python, with its fairly clean syntax and its `in` operator. And also because it's quite easy to host/embed (although I've embedded it in a Java app).

I also heard Kotlin can be compiled to JS, so you could _in theory_ have the same language for implementation and scripting, however neither compiling to JS nor embeding JS are very convenient.

[2016-04-23 20:50] frankhommers commented on #245
I fixed it by (ab)using the existing intents. I set up tasker to listen for SYNC_DONE, to trigger the file synchronization.
I also set up tasker to sync on an interval, and after that it sends the intent UPDATE_UI.

This works flawless now, but I guess these intents aren't meant to be sent/listened for?

[2016-04-23 21:24] mpcjanssen commented on #434
In Tcl

[code]

translates to

[code]

So that's much less verbose. I have a working interpreter now. Just need to think about migration.

[2016-04-23 22:39] smichel17 commented on #434
How's Tcl performance-wise compared to Lua?

You had talked about a kotlin interpreter; is that still on the table and if so, does it make more sense just to wait for that?

[2016-04-24 08:22] vojtechkral commented on #434
In Python,

`if x=="hats" or x=="[redacted]" or x=="projects" or x=="media" or x=="shopping" or x=="wishlist" or x=="waiting" or x=="meals"`

becomes:

`if x in ["hats", "[redacted]", "projects", "media", "shopping", "wishlist", "waiting", "meals"]`

which is imho very nice...

I just found out there's this: https://github.com/andrewoma/kotlin-script

In Kotlin, it could be:

[code]

Which is nice

[2016-04-24 08:23] vojtechkral commented on #434
Actually, scratch that kotlin-script link, it seems they just use scripts to compile .kt files. Never mind :-(

[2016-04-24 10:24] mpcjanssen commented on #434
Yes kotlin doesn't have a very good embedding mode at the moment. JTcl is working out quite nicely though see #437 for some examples.

[2016-04-24 10:28] mpcjanssen commented on #437
@vojtechkral I will have a look at Jython but I am a Tcl person myself.

Anyway the head of the tcl branch now allows manipulation of the task display and filtering. There are two callback `onFilter task` and `onDisplay task tokens`. Neither of them modify the actual task.

This makes this example possible

[code]

[2016-04-24 10:29] mpcjanssen commented on #437
Also it is surprisingly fast. Probably not as fast as Jython though.

[2016-04-24 10:55] mpcjanssen commented on #437
It doesn't seem Jython is a viable option as it requires quite a lot of Java SE specific stuff (such as javax)

[2016-04-24 11:21] mpcjanssen commented on #437
JRuby uses invokeDynamic which DVM doesn't support.

[2016-04-24 13:17] ddisanti opened #438 "Re arrange some Help Guide menu items"
1. The "Donate" PayPal webpage link menu item should be moved from inside the Help Guide menu to the "Donate" sub menu inside the "Settings", alongside with the "Donate" Play Store donate key link for better usability/consistency.

2. "Log bug or feature request" menu item should be moved from inside the Help Guide menu to the "Settings" menu.

3. I'm running the last "Cloudless" version". When ta

[2016-04-24 13:18] ddisanti opened #439 "The PayPal webpage link is down"

[2016-04-24 19:34] mpcjanssen commented on #439
The link does work for me.

[2016-04-24 19:47] mpcjanssen commented on #438
1. I will look into this. But I think there was a reason I put it in help.
2. See 1.
3. There are no cloudless specific setting items. Removing the whole menu is not trivial. This has to do with using one code base for bot version. Will look into this as well.

[2016-04-24 19:48] mpcjanssen commented on #439
Link doesn't work from cloiudless because cloudless doesn't have internet permissions. I will try to use an intent instead.

[2016-04-24 19:50] ddisanti commented on #439
Ok, @mpcjanssen

[2016-04-24 19:51] mpcjanssen commented on #433
I suck at visuals, that said I am not willing to sacrifice ease of use for slickness and the current design maps my personal ease of use. Of course I am very open to suggestions. Also nice visuals are a lot of work and require time I rather spend on functionality.

[2016-04-24 19:52] mpcjanssen commented on #431
It would be nice if possible left over candidates are listed and you can check the ones you want to delete. I am aware that takes quite some effort to build though. A dialog with "really remove all calendars ............." yes/no is probably enough.

[2016-04-24 20:45] mpcjanssen commented on #245
@frankhommers I am surprised it even works. The are local broadcast events for the app. However the wat you are doing it now is what Simpletask itself also does (should do)
The SYNC_DONE event in the app should already trigger an UPDATE_UI so I wonder why it doesn't work without tasker tricks.

[2016-04-24 23:01] smichel17 commented on #438
Related: #423

[2016-04-24 23:08] smichel17 commented on #431
What about a middle ground? List all the calendars that would be removed in the confirmation dialogue for removing all. That way the user can check if any calendars they care about would be removed, without taking a leap of faith.

[2016-04-24 23:14] smichel17 commented on #433
Noted; I will try to keep new visuals to a minimum. Also it doesn't make sense to spend time on visual work until functionality is totally nailed down, at least with a team this size :stuck_out_tongue_winking_eye:

[2016-04-24 23:32] #439 closed

[2016-04-25 11:52] vojtechkral commented on #431
@mpcjanssen @smichel17 That sounds reasonable, I'll do that.

It bugs me that we have to supplement the Android OS here - manipulating calendars should be built-in functionality...

[2016-04-25 13:29] InfernallyT opened #440 "How do I delete/remove the Simpletask calendar"
Hey,
First of all very no nice app. How does one delete the Simpletask calendar once created. Do I have to uninstall the app? Thank you.

[2016-04-25 14:25] vojtechkral commented on #440
The calendar should be removed when you disable syncing of both due and threshold dates in the settings (Settings → Calendar reminders → uncheck first two checkboxes).

Let me know whether that works.

[2016-04-25 15:00] smichel17 commented on #431
@vojtechkral yeah. Maybe you could borrow code from davdroid?

[2016-04-25 15:04] smichel17 commented on #440
@vojtechkral Q: are they removed immediately or on next task list update? If it's the former, they would be more intuitive as sliders rather than checkboxes. Quoting myself from elsewhere, emphasis ~~mine~~ added now:

[2016-04-25 15:07] InfernallyT commented on #440
It worked thank you👍

[2016-04-25 15:07] #440 closed

[2016-04-25 15:30] vojtechkral commented on #440
@InfernallyT Great!

@smichel17 Calendar is added / removed when settings change, but with a delay in the background. I also plan on increasing this delay so as not to update the calendar provider db too frequently. The effect should never be immediate.

[2016-04-25 16:31] smichel17 commented on #432
@vojtechkral replying from #440.

Ok. The delay on task change is definitely a good thing, and also I think a user would expect that the calendars be created/deleted immediately when the feature is enabled/disabled in settings. Would that be a reasonable amount of work to implement?

[2016-04-25 16:57] vojtechkral commented on #431
@smichel17 Umm, I don't really see a reason to borrow their code...

[2016-04-25 17:03] vojtechkral commented on #432
@smichel17 It probably wouldn't be hard to implement, but I'm not sure I see the point. The delay is currently 1 second, I was planning to increase to about 15 seconds. I don't think the change can be immediately visible anyway as it takes a couple of seconds to switch from Simpletask to the Calendar app. Calendar apps also tend to have delayed refreshing.

[2016-04-25 21:36] mpcjanssen commented on #432
Line numbers are not a good measure for task identity, neither is the text itself. One of the disadvantages of a plain text format is that tasks don't really have an identity at all.

A possible approach could be to add event handlers for adding removing and updating tasks with a before and after so the appropriate calendar item can be add, updated or removed.

[2016-04-25 21:47] mpcjanssen commented on #394
there are two options, `file://` or any other local file URI which refers to a local file and `todo://` which refers to another todo file relative to the todo file. Having full file support for Dropbox is not going to happen any time soon.

[2016-04-26 08:07] vojtechkral commented on #432
@mpcjanssen I'm working on a diffing solution - generate events, read calendar, compare, update. I just haven't finished it yet...

[2016-04-26 14:13] smichel17 commented on #432
I'll just throw it out there that I've always found it odd that automatic calendar reminders are generated at a certain time of day.
- If I need to set a task for a specific time of day I'm going to create a reminder from it
- If I just need it done any time that day, I'd rather make it an all-day event.
  - All-day events would mean we can remove the "time of day" setting, too :+1:

[2016-04-26 14:18] smichel17 commented on #431
@vojtechkral I'd presume dav-droid has code for manipulating calendars.. If what they do isn't useful for us then whatever, I was just responding to "manipulating calendars should be built-in functionality.

[2016-04-26 14:53] smichel17 opened #441 "Custom font size input setting"
Maybe it's different on an actual device, but on AVD Nexus 5X, the implementation is really odd, because it reloads the view as soon as the setting changes, even if I haven't let up on the slider.

You could fix this by waiting until the user lets go of the slider to update, but I would encourage you to use a [simple menu](https://www.google.com/design/spec/components/menus.html#menus-simple-menus

[2016-04-26 14:56] smichel17 commented on #394
@mpcjanssen Is that for cloudless, dropbox, or both? Is it planned or implemented? Is it replacing root:// links or in addition to them?

[2016-04-28 15:40] mpcjanssen commented on #432
The disadvantage of all day events is the alarm occurs somewhere around midnight. All day events with customisable alarm time don't exist. So for me the setting makes sense.

[2016-04-28 15:46] mpcjanssen commented on #394
@smichel17  that's for both. I forgot about the root:// option which also still exists.

There really are 3 options:

1. todo:// : open a todo file on the storage (Dropbox or cloudless) relative to the opened todo file
2. root:// : open a local file relative to a define root using an Intent
3. anything other URL (such as http:// or file://) : open the Url using an Intent

[2016-04-29 19:28] smichel17 commented on #432
@mpcjanssen Can you explain what you're looking to get out of this feature / how you use it & your calendar? My explanation is:

Tasks that need to get done at a certain time, I put on my calendar for that time. Tasks that need to get done on a specific *date,* I do not want a reminder for (because that would imply they're due at that time). The reason I'd want them on my calendar at all is so my

[2016-04-29 20:05] aurisnoctis commented on #432
Hey all,

I started using the calendar reminder feature so I don't even have to remember to open SimpleTask for due tasks on a given day.

I choose calendar reminders "0 days in advance" so they automatically appear as notifications on that day (at the time I specify).

I'd like the notifications to stay until I manually dismiss them.

The time at which the notifications appear has a user-friendly

[2016-04-30 15:57] smichel17 commented on #432
@aurisnoctis Thank you, that was very useful.
You still need to open Simpletask to check off those tasks at some point, right? If Simpletask put reminders in the status bar itself, and when you dismissed them it automatically completed that task, would that be a more convenient workflow for you?

@mpcjanssen @vojtechkral I'm not saying we should do this particular solution; it's meant to illustrat

[2016-04-30 16:30] aurisnoctis commented on #432
@smichel17 I don't mind manually dismissing the calendar reminder before or after diving into SimpleTask.

The completing of a task by manually dismissing the reminder is probably not desirable as dismissing the reminder is rather a "don't remind me now/today" (delaying it to a later time) than a "done".

I am looking forward to how this develops! The one thing that would make me happy is if calen

[2016-04-30 18:45] smichel17 commented on #432
@aurisnoctis It was a direction to go in, not a completely worked out idea :P
To flesh it out a little more (though still not complete): I swiping the notification away would likely only dismiss the notification; there'd be an action in the notification's dropdown to complete the task and maybe also one to change the due and/or threshold date.

[2016-05-01 15:30] vojtechkral commented on #432
@smichel17

Hmm, I don't see how calendar helps you with these, surely you could have simpletask show you the tasks that are due today, couldn't you?

As far as I recall this is @mpcjanssen said this was out of Simpletask's scope (and I can see why), sorry.

My usecase is as follows: Ocasinally I get tasks that are due at a specific date & time a further away in the future. For example, a doctor's

[2016-05-02 13:54] smichel17 commented on #432
I can and do, but I wish I didn't have to. I'd like them on my calendar because I follow GTD's recommendation of using the calendar only for truly time-sensitive stuff (as opposed to "I want to get this done today but I could technically postpone it"). Then Simpletask is for things with no concrete due date. The corollary is that I'd like *all* time-sensitive things to end up on my calendar, so it

[2016-05-02 18:10] vojtechkral commented on #432
I'm using Etar too... It's not bad but... The calendar app on my old Nokia dumbphone was still more effective :)

[2016-05-06 14:31] djibux opened #443 "Use the same icons in the main view and edit view"
Hello,

Most of the time I add tags, lists or priorities from the main screen.
Some of the time I do it from the edit screen.

I wonder why the icons in those two screens are different: it always confuses me.  It would seem much more coherent to me to just stick with one representation, for instance "priority" should always be either :star: or `(.)`.  Either one is OK, but I find having both confu

[2016-05-08 12:50] smichel17 commented on #443
They're different because the main screen adds priority, lists, tags, etc to all tasks selected, where the edit screen only does so to the task that the cursor is on.

This may be an insufficient reason to change them, but you should also read #128 and related discussions since they are relevant here.

[2016-05-08 13:40] djibux commented on #443
I see.  I don't edit multiple tasks from the edit screen that much.

Well, the shift functionality would work for me I guess…

[2016-05-08 18:47] #421 closed

[2016-05-08 19:17] mpcjanssen commented on #443
@djibux I think making the icons consistent makes sense. I am not sure why I made it different in the first place. Probably because the add task screen shows the actual plain text.

[2016-05-08 19:19] mpcjanssen commented on #441
this has to do with the way the slider updates the setting. i think a simple preference list would be better.

[2016-05-09 08:12] mpcjanssen opened #444 "Sharing tasks can crash if no targets"
When sharing from Simpletask, if there are no text intent targets, a crash will occur.

use `if (intent.resolveActivity(getPackageManager()) != null) ` to check if there are activities responding to the event

[code]

[2016-05-09 09:33] mpcjanssen opened #445 "Grouping by threshold and "Create is threshold" not working correctly"
When using the option “create is threshold”, and sorting “by threshold date”, items are sorted properly but tasks without threshold are grouped in blocks called “none”.  I would expect them to be grouped by threshold/creation date.

[2016-05-11 20:33] mpcjanssen commented on #307
@jotwewe the remaining slowness is a tradeoff between being fast and cleaning the tasklist at occasion and being a bit slower but keep the tasks.
If the duplication occurs again, could you send me a copy of the log (from Settings->Other->View Debug information?

[2016-05-12 10:32] mpcjanssen opened #446 "Crash if no calendar content provider on device"
[code]

[2016-05-12 19:49] vojtechkral commented on #446
Eh, some xposed hackery it seems.

[2016-05-13 17:34] mpcjanssen commented on #446
I don't think this is caused by xposed per se. Simpletask should not crash if there is no `com.android.calender` content provider. But low prio.

[2016-05-14 17:13] vojtechkral commented on #446
Well it needs to be fixed either way...

[2016-05-15 02:10] laserstrike commented on #412
To add to this, maybe a more minimal widget design option can be added?

I mean, for those who would desire it, adjusting its appearance so that one can remove the task dividing lines, perhaps replacing the need to visually separate them with bullet points in front of each task instead. And an option to completely remove its headerbar because even with full transparency in the dark theme, there's

[2016-05-18 09:34] thomas-mc-work opened #447 "Feature request: open storage backend"
Hello,

I would appreciate to use Simpletask with [the remoteStorage project](https://remotestorage.io/) as an option to store the data instead of dropbox. This is an open approach to host the data on your own server. I could help to implement the adapter, but I'm unable to do any interface work in the app.

What do you think?

[2016-05-20 08:15] mpcjanssen commented on #447
@thomas-mc-work I will not implement additional storage adapters directly in the application. The maintenance burden for added APIs is too high.

For storage providers other than Dropbox the recommended way is to use Simpletask Cloudless and to use another app to do the synchronisation.

I am not sure if there is an Android application to do this sync though (couldn't find one with a quick look)

[2016-05-20 08:48] thomas-mc-work commented on #447
What if you would exclude the storage adapters form the main project into separate projects? And then they could be included as a plugin. This way you can free yourself and the actual development from the storage issue. Maybe then you also get more community contributions to the dropbox api as this project is more flexible and usable for other projects.

[2016-05-23 07:09] mpcjanssen opened #448 "Amoled black theme"
It would be nice if there is a completely black theme.

[2016-05-23 07:10] mpcjanssen opened #449 "Custom fonts"
It would be nice to have the option of customizing the font (for example to a monospaced one)

[2016-05-23 14:00] smichel17 opened #450 "Does simpletask recreate the todo.txt file on write?"
I sync my todo.txt file with owncloud. It'll only auto-upload/download when you 'favorite' a file, otherwise it'll wait to sync manually.

This used to work great, but some time recently, every time simpletask writes the todo.txt file, the 'favorite' property is lost.

I just wanted to make sure that simpletask isn't doing something like deleting and re-creating the file instead of just writing to

[2016-05-23 16:52] smichel17 commented on #432
I'm not sure if this changed, but my simpletask reminders are now showing up as all day events that also have a non-midnight reminder time (-17 hours before the event, haha). This is nearly perfect! The only additional thing I'd like is the option not to set a reminder at all.

Also, found out that the AddTask activity can run over the lock screen by default so no need for xposed for that (the sam

[2016-05-23 22:32] ddisanti commented on #448
@mpcjanssen that would be very nice!

[2016-05-24 17:23] sttrebo opened #451 "Completed items contexts"
not sure if it's a bug or i'm missing a setting.  but when i mark a task as complete and it is the only task with a specific context.  the context still shows up in the main screen.  is there a way of removing it from the main display screen?

[2016-05-25 13:20] smichel17 commented on #451
It's a bug. (or a feature, depending on how you look at it. Personally I look at it as a bug).

[2016-05-25 15:11] sttrebo commented on #451
could be a nice feature if there was an option to turn it off..

[2016-05-25 15:43] smichel17 commented on #451
Ehh. If I wanted to see completed tasks I'd show completed tasks. If I'm hiding them it's because I don't want to see them.

[2016-05-28 19:55] smichel17 opened #452 "Sort before filtering with script"
The ability to limit the number of tasks shown in a filter is cool, but mostly useless because it's applied in file order.

Instead, all other parts of a filter should be applied before the script.

[2016-05-29 18:56] mpcjanssen commented on #447
@thomas-mc-work that's a great idea but i don't have a clear idea of how to build this.

[2016-05-29 18:58] mpcjanssen commented on #450
Simpletask doesnt delete the file. It does truncate the file and rewrite it.

[2016-05-29 19:00] mpcjanssen commented on #451
There is a way to remove it by archiving tasks. If you don't archive i could agree this is a bug. Well consider adding a setting.

[2016-05-29 19:03] mpcjanssen commented on #452
The reason the filter comes before the sort is that the sort is generally slower so filtering first improves performance. The limit number is a side effect of using a single context to filter all tasks anyway.
I agree the filtering really should come after the sort but with headers and all that's not easy to change.

[2016-05-29 20:52] smichel17 commented on #450
Still definitely sounds like a bug on owncloud's end.

[2016-05-29 20:52] #450 closed

[2016-05-29 20:53] smichel17 commented on #451
I do archive but I do it every couple days, not immediately on completion.

[2016-05-29 21:08] smichel17 commented on #452
I think the script has two functions:

1. To allow particularly complex filtering that it would be impossible to offer with the native interface.
2. To make the app usable when there's places that the native interface falls short.

Any uses that fall under (2) are places where we should look to improve the native interface. I have some ideas, nothing all the way worked out yet. I'll update & re-op

[2016-05-29 21:37] smichel17 commented on #447
Could you send the list contents via intent, and then a storage adaptor picks that up? And vice versa -- when the adapter picks up a changed file, it'll send an intent to simpletask.

[2016-05-30 13:47] ddisanti commented on #449
@mpcjanssen that would be nice. I have a file from which I import list items with their data already ordered and fixed. Then I use the iFont app to apply a monospaced font (Inconsolata font) to Simpletask. When viewing the task list it shows like they were columns. The final result is just neat.

[2016-06-01 18:08] ndemou commented on #130
Out of curiosity, after 1 year did your prediction for very rare conflicts turned to be accurate? I've been using todo.txt app for 2 months and had one conflict and it was silent (I only found out by accidentally looking at the dropbox folder). Got really worried, started googling and found your app and this issue.

[2016-06-02 21:07] smichel17 opened #453 "Developer-signed apk"
Advantage: [better security model](https://github.com/WhisperSystems/Signal-Android/issues/127).

Disadvantage: the [current process](https://f-droid.org/wiki/page/Deterministic,_Reproducible_Builds) seems a little cumbersome.

I'm not sure if this is something worth the hassle of doing right now, but it is something I'd encourage you to set up in the long term, so I figured I'd create an issue of

[2016-06-03 11:51] mpcjanssen commented on #130
Conflicts can indeed happen (easily) the never going to happen was meant as I will never include merging in simpletask. I can add a notice if a conflict has occurred (and a conflicted copy is created )

[2016-06-03 11:52] mpcjanssen opened #454 "Give feedback if a conflict occured"
Currently  simpletask silently creates and opens a conflicted copy if a conflict occurs. Make this more visible.

[2016-06-03 11:53] mpcjanssen commented on #130
See #454

[2016-06-03 12:49] mpcjanssen commented on #452
@smichel17 that proposal makes sense. General rule should be

[2016-06-03 12:52] mpcjanssen commented on #447
Intents are limited in size (IIRC) this would probably require a content provider. Regardless this is quite a bit of work. Although the architecture

Simpletask -> IPC -> Storage Provider looks nice and expandable.

[2016-06-04 12:07] mpcjanssen opened #455 "Stackoverflow when loading filter"
[code]

[2016-06-05 03:38] ddisanti opened #456 "When the "Set reminder" option is applied, due date should be automatically picked."
I would like to see that when the "Set reminder" option is applied to a single task and the Calendar opens, the due date is already selected.

[2016-06-05 09:14] #456 closed

[2016-06-06 11:07] mpcjanssen opened #457 "Investigate taskwarrior backend"
Taskwarrior has several advantages:
- It has a proper sync implementation based on a server that can be hosted on your own device
- As a result it has proper task identity
- It's completely open (JSON data store and opensource)

It would resolve the main issue I have with todo.txt which is conflict resolution and reliable sync.

[2016-06-06 14:45] smichel17 commented on #457
If you did this, I hope there would still be a way to support using a todo.txt file. todo.txt is one of the major draws of the app for me (and actually the reason I found it in the first place -- I was looking for todo.txt apps).

[2016-06-06 15:28] mpcjanssen commented on #457
This is intended to become a storage backend. Todo.txt is not going anywhere.

[2016-06-06 15:29] mpcjanssen commented on #457
The thing I dislike about todo.txt as a backend ia that you dont have a task identity. So syncing doesnt work very well.

[2016-06-06 15:45] ddisanti commented on #457
I've tried Taskwarrior a few months ago. Although it looks promising, it wasn't mature enough and the fact that configuring a server added extra complexity that I dislike. In terms of functionality, SimpleTask is just great. I think it just needs more work on UI to go from great to awesome.

[2016-06-06 15:55] smichel17 commented on #457
@ddisanti if I understand correctly, switching backends is an issue on the dev side of things: no task identity means some features are more work to implement than they should be.

re: UI, not sure if you've seen #411. I don't agree with all my thoughts at the time (which is why that issue is closed, pending new thoughts and sketches).

[2016-06-06 16:05] ddisanti commented on #457
@smichel17 I've seen #411. It looked very promising. Until it was close I was eager to see it implemented.

[2016-06-06 16:16] mpcjanssen commented on #411
Reopened for the mockups

[2016-06-06 16:19] mpcjanssen commented on #457
The rationale behind all this is that brilliant as todo.txt is, it has two major drawbacks.

1. It's a single text file which is very easy to destroy.
1. It doesn't have a task identity which make syncing and merging hard.

I am investigating different storage backends to remedy both issues.

[2016-06-06 16:20] mpcjanssen commented on #457
Btw i reopened #411 be to keep the mashups in my attention

[2016-06-06 16:21] smichel17 opened #458 "Simpletask Use Cases"
I'm thinking through some design changes (#485). I'd like to do the best I can for everyone's use case, so I want to gather feedback about how people use Simpletask.

I will keep the second comment on this issue updated with information I'm _particularly_ interested in -- but if there is information you think is important that I didn't ask about, please include that too!

In the 3rd comment, I wil

[2016-06-06 16:22] smichel17 commented on #458
The following is the first iteration of the design, currently still being iterated on.

[2016-06-06 16:28] smichel17 commented on #457
I split it into two issues since one of them (#411) is actionable right now and I am re-thinking the other (#458).

[2016-06-06 18:11] smichel17 commented on #458
@ddisanti @mpcjanssen @vojtechkral also \@anyone else who uses the app regularly and sees this

The goal here is to bring information and often-used functions closer to the top and move less frequent actions further back.

**What are actions you do most often? What actions do you perform very rarely?**

For example, #434 reflects an action that I commonly want to perform, but is cumbersome. The pr

[2016-06-06 20:00] ddisanti commented on #458
@smichel I use SimpleTask in a very simple manner.
I use the "Sort" function very often in this way:
1. By priority
2. By due date
3. By list
Of course, from time to time, I check the list filtering by list and tags using the left drawer.
Then I have two very simple Lua filters for tasks with due dates within the next 7 and 30 days. Also use a lot the "Search" function. Finally, "Set reminder" is

[2016-06-06 20:12] ddisanti opened #459 "Add extra functionality to "Search" function"
I would like to be able to search using basic regexp and/or multiple (sub)strings.

[2016-06-07 10:36] mpcjanssen commented on #459
I will look into some simple fuzzy searches (for example fzf) I don't think I will add regexp.

[2016-06-07 10:44] mpcjanssen commented on #459
Something like a combination of:

- Substring matching, task matches if it contains all the space separated strings regardless of order
- Fuzzy matching, task matches if the letters of each substring occur in the same order in the task

[2016-06-07 11:19] ddisanti commented on #459
I would go with fuzzy matching. I use KISS Launcher [https://play.google.com/store/apps/details?id=fr.neamar.kiss](url) . It has a nice and very flexible Search. I attach an screen capture of it.
![screenshots_2016-06-07-08-08-53](https://cloud.githubusercontent.com/assets/17773786/15855799/e4e3e32e-2cb1-11e6-8711-99c2c4c43747.png)

[2016-06-07 15:10] mpcjanssen commented on #459
Yes that is what I was thinking of too.

[2016-06-07 19:29] #459 closed

[2016-06-09 07:49] thomas-mc-work opened #460 "Investigate remoteStorage backend"
[remoteStorage](https://remotestorage.io/) is an open protocol for per-user storage on the Web.

- It's completely open
- There are several server implementations (e.g. cozy cloud)
- ~~It would resolve the main issue with todo.txt which is conflict resolution and reliable sync.~~

[2016-06-09 13:10] mpcjanssen commented on #460
I don't see how this helps with conflict resolution, can you give a pointer?

[2016-06-09 13:40] thomas-mc-work commented on #460
You're right, it won't overcome this issue.

[2016-06-09 13:58] jumper047 opened #461 "Filtering calendar export"
Please, add ability to automatically set reminders only for tasks with specific attributes.

[2016-06-11 13:22] vojtechkral commented on #461
This could be done by leveraging existing filter infrastracture ... ie. create a named fileter and tell calendar sync code to use that for filtering. However I'm going to have to get the calendar code in shape in the first place...

[2016-06-12 17:11] mpcjanssen commented on #461
There is already a specific attribute for exporting a calendar item (due: date) it's also possible to make reminders for single tasks. @jumper047 please provide an example of a workflow or a usecase where this is not enough?

[2016-06-12 18:51] jumper047 commented on #461
Let's say I have entries in the inbox - it is necessary to buy a new ear pads for headphones, for documents to come on Friday and owncloud update on the server. After processing, they are transformed:
(D) to buy a new ear pads for headphones @money t: 2016-07-11
(B) on the server to update owncloud
(A) to come for documents t: 2016-07-03

The point is that the time in the problem (D) - a time when

[2016-06-13 06:37] vojtechkral commented on #461
@jumper047 BTW, you are using calendar reminders for tasks with a threshold date?

[2016-06-13 07:27] jumper047 commented on #461
Yes. Is this wrong?

13 июня 2016 г. 9:37:58 GMT+03:00, Vojtech Kral <notifications@github.com> пишет:

--
Простите за краткость, создано в K-9 Mail.

[2016-06-14 07:47] vojtechkral commented on #461
@jumper047 No, it's now wrong, it's just that I previously thought no one was using threshold sync and planned to remove it. I guess I'll preserve it then...

[2016-06-16 08:07] Alphalpha007 opened #462 "Make font size scaling of notes and menu separate"
Right now, changing font size changes the size of menu items also.

[2016-06-16 13:49] smichel17 commented on #458
@ddisanti Why do you use "Set reminder" instead of simpletask's "calendar reminders" feature?

[2016-06-16 15:23] ddisanti commented on #458
@smichel @vojtechkral I use "Set reminders" option because I don't need reminders for all my tasks. Some of them I just only need to remember from time to time, so I marked with some level of priority. Because my list is ordered first by priority and then by due date, those task are always on top of the list until I'm done with them.
Regarding to the "Set reminder" option, I use it because I'm not

[2016-06-16 17:09] smichel17 commented on #461
@jumper047 Out of curiosity, why use the reminder for threshold date instead of due date?

[2016-06-16 17:17] jumper047 commented on #461
I always thought, that threshold is date I planned to do something, and due is deadline. Is it wrong? Really,I never use due. Seems like I am doing something wrong :/.

16 июня 2016 г. 20:09:35 GMT+03:00, smichel17 <notifications@github.com> пишет:

--
Простите за краткость, создано в K-9 Mail.

[2016-06-16 18:44] colinsullivan commented on #457
I hadn't heard of taskwarrior before.  Interesting!

FWIW:

I've been using BitTorrent Sync on my android & OS X machines.  It generally works very well.  The downsides for me:

* Although BitTorrent's NAT traversal tech is quite robust, sometimes it takes a bit of trouble for my phone and laptop to find each other.  Because of this, I am in the habit of checking to make sure they are synced when

[2016-06-16 19:30] ddisanti commented on #461
@jumper047 I don't think you're doing something wrong. SimpleTask and the todo.txt "standard" are so flexible that allow they people to have very different approaches or workflows. And you should use the one that suits you better.

[2016-06-16 21:29] smichel17 commented on #458
@ddisanti I don't quite understand how you use priority and due date, particularly how the two are related?

I understand what you mean by "monolithic", so it's a good enough word :) I agree with the shortcomings of this implementation. I think with a little bit of design work and a little bit of backend work, "calendar reminder" functionality will make "set reminder" functionality obsolete.

[2016-06-16 21:32] smichel17 commented on #462
Duplicate of #260

[2016-06-16 21:39] smichel17 commented on #301
So this happened, but then there's #441.

@gastus1 Would an added option of "Medium-large" fix your issue, instead of making font size fully configurable?

[2016-06-16 21:53] smichel17 commented on #461
+1 to what @ddisanti said. There is no right or wrong. That said, if you never use due date, @vojtechkral could remove threshold reminders and you could just use due date as a replacement. Here's how I use threshold and due dates:

I have always thought of threshold date as "I can't do this task or don't need to think about this task until then."

- For example, I have a task related to upgrading

[2016-06-17 09:43] mpcjanssen commented on #461
As @ddisanti I use threshold dates in exactly the same way as @smichel17 . I almost never use due dates, time critical tasks are in my calendar.

[2016-06-17 09:44] mpcjanssen opened #463 "Menu colors don't match theme"
The background color of the menu doesn't match the theme.

[2016-06-17 10:23] ddisanti commented on #458
@smichel as I said, my list is ordered by priority and then by due date. On task with due date, I use priority on task which need an urgent initial action, as a (sort of) replacement for threshold date. Once that action gets done, I clear the task priority and I just leave due date for reminders. On  some task without due date, I use low priority just to keep them on top of my list. In short, I us

[2016-06-17 11:55] ddisanti commented on #463
@mpcjanssen I was just thinking about that yesterday when checking for new issues to view and saw #448. But I was thinking the other way around: to get an almost complete black theme you have to change the main views background to black

[2016-06-17 17:47] smichel17 commented on #461
I'll also mention, I also use threshold dates like GTD's tickler file for someday/maybe projects and tasks. Things that I'm definitely not going to do right now but I want to be reminded of in a couple weeks or months. For example, a language I want to learn.

I have a filter set up called 'INBOX' that shows all tasks with no lists or no tags (it's actually more complicated but that's the gist of

[2016-06-17 17:56] smichel17 commented on #463
I would recommend both, in this case. Have:

- a light theme -> no changes
- a dark theme -> ~~menus~~ drawers have the same background color as the theme
- a 'night' theme -> the main view background is black and the accent (and headerbar) color is gray.

F-droid does it similarly to this (their night theme is not quite the same) and it's *really* nice.

[2016-06-17 19:56] smichel17 commented on #458
Okay. I understand now.

I do something similar, but using more preset filters:

- `SHORTLIST` includes only tasks that have a priority set.
  - I use it as an easy way to keep track of my top couple priorities -- the things I'd like to do today.
- `NEXT ACTIONS` is generated by a script that filters out some non-todo lists (eg. shopping).
  - There's actually 3 different filters: `NEXT ACTIONS by

[2016-06-17 23:51] jumper047 commented on #461
Ok, i understand:). But the main reason for me to use thershold as planned
date - ability to hide tasks in future. I have filter named "today", that
includes tasks without date, and tasks with current date. If i planned
something for today week ago, i'll 1) got it in calendar 2)automatically
have it in "today"list, when it needed. In simpletask, i can't to do it
with due.

2016-06-17 20:47 GMT+03:

[2016-06-17 23:53] jumper047 commented on #461
Hmm, by the way - emacs org-mode has nice feaure - block agenda.  Some
blocks with different filters in one list. May be it is possible to add
something like this to SimpleTask?

2016-06-18 2:51 GMT+03:00 Dmitriy Pshonko <jumper047@gmail.com>:

[2016-06-18 07:52] vojtechkral commented on #461
Okay, I'll see if I could keep threshold sync as well...

[2016-06-18 09:23] #462 closed

[2016-06-18 09:29] mpcjanssen commented on #461
@vojtechkral it should be easy to retrieve a date from a task based on due date and threshold date in such a way that you always get the right one for putting it on the calendar (for example due date wins)
Add an extension method getCalendarDate to Task in the CalendarSync.kt use that and threshold and due date differences are gone and the functionallity is easily extensible to other future dates

[2016-06-18 09:55] mpcjanssen commented on #461
@vojtechkral something like:

[code]

[2016-06-18 12:10] smichel17 commented on #461
@jumper047 I believe you can actually do that with due, using a Lua script.

[2016-06-19 10:27] jumper047 commented on #461
@smichel17 , yes, i can:). So, my case is not necessary now - i will use due date as sheduled, and threshold as "think later about it".

[2016-06-19 10:41] jumper047 commented on #192
@mpcjanssen, +1 for this. Don't use android calendar at all, but it is very conveniently on smartwatches (i use Pebble with timeline interface). I need to set reminder manually for every planned task:(.

[2016-06-19 20:48] vojtechkral commented on #192
I do this by simply appending the time to the task. For example `Dentist due:2016-07-15 11:00`. Not perfect but works fairly well...

[2016-06-19 21:12] smichel17 commented on #192
@mpcjanssen @vojtechkral Would it break anything if we allowed simpletask to support timestamps with `due:YYYY-MM-DD:HH:MM`? Then calendar reminders could create appointments at the given time (or at a default time).

I'm not advocating that we do this. I am curious how much compatibility we'd break, doing it, so I can form an opinion about whether we should or not.

[2016-06-19 21:15] jumper047 commented on #192
@smichel17, IMHO variant with due:YYYY-MM-DD HH:MM is better. As vojtechkral, i also use it. And it don't break anything.

[2016-06-19 21:15] smichel17 commented on #192
Or maybe we could just formalize the way @vojtechkral does things: if there is a task with a due date, any string with the form `HH:MM` or `HH:MMam`/`HH:MMpm` could be interpreted as the desired time to set the calendar appointment.

[2016-06-19 21:40] smichel17 commented on #192
Here's some questions to think about / my conclusions:

Say I have an existing task, `dentist at 11:20` and then I use simpletask to add a date to it. Is the result `dentist at 11:20 due:2016-06-23` or is it `dentist at due:2016-06-23 11:20`? Seems like it should be the first one. Does the calendar appointment that gets added start at 11:20 or at the default time? Again, seems like the first.

Wha

[2016-06-19 21:59] jumper047 commented on #192
Oh, i understand right usecase for reminders:D. I think, if I create a task "dentist at 11:00 due:2016-06-22" Simpletask automatically adds an entry in the calendar of the specified date and time. If I want to remind myself that I need to go, I create reminder, and set the time 10:20.
About position - it better to be position dependent, i think. For example - "Make a bet for 10:12 on next match du

[2016-06-20 15:12] vojtechkral commented on #192
This idea comes up every now and then (such as in #370 and #210), but is hard to get right without breaking too many things or making things very complicated.

[2016-06-20 18:41] smichel17 commented on #210
FWIW, @mpcjanssen, maybe you got this from MYN, but it also seems to be a part of GTD; it's an implementation of the tickler file.

[2016-06-21 16:36] smichel17 commented on #192
@vojtechkral @mpcjanssen What do you think about this idea?
---
1. Remove the current automatic calendar reminder feature entirely.
2. Support a new extension: `rem:YYYY-MM-DD:HH:MM`.
  - Any task with this extension will have a calendar reminder be created on that date at that time.
  - If no time is given (just `rem:YYYY-MM-DD`), add it to the calendar but do not set any reminders.
  - Multiple

[2016-06-23 06:31] vojtechkral commented on #192
@smichel17 I'm not sure about that. It could work, but from my experience so far I'd say trying to turn Simpletask into a calendar/scheduling app doesn't work well without making it complex. Even your proposal sounds fairly complex, although it is probably the best one so far...

The root problem - the root of all evil - and the reason why I started trying to solve the problem in Simpletask in the

[2016-06-23 16:52] smichel17 opened #465 "Design Philosophy: Simplicity vs Flexibility"
There's a crossroads at each design decision: choose one way, or offer a setting. It's a fundamental tradeoff between power/flexibility and simplicity/ease of use; while some tradeoffs are better than others, the tradeoff always exists.

On one extreme, you could choose to always offer every choice. And then you'd end up with an app that's little more than an interpreter. Sure, that's maximally fl

[2016-06-23 17:31] smichel17 commented on #192
@vojtechkral in the context of #465..

I agree with you that Simpletask is not a calendar app or calendar-managing app and should not be, and the real solution is a good calendar app for android. I'd be happy to work with you doing UX work on your etar fork.

I think it's important to distinguish between backend complexity and UX complexity. My solution may be more complicated in the backend, but