[2016-06-23 18:05] mpcjanssen commented on #465
@smichel17 I agree on most parts. I am favoring opinionated software more and more, it prevents the tirrany of choice. However, see below...

One main reason so many settings got introduced was because I wanted to change the behavior of the app, but didn't want to break existing workflows (hence a setting was needed). So for Simpletask I currently aim for:

- Opinionated defaults. The defaults sho

[2016-06-23 18:54] mpcjanssen commented on #192
I favor leaving everything as it is. I can see the use for auto syncing all due dates or setting specific reminders.
But to make a full blown calendar out of it goes beyond what simpletask should be. Its not a calendar app.

[2016-06-23 18:55] mpcjanssen commented on #192
Only thing to consider if adding a time shortcut is a option.

[2016-06-23 20:25] ddisanti commented on #465
@smichel First of all, I want to say that having almost zero dev skills I can't contribute with nothing but modest opinions to this project.

I think we all agree that the todo.txt method, for some reason, is mostly embraced by power users or people with some IT skills level. And also SimpleTask.

Having clear its targeted users, I don't see a bad thing to have (too) many settings to tweak if that

[2016-06-24 00:37] smichel17 commented on #465
@mpcjanssen I'd like to know more about how most users use the app. Would you be opposed to adding a one-time popup or something encouraging people to email you (or me, or comment on an issue here) explaining their workflow, so we can strive to break as little as possible?

@ddisanti I pinged you because I've seen you around in the issues of this repo enough that you seem like one of the more invo

[2016-06-24 00:59] smichel17 commented on #192
I am a little confused. In my mind, my proposal makes simpletask less like a calendar app.

Automatic reminders based on due date seems more like a calendar app to me than manually adding reminders via a todo.txt extension. I think reminders are also more fitting than due dates. Due dates should go on your calendar. Although I don't think you should need reminders either, they seem to be much more

[2016-06-24 07:00] mpcjanssen commented on #465
@smichel17 I would love to get more feedback on workflows, I am however not willing to break any workflow. I think for a lot of users the went to Simpletask because it's the only app flexible enough to support their workflow.
If I would take away this flexibility (and thus their workflow) they will be (rightfully) annoyed. I think we should look into areas where functionality can be improved or ge

[2016-06-24 14:19] #455 closed

[2016-06-24 14:34] krayon commented on #192
Regarding date formats, currently YYYY-MM-DD complies with ISO8601 ( https://en.wikipedia.org/wiki/ISO_8601 ) and I would encourage continued compliance regardless of what solution is chosen. This taken the form YYYY-MM-DD'T'HH:MM ('T' being literal), eg: 2016-06-25T00:33.

[2016-06-24 16:04] mpcjanssen commented on #192
@krayon , the date format will not change. Besides possibly breaking ISO8601 compatibility, it will also break the dates in other todo.txt clients, so that's not an option.

Again for this issue, the only thing I am considering is if I want to add a time picker. I will consider @smichel17 's idea separately. I have less problems with introducing a new extension if it makes sense.

[2016-06-24 16:12] mpcjanssen commented on #460
Since this wont solve any merge issues any better than all the other file based synchronizations, this will not become a part of Simpletask itself.

[2016-06-24 16:12] #460 closed

[2016-06-24 16:15] mpcjanssen opened #466 "Add custom reminder extension and use that for calendar syncing"
As raised in #192 by @smichel17 a general reminder extension could be introduced which also allows specification of a time and which would be automatically synchronized with the calendar.

[2016-06-24 16:15] mpcjanssen commented on #192
For any general reminder discussion, please see #466

[2016-06-24 16:18] mpcjanssen commented on #437
Retried Jython, but it's a mess of dependencies (the jar is 25MB!) so Jython is out.

[2016-06-24 16:25] mpcjanssen commented on #457
Taskwarrior is too complex to set-up (especially the server `taskd` part). I will not continue with this,

[2016-06-24 16:52] smichel17 commented on #465
@y2kbugger

[2016-06-24 16:54] smichel17 commented on #460
For anyone who ends up here in the future, see #447

[2016-06-24 16:56] smichel17 commented on #466
Also from #192 by @krayon, an improvement on what this todo.txt extension should look like:

[2016-06-24 16:58] smichel17 commented on #466
The proposal quoted above was (1) Remove automatic calendar reminder functionality, and (2) Replace current "add reminder" functionality with a todo.txt extension as described above.

It occurs to me that we don't strictly need to do (1) in order to do (2).

[2016-06-24 20:01] vojtechkral commented on #466
The ISO format was what I proposed in one of the old threads as I recall.

But more to the point, this doesn't work well with my workflow. Usually I want reminders for tasks that are due far in the future (such as appointments, meetings, payments, etc.). With the `rem` extension as proposed, I'd have to fill in twice as much information - the due date (and often also time) _and also_ the reminder

[2016-06-24 20:50] jumper047 commented on #466
@voktechkral, I think break compatibility with original format is bad idea. May be it is possible to add due: and rem: with one action, with checkbox "add reminder" in due picker.

[2016-06-24 21:56] smichel17 commented on #466
@vojtechkral:

Complex from a UX perspective or a backend perspective?

If a due date is set for a task, there should be an "on due date" option for the reminder to make that quicker.

More to the point: can you tell me about your workflow? What kind of reminders do you want to set and why not say them through your calendar, aside from calendar applications being not up to par?

[2016-06-25 07:34] mpcjanssen commented on #466
I think this should be an additional check box beside threshold and due date.

[2016-06-25 08:21] mpcjanssen commented on #466
How about a part of the Lua script that allows a reminder date and time to be calculated from any task, so analogous to filtering due and threshold can be used from UI, anything else can be used from Lua and takes precedence over the UI setting.

[2016-06-25 08:22] vojtechkral commented on #466
@smichel17

Mostly UX.

Quite often I need to create task due far in the future, such a payent, meeting or a doctor appointement several months in the future. One forgets about that easily. I need to record what exactly is the date/time of the task, but I also like the phone to remind me few days before that in case I forget or fail to notice it in the todo.

Of course, the calendar is the right p

[2016-06-25 08:22] vojtechkral commented on #466
@mpcjanssen That's actually a good idea. I'd even

[2016-06-25 08:23] vojtechkral commented on #466
It might be even better to move reminders to Lua altogether and perhaps provide some examples / default sync scripts or the like.

[2016-06-25 08:28] mpcjanssen commented on #466
@vojtechkral it's the lazy option, but it does make sense. However I think providing due date sync by default makes sense as it's probably the most used. So the sync setting would be on of:

1. due date
2. Lua script onCalendarSync(taskTable) which returns a timerange

[2016-06-25 08:30] mpcjanssen commented on #349
Related #466

[2016-06-25 08:31] mpcjanssen commented on #349
I will rewrite the Lua part to:

- Use specific callbacks so it's easier to extend (e.g. onFilter, onUpdate, onCalendarSync)
- Add functionality to test a specific callback in the filter screen
- Implement the onFilter and onCalendarSync part.

[2016-06-25 08:33] mpcjanssen commented on #466
Will be implemented as part of #466

[2016-06-25 08:34] mpcjanssen commented on #349
The calls will take the plain task text, the supported task fields in a LuaTable and any custom key:val extensions in another table to allow people to define their own extensions and use them easily.

[2016-06-25 09:03] vojtechkral commented on #466
@mpcjanssen Ok. The Lua API should probably be per-task (I suppose?) Ie. a Lua function called for each task that would return either `nil` for no calendar data or a datetime for event and optionally datetime(s) for reminders.

[2016-06-25 09:18] Nelvin commented on #349
Sounds fantastic ... looking forward to see what you come up with and the cool things we'll be able to do with it.

[2016-06-25 10:31] mpcjanssen commented on #466
@vojtechkral there would be one callback which returns a time range for every task and if this is not nil create a calendar item for it.

[2016-06-25 10:33] mpcjanssen commented on #349
Example script to show all tasks with due dates:

[code]

[2016-06-25 10:34] mpcjanssen commented on #349
I will also add `onCalendarSync` and `onDisplay` onDisplay should have an additional argument to see if it is called from a widget.

[2016-06-25 12:44] mpcjanssen commented on #294
@aczirok I am redoing the filtering in Lua. With the new functionality the tags will be the keys in a table so testing if a tag is on the task is a simple `fields["tags"][tag] ~= nil`

[2016-06-25 15:47] smichel17 commented on #466
@mpcjanssen An additional check box in the settings? Why? If you add a reminder, it's because you want a reminder. if you don't, just don't add any reminders. There's no need for a global enable/disable. That's one of the reasons why this solution is simpler.

@vojtechkral

I really don't follow what is confusing about "`rem:YYYY-MM-DD'T'HH:MM` adds a reminder for that task at the specified date t

[2016-06-25 15:52] smichel17 opened #467 "Scripting help shortcut"
When I'm writing a lua filter, the overflow menu has only one option right now: `script from file.`

It should also have a `help` option which takes the user to the help page for scripting, so I can look at that and return to my script easily.

[2016-06-25 15:55] mpcjanssen commented on #465
I want to add that with progress on #349 the best way to add flexibility is to have more flexible Lua callbacks. Expect several options and settings to be move to specific Lua callbacks and scripts.

[2016-06-25 16:01] smichel17 commented on #465
I agree. I am a big fan of scripting in this case. It basically says, "There is a certain way Simpletask is meant to be used, and we will only support that way... but we recognize that you might want to use Simpletask in a way it's not intended. We won't support that, but we will support you in building that functionality yourself."

Unlike settings, scripting is something that is *obviously* adva

[2016-06-25 16:03] smichel17 commented on #465
Also, if there's a way to track how often each script is downloaded, it lets us get some usage statistics without putting tracking into the app itself, which I find morally objectionable unless it's opt-in -- and if it's opt-in it's much less useful.

[2016-06-25 16:13] smichel17 commented on #466
Quoting myself from #465 with a few wording changes for clarity

I think it might also make sense to maintain a repository of lua scripts that people can easily download and use. For example, I think we should remove most or all calendar reminder functionality from the core of the app, but that would break some people's workflows. So instead we should remove the functionality and also provide a re

[2016-06-25 17:19] mpcjanssen commented on #467
With the new elevated status of the scripting engine, I will eventually split of the scripting configuration to a separate activity (only the use script checkbox will remain in the filter settings). This separate activity should have direct access to the script help.

[2016-06-25 17:20] mpcjanssen commented on #465
@smichel17 I am not sure about tracking downloads but the simpletask github wiki would be a good way to capture scripts.

[2016-06-25 17:23] mpcjanssen commented on #461
@jumper047 this will be possible to implement yourself after the `onCalendarSync` of  #349 is implemented.

[2016-06-25 17:24] mpcjanssen commented on #461
Closed, this will be possible using Lua (#349) and until then not at all.

[2016-06-25 17:24] #461 closed

[2016-06-25 17:26] mpcjanssen commented on #349
See https://github.com/mpcjanssen/simpletask-android/wiki/Lua-Callbacks for proposed callbacks and documentation.

[2016-06-25 23:09] smichel17 commented on #349
@mpcjanssen What about an onCreation callback? To implement 'background tag' functionality.

[2016-06-26 08:11] mpcjanssen commented on #349
@smichel17 added to the list.

[2016-06-26 12:00] vojtechkral commented on #466
@mpcjanssen

Ok, great. Let me know later on how I should connect that to my code.

@smichel17

I also don't see what's confusing about the workflow of "select task -> 'add a reminder' -> date picker -> time picker -> reminder is added" or "select task -> 'remove reminders' -> all reminders for that task are removed'

It's not confusing or bad or anyhting, it's just that with the current solution

[2016-06-26 12:03] vojtechkral commented on #466
@smichel17

Ok, thanks. I have a design in mind, I'll let you know. Implementation wise, I'd like to simplify and write any new code in Kotlin if at all possible. However, not that this won't be any time soon, I first have to finish the calendar sync changes in Simpletask.

[2016-06-26 12:59] mpcjanssen commented on #466
I think part of the reason Simpletask development has sped up recently again is because I am using Kotlin, it's much more fun to write, less verbose and more expressive. It also prevents a huge class of errors by design (NPE).

Note that with the `onCalendarSync` from #349, the user can decide themselves which date they want to use. See wiki page for details.

[2016-06-26 17:58] vojtechkral commented on #466
@mpcjanssen I've had a look at the wiki page and it's not clear to me what the `onCalendarSync` return value means. Is that the timespan of the event or the reminder?

[2016-06-26 19:43] mpcjanssen commented on #466
@vojtechkral that's the timespan of the calendar event that is created. If there should be a separate reminder as well than that needs to be an additional return. Please let me know what values you would need in the syncing functionality

[2016-06-26 23:43] smichel17 commented on #466
@mpcjanssen @vojtechkral There's a design decision here about what functionality simpletask should have. The most advanced functionality I could see us supporting would be return values of:

- All day appointment? (bool)
- Start date/time
- End date/time
- Contents of reminder (you usually don't need `due:YYYY-MM-DD` in a calendar appointment. Sometimes you want lists/tasks to be included, sometim

[2016-06-26 23:45] smichel17 commented on #133
I think this is closed by the updated lua functionality.

[2016-06-27 11:07] vojtechkral commented on #466
@mpcjanssen
In the calendar API, reminders have to always be entered separately for each event. The have their own table in the sqlite file.

@smichel17
I'd agree with that list. The all day boolean flag is not needed if we say that an all day event has a start time = midnight and an end time of start time + 24 hours (the next midnight). This is required by the calendar API for all days events any

[2016-06-28 08:30] mpcjanssen commented on #466
@vojtechkral @smichel17 I will try to updated the wiki description when I have time. Note that I prefer to give a bit more (optional) returns than to reduce flexibility. Return value for the onCalendarSync will probably be a table.

[2016-06-28 14:28] smichel17 commented on #466
It's fine to offer all of those as returns as long as they are optional, with the defaults I mentioned above.

[2016-06-28 16:34] gastus1 commented on #301
@smichel17
Yes, i guess it will, although a selection of sizes would be better!

[2016-06-28 17:08] mpcjanssen commented on #301
In the same way as #349, i am considering to make these kinds of settings configurable from Lua as well so you can either have limited options in the settings or unlimited options using scripting.

[2016-06-28 17:22] gastus1 commented on #301
@mpcjanssen
Cool, but i hope some examples will be available - i'm not an expert in Lua at all (.

[2016-06-28 17:35] mpcjanssen commented on #301
Settings like this would be something like

[code]

So relatively easy. If this function is defined this value will be used. Otherwise the value from the settings.

[2016-06-28 17:36] mpcjanssen commented on #349
Also consider defining settings as function returns for example font size or theme (which could then be based on the time of day)

[2016-06-28 17:55] mpcjanssen commented on #349
For continued use of saved filters, the `onFilter` callback definition should be saved in the filter and all other callbacks and settings should be saved as part of the configuration.

[2016-06-28 23:16] smichel17 commented on #301
+1. Eliminating settings that supported workflows outside of the core intended functionality is great. Providing  really powerful configuration via scripting is great. **Someone who wants to use the app with the intended/opinionated workflow should not need to touch lua.**

[2016-06-29 20:55] p3m opened #468 "2 thoughts regarding the "add a new task"-View"
1. Using the "add-a-tag-button" to tag the current task results in the cursor position to be changed. If there is more than one task the cursor even leaves your current line. I think this is at least unexpected behavior and should be fixed. It also hinders the user from directly using another button to say add a priority.
2. Since the whole approach with todo.txt is line-based it would be great to

[2016-06-30 07:13] Alphalpha007 opened #469 "Total task count wrong when filtering"
If I use a filter, the total task count is wrong in the top where it shows "(6/82) filtered on: List".. I only have 69 tasks in total. Refreshing, changing todo file or unhiding tasks didn't correct it.

[2016-06-30 08:18] mpcjanssen commented on #469
Do you use sort by list or see any other headers?

[2016-06-30 10:20] Alphalpha007 commented on #469
Any filtering produces the same problem. Whether by list, tag or script.

[2016-06-30 10:26] mpcjanssen commented on #469
But does the filtered view have headers?

[2016-06-30 10:40] Alphalpha007 commented on #469
I'm not sure what you mean by headers.
If you mean the groupings, I use the MYN technique you recommend. So I see the threshold dates as headers.

[2016-06-30 10:45] Alphalpha007 commented on #469
http://i.imgur.com/JJgW7bZ.jpg
Here's the screenshot.

[2016-06-30 12:45] mpcjanssen commented on #469
Thanks I will check it out.

[2016-06-30 17:12] mpcjanssen opened #470 "Migrate to Dropbox v2 before June 28, 2017"
As of today, Dropbox API v1 is deprecated. This includes both the user endpoints (a.k.a. the Core API), and the team endpoints (a.k.a. the Business API). In order to provide our developers with the most up-to-date features and support a single, consistent platform, we’ll be turning off API v1 a year from now, on 6/28/2017.

[2016-06-30 18:48] mpcjanssen commented on #307
Issue occurs when rotating the screen while editing.

[2016-07-01 06:28] mpcjanssen commented on #468
Regarding 1. this functionality is very hard to get right, but I will look into it (again)

Regarding 2. The standard textedit on Android doesn't provide a good distinction between wordwrap and newline. You can disable word wrap from the Add Task menu.

[2016-07-01 06:41] #307 closed

[2016-07-01 06:42] mpcjanssen opened #471 "Improve logging"
The current logging almost never helps in solving issues, it should be improved and extended.

[2016-07-01 21:47] LocutusX opened #472 "Occasionally hangs on "loading" circle in low reception"
Hello. I reported this issue via a Google Play Review, but I realize that forum is not really intended for bug reports so I tracked you down to your github :)

Basically, on certain occasions when in low reception environments (my use case is an underground Subway system) attempting to run Simpletask will cause it to hang on the "loading" circle. The phone's back button does not work in this case.

[2016-07-05 15:50] Alphalpha007 commented on #469
I just had a look at the actual text file. There were blank lines in the file. That's what's causing the total count to show a higher number. Can you make simpletask ignore blank lines?

[2016-07-06 06:29] smichel17 commented on #469
Would it be better to ignore or remove blank lines? (Haven't thought that through yet, just raising the question).

[2016-07-07 00:14] ddisanti opened #473 "Edit shared task doesn't work"
Although option "Edit shared task" is activated, the shared task is saved and an empty edit box is presented. Related #298

[2016-07-07 18:48] mpcjanssen commented on #469
@smichel17 ignoring blank lines is good, but deleting them will break todo files for people who use whitespace for organisation. Because of this the underlying data needs to keep the empty lines, they should just not be counted.

[2016-07-07 18:48] mpcjanssen commented on #469
@Alphalpha007 that will be easy to fix.

[2016-07-09 22:03] Alphalpha007 commented on #458
Honestly adding separate tabs for lists and tags is just adding the number of clicks required. On the same note, I'd like to say that what makes simpletask great is that the app goes onto the background because of its intuitiveness. The user and his tasks get priority over how the app looks. If material design would come in the way of that, please avoid implementing it. Just a humble request from

[2016-07-10 04:56] smichel17 commented on #458
@alphalpha007 I am also unhappy with the iteration above. That's okay; it's just an iteration.  I need to block out a chunk of time to continue iterating and really think this through, I just haven't gotten there yet.

For the record, I also agree that while all things equal I'd like to follow the material design guidelines, they are also just that: guudelines. So they're worth breaking, if follow

[2016-07-10 06:18] Alphalpha007 commented on #458
I change filters as often as I select tags and lists. There is a filter that gives me the MYN view as recommended by mark. Then another filter that sorts according to created date so that I can see all the bulk added and background added tasks (I use ifttt to forward emails to have them show up as tasks). Then there's another filter that filters out a "waiting" tag that shows me what I can do at t

[2016-07-10 09:10] mpcjanssen commented on #458
@Alphalpha007 the quick filter from drawer selection will never go away as I use it a lot in the same way as you do :smile:

[2016-07-10 09:55] #469 closed

[2016-07-10 13:12] mpcjanssen commented on #472
@LocutusX I will look into this. The problem is that the tasks are loading in the background and apperently in some situations the trigger to hide the loading overlay doesn't get sent. A log when this happens would be really useful.

[2016-07-10 13:20] mpcjanssen commented on #472
@LocutusX  I have checked, this part of the code is one huge callback spaghetti. This is gonna take time to clean up.

[2016-07-10 17:21] smichel17 opened #474 "Task completion visual bug"
## My list

Sorted by complete -> alpha

- [ ] a
- [ ] b
- [ ] c

## Action: Mark b as complete

### Result, showing completed tasks

After a slight delay, this happens:

- [ ] a
- [x] c
- [ ] b

Then this:

- [ ] a
- [ ] c
- [x] b

### Result, hiding completed tasks

Slight delay, then

- [ ] a
- [x] c

Then

- [ ] a
- [ ] c

---

It's a bit jarring to mark b as complete, then have it briefly sho

[2016-07-10 17:22] Alphalpha007 commented on #458
Haha that's great Mark.
Guys, honestly I'd be so happy if the only changes brought in for now are lua enhancements, bug fixes, and a proper reminder system/Google calender enhancement. Otherwise, I've found that anything I need to do can be done with as few clicks as possible.
Sure, design improvements can help a lot in making it look more appealing, but I don't think the users of the app are a gr

[2016-07-11 06:13] smichel17 commented on #458
@alphalpha007 I have no interest in change for the sake of change, either. The app works very well for me, too. There are, however, some pain points that I'd like to solve. But -- because the app *does* work very well, I will not be content to solve those if the solution breaks the things that are already awesome about the app.

In short, you are a litmus test. If you don't look at my final propos

[2016-07-11 08:34] mpcjanssen commented on #349
Base work is done. Please log any configurable requests as separate issues.

[2016-07-11 08:34] #349 closed

[2016-07-11 09:13] mpcjanssen commented on #452
will not be in 8.0. Probably next version.

[2016-07-11 09:14] mpcjanssen commented on #474
Not sure how to fix this but I also notice this. Probably requires redoing the whole displaying and filtering part.

[2016-07-11 09:36] mpcjanssen commented on #301
Task list text size has been removed. It's not feasible to provide a setting which suits everyone. Instead the size can now be set in the main app Lua config.

Change the font size of the main task list to `16sp`:

    function tasklistTextSize()
       return 16.0
    end

[2016-07-11 09:39] mpcjanssen commented on #466
Will implement a `reminderDate` configuration function in a next version which will return the required information. If set it will override the selection from the settings.

[2016-07-11 15:32] smichel17 commented on #301
I don't think I agree with this decision. I think Lua should be there as a way to add advanced functionality; nobody should be required to use Lua scripting just to use the app.

I'm in favor of having the setting, with options of small/medium/large/custom. Interface being much like the interface for adding a date: a list, and if you pick the 'custom' option you get a text box to enter the font si

[2016-07-11 18:08] mpcjanssen commented on #301
@smichel17 I might have been a bit to enthusiastic here. Felt nice to clean up that mess though :smile: will probably re-add it as I agree with your sentiment.

[2016-07-11 18:12] mpcjanssen commented on #301
However you don't have to use Lua to use the app, you just have to use Lua to change the task list text size.
I will extend this with other configurable stuff like drawer text size etc. Doing this all in settings as well is a lot of work.

[2016-07-12 00:01] LocutusX commented on #472
Thanks for looking into this!

[2016-07-12 09:08] mpcjanssen opened #475 "Add a widget to start simpletask without startup script and filter"
If you make a mistake in the startup script or filter, simpletask can hang. Add a widget/intent to start simpletask with disable script and filter.

[2016-07-12 15:14] kevjava opened #476 "Crash on widget/filter creation (ClassNotFoundException: FilterScriptFragment)."
Upon attempting to create a widget on the home screen, the application crashes.  The following stack trace is printed to the log:

[code]

My hardware is an LG Nexus 5X running the updated N Developer Preview (build NPD56N).  Please let me know if you need more information or have experiments you'd like me to try.

[2016-07-12 17:28] Jjquigley opened #477 "Search returns some no matching items"
Searching for a string will return some items not containing the string. Even finds 1 hit for qzw.
V8.01  (3033)

[2016-07-13 12:57] memeplex opened #478 "Cursor returns to first line after adding a tag or list"
In the editor, if I open the tag/list dialog and enter a tag/list, the cursor is sent to the beggining of the buffer after closing the dialog.

[2016-07-13 14:05] mpcjanssen opened #479 "reseting filter doesn't remove existing onFilter callback"

[2016-07-13 14:07] mpcjanssen commented on #477
8.0.1 had a fuzzy search which just checks if the chars occur in the same order. The old search is restored in 8.0.2.

[2016-07-13 14:07] #477 closed

[2016-07-13 14:07] mpcjanssen commented on #476
Should be fixed in 8.0.2 can you confirm?

[2016-07-13 14:29] kevjava commented on #476
I can confirm it.  Widget creation works now.  Thanks, Mark - that was fast.

[2016-07-13 15:03] mpcjanssen commented on #479
There are some bugs with the Lua filtering. I changed the filtering as per your email, but when I select different saved filters the display doesn't change.  The only way I can get the filter to work is to go to the Lua script page, run a test, then touch the check mark in the top right of the screen.  It then exits to the correct filtered display.

[2016-07-13 15:10] smichel17 commented on #467
Reminder.

[2016-07-13 15:19] mpcjanssen commented on #479
https://github.com/mpcjanssen/simpletask-android/blob/master/src/main/java/nl/mpcjanssen/simpletask/ActiveFilter.kt#L231-233

Add:

* Assign nil to onFilter
* Load script in interp.

[2016-07-13 16:00] #476 closed

[2016-07-13 16:04] mpcjanssen commented on #478
probably related to #468

[2016-07-13 16:36] smichel17 commented on #122
Does the new lua engine close this?

[2016-07-13 16:50] smichel17 commented on #128
FWIW I think swiping is very overrated. I think it's pretty much only a good idea if the entire app is designed around swiping as a primary action, which this one is not (nor should it be).

[2016-07-13 16:56] smichel17 commented on #478
Tangential to #407

[2016-07-13 17:06] #479 closed

[2016-07-13 18:18] smichel17 opened #480 "Unstable Updates (beta) on f-droid?"
With a number of new bugs popping up around the revamped lua engine, it occurs to me that with major changes, it might be helpful to get some wider testing before you push to everyone on f-droid. I'd like to do this, but it's hard because f-droid packages are signed by f-droid. In order for me  so I can't install a more recent version unless you release it through f-droid.

F-droid has a way aroun

[2016-07-13 23:03] Chriswaterguy opened #481 "Select all"
There are times when I have many tasks showing and I want to select all of them, eg to add a project tag. It would be handy to have a select all option – say, in the menu.

[2016-07-13 23:49] memeplex opened #482 "Allow custom font for task list."
I customized the font from the settings window but nothing happened. I tried with many fonts to no avail. Besides there seems to be a problem with 0/1-based indexing, because after returning to the font picker the one selected is the one before the originally selected.

[2016-07-14 01:41] smichel17 commented on #481
There is a select all option. Select one task first, then it's in the three dot menu in the lower right.

@mpcjanssen can this be motivation to implement #128? :wink:  Or at least this part of it:

### Note

Some of the icons in the mockups are placeholders. The actual icons I'd use are:

- Due Date; "Alarm on" from [1]
- Threshold Date; "Watch Later" from [1]
  - This is the only one I'm still on

[2016-07-14 05:50] smichel17 commented on #465
@ddisanti @y2kbugger @mpcjanssen @vojtechkral @memeplex @Chriswaterguy @LocusutX How many filters do you use? If there are two or more filters showing the same tasks, sorted differently, count them as a single filter. Thank you!

[2016-07-14 05:52] smichel17 commented on #466
## Rethinking Reminders

If you just want to see my conclusion, skip to the final paragraph.

#### Reminders are for your protection

Some tasks have a time *range* in which they should be done.

- Filing taxes
- Repairs under warrantee
- Phone calls
- Limited time events

GTD also says you should track these items as tasks, and presumably prioritize them more highly as you near the deadline. But

[2016-07-14 05:54] smichel17 commented on #192
As per my big long comment in #466, I think we should not add a time picker for the `due:` extension.

[2016-07-14 05:57] smichel17 commented on #458
@ddisanti @y2kbugger @mpcjanssen @vojtechkral @memeplex @Chriswaterguy @LocutusX @krayon @Alphalpha007

How many filters do you use? If there are two or more filters showing the same tasks, sorted differently, count them as a single filter. Thank you!

[2016-07-14 06:00] smichel17 commented on #458
No offense taken, but based on my own preferences and #433, I am inclined to think that users do care about looks. Though I would agree that we put functionality and ease of use ahead of looks.

[2016-07-14 06:00] Alphalpha007 commented on #458
In that case I just have a single filter. I use filters to see the tasks in different sort orders.

[2016-07-14 06:10] smichel17 commented on #458
@ddisanti @y2kbugger @mpcjanssen @vojtechkral @memeplex @Chriswaterguy @LocutusX @krayon @Alphalpha007 @getthemike

Follow-up questions: Sorting really does two things right now. It changes the *grouping* of tasks based on the top sorting criteria, and then it changes the sorting of tasks within those groups.

- Do you ever change the sorting order without changing the grouping?
- When you do chan

[2016-07-14 06:18] smichel17 commented on #458
@Alphalpha007 note: I edited my original question to also ask how many filters total.

[2016-07-14 06:41] Alphalpha007 commented on #458
I have 3 filters in total.
One is called MYN. It groups avoiding to completed status first to put all completed at bottom. Then by threshold date in future so that I can see what's relevant. Then by threshold date and due date and priority. This is the main filter.
Another is called Doable, which is same as MYN, but filters out the +waiting so I can see what's under my control and not something th

[2016-07-14 07:28] Alphalpha007 commented on #458
According* not avoiding. Sorry about the typos.

[2016-07-14 10:43] Chriswaterguy commented on #458
same tasks, sorted differently, count them as a single filter. Thank you!

I have 18 filters, but I need to clear about half of them out. There are 3
that I commonly use, another 2 that I occasionally use, another 2 that seem
like a good idea but I haven't actually used, and another 5 that I'm
leaving there because they will remind me to check those items.

On 14 July 2016 at 15:57, smichel17 <not

[2016-07-14 12:21] smichel17 commented on #236
This seems like a lot of unecessary complexity. Adding options instead of figuring out the right way to do things. I propose simply sharing based on what is shown/hidden in the active filter.

I believe this would have the same effect as when widget creation was changed to inherit the active filter; the ability to create widgets from a specific filter became a non-issue.

[2016-07-14 12:34] smichel17 opened #483 "Continuous translation via weblate"
Have you considered setting up a translation website like weblate? It's gratis for FLO software (or you can self-host) and makes translation much more accessible to people who aren't comfortable creating a merge request.

[2016-07-14 12:40] smichel17 commented on #482
Tested this; the setting also has no effect for me.

[2016-07-14 13:10] ddisanti commented on #458
@smichel17  I use this filters:

1. Sort priority, then by due date (ascending) all task, so important task and task next to due date shows on top of the list (This is my main filter).

2. Two filters by tag .PENDIENTE (pending) for the next 7 and the next 30. (This task have calendar reminders set at 7 days before due date)

3. Show task with threshold date in the past. Ascending.

4. Sort (ascen

[2016-07-14 13:15] ddisanti commented on #483
I'm working on a Spanish version of strings.xml. When I get it completed  I'll ask @mpcjanssen what other files needs to be translated.

[2016-07-14 13:44] smichel17 commented on #483
My own experience was that after the author or Red Moon (the other app I've contributed to) set up weblate, translation happened in more languages, much more quickly than before. See the [commit log](https://github.com/raatmarien/red-moon/commits/master).

[2016-07-14 13:53] smichel17 opened #484 "UX Update: Filtering"
Right now all configuration is hidden behind the 'edit filter' button. For example, grouping/sorting and other display options. It's rather painful to have to enter a different view to perform a core action of the app (changing grouping/sorting). There are workarounds (create filters with different views), but that's not an excuse to avoid fixing the problem. This issue exists to figure out exactl

[2016-07-14 13:53] smichel17 commented on #484
Placeholder

[2016-07-14 13:53] smichel17 commented on #484
Placeholder

[2016-07-14 13:53] smichel17 commented on #484
First iteration

[2016-07-14 14:14] mpcjanssen commented on #482
Correct on both counts. This functionality is actually not implemented yet (only the setting is there)

[2016-07-14 14:45] smichel17 opened #485 "Design Change Tracker"
I want to break changes up into issues of reasonable size, but lots of issues are difficult for me to keep track of. I'll use this issue as a master issue.
### Research

Use Cases: #458
Thoughts on any.do: #433
### UI Update

Filtering: #484
- Require fewer taps to access often-used information and functions:
- Reduce clutter by hiding or removing less important information and functions
- Allow a

[2016-07-14 15:12] mpcjanssen opened #486 "Filters from the app and widgets run in the same Lua context"
Filters from the main app and the widgets run in the same context and can thus overwrite each other leading to strange behavior.

[2016-07-14 15:17] smichel17 commented on #111
This is closed by the new lua callbacks, I think.

[2016-07-14 15:26] smichel17 commented on #486
Possible solution: each filter runs in its own context, but inherits global declarations

[2016-07-14 15:37] memeplex opened #487 "After sharing AddTask shows up as another app"
This is annoying and error prone since app lists and switchers tend to use the icon as the main identifier and you get two st icons around and frequently open addtask by mistake. I don't know much about android, really, but many apps allow to share without producing this artifact.

[2016-07-14 15:55] smichel17 commented on #484
Conversation copied from the other thread:

[2016-07-14 15:56] smichel17 commented on #458
@Alphalpha007 @mpcjanssen This issue became about two different things: feedback on my ideas and "how I use simpletask" discussion. I split it into two separate issues and copied your comments over to #484. Could you delete the parts I copied from this thread? (but not the feedback about how you use simpletask!)

[2016-07-14 16:53] smichel17 commented on #487
I cannot reproduce this. Can you provide more precise steps?

[2016-07-14 16:57] memeplex commented on #487
Sure:

1. Open st as usual.
2. Return to this page and share it to st.
3. Open your app manager/switcher.
4. You will see two apps: Add Task and Simpletask.

There is nothing wrong per se with this but on the usability side I would say it's lacking.

[2016-07-14 16:58] memeplex commented on #487
Btw I'm testing this with kitkat task manager and with the wonderful eas app.

[2016-07-14 17:12] smichel17 commented on #487
Got'cha. This was intended, as a fix for this bug:

1. Open st as usual.
2. Edit a task, but don't save
3. Go to the home screen without saving your shared task
4. Re-open simpletask through a widget or saved filter
5. Edits are lost

With the change, step 5 becomes "Use the app switcher to return to the addtask screen and finish editing/save your task"

---

I'm assuming this is a problem for you

[2016-07-14 17:14] mpcjanssen commented on #486
that's what I am implementing

[2016-07-14 17:20] memeplex commented on #487
I think solution 3 is the most sensible, but I would like to simplify the proposal. Let's differentiate between action A (add task) and action B (filter, add another task, etc.). You fear a queue of A, B, C, ... actions, I understand that concern. But I would say you shouldn't be doing that and indeed you probably won't be doing that so often even by chance. So why don't st just forget about B whe

[2016-07-14 18:38] #486 closed

[2016-07-14 20:16] #90 closed

[2016-07-14 20:52] mpcjanssen commented on #39
Rearranging tasks by dragging is never going to happen, the amount of effort to build something like this with the limited out of the box support from Android makes me shudder.

[2016-07-14 20:52] #39 closed

[2016-07-14 20:53] mpcjanssen commented on #102
The UI is already cluttered as it is. I will only add this if it doesn't add too much clutter, maybe using a snackbar.

[2016-07-14 20:54] mpcjanssen commented on #111
@smichel17 correct once the onDisplay callback is implemented this can be closed.

[2016-07-14 20:55] mpcjanssen commented on #136
This can already be achieved by always adding a create date to tasks and using create as threshold. `Create is threshold` in the Other filter tab.

[2016-07-14 20:55] #136 closed

[2016-07-14 21:00] mpcjanssen commented on #160
With the embedded Lua filtering and filters are fairly easy to write as a script. For example

[code]

will return all task with `listA` and `listB`

[2016-07-14 21:00] #160 closed

[2016-07-14 21:02] mpcjanssen commented on #284
will become a Lua setting. `emptyHeaderName`

[2016-07-14 21:04] mpcjanssen commented on #197
could possibly be implemented by Lua
[code]
Slashed wont be allowed so the archive file name should be in the same folder. This does make it easy to have for example daily archives by smart use of `os.time`

[2016-07-14 21:14] smichel17 commented on #102
A snackbar is the right way to add this. It should persist for a few seconds or until the user touches a different UI element, whichever is *longer*.

[2016-07-14 21:19] mpcjanssen commented on #102
@smichel17 that's exactly how a snackbar works (at least something that's easy on Android). This would be easy to implement if not for the possible interaction with autoarchive.

- Press complete
- Task gets archived
- Click undo
- Task is back but still in the archive

Auto Archive is a PITA

[2016-07-14 22:34] smichel17 commented on #102
Write to the database immediately on archive but wait until the snackbar is dismissed to write to the filesystem.

[2016-07-14 23:08] smichel17 opened #488 "Better lua UX"
When I visit the lua config, I'm greeted with a blank box, and no indication of what should go there.

I think there should be an overflow menu on this screen that allows you to insert the skeleton of a callback (or a callback that implements the default), with some comments for documentation.

[2016-07-14 23:12] smichel17 commented on #197
I don't think this should be done in lua. I think it should be done in the gui, at the same time that we think about an interface that allows for easy switching between todo.txt files not in the same folder, like #411.

[2016-07-15 01:12] smichel17 commented on #160
**I think this use case is common enough that we should support it natively.**

*However!*

I don't think this requires an AND filter; I don't think anybody wants to create different filters for:

- `@home` AND `@laptop`
- `@work` AND `@laptop`
- `@laptop` AND `@phone`
- `@home` AND `@phone`
- etc.

Nor would it be any fun to try each of those combinations manually from the left drawer.

---

@dir

[2016-07-15 02:38] smichel17 commented on #487
I will admit my 'fear' is a bit of a corner case. If I quit the app without saving again after action B, and then take action C that opens the app, I only need to save action B if it was a share action. So the only way we could end up with a queue is if someone repeatedly shared something to simpletask, closed the app without saving, then shared again, etc.

Still, you need logic in place to handl

[2016-07-15 05:36] andis opened #489 "8.0 rec task overwrote todo.txt file"
Hi, simpletask 8.0.3 just emptied my todo.txt file :( It now only contains one line.
What happend: I used a saved filter to filter by list. Then I quickly ticked off a few done tasks. After the last screen refresh, the task list was suddenly empty. I looked into my todo.txt file, it contains only `2016-07-15 @@list task text rec:1d t:2016-07-16`. So the ticking off of the last recurring task must

[2016-07-15 06:04] mpcjanssen commented on #489
@andis, first things first. If you go to Settings->Other->Todo History you should  be able to see the last versions of you todo list and share it by mail or directly to Simpletask to restore all your tasks. NB this will only be there if you dodn't reinstall Simpletask.
Next can you share me the log from Settings -> Other -> View Debug Information?
Sorry for the inconvenience.

[2016-07-15 06:23] mpcjanssen commented on #475
This is not possible. The main config script is executed before any intent or widget is handled.

[2016-07-15 06:25] mpcjanssen commented on #481
@smichel17  The new UI looks great, I just don't know how to implement it. Toolbars and actionbar menus are fickle things.

[2016-07-15 11:03] mpcjanssen commented on #122
@smichel17 not yet, I will need to add the onUpdate callback first

[2016-07-15 15:18] smichel17 commented on #475
Maybe add a timeout after which simpletask starts up as if the global config were empty and prompts the user to take a look at the config?

[2016-07-15 19:23] mpcjanssen commented on #197
@smichel I doubt it is possible to make something in the gui that fits all. Doing it in Lua allows several scenarios

- daily done.txt
- done.txt per todo file
- etc

I am not going to spend time making a UI for this. Users have done.txt. if they need anything else they can build it themselves.

[2016-07-16 00:36] smichel17 commented on #197
I don't think it would require that much gui work. It would almost certainly happen in the settings, and you could re-use the current file switcher as a file picker.

Let's jump into the future and say we went with my idea of moving filter config into the settings. One possibility is that each filter could specify a todo.txt and a done.txt file to be used. Then, you would no longer switch between

[2016-07-16 02:11] smichel17 commented on #433
I played with Any.do. Its model is simpler than ours: There are lists. Lists have items. Items have a title, attached notes or media, and subtasks, which only have a title.

-You can set three types of reminders: one-time, recurring, or location-based.
- You can also share/delegate items with other people who have Any.do accounts, which allows them to mark the item as complete.
  - Significant dow

[2016-07-16 02:41] smichel17 commented on #481
Noted! If the code is relatively contained, maybe this would be a good place for me to jump a little deeper into the code than the settings work I've done so far...

[2016-07-16 02:53] smichel17 commented on #467
Closing because #488 does this, but better.

[2016-07-16 02:53] #467 closed

[2016-07-16 04:12] ddisanti commented on #458
@smichel17

The filters only show tasks with tag  "PENDIENTE".

That's  correct.

[2016-07-16 06:30] andis commented on #489
The Todo History is very nice, sorry for the panic. I'm sending the log by email.

[2016-07-16 08:02] mpcjanssen commented on #489
Seems to be a race condition between save and reload. Are you using any background synchronisation app?

[2016-07-16 08:38] andis commented on #489
Normally yes, Syncthing, but I am quite sure it wasn't running at the moment of the issue.

[2016-07-16 10:02] #448 closed

[2016-07-16 10:16] Alphalpha007 opened #491 "Time lag when selecting tasks in 8.0.6"
It takes 2 seconds for the blue color to fade in when clicking on a task on the main screen.

[2016-07-16 10:33] ddisanti commented on #448
Nice! 👍

[2016-07-16 11:27] mpcjanssen commented on #491
How big is your tasklist?

[2016-07-16 11:31] Alphalpha007 commented on #491
Just 24. Also, pressing back button doesn't clear the task selection. It exits the app.

[2016-07-16 11:45] mpcjanssen commented on #491
Slowness will be fixed in next release. I will look into back behavior.

[2016-07-16 11:52] mpcjanssen commented on #491
@Alphalpha007 when you press to close the selection, do you actually have to press it twice (once will remove the toolbar and once exits the app)?

[2016-07-16 11:53] ddisanti commented on #491
I'm on Cloudless 8.0.6 from Play Store. I'm really please that now we can select task with a single tap. I don't noted the lag @Alphalpha007 mentioned. In my case, to de-select previously selected task, I've been using the "X", which is wrong (I know, is to undo Complete tasks) because pressing the BACK button the bottom menu disappear. Pressing the BACK bein again, SimpleTask exits.

[2016-07-16 11:59] mpcjanssen commented on #491
@ddisant @Alphalpha007 both issues will be fixed in next release

[2016-07-16 12:01] #491 closed

[2016-07-16 12:17] #474 closed

[2016-07-16 12:18] smichel17 commented on #491
I believe the second part of this is/was a visual bug only. I can

- select a couple tasks
- press back
  - bottom bar disappears but previously selected tasks remain blue
- select another, different task
  - Previously selected tasks stay blue in addition to the new one
- press edit
  - only the new task is edited

[2016-07-16 12:35] Alphalpha007 commented on #491
@smichel17 I second that.

[2016-07-16 12:53] mpcjanssen commented on #489
Is probably fixed by 843776cdc461a01aa210d062c3b3895d98667d05 please re-open if re-occurs.

[2016-07-16 12:53] #489 closed

[2016-07-16 12:55] mpcjanssen commented on #480
This does make it hard to determine which version someone is reporting bugs for as the only version that is currently the combination  Current Version / Current Version Code or am I missing something?

[2016-07-16 12:56] mpcjanssen commented on #482
Retagged enhancement as a reminder to implement it again.

[2016-07-16 12:56] mpcjanssen commented on #482
Then duplicate of #449

[2016-07-16 12:56] #482 closed

[2016-07-16 12:59] mpcjanssen commented on #454
There is a toast if a conflict on dropbox ocurred.

[2016-07-16 12:59] #454 closed

[2016-07-16 13:07] mpcjanssen commented on #453
Loads of walls of text in those issues, but boiling down there are three options for Simpletask now:

1. Download it from the playstore with the guarantee that I built the app.
2. Download it from F-Droid with the implicit assumption that the F-Droid team doesn't tinker with it.
3. Build and sign it yourself from sources.

Considering the current distribution of new versions already is quite a bit

[2016-07-16 13:07] #453 closed

[2016-07-16 13:50] #441 closed

[2016-07-16 16:14] #463 closed

[2016-07-16 16:14] #481 closed

[2016-07-16 16:18] mpcjanssen commented on #433
There are already a couple of UI redesign issue. Will close this one as a duplicate see #484 and others for latest updates.

[2016-07-16 16:18] #433 closed

[2016-07-16 16:20] mpcjanssen commented on #437
After embedding the Lua interpreter even further, Lua it will be.

[2016-07-16 16:20] #437 closed

[2016-07-16 16:39] Alphalpha007 opened #492 "Changing font size in settings flickers screen when moving slider."

[2016-07-16 16:48] Alphalpha007 opened #493 "Add option to restore previous version of text file from history."

[2016-07-16 16:50] Alphalpha007 opened #494 "Edit text file from within the app."

[2016-07-16 16:50] mpcjanssen commented on #492
Duplicate of #441. Fixed in 8.1.1.

[2016-07-16 16:50] #492 closed

[2016-07-16 16:52] mpcjanssen commented on #493
You can already restore a file by first emptying the current list and then sharing the history item to Simpletask. It might be good to add a button for it though.

[2016-07-16 16:53] Alphalpha007 commented on #493
True it's possible. That's not obvious at all though.

[2016-07-16 16:54] mpcjanssen commented on #493
Agreed,

[2016-07-16 16:55] mpcjanssen commented on #494
Idea is to allow a plain text edit of the todo.txt to reorganize.

[2016-07-16 17:00] Alphalpha007 commented on #494
Please ignore. File order sort does it well. But you may keep this if you want the power users of desktop clients to manage the files with white spaces etc.

[2016-07-16 17:03] mpcjanssen commented on #494
Not worth the effort IMO. I'll tag it someday.

[2016-07-16 17:29] mpcjanssen opened #495 "Archive of selected tasks will not show a Are you sure dialog"

[2016-07-16 17:42] #495 closed

[2016-07-16 17:44] Alphalpha007 opened #496 "Do not show archive option for incomplete tasks, or let archive button mark them as complete and move them to done.txt in one go."

[2016-07-16 17:48] Alphalpha007 opened #497 "Highlight current filter in right drawer. If user changes any sort, tag, list settings, remove highlight."

[2016-07-16 17:54] Alphalpha007 opened #498 "Give more flexibility with AND and OR logic in tag or list selection and inversion."

[2016-07-16 17:55] mpcjanssen commented on #497
How about showing the filter in the Title bar? Easier to implement and doesn't require a swipe.

[2016-07-16 17:56] Alphalpha007 commented on #497
Are you saying you'll remove right drawer?

[2016-07-16 17:57] mpcjanssen commented on #498
Inversion can be done by clicking on the tag or list blue bar header in the left drawer. Anything more exotic than this can be done in Lua. I don't want to complicate the UI even more.

I am open for brilliant UI ideas though.

[2016-07-16 18:00] Alphalpha007 commented on #498
I'm glad it's in AND mode now.

[2016-07-16 18:01] Alphalpha007 commented on #498
Oh it's not. It's in OR mode.

[2016-07-16 18:44] mpcjanssen commented on #497
No of course not :smile: but when you select a saved filter, the name of the filter could be displayed in the title.

[2016-07-16 19:36] mpcjanssen opened #499 "File order sort doesn't work for newly created tasks"
It only works after the file is re-read so the line number for new tasks is probably off

[2016-07-16 19:36] mpcjanssen opened #500 "Mine, Mine, Mine :smile:"

[2016-07-16 19:36] #500 closed

[2016-07-16 19:42] #499 closed

[2016-07-16 19:43] mpcjanssen commented on #500
Nice milestone.

[2016-07-16 20:41] smichel17 commented on #453
Yeah I wouldn't worry about this until simpletask is feature complete and has a finalized UI.

[2016-07-16 20:52] smichel17 commented on #493
Agreed, particularly since the current workflow is actually to first delete everything from your list (otherwise you get duplicates. This is annoying, from experience), then share a version from the history to Simpletask.

[2016-07-16 21:00] smichel17 commented on #497
@alphalpha007 Not proposing it for this issue, but how would you feel if we put the active filter in the titlebar, and if you tapped on the name of the active filter it would show a drop down menu for switching between filters?

[2016-07-16 21:35] smichel17 commented on #498
I think the biggest improvement will be if we separate saved filters from quick filtering via the left drawer.

I don't think we should change anything else about filtering until we do that. Then we can re-evaluate filter changes afterwards.

I suspect that it will make sense to make saved filters slightly more configurable (eg, by adding AND), and for quick filtering, to use OR for tags, OR if th

[2016-07-17 03:03] Alphalpha007 commented on #500
Congrats!

[2016-07-17 03:29] Alphalpha007 commented on #497
@mpcjanssen alright, makes sense.

@smichel17, I'm okay with that. But then you have to figure out how to accommodate the add, import and export options that's currently there in the right drawer.

[2016-07-17 04:25] Alphalpha007 commented on #498
Looks like this will just make things complicated. Lua is the way to go. Closing issue.

[2016-07-17 06:41] smichel17 commented on #497
@alphalpha007 Indeed. This is also in the context of a bunch of other changes. Lots of variables and lots of options. Here I'm just thinking about the one part of where to put the interface for changing filters.

What about if the filters were tabs?

[2016-07-17 14:59] smichel17 commented on #498
I'll note that I don't think we should add any logic to saved filters. It should be along the lines of how it is now: you either pick OR mode or INVERT mode and then select lists/tags. I'm suggesting that it *may* make sense to add an AND mode there.

....but again, that we shouldn't worry about that before separating filtering into two stages.

[2016-07-17 16:06] vojtechkral commented on #466
@smichel17

Well, your're right, the Calendar is appointment-centric and has no "standalone" reminders. And as such it's awkward to use for I-just-want-a-reminder types of thing.

A notification that persists until a task is complete sounds good. However I remember @mpcjanssen not liking the idea of Simpletask doing notifications (which is understandable).

Maybe the simplest solution would be to

[2016-07-17 18:05] smichel17 commented on #480
It was my mistake; my latest understanding is that F-droid decides which versions to build based on a metadata file in the fdroiddata repo. That file has 3 relevant key:value pairs:

`Current Version:$version`: There's one of these; For F-droid, this is `v0.100.1`
`Current Version Code:$version_code`: There's one of these; it must correspond to the version; Android uses this to determine the versi

[2016-07-17 18:37] smichel17 commented on #494
This is almost possible with File Order sort -> select all -> edit. You can successfully re-order lines (although it is difficult to add new lines in the middle); The only thing that's missing is white space.

[2016-07-17 18:40] smichel17 commented on #484
Note to self: #433 has observations about Any.do's interface which are relevant to this issue.

[2016-07-17 18:44] smichel17 commented on #493
+1 for a button

This is the part that is unintuitive, and if you don't do it you end up in versioning hell.

[2016-07-17 18:52] smichel17 commented on #496
I recommend waiting to implement this because I think #484 will make it irrelevant/obsolete.

For reference, the current 'Archive' implementation has no effect on an incomplete task.

[2016-07-17 18:57] smichel17 commented on #39
That's when you put on a 'Patches Welcome' tag :wink:

[2016-07-17 19:14] smichel17 commented on #466
@vojtechkral Your memory is correct. @mpcjanssen said this in #199:

I hope my previous essay-of-a-comment convinces him that

- It's important to have reminders for projects that are ongoing but also have a due date.
- Calendars are the wrong tool for setting reminders. (They are the right tool for setting appointments, ie, scheduling)
- Notifications are the right tool for reminders.

Therefore,

[2016-07-17 19:40] smichel17 commented on #102
If I'm reading your comment correctly, there is no cached version of done.txt. If there were a cached version, it seems like you'd deal with auto-archive in exactly the same way as without it.

Another implementation that does not require a cached done.txt is:

- User completes a task with auto-archive enabled
- The task is immediately written to the cached copy of todo.txt and the snackbar with t

[2016-07-17 20:45] mpcjanssen commented on #466
I am leaning towards keeping the current implementation in the settings and adding a flexible Lua callback which will allow the user to set the calendar appointment however he/she wants.

[2016-07-17 20:47] mpcjanssen commented on #102
writing to todo.txt and done.txt should be done at the same time. So there is no need to cache done.txt as it is append only anyways (i.e. Simpletask never reads it).

[2016-07-17 20:48] mpcjanssen commented on #102
For all this to be implemented in any stable way I would like to redo the code to be completely standalone (without any files) with just a cached copy, make that work and then add back file sync.

[2016-07-18 02:35] ddisanti commented on #448
@mpcjanssen IMHO, for a complete black theme, the background color of the task list, filter tab and settings should be black.

[2016-07-18 03:07] smichel17 commented on #102
Well, if you decide to do that when you move to the new dropbox api (#470), that would also be a good time to consider #474.

[2016-07-18 05:53] smichel17 commented on #448
They are all black, for me.

[2016-07-18 09:54] aurisnoctis opened #501 "Edit shared tasks option has no effect"
In contrast to Issue #292 , The 'Edit shared tasks' option is available in Simpletask >Menu > Configuration. However, it does not seems to have any effect. For instance, when I share a link from the Firefox browser and would like to add a comment, this is not possible as the task is saved silently in the background. The tag +background is added correctly, but the editing of the task before saving

[2016-07-18 10:25] ddisanti commented on #448
@smichel17 in my case, they are dark grey and menus and drawers are black.

[2016-07-18 11:17] mpcjanssen commented on #501
Works for me. Try unselecting and reselecting the checkbox. Which version are you running?

[2016-07-18 12:32] aurisnoctis commented on #501
I unselected and selected back as suggested.

Afterwards: First trial with Firefox: generated a temporary pop-up saying "Task added to Simpletask", then nothing except seeing the browser as before (no editing window appears). Second trial on same website, just repeating the sharing with Simpletask as before: pop-up and editing window appear --> seems fine.

Maybe an initialization issue? If it wor

[2016-07-18 17:51] smichel17 commented on #448
@ddisanti what version of simpletask are you running?

[2016-07-18 17:55] smyslim opened #502 "onFilter does not filter out future due dates in widget"
When the following script is used in app filter it works fine, showing what i need: tasks due today and tasks overdue.
But same script used in widget filter gives a different result, it shows all tasks which have due dates: due today, overdue and future due dates.
Am I doing something wrong or is it a bug?

`function onFilter(t,f,e)
  if f.due~=nil then
      return os.time() > f.due;
  end
  ---

[2016-07-18 18:08] ddisanti commented on #448
Cloudless 8.1.0 from Play Store. I'm saying that the backgrounds of the different views should be black as the backgrounds of menus and drawers. I've attached a screen capture that site what I meant.
![screenshots_2016-07-18-15-04-21](https://cloud.githubusercontent.com/assets/17773786/16925155/2a824d6c-4d23-11e6-9c2d-3d48ea021173.png)

[2016-07-18 18:12] ddisanti commented on #448
For those with an Amoled screen, like me, black themed apps means battery saving. On Amoled screens, black color is represented by just turning off those pixels. Besides that, it is just cool.

[2016-07-18 19:14] smichel17 commented on #502
Which simpletask version are you using? There was a bug with widgets that was fixed in 8.05 or 8.06, I believe.

[2016-07-18 19:20] smyslim commented on #502
I am using Simpletask version 8.1.0, the last update available at PlayMarket.
Android 6.0.1

[2016-07-18 20:21] smichel17 commented on #466
@mpcjanssen There's a different between (1) an appointment you make with yourself, (2i) a reminder for something in the future, and (2ii) an urgent reminder of something you need to do RIGHT NOW.

1. "I'm planning to work on project A from 9:30-11:30 tomorrow."
  - This is something you should manually add to your calendar.
  - Simpletask is not a calendar app and should not ever provide an interf

[2016-07-18 20:24] cruzccl commented on #502
Same thing here about a week ago: widgets do not show the same tasks than they do when you open Simpletask tapping on them (inside the app the filter works, in the widget filter is not ok).

I have some complex filters and I am debugging which filter behave this weird way (besides due), I report here any conclusion :)

Simpletask v8.1.0 on Android 6.0.1 too.

[2016-07-18 20:44] cruzccl commented on #502
I think the problem is related to calling os.time() in widgets filter, does this make sense to you? :S

[2016-07-18 20:45] smichel17 commented on #502
The bug that was happening before 8.05 was: all lua was running in a single context, so although onFilter was defined in each widget, it was getting overwritten by whichever other filter got loaded most recently. Each filter and widget now has its own context so this shouldn't happen any more. To test whether it is the same bug resurfacing, you can try changing the active filter in the app and the

[2016-07-18 21:02] cruzccl commented on #502
I doesn't seem to have any effect.

Filters not having os.time() function are working fine to me both in widget and in app, I think the problem is somehow related to that.

Thank you.

[2016-07-19 06:57] mpcjanssen commented on #448
@ddisanti is this the dark them or the black theme? It looks like the dark theme.

[2016-07-19 07:06] mpcjanssen commented on #502
It's indeed an issue wit os.time being nil. Will look into it.

[2016-07-19 07:10] mpcjanssen commented on #502
Do you see any errots in the log?

[2016-07-19 07:34] mpcjanssen commented on #502
Seems not to be os.time () after all but the incorrect filter being run. Seems that the widget is using an older version of the filter.

[2016-07-19 07:54] mpcjanssen commented on #502
Update code is not run in interpreter before applying the filter on ActiveFilter.apply

[2016-07-19 09:50] ddisanti commented on #448
@mpcjanssen is the black theme.
![screenshots_2016-07-19-06-44-12](https://cloud.githubusercontent.com/assets/17773786/16945812/f4327d98-4da6-11e6-845a-55c14570088f.png)

[2016-07-19 16:55] smichel17 opened #503 "onFilter arguments"
### Assorted architecture questions/suggestions:

The `fields` table has an entry for `task`; why is the task also an argument?
- No preference about which you should get rid of, but it seems odd to have both.

---

`due`, `threshold`, and `recurrence` are extensions we use, not a core part of the todo.txt format; I think they belong in the `extensions` table, not the `fields` table.
- If you do t

[2016-07-19 20:00] smichel17 opened #504 "Elevated lua status appreciation"
By putting this in my global config:

[code]

I can use this script for my inbox:

[code]

and this for my next actions

[code]

SO much nicer.

[2016-07-19 20:03] #504 closed

[2016-07-20 19:20] cruzccl commented on #502
I think every message is just informational and logs include lua scripts as expected. I am not an expert though...

Does this mean that this problem is hard to solve?
I use the widget to show important tasks at a glance in my main screen and it is quite useless now :S

Tell me please if I can help to have this solved asap.

Thank you, regards.

[2016-07-20 20:28] stefan-girlich opened #505 "Trying to close right drawer via up actionbar button opens left drawer"
1. Open main screen
2. Swipe in from right screen edge to open right drawer ("Saved filters"). -> Menu icon in ActionBar animates to "back" arrow.
3. Click "back".
-> Left drawer opens _underneath_ right drawer.

Version: Simpletask cloudless v8.1.0 (3038)

[2016-07-21 04:46] Alphalpha007 commented on #504
Can you please explain what this does? Looks interesting.

[2016-07-21 11:17] mpcjanssen commented on #503
Regarding the separate task parameter, I didn't realize tasks is already in fields so it's not needed.

Regarding the non nil table, When ensuring the table is non nil, checking if a tags is available is a simple `f.tags.tagname` without a necessary `nil`check for `f.tags`.

The `next(...)` test is shown in the Lua scripting examples.

In the end it's a judgement call about which scenario is more

[2016-07-21 11:20] mpcjanssen commented on #503
I prefer merging exts with field and keeping the current keys and leaving the easy access to `task` to prevent breaking existing scripts.

[2016-07-21 14:19] smichel17 commented on #504
@alphalpha007 I use simpletask for GTD. I capture stuff throughout the day, then process it daily to add projects and contexts. I also use simpletask for things like shopping -- 'excluded' is lists that are not contexts.

From there, it reads almost like english. For my inbox, a task is included if:

- It has no lists
or
- it has the 'waiting' list
  - to remind me to follow up with whomever I'm w

[2016-07-21 14:54] smichel17 commented on #503
Re task in fields: ok. Not a big deal, it's just odd to be in two places.

Re non nil table: that makes sense.

Re fields vs extensions: this means people cannot use any of the keywords (task, threshold, completiondate, etc) as extensions. Is that an acceptable cost?

Re extensions implementation: what if there are multiple of the same extension, like #466? If someone wants to add multiple reminde

[2016-07-21 15:28] Alphalpha007 commented on #504
Can you add excluded lists in referred format? For example, exclude all lists that begin with "e-"? Eg: "e-shopping"

[2016-07-21 15:29] Alphalpha007 commented on #504
I meant regex format

[2016-07-21 20:29] smichel17 commented on #504
I mean, you can do whatever lua allows you to do. If you want to learn lua, [the lua book](http://www.lua.org/pil/contents.html) seems to be a good resource for that. I'm in the middle of reading it; it's a relatively easy read and the language is pretty elegant.

I don't know offhand whether lua supports regex but a quick duckduckgo search pointed me to [this page](http://www.lua.org/pil/20.1.htm

[2016-07-21 21:02] smichel17 commented on #505
I can also replicate this. As I've said before, I think the best way to fix it is to stop using a right drawer.

[2016-07-22 06:24] Alphalpha007 commented on #504
Very nice. I've tweaked that a bit too get what I want. Do you have any other interesting functions that you use? I'm trying to figure out the possibilities.

[2016-07-22 14:57] Alphalpha007 commented on #497
@smichel17 I wouldn't prefer tabs for the simple reason that when the number of filters is large it's an inconvenience.

[2016-07-22 14:58] Alphalpha007 commented on #496
Okay. But why reason why an incomplete task cannot be marked as complete and moved to the archive on clicking ’archive'?

[2016-07-22 15:00] Alphalpha007 commented on #496
Any* reason

[2016-07-22 15:27] Alphalpha007 opened #506 "Allow widget font resizing"

[2016-07-22 15:35] Alphalpha007 opened #507 "Allow choosing a filter saved in main app in the widget settings."

[2016-07-22 15:46] smichel17 commented on #504
Nope, that's about it. As I get further into the book I might find something else, but my filters pretty much do what I need them to, so I don't see much of a reason to change them.

[2016-07-22 15:50] smichel17 commented on #497
@Alphalpha007 I'm imagining in the future, sorting will happen in a separate stage from filtering; filtering will only be about controlling *which* tasks get shown. In that future, you only have 3 filters, so maybe it's actually nicer to have them in tabs.

[2016-07-22 15:54] Alphalpha007 commented on #497
What are these 3 filters?

[2016-07-22 16:01] smichel17 commented on #496
I envision a future where you can switch between todo files using filters. For example, you might have one filter that shows a MYN view of file1, another filter that shows file1 by context, and a third filter that shows a MYN view of file2. Similarly, each filter might archive to a different file. I anticipate that in this future, we won't need the ability to archive individually anymore.

I agree

[2016-07-22 16:02] smichel17 commented on #497
https://github.com/mpcjanssen/simpletask-android/issues/458#issuecomment-232572759

[2016-07-22 16:07] Alphalpha007 commented on #497
I see. But I have already created two filters after I made that comment, and really useful ones too. Just saying that a scrollable dropdown would be much cleaner.

[2016-07-22 16:14] Alphalpha007 opened #508 "A list item not disappearing from left drawer even though all tasks having that list have been deleted."

[2016-07-22 16:21] smichel17 commented on #508
Are you certain there's not a hidden task with that list? If so, can you provide steps to recreate this?

[2016-07-23 00:59] Alphalpha007 commented on #508
My bad. There was a hidden task.

[2016-07-23 00:59] #508 closed

[2016-07-23 01:19] Alphalpha007 commented on #504
Instead of excluding lists for next actions, may I recommend including only @@contexts? Much easier.

function isExcluded (table,e)
  local n
  for x in pairs(table) do
    n=string.find(x, e)
    if n~=nil then return false; end
  end
  return true;
end

function onFilter(t,f,e)
  return not isExcluded(f.lists,'@') and isExcluded(f.lists,'waiting')
end

[2016-07-23 03:29] Alphalpha007 opened #509 "Drop down select for choosing recurring interval"

[2016-07-23 07:26] mpcjanssen commented on #507
For now easiest way to achieve this is to select the filter in the app and then create the widget. it will pre fill with the current filter.

[2016-07-23 07:28] mpcjanssen commented on #505
Cute bug. Should be easy to fix.

[2016-07-23 07:30] mpcjanssen commented on #502
At the moment, I dont really know what is causing this, but I can reproduce it ao that helps.

[2016-07-23 08:23] mpcjanssen commented on #502
The problem is that in the scope of executing the widget code, global functions are not available for some reason.

[2016-07-23 08:42] mpcjanssen commented on #502
Seems the whole approach of loading the callback in a table isn't working.

[2016-07-23 09:45] mpcjanssen commented on #502
Most robust way to fix this is to  create a different interpreter for every filter.

[2016-07-23 13:40] #502 closed

[2016-07-25 03:59] Alphalpha007 opened #510 "Recurring tasks improvements"
Have a way to defer threshold date when setting recurring tasks. This can be done by:
Step 1: Add a setting to enable recurring threshold date
Step 2: Add option to choose default number of days between threshold and due dates. Starting from 0 to whichever is apt.

[2016-07-25 06:50] Alphalpha007 opened #511 "Option to disable elements in sorting tab."
Inability to remove elements like creation date causes the tasks to display in unintended ways.

[2016-07-25 07:11] Alphalpha007 commented on #511
I just realized this was because "creation date is threshold".. Ignore please.

[2016-07-25 07:11] #511 closed

[2016-07-25 12:13] smichel17 opened #512 "Move "create is threshold" to the sorting tab"
It's about sorting. All the other settings in that tab are about display. This causes confusion like #511.

[2016-07-26 08:21] tomfbush commented on #443
I hope this is in the right debate about icon consistency... But I forget which of the icons that look like tags and paper to add projects and contexts is which. I would think just having icons of + and @ would not only make the approach cater for nuanced uses of those parts of the syntax but also make it easier for me to remember ;-) in my head a tag icon relates far more to a context

Tom

[2016-07-26 09:20] mpcjanssen commented on #443
@tomfbush I didn't consider usages where `@` and `+` mean different things (for example the todo.txt context and project). I will see how it looks if I use the textual representation instead of the icons.

[2016-07-26 20:46] mpcjanssen commented on #510
@Alphalpha007 one could argue whether a recurred task needs a threshold date at all, because this is very single tasks specific.
That being said, I think the default should be to update the threshold date by the recurrence amount and make other scenarios available from Lua.

[2016-07-27 00:13] smichel17 commented on #443
- The icons are aesthetically pleasing and more clearly interactive.
- The icon for threshold in #481 gives a better impression of the intended use for threshold dates than text.
- `@`, and `+` more clearly describe their function than their icon counterparts
- The icons for priority and due date (in #481) are roughly equivalent to their text counterparts.
- The edit icon is absolutely superior to

[2016-07-27 00:16] smichel17 commented on #510
I agree that seems reasonable.

[2016-07-27 05:48] mpcjanssen commented on #443
@smichel17 that is a good idea, but I would prefer not to change the UI too much based on settings, it's a lot of work to maintain.
I will use the icons everywhere so it's consistent and maybe update the list icon to a more intuitive one (I am open for suggestions)

[2016-07-27 06:14] Alphalpha007 commented on #510
Can you elaborate on what you meant by "single tasks specific"?
I use threshold date to hide tasks that are irrelevant at present. If I have a task like "take out trash", I'd rather only see it on the day I'm supposed to do it.

[2016-07-27 09:07] djibux commented on #443
@mpcjanssen, the tag icon has a + in the bottom right corner.  Maybe you could adapt the list icon to have a @ in the bottom right corner.

[2016-07-27 09:55] mpcjanssen opened #513 "Investigate splitting storage from main app as a dowloadable apk"
Probably using `android:sharedUserId`

[2016-07-27 11:14] mpcjanssen commented on #503
@smichel17 good point about the overlapping extensions. My idea is now:

- task: is redundant but I don't want to change the interface again and it doesn't hurt
- fields: Interpreted parts of the task such as due date as a timestamp, lists as a table etc.
- ext: string, string table with all extensions (so here due will contain the original date string)

I will update the docs to this effect.

[2016-07-27 11:49] mpcjanssen commented on #510
@Alphalpha007 I mean that the fact that task A started at date X doesn't necessarily mean that the recurred task B starts at time X+Y

[2016-07-28 06:49] #505 closed

[2016-07-28 11:16] mpcjanssen commented on #470
To summarize my experience with Dropbox:

- Simpletask used V1 Core API (inherited from todotxt)
- Moved to Sync API for easier sync.
- Sync API was deprecated, had to move back to V1 Core
- V2 API announced with the remark that V1 will stop to work
- Will have to do everything all over again (together with every application that sync with dropbox on the planet).

My current impression of Dropbox

[2016-07-28 11:25] mpcjanssen commented on #470
Some 'nice' background info of the Dropbox attitude towards developers. https://disqus.com/home/discussion/dropboxdeveloperblog/deprecating_the_sync_and_datastore_apis_dropbox_developer_blog/

[2016-07-28 17:42] Mirodin opened #514 "Widget scrollbar changes size"
I am not sure if that is intended, but the scrollbar within the widget changes its length while scrolling. This is not a issue since the widget works fine but I think it is a bit weird since one can not estimate the list's length.

Device: Alcatel One touch Idol 3
Android: 5.0.2
Widget size: 2x2

[2016-07-28 17:45] Mirodin commented on #514
I forgot the version number... *shame*
It is 8.1.2

[2016-07-28 20:53] smichel17 commented on #514
It's been around for a while.

I believe it's that the scrollbar changes length depending on how many tasks are shown. Since some tasks are multi-line tasks, they take up more screen space but the scrollbar only counts them as one. Thus, the more multi-line tasks, the smaller the scrollbar.

 I'm not sure if it's intended.

[2016-07-29 05:14] mpcjanssen commented on #514
It's not intended but I doubt it can be fixed. (Except maybe by chaning the view from a SrollListView

[2016-07-29 05:26] mpcjanssen commented on #514
Nope RecyclerView has the same behavior (it's used in the main UI). Works as intended by Google, nothing I can do about it, sorry.

[2016-07-29 05:26] #514 closed

[2016-07-29 05:43] mpcjanssen commented on #514
Update: one option to use would be`android:smoothScrollbar="false"` but that makes the scrollbar really jerky so I wont enable that.

[2016-07-29 07:31] mpcjanssen commented on #420
Note that capturing of tasks should work with note to self on google now. Not sure how that works on a smartwatch though.

[2016-07-29 15:40] y2kbugger commented on #458
less than once per month

I use them extensively for like one or more "lists to a sorting-grouping"
I have some for checklists eg @^beforeTravel sorted alphabetically, and for some checklist by priority to make them in a very specific order.
I have Contexts @@home for GTD tasks grouped by completion priority tag and then date
I have have a filter that I call urgent which is high priority and items

[2016-07-30 00:46] ddisanti commented on #505
@mpcjanssen in the last test release, this is fixed for the upper left Back button, but the rest of the elements in the upper toolbar remains active when the right drawer is opened. So, if you tap on Search, keyboard appears and you do as usual but right drawer remains on top (it is also for Filter and Settings buttons) I think upper toolbar and right drawer should be active one at a time for prop

[2016-07-30 08:26] mpcjanssen commented on #505
@ddisant toolbar also stays open on left draws swipe so this is a different issue. Please log a separate issue for this.

[2016-07-30 15:41] ddisanti opened #515 "Upper toolbar stay active when opening right/left drawers"
Search, Filters and Settings buttons on upper toolbar remains active when right or left drawers are opened, thus tapping on Search, keyboard appears, you can enter your search pattern but the drawer previously opened remains on top of the screen.
For proper behaviour, drawers should hide when tapping on upper toolbar or upper toolbar should stay inactive when drawers are opened.

[2016-07-30 19:24] smichel17 commented on #515
My opinion: wait to fix until a new interface is decided on. It's a waste to do this if, for example, we'll end up having different actions in the app bar when the drawer is open.

[2016-08-01 15:46] smichel17 commented on #512
I think this is closed.

[2016-08-01 16:03] smichel17 opened #516 "Separate sort and group"
I'd like to be able to show one task per project (ie, the next action; currently possible with lua) and have headers by project, but sort by threshold date (MYN style).

The threshold date order is important to me,  but the precise date is less important, so showing project more prominently is preferable to me.

There are some issues / design decisions to tackle if you simply separate sorting and

[2016-08-01 16:20] smichel17 opened #517 ""Use todo.txt terms" -> "GTD mode""
This is a stub. Will edit/elaborate later.

Core of the idea: I bet we could combine many related settings into a single setting where you can pick from some common use cases (gtd, myn, basic lists, etc)

[2016-08-02 19:36] smichel17 opened #518 "Placeholder UI"
As the app is loading, if you display a screen with the same colors as the main structural elements (instead of a white background) it makes the app feel more responsive.

Example

(don't mind the quotes, they're a hack to make the image smaller)

It should probably wait until after any other UI changes. It's definitely a small benefit, but it's the little things that make an app feel great to use

[2016-08-04 18:07] mpcjanssen opened #519 "Dropbox archiving fails when offline"
When archiving when offline, the archiving fails. Simpletask could cache the archived tasks and move them to done.txt when back online.

[2016-08-05 08:34] mpcjanssen commented on #517
@smichel17 I am a bit hesitant to add predefined settings for certain use cases, even though it's easier for the user it will lead to discussion about which setup is the best GTD setup. I am also hesitant to change the UI based on a certain mode as this is quite a big maintenance overhead.
I am curious about your ideas though.

[2016-08-05 08:35] mpcjanssen commented on #501
@aurisnoctis 8.2.0 will be released soon (is already in beta on the play store). Can you check if this works now?

[2016-08-05 12:18] smichel17 commented on #517
The spark of the idea was thinking about gtd terms and quick filtering. If I'm using `@`contexts, I want ONLY filtering -- where the tasks shown have any subset of the selected contexts. Currently in order to get that functionality you need to invert the filter and select all the contexts you don't want.

But someone who is using regular lists probably wants OR filtering, like live.

---

The down

[2016-08-06 17:23] kai11 opened #520 "Preserve tasklist position after some actions"
1) Open big list of tasks
2) Scroll to middle of the list
3) Open URL in task

Expected result
1) URL opened in background (e.g. in Firefox), scroll position is the same

Actual result
1) Task list scrolled to the top, position is lost and I need to find task again

Other actions with same behavior:
1) SMS / phone call
2) Task(s) edit in text editor

Task competition and change priority/tag/projec

[2016-08-06 18:14] mpcjanssen commented on #520
When you switch away from simpletask the view is recreated when you switch back. Restoring the position in the tasklist is very hard (i tried) but i will look at it again.

[2016-08-07 05:05] kai11 commented on #520
Thanks.
What about editing task - is it switching away from simpletask as well?

[2016-08-07 13:21] mpcjanssen commented on #520
@kai11 yes it is.

[2016-08-07 13:22] #520 closed

[2016-08-07 18:16] mpol opened #521 "Tasks cannot be completed"
Using Simpletask Cloudless 8.2.0 from F-Droid.

Since upgrading to this version I cannot mark tasks as completed permanently.
When I touch the checkbox the item disappears but it reappears after closing and reopening Simpletask.

The item still is visible as completed in history if it is not recurring and for recurring tasks the next instance is created, but on the task list the task just won't di

[2016-08-07 19:38] #521 closed

[2016-08-07 21:29] #465 closed

[2016-08-07 23:26] smichel17 opened #522 "Lua config app bar should not scroll off screen"
It makes it impossible to cut/copy/paste.

[2016-08-07 23:33] smichel17 opened #523 "global functions aren't working in filter scripts"
I have 3 filters that show the same tasks (next actions, sorted differently) so I made a global isAction function and my onFilter functions just return isAction(f).

Right now those filters display as empty.

I'd share the exact functions but I can't because of #522.

[2016-08-08 07:24] mpcjanssen opened #524 "Black theme is not black on KitKat"
The background for the black them is not black on KitKat devices (and probably ICS).

[2016-08-08 07:31] mpcjanssen commented on #522
This seems to be standard behavior if the keyboard is visible. No idea how to  fix this, but I will add a share button instead. So you can share the script.

[2016-08-08 07:53] mpcjanssen commented on #523
@smichel17 Can you see a Lua error in the logging?

[2016-08-08 08:01] mpcjanssen commented on #523
it seems to work for me. Double check did you use:

[code]

or
[code]

You'll need the second form. The first one always returns `nil`

[2016-08-08 08:13] #524 closed

[2016-08-08 11:15] smichel17 commented on #523
I'm certain the issue is not with my script because it was working before the update.

`i ActiveFilter Resetting onFilter callback in module mainui

Seems to happen immediately after loading any filter.

[2016-08-08 15:11] smichel17 commented on #522
I'd prefer fixing this to adding a share button, as this also prevents me from rearranging/refactoring code or cut-and-pasting from filters (which do not have this behavior) to the global config. Not that I do those things that often now that I'm set up, but I have wanted to a couple times in the past and had to cut-paste from the top in chunks.

Don't work on it any further; I think I've figured

[2016-08-08 15:28] mpcjanssen commented on #523
That's normal. Some other checks,

- Is the Use filter checkbox on?
- What does testing the script do?

[2016-08-08 15:29] mpcjanssen commented on #522
I can't fix this, it's built in Android behavior.

[2016-08-08 16:02] smichel17 commented on #522
It is fixable and I have working example code. It involves a RelativeLayout instead of a LinearLayout. The actual fix will only take a couple minutes but I'm also learning a bunch about android dev at the same time.

[2016-08-08 16:03] smichel17 commented on #522
Working example code: https://github.com/jonan/ForkHub/blob/master/app/src/main/res/layout/comment_create.xml

[2016-08-08 16:04] smichel17 commented on #522
Also figuring out which of those attributes are important to fixing this issue and which are not.

As I said, though, don't worry about it; I'd like to do this myself since it's a good easy change to get my feet wet.

[2016-08-08 16:08] smichel17 commented on #522
Not to mention that the script box in the filter view has the correct behavior.

[2016-08-08 17:16] #522 closed

[2016-08-08 19:25] smichel17 commented on #523
I decided to become a scribe

### Lua global config:

[code]
### Script tab of filter

- [x] Use script

[code]

---

Any test task that I have tried so far returns `false: task will not be shown`

[2016-08-08 19:28] smichel17 commented on #523
Added `toast(isAction(f))` to the end of my filter script (after onFilter; I also tried before onFilter with the same result) . I get a Lua error which spits back my global config, followed by `:3 attempt to index ? (a nil value)` I wonder if the problem is with my isEmpty function?

[2016-08-09 04:32] mgraham opened #526 "hide checkboxes"
First of all, thank you very much for Simpletask - it is a wonderful app and by far the most-used app on my phone.

I apologize if there has been a discussion about this already - I searched but didn't find one.

There used to be an option to hide the completion checkboxes.  I think the option is gone now.  Is there any hope of getting it back?  My main issue is that I often find that I check a ta

[2016-08-09 05:55] mpcjanssen commented on #526
@mgraham they were removed in b2b01afd546a42e18d85af9128978962f0813ffe it makes the toolbar code easier and more consistent. I will see if I can restore the setting.

[2016-08-09 12:05] smichel17 commented on #526
@mgraham Would #102 fix your main issue?

[2016-08-09 12:07] Chriswaterguy opened #527 "New tasks and changes sometimes not sticking,"
This morning* I was going through my tasks for the day, and marked 4 of them as done. My options were set to not display "done" tasks, so they were hidden from view. Shortly afterwards they appeared again,  Likewise for some tasks that I marked with a threshold of tomorrow - they popped back into view without the threshold.

as not yet done. I repeated this a couple of times, and they kept coming

[2016-08-09 13:07] warptozero commented on #527
I'm having the same issue. Changes dissappear after a while (mostly after a relaunch). New tasks however do seem to stick.

[2016-08-09 15:39] mpcjanssen commented on #527
@Chriswaterguy @warptozero  8.2.1 fixed part of the issue. 8.2.2 should have fixed it all.

[2016-08-09 15:40] mpcjanssen commented on #527
For info, the tasks that are lost should still be in the history (Menu -> History) the issue was that the updated tasks were not being committed to the internal database.

[2016-08-09 15:56] mpcjanssen commented on #523
For me the task

`test @@home +test` matches which seems to make sense

[2016-08-09 16:02] mpcjanssen commented on #523
So it seems to me you want something like

[code]

[2016-08-09 16:26] smichel17 commented on #527
I'm pretty sure it is fixed in 8.2.2 as @mpcjanssen said, but it did also affect task creation sometimes.

[2016-08-09 17:04] smichel17 commented on #523
I used to have a specific list of "lists that are not contexts, basically" that isExcluded checked for and some other stuff, and my contexts were just normal lists instead of using the `@@context` format.

When I was testing, I forgot that I'd changed formats, so I didn't use `@@context`, hence my tests were always false.

The actual bug was the database bug, which reverted my task list to the old

[2016-08-09 17:04] #523 closed

[2016-08-09 18:27] mgraham commented on #526
@mpcjanssen - thanks for looking into it!

@smichel17 - yup, I think that a single level of undo would probably fix my main issue

[2016-08-10 13:11] smyslim commented on #502
@smichel17 thank you for the shortcut code, will try it.

[2016-08-10 14:05] smichel17 commented on #502
@smyslim no problem. Normally I prefer to write out the logic using if/then statements because -- while just returning the values is fun to program -- it's much less readable to someone who's not familiar with the particular language. In this case, though, it's still really clear what's going on :smile:

[2016-08-10 14:27] smichel17 commented on #523
If you're curious,

`and not f.lists["excluded"]` was kind of a remnant of before the change to `@@context`. It actually does belong, but just didn't make sense the way I currently had things. I got around to updating my script, here's what I actually want/intend:

[code]

[2016-08-10 14:28] smichel17 commented on #504
I ended up using `@@context`. Here's my current lua global config:

[code]

Then my filters for next actions just have
[code]

[2016-08-10 14:32] smichel17 commented on #504
And my inbox filter looks like
[code]

[2016-08-10 18:53] smichel17 opened #528 "Hide "use calendar for date entry" on material devices"
The setting has no effect on devices with material design, so it shouldn't be shown on android 5.0+.

[2016-08-11 23:49] Chriswaterguy commented on #527
Thanks, good to know. And glad to learn about the history (Menu ->
History).

Happy to go back to SympleTask. The official app doesn't have "threshold"
functionality, which I use a lot!

I don't know a lot about coding. How likely is an issue like this to recur
(or, how easy is it to confirm that it's not happening in new releases)?

Thanks again. This is the only task app I've ever stuck to, so i

[2016-08-12 03:25] smichel17 commented on #527
Hard to answer. Basically it's like this:

- When you write code, there are *always* bugs.
- There's some automated checking that is done that catches almost all bugs that are just typos, and some bugs that are flawed logic.
- Some bugs make it past that stage, and you find them during testing.
- Some bugs make it through testing.

For this particular bug, @mpcjanssen wrote some code so that your

[2016-08-12 06:21] mpcjanssen commented on #527
Thanks @smichel17 for the excellent  explanation. Some additional comments from me.

- this type of functionality is difficult to test automatically on Android so currently it's not automatically tested. (There are automatic tests though)
- Due to not being a big company I dont always have time to test as much as I would want. Also the large amount of use cases for simpletask increase the testing

[2016-08-12 11:52] mpcjanssen commented on #528
Actually Material still has the spinner calendar style it's just controlled using a different way (using XML) and it can't be controlled from code (thanks Google)

See: https://developer.android.com/reference/android/widget/DatePicker.html#attr_android:datePickerMode

[2016-08-12 12:07] mpcjanssen commented on #528
So proper way is probably to use two different XMLs and create a dialog from scratch with the proper XML (and hope that this also works on older devices)

[2016-08-13 02:33] Chriswaterguy commented on #527
Great, thanks for the answers!

On 12 Aug 2016 16:22, "Mark Janssen" <notifications@github.com> wrote:

[2016-08-13 09:00] mpcjanssen commented on #527
@Chriswaterguy is the problem fixed for you?

[2016-08-16 12:32] mpcjanssen commented on #487
I will look into scenario 3 where the AddTask activity will retain pending edits.

[2016-08-17 20:16] djibux commented on #516
I would like that as well.
Creating custom groups would also be nice (for instance I would love to sort by threshold and have only three groups: past, current and future).

[2016-08-17 20:25] djibux opened #530 "Simpler handling of threshold dates"
I extensively use threshold dates (every single item in my list has one).  Quite often I want to postpone items.  I would love an easier way to do that than the one I found (taping the task, selecting the “…” menu, selecting “Set threshold date(s)” then choosing a date).

A way to do that could be if sliding a task to the right could open the threshold date selection.

[2016-08-18 11:50] mpcjanssen commented on #516
@djibux for custom groups I am thinking about a `onTaskGroup (task)` callback where you can return your own group allowing your scenario

[2016-08-18 11:51] mpcjanssen commented on #530
@djibux I thoroughly hate sliding gestures (I keep executing unintended actions). So this probably wont be implemented anytime soon.

[2016-08-18 12:03] mpcjanssen commented on #284
Scratch that, you can use the onGroup callback to generate custom groups. This allows any empty header.

[2016-08-18 12:11] #284 closed

[2016-08-18 12:19] djibux commented on #516
Awesome!

[2016-08-18 12:22] djibux commented on #530
Well @mpcjanssen, any other implementation would be good for me: long press, a "custom action" icon, …
Being able to choose icons displayed at the bottom when selecting a task could also work.  I almost never use calendar reminders or tags, so I could put "theshold" there instead..

[2016-08-18 12:25] mpcjanssen commented on #530
@smichel17 is working on an UI update, maybe he can take this into consideration

[2016-08-18 12:48] smichel17 commented on #487
It occurs to me in retrospect that since you can add/edit multiple tasks at once, if I share something to Simpletask while in the middle of editing/adding a task, the new thing should be appended to the existing addTask screen.

[2016-08-18 12:52] smichel17 commented on #516
@mpcjanssen what if you just updated the onFilter callback so if you return True/False it is shown or not, or you can return the name of the group you wish the task to be shown under?

[2016-08-18 13:13] smichel17 commented on #530
My main goal so far has been to get rid of the right drawer and simplify the filter interface; I haven't thought deeply about any paradigm changes.

@djibux Calendar reminders are moving to the top bar and threshold dates are moving to the bottom bar. Would that be a good solution for you (one fewer tap)?

[2016-08-18 13:20] smichel17 commented on #530
@djibux would you mind chiming in on #458?

[2016-08-18 13:20] djibux commented on #530
@smichel17 yes that would be better than the current situation :)

[2016-08-18 13:21] smichel17 commented on #485
Blarg, things are so all over the place. They're all in one place in my head..

[2016-08-18 13:39] djibux commented on #458
Hello,

# Feature Use
What are actions you do most often?
* Basic task handling (creation, update, completion), no tags or
* Assignment to lists
* Setting and updating thresholds
* Occasional use of priorities
* Searching

Do you find any of these actions hard to do?
* Only updating thresholds (see #530), the rest is great

What actions do you perform very rarely?
* Tags, calendar reminders, saved

[2016-08-18 13:41] mpcjanssen commented on #516
@smichel17 I find filtering and grouping two different concepts. I can easily imagine scenarios where you want to filter and not group or where you want to group but not filter.

So by splitting the callbacks, they are easier to reuse and maintain. Also putting everything in the onFilter will make the semantics of that function harder.

[2016-08-19 11:37] smichel17 commented on #516
@mpcjanssen I agree, this just makes the grouping interface more complicated...

On the upside, new UI is pretty modular so it shouldn't be too hard to change this to accommodate a new callback.

[2016-08-19 12:51] mpcjanssen commented on #516
I had a scripting tab which used a spinner to select the callback to test which looked quite useful, might reintroduce it.

[2016-08-19 14:22] smichel17 commented on #516
@mpcjanssen I should have current version of the UI update posted soon (could be anywhere from a few hours to a few days). Might make sense to hold off on frontend changes until then.

[2016-08-19 14:31] mpcjanssen commented on #516
Roger

[2016-08-19 14:53] smichel17 commented on #522
hmm. looks like a [ScrollView](https://developer.android.com/reference/android/widget/ScrollView.html) might be the "right" solution here.

[2016-08-19 16:52] shayneholmes commented on #526
Wanted to chime in on this: for me, the main issue with the checkboxes being gone is the screen real estate. Between the individual items taking up more space and the fast scroll bar being gone, I spend a lot more time scrubbing through my list than I used to.

[2016-08-19 19:33] smichel17 commented on #526
I would like to eventually redo the UI to remove the completion checkbox entirely.

[2016-08-20 07:25] nthorne opened #532 "Sorting of threshold dates not applied unless app is killed"
In 8.2.2, tasks with a threshold date of today does not appear at top of the task list as they should (and have in previous versions) unless I kill SimpleTask and restart it (sometimes multiple times).

[2016-08-20 09:07] mpcjanssen commented on #532
At midnight a trigger should fire which resorts the tasks. Also multiple restarts shouldn't matter. What timezone do you live in?

[2016-08-20 10:47] mpcjanssen commented on #526
@shayneholmes that's Google for you, they deprecate a thing and then give you a new thing with less functionality. I haven't found any good fast scroll for a RecyclerView yet.

[2016-08-20 11:23] smichel17 commented on #526
@shayneholmes @mgraham would you be willing to chime in on #458?

[2016-08-20 12:53] smichel17 commented on #487
@mpcjanssen I think I agree with @memeplex here. Simpletask should only appear once in the history. If I'm editing something, go to the home screen, then open simpletask from a widget, I should return to the edit screen and the widget's filter should be selected in the background, after I finish editing.

[2016-08-20 13:00] smichel17 opened #533 "Use default launch activity animation for recreating settings activity after theme change"
It feels much smoother than suppressing the animation. See [here](https://github.com/SimpleMobileTools/Simple-File-Manager/issues/9) for more.

[2016-08-20 13:16] nthorne commented on #532
GMT+1

The multiple restarts does in fact resolve the issue. Usually it takes one
kill and restart, but sometimes it takes a few more to force a new sort.
This has stated happening since the latest, or perhaps second to latest
update.

On Aug 20, 2016 11:07, "Mark Janssen" <notifications@github.com> wrote:

[2016-08-20 14:59] shayneholmes commented on #458
## Feature Use
### Most often: Look up items to do
The thing I do most often is look up something to do. Usually I go from my default "items that are actionable" filter (everything not threshold in the future) and apply a specific context filter from the left slide-out.
### Next most often: Complete items
I frequently complete things in multiples, because I'm checking off e.g. a packing list where

[2016-08-21 15:04] Chriswaterguy commented on #527
I haven't noticed the problem recurring since I made the original post.
Thanks.

On 13 August 2016 at 19:00, Mark Janssen <notifications@github.com> wrote:

--
Chris Watkins
Appropedia.org <http://appropedia.org>

[2016-08-22 17:45] smichel17 opened #534 "Bottom selection bar actions spread evenly"
I know this is somewhat harder to do since splitActionBar is deprecated, but it's much nicer when actions are evenly spread.

- Looks nicer, especially when the bottom is near-full
- Easier to hit buttons that are further spread apart

[2016-08-22 22:28] smichel17 commented on #411
Having a bunch of different UI update issues made sense when they were more separate. Now it makes sense to close excess issues, so I'm closing this.

[2016-08-22 22:28] #411 closed

[2016-08-22 22:42] smichel17 commented on #534
Actually, hold off on this while I'm rethinking this part of the interface...

[2016-08-22 22:45] smichel17 commented on #227
Happens in the main activity, too.

[2016-08-23 01:24] smichel17 commented on #434
Seems like the new lua engine + new UI will suit my needs.

[2016-08-23 01:24] #434 closed

[2016-08-23 01:34] smichel17 opened #535 "On Selection, Hamburger Menu -> Back Arrow"
Also, next to this arrow we should display the number of selected tasks. This is the paradigm in almost every android application, material or holo.

I *think* the way to do this is, instead of clearing and re-inflating the ActionBar menu upon selection, create a new toolbar that sits on top of the ActionBar, but I want to double-check that.

[2016-08-23 05:03] arvinboggs commented on #160
Any news on this feature? I would love to use a "match all tags" feature. As it stands now, I have no usecase for the "match any tag". Thanx.

[2016-08-23 12:45] mpcjanssen commented on #527
Please reopen if it reoccurs. Closing for now.

[2016-08-23 12:45] #527 closed

[2016-08-23 12:45] mpcjanssen commented on #535
Is easily solved with updating the title. No need for an overlay.

[2016-08-23 13:13] smichel17 commented on #160
@arvinboggs I'm working on a UI update, next iteration will be up soon in #484. We should wait for that, to work on this.

[2016-08-23 13:14] mpcjanssen commented on #534
Also can't be done as far as I am aware. The toolbar for split action bar is not equivalent.

[2016-08-23 13:17] mpcjanssen commented on #160
@arvinboggs for now any filters not directly supported by the UI can easily be achieved by Lua scripting (this was part of the reason for adding it) so either you add a script (it's not that hard once you grasp Lua) or you wait and hope the UI will ever support it.

[2016-08-23 13:18] smichel17 commented on #534
I was looking it up and there are ways, albeit hack-y, of doing it. They include adding xml variable width <Space> elements in between each action and creating our own class that will calculate the width of the screen and place visible elements accordingly.

[2016-08-23 13:19] smichel17 commented on #160
@mpcjanssen this is about quick filtering though, not saved filters.

[2016-08-23 13:32] smichel17 opened #536 "Update theme"
Left to do:

- [x] Style popup menus correctly
- [x] Add action menus when filter and nav drawers are open
- [x] Figure out how to move the filter drawer down below the actionbar and don't dim the actionbar when opening it.
  - [x] Implement this

[2016-08-23 18:30] smichel17 commented on #458
@ddisanti @y2kbugger @mpcjanssen @vojtechkral @memeplex @Chriswaterguy @LocutusX @krayon @Alphalpha007 @getthemike @twckr @djibux @shayneholmes

I added a few more things I'm interested in:

[2016-08-23 18:42] smichel17 commented on #533
Looks much better at 2x speed than normal speed (I realized I have all my animations turned to 0.5x length aka 2x speed).

[2016-08-23 19:03] smichel17 commented on #94
I propose never to fix this.

- Discarding changes with the upper left `X` is hard to do by accident.
- When you actually do want to discard changes, it adds an annoying extra tap
- Confirmation dialogues are not that effective anyway.
  - If you do the action often, you form a habit of clicking through them without thinking, which defeats the purpose of a confirmation dialogue. Undo is much bette

[2016-08-23 20:39] smichel17 commented on #487
Found the old issue that caused this. It's #129.

[2016-08-23 20:51] smichel17 commented on #129
This will be fixed by #487

[2016-08-24 00:18] arvinboggs commented on #160
@smichel17, @mpcjanssen Thanx for prompt reply. Sorry if my first post sound as if I'm impatient but reading the previous posts (circa 2014) of this issues, I thought that the feature was already added but was eventually removed.

[2016-08-24 08:52] mpcjanssen commented on #160
@arvinboggs. No problem. Just wanted to make sure you were aware that its possible in scripting. For quick filtering that doesnt help though.

[2016-08-24 09:28] djibux commented on #458
How often do you edit tasks after you added them initially?
Do you normally edit from the main screen / bottom bar or the edit screen?
* Very little updates apart from threshold (from the bottom bar), and sometimes adding text (a phone number, a reference…)

Are there certain parts that you edit at certain times?
* I change threshold very frequently.  The rest set when it's added.

[2016-08-24 11:50] aurisnoctis commented on #501
It seems to work - thank you!

[2016-08-24 11:50] #501 closed

[2016-08-24 20:16] ddisanti commented on #458
I do it too often only in one of my lists.

(lists/tags/prio/due/threshold/text)

In this particular list, tags represents different stages, so I edit task accordingly very often. And then update threshold date.

Mainly from main screen/bottom bar.

(ie, maybe you frequently change priority but everything else only gets set once, when it's added)

Tags and priority.
(Also,  when on this, I hit the

[2016-08-25 22:48] leoauri opened #538 "share without selection"
Currently, without a selection, the share button does nothing
Request: when there is no selection, the share button shares all currently displayed events

[2016-08-25 22:51] leoauri opened #539 "share as sorted in the app"
Currently, when shared to a text editor like Turbo Editor, items are shared in the order of the .txt file
Request: items are shared in the current in-app sort order

[2016-08-25 22:54] leoauri commented on #500
Thanks for a fantastic app!

[2016-08-26 00:53] smichel17 commented on #538
How would you feel if the share button were just removed from that place (it would still be available when tasks have been selected). If you want to share your whole list, select one task -> select all -> share.

[2016-08-26 00:54] smichel17 commented on #539
+1

[2016-08-26 06:27] mpcjanssen commented on #538
@leoauri fixed in f6ed27d050c8fbd1be6206e176c31af25693f2f0

@smichel17 the share without selection is very useful to share views of your tasklist (for example `@errands``) I use this quite often.

[2016-08-26 06:27] #538 closed

[2016-08-26 07:20] mpcjanssen commented on #534
@smichel17 I am not a fan of fighting the platform like that, it will be very hard to maintain. Just make it the best it can be with standard methods and for the rest blame google 😄

[2016-08-26 08:09] leoauri commented on #538
Top

[2016-08-26 10:05] smichel17 commented on #534
Look at https://material.google.com/components/buttons-floating-action-button.html#transitions

There is a transition that shows a FAB transforming into a toolbar with equally spread actions. I may not know how, but that animation males me think there is an official way to do it.

[2016-08-26 13:18] smichel17 commented on #535
Is it easier to update all the values than use an overlay? To me it just seems easier (albeit with a *slightly* larger memory footprint) to create and dismiss an overlay than update everything and revert it all to the previous state (particularly with #536). They could share constructors, so there's less code to maintain (although I suppose an updateActionBar function would have the same effect).

[2016-08-26 13:36] smichel17 commented on #535
I'm also thinking beyond the present, when we start adding in animations. Dismissing the selection ActionBar doesn't require an animation, but there should be an animation for its creation, see Signal / Amaze / gmail app for references.

[2016-08-26 20:19] smichel17 commented on #43
Why is this closed?

[2016-08-26 22:30] mpcjanssen commented on #43
Was an old issue. Was impossible to realise without backing DB now it might be possible but it can have unexpected effects with filtering .

[2016-08-26 23:05] smichel17 commented on #43
I am beginning to think through a new selection/editing interface and will take this into consideration. For now...

Rule: selected items should always appear in the active filter, regardless of whether they normally would.

If I select multiple items and change some attribute that would cause some or all of them not to be displayed, they should remain selected and displayed until I unselect them,

[2016-08-27 08:41] mpcjanssen commented on #43
I like that idea and it's easy to implement.

[2016-08-27 09:50] #43 closed

[2016-08-27 09:56] mpcjanssen commented on #534
@smichel17 that's the nice thing about material design. Google shows you all kinds of cool stuff and then you will just have to figure out how to implement it.

[2016-08-27 14:57] smichel17 commented on #535
Does not currently update when using `select all`.

[2016-08-27 15:37] smichel17 opened #542 "newbie-friendly issues"
I'd like to help out more on the code side of things. I've started doing this, but have reached the limit of what I can do in just xml.

At the moment, I'm comfortable making kotlin/java changes that don't require me to have a great understanding of the architecture (ie, those that are mostly contained within a single file). It'd be great if there were a label on issues like that, which are easy t

[2016-08-27 15:41] smichel17 commented on #132
The alternative, which I am leaning towards, is that there should be no edit task button -- all editing should be done from the main screen, in a separate fragment but the same activity.

[2016-08-27 15:47] smichel17 commented on #513
In Android M, or N, or something, isn't the permission model changing towards grant-as-requested rather than grant-on-installation?

If so, then we shouldn't split storage adaptors at all, they should just be shipped with the main app but disabled by default. That way...

- By default we require no permissions
- If the user enables automatic calendar reminders (which I think we should remove anywa

[2016-08-27 16:05] smichel17 commented on #447
see #513

[2016-08-27 16:11] smichel17 commented on #146
@sanzoghenzo For clarification, are you interested in choosing a unique file name for archived tasks *from a given todo file* (ie, everything from journal.txt archives to journal-done.txt) or a feature to choose individually which file a given task is archived to?

[2016-08-27 18:38] smichel17 opened #543 "Clear selection upon changing the filter"
Otherwise things get very buggy very quickly. This is the simplest, most intuitive solution. Seems like it should be easy so I'm going to take a pass at this myself first, I'll either make a PR or let you know when I've given up.

[2016-08-27 21:53] mpcjanssen commented on #543
Not as easy as it sounds. Couple scenarios. What if you change the filter but the selected tasks still are visible? What if the filter changes without explicit action? For example using time dependent Lua filtering?

The current behavior of always showing selected tasks is the most predictable and conistent. And it's all wired up to make it a setting.

[2016-08-27 21:56] mpcjanssen commented on #513
The issue with using one apk is that currently the cloudless version is guaranteed to not use the network. Wrapping it all together breaks this guarantee. For some people this matters a lot.

[2016-08-27 21:59] mpcjanssen commented on #535
The selection code is a bit all over the place now. I should probably refactor it.

[2016-08-27 22:13] smichel17 commented on #543
When you change the filter, the tasks won't be selected any more, so it's just like it would be if you hadn't selected anything before you changed the filter.

Which tasks are shown in the filter have changed, but the active filter has not changed, so no change in selection should occur.

I agree. I am not saying we should change that behavior. I am saying that when the user selects a different fi

[2016-08-27 22:52] smichel17 opened #545 "Change app bar title when opening saved filter drawer"
Right now there's a header at the top of the saved filter drawer that says "Saved filters".

We should remove this and instead just update the title of the app bar to say "saved filters" when the drawer is open.

[2016-08-27 22:56] mpcjanssen commented on #513
From gitter for archiving

[2016-08-28 07:56] mpcjanssen commented on #542
Most really easy issues are fixed, but I will add a label for this.

[2016-08-28 07:58] mpcjanssen commented on #542
I will tag issues with 'easy' or 'hard' based on my estimate of difficulty.

[2016-08-28 08:05] mpcjanssen commented on #543
My point was, I find this a bit unintuitive.

Ok I think I agree here.

Totally agree, but it does change the current behavior. I So lets go without settings now and see if people complain 😄

Agreed on second thought

[2016-08-28 08:11] mpcjanssen commented on #543
One tricky thing, it's not so clear now when the filter has changed because a user action.

[2016-08-28 10:14] smichel17 commented on #542
No need to tag the hard ones, that can be assumed by lack of label. I imagine the remaining easy ones are low priority, which is fine.

[2016-08-28 10:23] smichel17 commented on #543
This probably requires a wrapper function, so when you change the filter from the drawer it first clears the selection, then does whatever it's doing right now.

Which means you're probably right about refactoring the selection code.

---
This whole thing is one step towards separating quick filters and saved filters. In that way of thinking, saved filters (views) are more of an object or navigati

[2016-08-28 10:29] smichel17 opened #546 "Move import/export and new filter creation to the app bar"
When the filter drawer is open, the following actions should be visible:

- New saved filter (+)
- Import/Export (there's an icon for this)
- ~~Lua config~~ In nav drawer
- ~~Settings~~ In nav drawer
- ~~Help~~ In nav drawer

[2016-08-28 11:52] smichel17 commented on #175
+1 for lua hooks. I'll note that the desktop todo app I use has the ability to normalize lists & tags on display and I don't find it nearly as useful as Simpletask's heading.

[2016-08-28 12:13] sanzoghenzo commented on #146
Well, many things changed from my first post, I don't even use simpletask anymore (but I'm planning to go back to it soon).

My original intent was to use a single file, let's call it journal.txt, where I would aggregate all my social media activities (ie an IFTTT recipe that writes my facebook posts at the end of journal.txt), and where simpletask would place the completed tasks. So, to answer yo

[2016-08-28 13:59] smichel17 commented on #176
I think we should do this for the due date setting but leave the intermediary step for the threshold date. For the threshold date, I think we should change from a dialogue to either a [menu](https://material.google.com/components/menus.html#) or a [bottom sheet](https://material.google.com/components/bottom-sheets.html#bottom-sheets-modal-bottom-sheets).

[2016-08-28 22:22] leoauri opened #547 "selection in app effects add task from widget"
It seems that if a task is selected in the app, the app in the background, and the add task shortcut in the widget is used, then the selected task is opened for editing rather than the new task dialog. Surely a new task would be intended behavior?

[2016-08-28 22:36] smichel17 commented on #547
I can confirm this bug.

[2016-08-29 07:47] mpcjanssen commented on #542
hard is a good label too. Some issues are really hard. So there is easy, hard and rest.

[2016-08-29 07:47] #542 closed

[2016-08-29 13:39] MartyLake opened #548 "Widget transparent background"
As a user with lots of simple task widget and a beautiful background wallpaper, when I add a widget, I want to set the background transparency in order to have lots of simple task widget and still see the wallpaper.

Hi, I really enjoy your application! Best! :-)

[2016-08-29 16:08] mpcjanssen commented on #548
Go to settings-> Widget and set the header and contents. transparency for all widgets.

[2016-08-29 16:08] #548 closed

[2016-08-30 14:43] smichel17 commented on #543
Worth noting that the current (published) behavior is even weirder, as you can have tasks that are selected but not visible after changing the filter.

[2016-08-30 16:42] smichel17 commented on #193
@awveale Prefill and wrap settings have since been moved to the overflow menu, which creates a lot more room on screen. (Assuming you still use the same phone, still use Simpletask, etc) Is this still an issue?

@mpcjanssen Task editing is the next thing I want to tackle after the filtering interface. I'd suggest waiting to look at this until that point, if this is still an issue.

[2016-08-30 16:51] smichel17 commented on #146
Duplicate of #197

[2016-08-30 16:51] smichel17 commented on #197
Duplicate of #146

[2016-08-30 17:58] smichel17 commented on #238
Related: #236

[2016-08-30 18:01] smichel17 commented on #239
Related: #181

[2016-08-30 19:16] smichel17 commented on #301
I think the current setting works well enough that you should remove the callback.

[2016-08-31 07:35] paullemmens opened #549 "Editing properties of a "next" task makes the cursor jump to top of window (first new task)"
Steps to reproduce:

1) Add new task (e.g., click +)
2) type in task and edit properties like list and due.
3) tap "next"/return to add a new task (I use the swype keyboard with the next button)
4) type in task
5) add property (e.g., list) and close the respective popup with ok.

Now the cursor returns to the first line of the task add window and (effectively) every new/additional property intende

[2016-08-31 07:49] paullemmens opened #550 "UI inconsistent between "new task" and "edit task" views"
This might be a deliberate choice, nevertheless, in terms of UI polish it would be prettier to make the UI more uniform. I personally prefer the more textual versions of the icons/buttons.

![screenshot_20160831-093606](https://cloud.githubusercontent.com/assets/5063702/18120511/361c74f4-6f60-11e6-9735-27ac86ff6f75.png) ![screenshot_20160831-093640](https://cloud.githubusercontent.com/assets/50637

[2016-08-31 07:54] paullemmens commented on #549
Ah, finally found another issue detailing the same problem: #478

[2016-08-31 10:40] smichel17 commented on #550
Duplicate of #443, I'll reply there.

[2016-08-31 10:49] smichel17 commented on #443
There's some smaller UI changes to the selection screen that we're made recently. They include new icons, and selection options moved out of the menu at the bottom, making these interfaces closer to mirroring one another in function.

Updated my comment above to reflect my latest thinking.

I wonder if it is possible to remove the words "list" and "tag" everywhere (just use `@` and `+`) and then r

[2016-08-31 11:00] smichel17 commented on #550
I am always curious about more people's answers to #458, if you have some time.

[2016-08-31 11:34] paullemmens commented on #458
My typical use case is that I rely heavily on due dates and relatively heavily on recurring tasks for sorting and "prioritization". It has been a godsend that Simpletask now also groups by due iso only threshold dates.

I have two sets of three views/filters, for home and work context, that show due only today, overdue and due today, as well as due into the future (which is basically everything).

[2016-08-31 11:55] paullemmens commented on #550
Done so

On Aug 31, 2016, 13:00, at 13:00, smichel17 <notifications@github.com> wrote:

[2016-08-31 16:30] smichel17 commented on #550
You'll be happy that buttons for due and threshold
 date will be added in the next release. They're in master right now if you want to compile yourself; the release is waiting on a little more testing to make sure the changes work on older and smaller devices.

[2016-08-31 23:07] smichel17 opened #551 "Play Store beta channel"
How many people currently are using the beta channel? How much work is it to make a new release (on the beta channel)?

[2016-09-01 22:24] mpcjanssen commented on #458
I should have answered much earlier (shame on me) but here goes:

Feature Use

Quick filter and updating threshold dates (I use a GTD  - MYN mix). Bulk adding tasks with prefill and note to self.

Surprisingly 😄 ,no

Everything else.

No

Editing Tasks

Rarely, sometimes to add more context, more often to clarify quick (note to self) captures.

lists and threshold

After cleaning up quick captures

[2016-09-01 23:08] smichel17 commented on #551
When you do new releases, can you make the beta release be based on the `ui-update` branch?

[2016-09-02 00:08] smichel17 opened #553 "Help pages in tabs"
I think this would be much easier to switch between them. And you wouldn't need to list them at the bottom of the intro page, for example.

[2016-09-02 05:49] djibux commented on #458
We work in very similar ways :)
I am surprised you don't find updating thresholds hard to do.

Le 2 septembre 2016 00:24:49 GMT+02:00, Mark Janssen <notifications@github.com> a écrit :

--
djib

[2016-09-02 06:00] mpcjanssen commented on #458
@djibux I always use the +2 weeks button. So I almost never pick a specific date, so that helps

[2016-09-02 06:01] mpcjanssen commented on #551
@smichel17 sure, it might accidently go into production though.

[2016-09-02 06:06] djibux commented on #458
The ones I use most are tomorrow, next week and next Saturday (date picker ;)).

Le 2 septembre 2016 08:00:26 GMT+02:00, Mark Janssen <notifications@github.com> a écrit :

--
djib

[2016-09-02 12:23] smichel17 commented on #551
I guess you'll just have to be careful, then ;)

If it went into production it would not be the end of the world, but I'd prefer not to move things around on people without offering usability improvements; right now it's just a new coat of paint.

[2016-09-02 12:36] smichel17 opened #554 "Selection complete/uncomplete to a tri state checkbox"
Instead of the overflow menu with complete and uncomplete actions, we should have a checkbox in the bottom toolbar. When multiple items are selected it should be a tri-state checkbox for complete all/uncomplete all/start state.

[2016-09-02 21:50] smichel17 commented on #534
We can do this like in the add task screen, with a LinearLayout and buttons instead of a menubar.

[2016-09-03 04:36] ComedyTomedy commented on #458
Editing Tasks

How often do you edit tasks after you added them initially?
Pretty much always add a threshold date later

Which parts of the task do you edit most often?
(lists/tags/prio/due/threshold/text)
List, tags n threshold. Used to use priority as an alternative to threshold, which is quicker in the current ui. I do edit text quite a bit, but expect to do so less as I get used to using todo

[2016-09-03 04:40] ComedyTomedy commented on #458
Main sort order reads Completed, Context, Threshold, Priority, Project, File Order.

Threshold and Priority are both to prioritise
Project I guess just keeps things tidy.

[2016-09-03 04:42] ComedyTomedy commented on #458
Oh, I also use date picker for start of Week, start of Month etc, instead of just. Hitting the 1 week button. I like to have everything equally prioritised to the same day

[2016-09-03 04:53] ComedyTomedy opened #556 "Sharing Feature Requests"
A couple of things I'd like...

A settings checkbox to make sharing tasks strip off tags, context, Priority, dates etc. I imagine you'd mostly want to just send task text.

A hook to automatically pop up the share dialogue on task completion. Use case here is tweeting / sending a worklog (I'd like to Tweet most of mine)

[2016-09-03 13:22] smichel17 commented on #556
1. There's an existing issue about that. I believe the solution I favored there is not to add an option, but to make it so only the currently visible parts of the task are shared.

2. This functionality seems niche, so I think the best way to support it would be with an `onCompletion` lua callback and adding support for sending intents from lua.

[2016-09-03 13:31] ComedyTomedy commented on #556
2. Lua hook for oncomplete is a great idea, and is actually the first thing I looked for (not gone into lua yet)
1. Wouldn't be as good for me, but sounds like a good idea anyway :)

Thanks!

[2016-09-04 00:16] #551 closed

[2016-09-04 00:20] #546 closed

[2016-09-04 00:20] smichel17 commented on #546
Closed by #555

[2016-09-04 00:26] smichel17 commented on #545
Closed in d94fcb4a

[2016-09-04 00:26] #545 closed

[2016-09-04 14:15] smichel17 commented on #518
How to: https://medium.com/@lucasurbas/placeholder-ui-launch-screen-d85c35552119#.toj4s9smp

Doesn't tell how to do it with a dark theme though.

[2016-09-04 17:34] smichel17 opened #557 "Pull to sync"
- Remove 'sync' from main menu
- Add pull down to sync

![swipe-reload](https://cloud.githubusercontent.com/assets/6563664/18232723/195fe322-72a4-11e6-8bbb-89c5995675c5.gif)

- Show spinner animation when background sync is happening
  - Replaces deprecated indeterminiteProgressBar that's currently in use

[2016-09-04 18:21] mpcjanssen commented on #518
This doesn't work well for dark themes. The initial view is always styled according to the theme in the manifest. Changing the theme in onCreate is too late. So you can pick one theme in manifest which will look off if the user selecta the other theme.

[2016-09-04 18:25] smichel17 commented on #518
The ActionBar color stays the same across all themes. It'd look better to start with a white background and blue actionbar, then have the background change to black, than to have all white, no header.

[2016-09-04 18:26] smichel17 commented on #518
Or -- better idea? -- we could do an entirely blue background.

[2016-09-04 20:19] mpcjanssen commented on #554
Not sure how this will interact with auto archive when you complete tasks

[2016-09-04 20:21] mpcjanssen commented on #553
One reason to list all the help pages on the main index file is that it allows reading the help on github as well. However changing the help menu items for tabs is a good idea.

[2016-09-04 20:22] mpcjanssen commented on #549
Handling the cursor in a Edit box is very hard to get right. Will close this as a duplicate of #478.

[2016-09-04 20:22] #549 closed

[2016-09-04 20:25] mpcjanssen commented on #550
@smichel17 changes look good on a Nexus S emulator.

[2016-09-04 20:49] mpcjanssen commented on #536
![image](https://cloud.githubusercontent.com/assets/146895/18233805/7d270bf4-72f1-11e6-9975-a4999e3f54b4.png)
![image](https://cloud.githubusercontent.com/assets/146895/18233806/a7b07590-72f1-11e6-936c-bc5a37794e0f.png)
![image](https://cloud.githubusercontent.com/assets/146895/18233808/c9897aea-72f1-11e6-8eee-a7069e20a814.png)

[2016-09-04 20:56] smichel17 commented on #554
With auto-archive, you'll never be able to get the intermediary state (or completed state, for that matter). Checking off multiple items will act just like selecting multiple items and using the 'complete' menu item right now. They'll be completed, auto-archived, and de-facto unselected.

[2016-09-04 21:58] smichel17 opened #559 "Use different package name for non-release builds"
Recommendation from [source](https://github.com/futurice/android-best-practices#gradle-configuration):

[2016-09-04 21:59] smichel17 commented on #559
I'm going to make a MR, just wanted to get the satisfaction of closing my own issues ;)

[2016-09-04 22:17] smichel17 commented on #536
[For Reference](https://material.google.com/style/color.html)

[2016-09-04 22:31] smichel17 commented on #536
Alright, let's walk through this. there are 5 colors that matter in this app, some of which may/should be the same.

- Background color
- Actionbar color
- FAB color
- Selection color
- Selection toolbar

Each of these must be set for each of the three themes. Some colors are already decided on. I'll edit the top comment so we can track what decisions we want to make as we go.

[2016-09-05 00:53] smichel17 opened #561 "Clean up licensing notices"
Some files have a long license notice left over from when you forked todotxt. Others have a simple `(c) mpcjanssen`. A few have no notice at all.

I suggest that we clean them up to have a simple `(c) mpcjanssen and $contributors. Available under $license` format.

[2016-09-05 01:17] smichel17 commented on #483
More info: https://weblate.org/en/hosting/

Just read that page (you probably want automatic push), click the `ask for hosting` or `contact us` links (they both go to the [same](https://hosted.weblate.org/hosting/) place), fill out a couple details, and submit the form.

I really can't understate how much of a difference this makes in terms of the number of people who are able to contribute.

[2016-09-05 02:37] smichel17 commented on #530
@mpcjanssen I think we should tag this as someday/maybe. In the short run, without a gesture, we are not going to get anything faster than `select -> set threshold -> option of choice`. I do want to make a couple feel improvements (use a popup menu or bottom sheet instead of a dialogue), but those are visual changes, not workflow changes.

I'm suggesting tagging this as someday/maybe because there

[2016-09-05 06:54] smichel17 commented on #515
This is fixed in the UI update branch.

[2016-09-05 11:03] mpcjanssen commented on #559
Ah now I see the point. I don't want any code changes between debug and release, but this is OK and fixes a nuisance I had with this for a while. I am not quite sure how this will interact with intents but for a regular user that wont be an isue.

[2016-09-05 11:14] mpcjanssen commented on #559
I also see the provide duplication issue

[2016-09-05 11:21] mpcjanssen commented on #559
Last commit fixed the duplication issue..

[2016-09-05 11:21] #559 closed

[2016-09-05 11:43] #535 closed

[2016-09-05 15:24] smichel17 opened #566 "Pressing the hardware back button always closes the app"
On my galaxy S4, compiled from 37b13be. It takes the right action, but then closes the app afterwards. This should not happen if the drawers are open, if clearing selection, or if the 'back clears filter' setting is enabled.

I think I know what I did to cause this one.

[2016-09-05 15:57] mpcjanssen commented on #566
Check onBackPressed

[2016-09-05 17:09] smichel17 commented on #566
Yeah. I was calling super.onBackPressed no matter what, instead of only when the app should exit.

[2016-09-05 17:16] smichel17 commented on #566
Yeah. I knew what the problem was. I had changed it so super.onBackPressed was *always* called, instead of only on the main screen, following the rules of BackClearsFilter.

[2016-09-06 08:24] #566 closed

[2016-09-06 09:09] mpcjanssen commented on #515
Merged and published to beta.

[2016-09-06 09:09] #515 closed

[2016-09-06 09:10] mpcjanssen commented on #534
LinearLayout wont support overflow of menu items on smaller devices.

[2016-09-06 12:06] mpcjanssen commented on #518
Would be an option, but I am not sure if it would look any better.

[2016-09-06 12:27] smichel17 commented on #534
How many items will fit on a screen for the smallest devices we'll support? I'm thinking of something along the lines of:

- Edit -> moved to on long press (like any.do)
- Prio
- Due
- Threshold
- List
-Tag -> possibly combined with list
- Overflow -> completion checkbox
  - Complete
  - Uncomplete
- Completion Checkbox

This would leave us with just 5 items, which I think is okay not to have an o

[2016-09-06 17:16] smichel17 commented on #518
I can think of a way to make it look better with a good animation:

- Splash screen is a blue background with the simpletask logo checkmark in the center
- Upon load, the main app content scrolls up from the bottom of the page, ending as the ActionBar

The animation is visual polish and thus should be the last thing we add, imo. The blue splash with icon is a reasonable thing to add, though. Do yo

[2016-09-06 17:17] smichel17 commented on #518
(clicked the wrong button, lol)

[2016-09-06 18:53] smichel17 opened #568 "[Beta] Performance improvements"
On my galaxy S4, each time the main screen is loaded, there is a delay and the spinner animation is very briefly shown.

[2016-09-06 19:36] mpcjanssen commented on #568
Is this cloudless or Dropbox version?

[2016-09-06 21:14] smichel17 commented on #568
Cloudless. Screencap:

![simpletask_slowness_screencap](https://cloud.githubusercontent.com/assets/6563664/18291361/5eccc922-7455-11e6-93d1-b1bb7e24bc33.gif)

[2016-09-06 21:31] smichel17 commented on #568
A couple things I noticed:

- Exiting selection mode causes almost no lag
The spinner is barely visible
- Closing the nav drawer without selecting a filter causes more lag
The spinner gets around almost a full circle.
- Closing the nav drawer by selecting a filter (pictured above) causes the most lag
It appears to be exactly twice as much lag as closing the drawer without selecting a filter. You'l

[2016-09-06 21:38] smichel17 commented on #568
I suspect it's in `onCreateOptionMenu` and helper functions. A couple things I noticed:

- Exiting selection mode causes almost no lag
The spinner is barely visible
- Closing the nav drawer without selecting a filter causes more lag
The spinner gets around almost a full circle.
- Closing the nav drawer by selecting a filter (pictured above) causes the most lag
It appears to be exactly twice as muc

[2016-09-06 21:38] smichel17 commented on #568
I suspect it's in `onCreateOptionMenu` and helper functions. A couple things I noticed:

- Exiting selection mode causes almost no lag
The spinner is barely visible
- Closing the nav drawer without selecting a filter causes more lag
The spinner gets around almost a full circle.
- Closing the nav drawer by selecting a filter (pictured above) causes the most lag
It appears to be exactly twice as muc

[2016-09-06 21:38] smichel17 commented on #568
I suspect it's in `onCreateOptionMenu` and helper functions. A couple things I noticed:

- Exiting selection mode causes almost no lag
The spinner is barely visible
- Closing the nav drawer without selecting a filter causes more lag
The spinner gets around almost a full circle.
- Closing the nav drawer by selecting a filter (pictured above) causes the most lag
It appears to be exactly twice as muc

[2016-09-06 21:38] smichel17 commented on #568
I suspect it's in `onCreateOptionMenu` and helper functions. A couple things I noticed:

- Exiting selection mode causes almost no lag
The spinner is barely visible
- Closing the nav drawer without selecting a filter causes more lag
The spinner gets around almost a full circle.
- Closing the nav drawer by selecting a filter (pictured above) causes the most lag
It appears to be exactly twice as muc

[2016-09-06 21:38] smichel17 commented on #568
I suspect it's in `onCreateOptionMenu` and helper functions. A couple things I noticed:

- Exiting selection mode causes almost no lag
The spinner is barely visible
- Closing the nav drawer without selecting a filter causes more lag
The spinner gets around almost a full circle.
- Closing the nav drawer by selecting a filter (pictured above) causes the most lag
It appears to be exactly twice as muc

[2016-09-07 08:29] #443 closed

[2016-09-07 11:06] mpcjanssen commented on #568
@smichel17 how many tasks do you have?

[2016-09-07 12:10] smichel17 commented on #568
Around 130

[2016-09-07 13:26] smichel17 opened #569 "Help pages do not obey selected theme"
They always use the light theme

[2016-09-07 13:36] ddisanti opened #570 "[8.2.3 Cloudless Beta] Keyboard doesn't hide when Searching."
The keyboard remains active after enter search patron and pressing Search button on the keyboard.
Tested with  stock Samsung and Swype keyboards.

[2016-09-07 16:33] mpcjanssen commented on #568
I think this specific issues is fixed now.

[2016-09-07 16:33] #568 closed

[2016-09-07 16:33] mpcjanssen commented on #569
Right, if you have a nice css for a dark theme (single file) we could use that.

[2016-09-07 16:51] mpcjanssen commented on #301
The callback doesn't hurt and it fits with my goal to have every option available in Lua so you can just use a predefined lua script as a _theme_

[2016-09-07 16:51] #301 closed

[2016-09-07 17:10] mpcjanssen commented on #570
IME (Inputh Method) handling is a rather black art on Android. It's very hard to do seemingly simple stuff like opening or closing a soft keyboard or detecting this happening.

[2016-09-07 17:24] smichel17 commented on #569
When I/we finish #536, it'll be easy to port that palette over to css.

[2016-09-07 17:24] smichel17 commented on #301
Okay, that makes sense. I like that a lot, actually.

[2016-09-07 19:25] smichel17 commented on #497
tl;dr, we need to make a pretty major change to the way Simpletask's internals think about saved filters in order to implement this the right way. We could implement it a wrong, hack-y way, but I have no desire to inflict that on @mpcjanssen or myself

---
This is a hard issue to implement right now because the code doesn't have any concept of a "saved-filters-as-active-filter". There's just one f

[2016-09-07 19:30] smichel17 commented on #568
I think so too. I believe any remaining slowness is due to the performance of my lua scripts. It does still feel slower than it has been in the past, but this may be imagined because I'm paying attention to it right now.

[2016-09-07 20:08] smichel17 opened #575 "Menus not populated in landscape mode"
Selection toolbar doesn't show at all, and no items show up in the ActionBar.

[2016-09-07 20:19] smichel17 opened #576 "[HEAD] Drawers don't close with back button"
This (current code) does not work:
[code]
but this does work:
[code]
So, I guess somewhere we're mixing up whether left or right is the nav drawer vs filter drawer.

[2016-09-07 20:57] #576 closed

[2016-09-08 08:04] djibux commented on #458
Would it make sense to add a “next weekday” and a “next weekend” option to the threshold dates?  I intensively use those two (via date picker).  Does anyone else do that?

[2016-09-08 13:08] mpcjanssen commented on #176
I am considering adding a onThreshold callback which will return a list of options and dates as preselection. If it returns nil, the intermediate step will be skipped.

[2016-09-08 14:09] smichel17 commented on #176
Another option is to create a custom date picker.

Not as intimidating as it sounds: the custom picker is just a standard picker but with some quick options along the bottom or side. That way you get both the quick options and the picker with the same number of taps.

[2016-09-08 14:19] smichel17 commented on #458
@djibux I'd like to keep this post just for reference, not discussion of specific feature requests. I'll be more likely to see a feature request if it's in an issue dedicated to that feature (in this case, probably #176).

[2016-09-08 14:31] smichel17 opened #581 "Clear selection on filter change"
It's jarring to have previously selected tasks still be visible after you change filters from either drawer.

Keeping them selected after changing their lists or tags, even if they'd no longer be shown, is a good thing. Tasks showing up when you don't expect them to is not.

[2016-09-08 14:56] djibux commented on #176
I very much like the idea of a custom date picker.  Skipping the intermediate list would also work fine for me in the meantime.

I often pick two following thresholds: next weekday and next weekend.  As a matter of fact I very often end up opening the calendar.

[2016-09-08 14:58] djibux commented on #458
OK, my bad @smichel17.  Thanks for the link: I couldn't seem to find the right issue to discuss that.

[2016-09-08 17:07] mpcjanssen commented on #581
Easy way to achieve this is to clear selection when clicking drawer items

[2016-09-08 17:08] smichel17 commented on #581
Also the right way, I think.

[2016-09-08 17:49] mpcjanssen commented on #581
Yes agreed

[2016-09-08 22:21] smichel17 opened #582 "Back arrow on selection should update visual style of selected items"
Steps to reproduce:

- Select a task
- Press back arrow

Expected behavior: The task fully returns to an unselected state
Actual behavior: the task remains highlighted despite no longer being selected

[2016-09-10 13:18] djibux opened #583 "Add tasks without unlocking phone"
On the bottom of the lockscreen I can add a button called "Add Task" that takes me straight to Simpletask, but asks for my unlock pin code.

I wish I could add tasks without unlocking the phone just like I can take pictures without unlocking.

I am using CyanogenMod 13 (Android 6.0.1).

[2016-09-10 14:18] smichel17 commented on #583
You can! You just need a way to launch the AddTask screen without unlocking your phone. Eg, I [forked AcDisplay](https://gitlab.com/smichel17/AcDisplay) and modified it to launch Simpletask/Addtask and Calendar/Add Appointment instead of phone and camera, upon corner swipe.

[2016-09-10 14:29] djibux commented on #583
So it needs a custom app?  This cannot be native?

[2016-09-10 16:36] smichel17 commented on #583
The problem isn't running Simpletask from the lock screen (that already exists), it's finding a way to launch it from the lock screen.

If you can find any way of getting a launcher on to your lock screen (like I did with AcDisplay), it'll work just fine.

[2016-09-10 17:50] djibux commented on #583
Well I can't seem to be able to run Simpletask from the lock screen.

As I wrote I can customize my lockscreen and thus add the AddTask button easily.  But when I then click on that button, the phone asks for my pin.

[2016-09-10 21:01] smichel17 commented on #583
Oh, I missed that, my apologies. I'll take a look at this again when I'm at my computer.

[2016-09-10 21:12] djibux commented on #583
No worries ;) Thanks.

Le 10 septembre 2016 23:02:00 GMT+02:00, smichel17 <notifications@github.com> a écrit :

--
djib

[2016-09-11 15:37] lolilolicon opened #584 "Locale aware sort order"
Alphabetical sort should use `java.text.Collator` since [`String.compareTo(String)` is ignorant of locale.](http://www.javapractices.com/topic/TopicAction.do?Id=207)

[2016-09-11 23:51] smichel17 commented on #581
Dupe of #543, oops.

[2016-09-11 23:51] #581 closed

[2016-09-11 23:53] smichel17 commented on #543
From #581:

[2016-09-12 12:59] ddisanti commented on #570
The same happens when you are in the Script edit box from the Tab filters. The keyboard remains active when you tap on another tab, lets say the Sort tab where keyboard has no use.

I don't remember this happened on previous versions of ST.

[2016-09-12 14:41] smichel17 commented on #570
Can reproduce both bugs.

[2016-09-13 23:26] smichel17 opened #588 "hamburger icon appears instead of back icon"
On emulated Nexus 5x. Visual bug only.

Steps to reproduce:

- Select tasks
- Create calendar appointment
- Cancel appointment creation dialogue, returning to simpletask
- Hamburger menu is shown, not back arrow

[2016-09-14 12:48] smichel17 opened #589 "checkbox for completed items is invisble when item is selected"
Because its color is the same as the selection color.

Solution: When selecting an item, change the checkbox color to white (dark themes) or gray (light theme).

[2016-09-14 20:05] smichel17 opened #590 "[code cleanup] less duplicate xml for `show landscape drawers` mode"

[2016-09-15 03:33] smichel17 commented on #458
Wrote this elsewhere and might as well put it here too:

I reorganized my task list today and WOW, huge difference in how useful my list is. Two main changes:

1. **Reduced the resolution of my contexts.** I had eg, separate contexts for `@laptop`, `@internet`, and `@email`. The distinction would be useful, except that I almost always have an internet connection when I'm at my laptop, and I almost

[2016-09-15 22:56] smichel17 opened #591 "Widget creation fails"
On the latest beta

I had an old widget that was working fine. Delayed it, tried to remake, but it does not appear after giving it a name and clicking ok.

[2016-09-16 12:08] paullemmens commented on #478
Hi Mark, in #468 and #549 you mention that it is difficult to get this right.

FWIW: I have the distinct memory that it used to correctly work a some releases ago.

[2016-09-16 12:17] ddisanti commented on #547
Similar:
The same happens when sharing task:
1. Share a new task to SP.
 (at this point, when opening SP, this task shows as selected and it is possibly that the  task is off of the screen. You are aware that there is a selected task because Actionbar shows now the number of selected tasks)
2. Add a new task from "Add task" shortcut.
3. The task previously shared is open to edit it rather than an

[2016-09-17 01:18] smichel17 commented on #478
IIRC from a conversation on gitter (or maybe another issue around here somewhere), it's hard to get right because android gives you the line number and the cursor position in the entire text box, but not the cursor position on that line, so this is something you need to calculate yourself. Which gets complicated when you get into adding and subtracting text from tasks that potentially span multipl

[2016-09-17 01:23] smichel17 commented on #547
I'd call this two separate bugs.

1. The original bug
2. When editing a task that is shared to simpletask, that should be counted as an *add* task from the user's perspective, not a share task, and thus the item should not be selected when the user returns to simpletask.

[2016-09-17 15:54] Alphalpha007 opened #593 "Wrong color for due date"
If due 1 day ago, color shown as green instead of red. More than one day due seems to be working fine.

[2016-09-17 21:04] smichel17 commented on #593
When you talked about this originally on gitter, I was able to reproduce it; however, I can't do so now.

I took a look at the code and found that the text and the color of the due date get set in two different places; the root cause of the bug is that they get out of sync under certain conditions.

I can make them in sync easily, but need to dig a little deeper to figure out which is the right on

[2016-09-17 22:40] smichel17 opened #594 "Add an 'All' filter"
When we move from Saved Filters to Views, it'll be impossible not to have an active view. But when the user first launches the app, they haven't created any views yet, so we need a default one. It should be named `All`, should NOT have the option to update or delete it (although `Rename` and `To homescreen`  are fine), and should use the following settings:

#### OTHER

- [x] Show completed tasks

[2016-09-18 07:00] smichel17 commented on #593
@Alphalpha007 I believe I've solved the issue with #595. Here's a debug build you can install to test whether the changed worked: http://smichel.me/simpletask/simpletask-android-cloudless-debug.apk

You'll be able to install it alongside the normal simpletask app; it'll appear as Simpletask-DEBUG and have a different icon.

[2016-09-18 11:17] smichel17 commented on #588
The above steps to not replicate the bug on my physical device. I am guessing this is because the emulated one did not actually have a calendar set up.

Reliable reproduction:

- Select task
- Select 'share'
- Cancel the share dialogue
- Hamburger menu is shown during selection

[2016-09-18 15:43] smichel17 opened #596 "Make 'Capitalize' setting apply immediately"
Right now you can change the capitalization setting directly from the add task activity... but it doesn't take effect until you relaunch the activity. It should take effect immediately.

[2016-09-18 23:47] smichel17 opened #597 "Menus have no contrast with background in black theme"
Black theme menus blend into the background.

In the light and dark themes, there's a shadow on the menu that makes it distinct from the background, but in the black theme it blends right in to the background. This is most noticeable with the menu when you long press a saved filter -- it's very difficult to distinguish which area is clickable on the options and which area is just another filter.

[2016-09-19 05:24] Alphalpha007 commented on #593
Thanks a lot. It was an annoying bug.
I'll take your word for it and wait for the play store update.

[2016-09-19 07:27] smichel17 commented on #593
Are you a part of the simpletask beta?

[2016-09-19 12:13] smichel17 commented on #550
Closed by 872010b.

[2016-09-19 13:23] djibux opened #599 "Create is threshold should impact Lua scripts"
When create is threshold is selected, I believe a tasks .threshold property should be the create date when the threshold date is missing.

[2016-09-19 17:48] ddisanti commented on #594
I would like to have an initial sorting as a default view, but it should be at user's choice. Right now, when the user applies a saved filter and then clears it, the list is left sorted as the last filter applied. Then you have to sort the list again. I think it was mentioned in another issue.

[2016-09-19 21:41] smichel17 commented on #594
tl;dr that's how it will work.

I have a vision that's bigger than just this issue, so many changes (like this one) won't make very much sense without context (and I haven't written everything out in any one place, so you're not going to be able to find the context easily).

In particular, this issue depends on 3 changes to make sense:
1. Switching to two-step filtering (giving the ability to clea

[2016-09-20 23:03] ddisanti opened #600 "Option "Append to list" is inverted."
The option **"Append to list"** says _"Insert new tasks at the start of the file instead of the end"_.
It think this is inverted. If this is enabled, new tasks are added at the end of todo.txt. But after turning it off, new tasks are added at the beginning of the file.

[2016-09-21 02:25] smichel17 commented on #600
Just tested; it's just the tooltip that is incorrect. It should read

**Append to list**
*Insert new tasks at the end of the file*

[2016-09-21 03:43] ddisanti opened #601 "Export/import option for Lua config."
For backup/restore purposes. It could be like the one for Saved filters.
(For some reason, right now, the Share option doesn't allow me to share to a text editor)

[2016-09-21 04:43] smichel17 commented on #601
Short term: select something -> select all -> copy -> paste to text editor

Long term: rearrange things a bit and a have a single export function for your entire profile (saved filters, lua config, preferences)

[2016-09-21 05:08] #518 closed

[2016-09-21 05:11] mpcjanssen commented on #601
@smichel17 not sure if i agree a 100% here. The Lua part is app config. The filters describe views so they are different and should be treated separately.

[2016-09-21 05:19] ddisanti commented on #601
I like this.

Don't like. The text editor is just for saving the config. Edition is done inside SP.
I sync the whole SP dir and its files to Dropbox, so having Lua config saved to a file in this dir would be cool.

[2016-09-21 05:47] smichel17 commented on #601
@mpcjanssen On second thought, I agree. Filters are something that should happen within the flow of the app, not in the settings.

That said, I still anticipate the (lua) config interface changing / being moved, and I'm not going to add this until after we either move it or decide that we are not, in fact, going to move it

@ddisanti You're not supposed to like workarounds; they're just temporary

[2016-09-21 09:53] satai opened #602 "Unreadable widget name for dark theme."
- set dark wallpaper
- set simpletask widget theme to "Dark"
- create a new widget with name Foo

The "Foo" label is not readable because it's black text on a dark background.

Recommended fix: make the text the same colour as default task text in widget has.

[2016-09-21 14:54] smichel17 commented on #602
Theming is in the middle of an overhaul, with moderate changes to the front-end but large backend changes. Would you be willing to test if this is still broken? Here's a link to an apk I just built from the latest commit. http://smichel.me/simpletask/20160921_simpletask-android-cloudless-debug.apk

It's a debug version, so it will install as "Simpletask-DEBUG" alongside the version from the play s

[2016-09-21 15:03] smichel17 commented on #561
@mpcjanssen What % of code still remains from todotxt?

[2016-09-21 15:06] smichel17 opened #603 "Show calendar appointments when sorting by date"
**Save this for after the UI update**

Any.do does this and it's really nice. When sorting by date, they display calendar appointments for today and tomorrow under the respective date headers. Helps to be able to see what your day looks like while also looking at your todo list.

[2016-09-21 19:48] smichel17 opened #604 "Flickering when returning to an activity"
When returning to a parent activity (or fragment), the app's launch screen shows briefly before the UI draws itself. It looks better now that it's our blue instead of just a white flicker, but still bad.

The duration that the launch screen appears for varies depending on which screen we're coming from. In order from shortest to longest:

### Near imperceptible
Appearance settings -> settings over

[2016-09-22 02:54] smichel17 commented on #557
This doesn't seem difficult. I'll look in to it.

[2016-09-22 04:27] smichel17 commented on #557
It's really easy. See https://developer.android.com/training/swipe/index.html

Summary:

- Wrap the recyclerview in an `<android.support.v4.widget.SwipeRefreshLayout `
- Add this:
[code]
- Add setRefreshing(false) to the end of the dropbox sync function.
- Done

I'm not going to implement it right now, but only because it's a dropbox-only feature, so I want to implement #590 first so we don't need

[2016-09-22 09:27] satai commented on #602
The problem persist with this build ;(

On September 21, 2016 4:54:27 PM smichel17 <notifications@github.com> wrote:

[2016-09-22 13:34] smichel17 commented on #602
I can't reproduce this :confused: . What are all of your settings and what phone/android version are you running? Could you attach a screenshot?

[2016-09-22 13:46] satai commented on #602
Nexus 5X, Nougath september patch level, Apex launcher.

Screenshot - three widgets:
https://postimg.org/image/i1ntt7afj/

[2016-09-22 16:55] smichel17 commented on #128
I have a design I like to replace the bottom toolbar. Mockups at some point.

@mpcjanssen isn't going to like it because it's a bit of UI work with a little bit of non-standard stuff in there, but I think it won't be too bad, and will really be a huge improvement. It will also completely replace the AddTask activity for editing tasks, so we can gear the AddTask activity towards adding new tasks on

[2016-09-22 16:56] smichel17 commented on #534
This won't be relevant any more with #128.

[2016-09-22 16:56] #534 closed

[2016-09-22 20:37] smichel17 commented on #604
I tested more and this happens in every app on my device. I suspect it's a bug with android 5.0.1 or samsung modifications. Although it's no fault of ours, making the app draw itself faster would improve the situation.

There are some optimizations I've come across that I think we could apply, but I don't want to bother optimizing until all new UI stuff is worked out.

[2016-09-22 21:20] smichel17 commented on #602
Yesterday I was unable to reprroduce tthis on a 5X emulator running Android Marsmallow. Today I was able to reproduce it on an emulator running Android Nougat. So of course I thought it has to do with Nougat... but now I can reproduce it on the original device as well. Odd, but whatever; I'll see what I can do.

[2016-09-22 21:25] smichel17 commented on #602
hmm. And now it's working on the Marshmallow device again.

[2016-09-23 21:25] ddisanti opened #606 "Link to "Scripting with Lua" help page is broken for non English locale."
From main screen:
_Help -> Scripting with Lua_  shows nothing.
Nevertheless, the one at the end of the Help main page works fine.
_(Obviously, it points to the original English version of the help)_

Of course, I assume that this is so because of the last Lua scripting changes.

Related #483 .

[2016-09-24 00:12] smichel17 commented on #606
I'll look at this when I tackle #553. @mpcjanssen is the only one who can do #483.

[2016-09-24 16:22] #600 closed

[2016-09-24 18:54] ddisanti commented on #600
@smichel17  I don't know if I'm totally agree here. See, adding new lines at end of a file is the common way to do it. I think most users take this for granted.  The way you propose, users should activate this option to add new tasks at the end of the file. The logic of this option (or the way it is presented) should be inverted/changed so when activated, then new lines are added at the start of t

[2016-09-24 19:11] ddisanti commented on #600
@smichel17 what I'm trying to say is that users will have to activate this option to get what is supposed to be an expected behaviour (new lines at the end)

[2016-09-24 19:49] smichel17 commented on #600
@ddisanti I was looking at this issue as being about inconsistency, not about functionality, so I made the smallest change to make everything consistent.

I agree that appending is the *expected* behavior. However, I think that prepending is the more *useful* behavior. Therefore, I think the setting should be changed from append to prepend, but should be on by default.

However, it's a pretty low

[2016-09-24 23:00] smichel17 commented on #589
Was fixed in #598

[2016-09-24 23:00] #589 closed

[2016-09-24 23:02] smichel17 commented on #583
@djibux Is the acdisplay fork working for you?

Also out of curiosity, are you able to run other apps from lock screen the way you were trying to run simpletask?

[2016-09-25 00:14] smichel17 commented on #553
I started changing it for tabs but then stopped because it seems like a lot of work for little gain. For example, I'm not sure how to make the in-document links work for reading the help both in-app and on the web.

[2016-09-25 02:10] smichel17 commented on #597
Closed in #608

[2016-09-25 02:12] smichel17 commented on #591
Can't reproduce on emulator, only my Galaxy S4; I'll upload a log shortly.

[2016-09-25 03:44] smichel17 opened #611 "More efficient sorting"
Collator.compare is the most efficient way to sort once, but for sorting multiple times it's more efficient to make collation keys.

https://developer.android.com/reference/java/text/Collator.html
https://developer.android.com/reference/java/text/CollationKey.html

[2016-09-25 16:32] smichel17 commented on #128
It will not be that bad. We need to switch to a CoordinatorLayout and AppBarLayout but after figuring out how they work it should not be that complicated.

[2016-09-26 04:41] #584 closed

[2016-09-26 11:05] djibux commented on #583
@smichel17 could you provide an apk for the acdisplay fork?  I can't seem to be able to compile it (it says `Could not find com.android.tools.build:gradle:2.2.0-alpha3`.

The camera is the only application I know of that I can start without unlocking the phone.  AcDisplay (original version) also works with the screen locked though it is a bit different: I doesn't require to be launched…

[2016-09-26 13:05] smichel17 commented on #583
You need to `git reset --hard` back to the commit I made.

[2016-09-26 13:59] smichel17 commented on #583
There is a debug build up here though: http://smichel.me/acdisplay-smichel17.apk

[2016-09-26 18:02] djibux commented on #583
Thanks.  I managed to build by reseting to fa00cfc70a5b7a066d0db4a3f6adcd61854d106a.  Guess what: it works!  I am a bit confused as to why it doesn't work from the native CyanogenMod lock screen…

[2016-09-26 19:59] smichel17 commented on #583
On Android, each activity has a couple flags that can be set to allow it to run when the screen is locked. Simpletask's AddTask activity has those flags; it's main activity does not (and neither do the filter modification, lua config, or preference activities).

Launching from lockscreen is done via intent. There are a couple different kinds of intent. The one I used launches the AddTask activity

[2016-09-28 03:07] mpcjanssen commented on #583
@smichel17 that's probably what's happening.

[2016-09-28 10:42] smichel17 commented on #583
@djibux there's an app called 'activity launcher' on fdroid that will allow you to create a shortcut directly to the activity. Not sure if you'll be able to get it on the lock screen but worth a shot if you don't want to use acdisplay. I use it to create a one-click `new calendar appointment` button when I'm not on the lock screen and it is very nice :)

[2016-09-28 13:51] djibux commented on #583
Thanks @smichel17. Unfortunately I can't seem to be able to add "activity launcher" shortcuts to the home screen.

I am not quite sure how I can held debug that issue.  It might actually be a CyanogenMod issue because I am selecting the "Add Task" activity as a shortcut on the lockscreen, I am not using a widget.

[2016-09-28 14:22] ddisanti commented on #583
@djibux mayybe you can try  Xposed Framework and these modules:

- [AOSP][LP-MM] Gesture Unlock with Custom Shortcuts
http://repo.xposed.info/module/me.rijul.gestureunlock

- Shortcut Lock Screen Mod [MM]
http://repo.xposed.info/module/com.android.xposed.shortcutlockscreenmod

I have tried the first one and it works fine, but gestures are not for me. :smile:

[2016-09-28 15:10] smichel17 commented on #583
@djibux If you're going to use Xposed, "App Settings" which I mentioned/linked earlier also includes the ability to allow arbitrary apps to run on the lock screen.

[2016-09-28 15:11] smichel17 commented on #583
Finally, we can also investigate how widgets launch the AddTask activity and make it so that process can happen while the device is locked.

[2016-09-29 09:16] djibux commented on #583
Thanks for the tip @ddisanti. It seems Xposed Framework require a rooted device, which I'm not too keen on doing.  But as I understand from your message you have managed to run AddTask from you lockscreen using the first module so it might indeed be an issue with CyanogenMod rather than simpletask.

@smichel17 Is there anything I can do like sharing a logcat or something?

[2016-09-29 11:10] smichel17 commented on #583
@djibux I don't think so. It just requires time to look throng the code and see how that widget works.

[2016-09-29 13:37] ddisanti commented on #583
@djibux ok. CyanogenMod isn't rooted already?  At least it was in my old Samsung S2 days. Oh. Your device came with CyanogenMod installed.

[2016-09-29 13:47] djibux commented on #583
@ddisanti well, in the current version you can select either: no root access, adb root access, application root access or full root access.  I have selected the first option.

[2016-09-29 14:25] smichel17 commented on #601
Turns out adding an import/export option was really easy, so I just went ahead and did it.

[2016-09-29 23:38] smichel17 commented on #582
The actual fix for this should be 1-2 new lines of code.

The amount of code that I've ignored so far that I need to understand in order to figure out which 1-2 lines I need to add, makes this significantly harder to solve than I thought it would be. Perhaps I'll have more time later.

[2016-09-30 17:36] smichel17 commented on #583
Looked into this. It's a "bug" with CM lockscreen, not simpletask. I don't know quite enough yet; it *might* be possible to create a workaround, or this might be a wontfix. Here's the deal:

Android has a built-in feature for creating shortcut widgets. You send an intent X to the android system that basically says, "I want to create a shortcut with icon Y and when the user clicks it, it launches i

[2016-09-30 22:34] smichel17 opened #616 "Update string resource IDs"
When I moved "Capitalize tasks" from the preferences to the addtask menu, I renamed the string ID `capitalize_tasks_pref_title` to `menu_capitalize_tasks`. I didn't change the string IDs of any translations. We should fix that.

I'm not sure if the right thing to do is change the ID of the translations, to revert the change I made, or to add both (and use the one with the more accurate ID).

[2016-10-01 06:23] #602 closed

[2016-10-01 06:28] mpcjanssen commented on #599
@smichel17 instead of fixing this by passing the createIsThreshold to the filter callback directly. I would prefer to add a Lua function to get the value of the create is threshold setting so you can decide yourself if you want to obey it in the callback. It can also be more easily extended to other settings which impact the sort.

[2016-10-01 07:18] satai commented on #602
Thanks.
I am looking forward the new release ;)

On October 1, 2016 8:23:08 AM Mark Janssen <notifications@github.com> wrote:

[2016-10-01 07:24] #582 closed

[2016-10-01 07:24] mpcjanssen commented on #616
Fixed in f3f2cfd41db91a75360d09d642edff5d96caff2c

[2016-10-01 07:24] #616 closed

[2016-10-01 07:26] mpcjanssen commented on #604
Making activity drawing more efficient will help, but this is a general android thing. I will not spend much effort on this.

[2016-10-01 07:27] mpcjanssen commented on #601
Fixed by #614

[2016-10-01 07:27] #601 closed

[2016-10-01 08:21] #596 closed

[2016-10-01 08:27] mpcjanssen commented on #606
Regardless of adding translations, for non-existing translated assets, there should be a fallback for to en.

[2016-10-01 08:51] #606 closed

[2016-10-01 08:57] mpcjanssen commented on #483
Request to weblate is sent.

[2016-10-01 08:58] mpcjanssen commented on #603
can't this be easily be implemented using the onGroup callback?

[2016-10-01 09:12] mpcjanssen commented on #611
This should only improve text sorting, right? Seems like a lot of effort for relatively little gain.

[2016-10-01 09:14] mpcjanssen commented on #553
@smichel17 how about using a navigation drawer instead of the menu? That seems more natural.

[2016-10-01 09:52] #588 closed

[2016-10-01 09:54] mpcjanssen commented on #575
Considering landscape mode looks ugly as is anyway and google seems to have lost all interest in tablets (for now) I am tempted to drop the mode all together.

[2016-10-01 09:59] mpcjanssen commented on #487
Seems the activity fix is the wrong way to fix #129. I will undo the change that caused this and think of a better way to fix #129.

[2016-10-01 10:21] mpcjanssen commented on #487
Seems this is already reverted in latest master.

[2016-10-01 10:30] mpcjanssen commented on #487
Ok I was wrong. It's not.

[2016-10-01 10:39] #487 closed

[2016-10-01 11:25] smichel17 commented on #604
Yeah. Will tackle this when we tackle #128

[2016-10-01 11:30] mpcjanssen opened #617 "Make task persistence plugin based."
Considering #470 and the work it requires, I would like to refactor Simpletask so in essence it's a standalone app and for syncing or local file storage you can download plugins. This has several advantages:

- Simpler code structure (no more flavors)
- Easier to implement things like undo.
- Easier to implement additional storage back-ends.
- Allows use of Simpletask without any storage but solel

[2016-10-01 11:37] mpcjanssen commented on #603
Ah misunderstood. This will use the calendar integration to show the other calendar items as tasks. This will be a bit weird though if you think about editing these items.

[2016-10-01 11:39] smichel17 commented on #603
I wouldn't show them *as* tasks, as in, I would not make them select-able. There should be a way to view them in your calendar app but otherwise read-only.

[2016-10-01 11:43] smichel17 commented on #553
@mpcjanssen I agree that a nav drawer is the obvious solution. And with an actual navigationdrawerlayout you can literally copy-paste the menu xml into it and it'll just work.

The problem is, the help screen currently has a back arrow in the app bar, not a hamburger menu, so I' wasn't sure how to implement this behavior intuitively.

I do have ideas right now (tl;dr, right nav drawer) but it's re

[2016-10-01 11:46] smichel17 commented on #575
I think that we should drop the mode and the setting, then go make some improvements to the layout in landscape mode. Which are, instead of splitting the screen 3 ways, we should split it in half. One drawer would always be shown; the other would be a toggle.

Happy to remove landscape mode for now and wait on that until after UI changes, though.

[2016-10-01 11:47] smichel17 commented on #129
I think the proper way to fix this relates to #547

[2016-10-01 11:50] smichel17 commented on #611
I think there's some gain but happy to put this off as someday/maybe.

[2016-10-01 11:57] smichel17 commented on #590
I'm just going to close this as a duplicate of #575

[2016-10-01 11:57] #590 closed

[2016-10-01 12:03] smichel17 commented on #575
It would be re-added without a setting; it's no longer landscape ***mode***, it's just how simpletask looks in landscape orientation.

If landscape mode is awkward enough that people would desire a setting to turn it off, it is not a feature worth offering, IMO. Better to just make the feature good enough that everybody wants it.

[2016-10-01 13:47] djibux commented on #583
Thanks for looking into this @smichel17.  As far as I know I cannot add widgets to my lock screen, only customize the two bottom corner actions (phone and camera by default).  I have changed the phone button to put the AddTask activity.

[2016-10-01 13:58] smichel17 commented on #583
Oh, I see  misunderstood what you were talking about; I'm not familiar with CM because my phone is unfortunately locked down with respect to custom roms (galaxy s4 through verizon; won't be doing that for my next phone).

If CM lockscreen is just launching the AddTask activity it seems like this should work... if that's what you think it is doing but it still requires unlock to launch, a logcat wo

[2016-10-01 21:37] smichel17 opened #621 "Lua config lost when going to help screen"
Steps to reproduce:

- Enter lua config
- Make changes
- Open help with the button at the top of the screen
- Press back

Expected result: Return to lua config with changes preserved

Actual result: return to main screen and changes are lost if you re-enter lua config

---

If this isn't an easy fix, we could patch it for the next release by saving the lua config before navigating to the help scre

[2016-10-01 22:46] smichel17 opened #622 "Investigate XML selectors"
Seems you can define custom attributes (boolean only) in `/res/values/attrs.xml` and then use an XML selector to choose one of two blocks of xml based on the attribute. This should allow us to do things like change the color / menu options in the main menu from within XML instead of in Simpletask.kt.

I'm still a little uncertain as to the details of how custom selectors work (and thus, exactly ho

[2016-10-02 00:41] smichel17 opened #624 "Use actionMode for selection"
Instead of abusing onCreateOptionsMenu, there's already a support library function for dealing with selection.

https://developer.android.com/reference/android/support/v7/view/ActionMode.html

[2016-10-02 13:51] djibux commented on #583
Here is a pastebin.  https://framabin.org/?4517ad908667133b#SG8SCqvGGrizjZBgnDz9H9pOUh8j6m43UPfrpdql7+A=

I have put a comment in place where I launched the activity by sliding from the bottom left.  The next logs are about unlocking the phone before getting to the line
[code]

[2016-10-02 15:06] smichel17 commented on #622
I think this might be the right way to fix the weirdness around donation and dropbox vs cloudless preferences

[2016-10-02 17:28] smichel17 commented on #383
I think this will be clear to people who are still using non material devices, so I'm going to call this fixed by #528

[2016-10-02 17:28] #383 closed

[2016-10-02 19:21] smichel17 commented on #503
@mpcjanssen I think the best solution would be to pass an iterator in a couple places (eg,`task`). http://www.lua.org/pil/7.1.html

[2016-10-02 19:57] doranism commented on #458
First of all I would like to thank you for your great work!
I use your app every day at home and in the office. It helps me to keep track of sometimes more than hundred tasks. I especially love the flexibility of the app and how I can filter and sort, so that I only see what is important now or at a specific place.

Because I did not find an equivalent for my Windows-desktop, I always keep my phon

[2016-10-02 20:35] smichel17 opened #627 "Task displays in filter it shouldn't after editing"
Steps to reproduce:

- add a task `text @a`
- filter to display tasks on list `a`
- edit the task to remove it from list `a`
  - it now reads just `task`
- Unselect the task via either back arrow or tapping it

Expected behavior: task disappears, since it does not match the filter criteria and is no longer selected.

Actual behavior: task persists in the view until you modify the filter.

[2016-10-02 20:35] mpcjanssen commented on #624
I wouldn't call it abusing. And using `ActionMode` again adds another layer of confusion. Considering it's working fine as is, I prefer to only do this if it's really needed.

[2016-10-02 20:37] smichel17 commented on #627
@mpcjanssen We should fix this (with #624?), merge #625, then do another release.

[2016-10-02 20:52] smichel17 commented on #165
End goal: remove the widget creation interface entirely. Just create a widget, then use a drop-down to select a ~~saved filter~~ view to show and a sort/grouping method to use.

[2016-10-02 21:00] #536 closed

[2016-10-02 21:03] smichel17 commented on #593
Next version has landed. @Alphalpha007 can you see if this has been fixed?

[2016-10-02 22:22] smichel17 commented on #458
@doranism Thanks for chiming in!

You might be interested in using the onGroup lua callback to change your headers to show up as urgency zones instead of priorities.

I'm running short on time so I'm going to assume you're technical enough to figure out & write that script yourself; if not, let me know and I'll give an example when I have more time.

Just for clarity: you're talking about how many

[2016-10-02 22:26] smichel17 commented on #624
Okay, abusing may be a little harsh.

I still think we should look into it; I believe actionMode will implement the default animations for entering selection, which is nice. I think it will also simplify our selection code, since it keeps track of when items are selected and triggers automatically.

[2016-10-03 06:30] roman-yagodin opened #629 "Show task text and tasks count in delete confirmation dialog"
Currently, deleting tasks is somewhat unsafe, as there is no hints in the delete confirmation dialog about which task or how many tasks will be deleted. Displaying task text (shorten) for a single task and number of selected tasks in the delete confirmation dialog would be nice thing.

[2016-10-03 06:52] roman-yagodin opened #630 "Notifications on specific time"
Notification system is a major part of GTD, but currently Simpletask is not very strong on this point. It would be nice to have ability to specify notification time directly, along with current ability to setup automatic notifications on threshold / due dates. It would require additional notification tag as well as ability to specify time, like `-n:2016-10-03T13:45`.

[2016-10-03 11:02] smichel17 commented on #630
Duplicate of #466

[2016-10-03 11:15] roman-yagodin commented on #630
Closing this as a duplicate of #466. Thanks @smichel17!

[2016-10-03 11:15] #630 closed

[2016-10-03 11:22] smichel17 commented on #629
Good idea. I'll see how hard this would be to add; otherwise we'll do it when conformation dialogs are replaced by undo (#102).

[2016-10-03 11:33] roman-yagodin commented on #466
I think the reminder/notification system would be great thing. The current implementation is almost useless - at least for me, as I certainly will not remember at the noon that I've been reminded about something at the morning...

[2016-10-03 12:38] smichel17 commented on #597
Had a regression somewhere along the way.

[2016-10-03 18:11] ddisanti opened #631 "[8.3.0 Cloudless Beta] Quick Filter (left) drawer is closed after select an item."
Sometimes you may want to select multiple items on the Quick Filter drawer so it will be annoying to have to open it multiple times to apply the desired filter.

[2016-10-04 05:56] #597 closed

[2016-10-04 05:56] #631 closed

[2016-10-04 05:57] #528 closed

[2016-10-04 08:44] mpcjanssen commented on #624
Especially the second point looks interesting. I will look into it.

[2016-10-04 09:57] mpcjanssen commented on #621
Two possible solutions:

1. Change the parent activity when opening the help
1. Store the intermediate edit in the preferences and clear this once the change is applied.

My preference would be option 2.

[2016-10-04 10:00] mpcjanssen commented on #176
Custom date picker sounds good. It does have the drawback that it will be hard to fit it all in on dialog.

Other idea. Have a calendar picker and a dropdown with custom picks which can be configured using the recurrence syntax and is prefilled with the current options.

[2016-10-04 14:57] smichel17 opened #634 "Lua config history"
It'd be nice if you could view your lua config history the way you can view your task list history. One entry per time you press the `save` fab on the lua config.

- One option is to add this functionality to the lua screen
- Another option is to add a 'lua history' screen
  - Accessible from the overflow menu in the history screen and/or lua config

[2016-10-04 15:04] smichel17 commented on #176
I think we'll be fine fitting it on a dialog. Or a bottom sheet. Or tab.

We have options :wink:

[2016-10-04 15:10] smichel17 commented on #624
Go [here](https://developer.android.com/guide/topics/ui/menus.html#CAB) and then scroll to `Enabling batch contextual actions in a ListView or GridView`.

[2016-10-04 20:57] doranism opened #636 "Reordering tasks"
As I wrote in #458, I would like to make the following suggestion to improve
1. sorting tasks in the "opportunity-now"-list via threshold date to adjust the order I want to work on them.
2. planning the tasks for the upcoming week including the possibility to see the amount of work at the day, where the task is pushed.

This is important, because the priority of a task is often relative and depend

[2016-10-04 21:40] doranism commented on #458
@smichel17

Until now I didn't go deeper into scripting. I only copied some of your examples and adapted them :-) So it would be very nice, if you can help me with that the other day.

Not exactly, although this will be an improvement. I wrote down my thoughts in #636.

Your right and it shouldn't become one. My proposal is more about building up a schedule and see the number of tasks assigned to

[2016-10-05 18:13] ddisanti opened #638 "Discarding a shared task doesn't work"
If you share a task with Simpletask and for some reason you don't want to save it, taping on the upper left ```X``` button  doesn't work as expected. The task is saved anyway.

[2016-10-05 18:42] ddisanti commented on #638
Oh. I just get it. The ```X``` is for to discard any changes you may did to the shared task. Right?
Anyway, there should be an option to discard the task, ie to not save it to the list.

[2016-10-05 19:07] smichel17 commented on #638
How Simpletask works right now:

- Tasks each have a state: selected or not selected
- Editing a task and adding a new task both work in the exact same way:
- When you launch edit/add screen, you don't tell it anything about why you're opening it
- The app edit/add screen knows what you want it to do based on the current state of the app (are the tasks selected? Then it's an edit. What filter is o

[2016-10-05 19:24] ddisanti commented on #638
Maybe, a dirty fix would be make the ```X``` button to delete the task.
Anyway, this happened to me because sometimes I share things to Simpletask by mistake and don't want it to save it.  I have Simpletask on top of my _"Share with..."_ menu.

[2016-10-05 19:51] smichel17 commented on #638
Wouldn't work. AddTask can't distinguish between tasks shared to simpletask and then edited and when you select tasks on the main screen and then hit 'edit'.

[2016-10-05 20:06] ddisanti commented on #638
Ok. It is just I though that if the task is identified, then selected and finally loaded to the _Edit screen_  it would be easy to delete if you want it to.
@smichel17 Anyway, is not a big deal.
@mpcjanssen you can close this if you think this can't be implemented or it will be of no use.

[2016-10-05 20:11] smichel17 commented on #638
I do not think we should close it. Hitting the X after editing shared tasks should discard those tasks, not add them. It's not a high priority, but that's fine; it should still be here.

[2016-10-06 17:41] felixkm commented on #470
Same here for Android :) https://github.com/CloudRail/cloudrail-si-android-sdk

[2016-10-06 20:21] mpcjanssen commented on #470
@felixkm I looked at that, but there are several disqualifiers:

1. All communication goes via the cloudrail servers before reaching Dropbox
2. It doesn't support version meta information and handling of conflicts.

[2016-10-06 20:31] mpcjanssen commented on #470
See also https://www.dropboxforum.com/hc/en-us/community/posts/206129823-Why-are-you-deprecating-v1- for my view on this.

[2016-10-07 08:19] felixkm commented on #470
@mpcjanssen
1. Where did you get that from? Actually we do all communication P2P, so no data ever passes a CloudRail server. It is basically just a replacement of the Dropbox SDK.
2. If you could elaborate that more, especially what the use case for that is, we can see if it is possible to add it.

[2016-10-07 11:31] mpcjanssen commented on #470
@felixkm ad 1. I don't know where I got that idea, thank you for correcting me, I updated my comment

For 2. Currently simpletask stores the last revision it has seen on dropbox. Then when you put a new version to dropbox, you can include the last seen version in the request. If the remote version has changed (i.e. there is a conflict), dropbox will create a new file and return the updated filenam

[2016-10-07 11:46] felixkm commented on #470
@mpcjanssen thanks :)

For 2: That sounds like a very good addition to our interface. I'll bring that up in our next meeting and keep you in the loop.

[2016-10-07 18:34] mpcjanssen opened #639 "Make PoC for event handling using greenrobot eventbus"
Look into replacing all the intent broadcasts using a proper event infrastructure with lower overhead. From the FAQ:

[2016-10-07 18:39] mpcjanssen commented on #624
@smichel17  Note that a ListView and a RecyclerView are quite different. Not sure if it matters here.

[2016-10-07 19:02] smichel17 commented on #624
@mpcjanssen once we do #639 and refactor simpletask.kt to just set state in its onInteraction callbacks, then listen on event bus and change the UI according to messages received there (objects containing state will post to the bus when they're changed), it'll be trivial to call the correct actionMode callback upon receiving a message that selection has changed.

[2016-10-07 20:59] smichel17 commented on #636
Alright, I finally got a chance to look at this.

I agree with your assessment of simpletask's (lack of) features in these regards. I also think that your suggested would do a good job of adding those features. However, I don't think we should implement it as-is:

- I'm not really sure how it would work when you have many tasks selected, especially when they are not all on screen at once.
- When y

[2016-10-07 21:14] knitterb commented on #458
I use one todo list for home.  I use Evernote for work.  I sort by completed (completed at the bottom) and then priority (A at the top).  At the end of the day I archive all completed tasks.

I make the things I'm going to work on today to A, everything else is what I plan to get to in priority order.  Kinda Kanban style.

I tag things, but I rarely if ever filter on tags or lists.   I may use lis

[2016-10-08 00:38] smichel17 commented on #639
Copied from gitter so I don't lose it:

- The config singleton
- A TodoList object
  - One per open todo file
  - Handles task content and (un)selected state
- A TodoQuery object
  - One per view (a view is akin to a saved filter)
  - Has methods to handle displaying task tokens, etc
- Fragments/Activities

[2016-10-09 00:27] fengshaun opened #640 "Custom calendar account+name"
It would be nice to be able to have SimpleTask use another calendar than the default "Simpletask Calendar -> Simpletask Reminders" calendar. I believe this is where things should change:

`https://github.com/mpcjanssen/simpletask-android/blob/master/src/main/java/nl/mpcjanssen/simpletask/CalendarSync.kt#L52`

[2016-10-09 05:01] smichel17 commented on #640
Could you elaborate on why you'd like to be able to change this?

Todo.txt is a great format, but it does have one big drawback, which is that it is difficult to track a given task as you make changes. For calendar reminders, that means it's difficult to change only a single reminder when you update the todo.txt file from outside simpletask. So instead, we just recreate the entire calendar each ti

[2016-10-09 06:37] fengshaun commented on #640
That makes sense. I was thinking about having reminders show up in my calendars that are synced elsewhere.

It would be possible to have Simpletask assigned to a calendar and have it compare calendar events against todo.txt when the file changes instead of recreating everything. This way new reminders can be added and missing ones (from file) removed from calendar. Then the calendar can be properl

[2016-10-09 13:23] djibux commented on #516
Just for reference, if that can help someone, the onGroup callback allowed me to do exactly the grouping I wanted.
I sort by completed then threshold then alphabetical and then use the following filter script to view current and future tasks.

[code]

[2016-10-09 15:17] mpcjanssen commented on #640
@fengshaun any attempt to combine appointments with an existing calendar has the issue @smichel17 mentioned that it's hard to identify tasks between changes.

[2016-10-09 23:30] doranism commented on #636
Today I got the Update from f-droid to V8.3.0. It really is a big improvement! Especially setting due or threshold dates, which I do alot.

I thought about that but tried to explain the basic case first. As you said, the easier solution would be, to only allow reordering one task at once. But it can be useful to reorder more than one task. Maybe it could be done like this:
1. Select tasks
2. Activ

[2016-10-10 04:48] satai commented on #602
Looks fixed.

Thank you very much.

On October 1, 2016 9:18:31 AM Ondrej Nekola <ondra@nekola.cz> wrote:

[2016-10-10 05:06] smichel17 commented on #640
@mpcjanssen not saying I think we should support this, but I do see the value in using a different calendar for the express purpose of syncing. Ie, I could make an empty calendar and sync that via davdroid, then tell simpletask to populate that calendar. As compared to now, when I'm not sure how I could do that.

That said, I'd be really, really worried that no matter how many warnings we put up,

[2016-10-10 14:39] smichel17 commented on #516
This seems done.

[2016-10-10 14:39] #516 closed

[2016-10-10 18:24] smichel17 commented on #636
I agree :)

I'd forgotten about #406. :P

We'd need to add a cancel button, in case I start to scroll them, then decide I actually want to cancel the movement. That shouldn't be too hard, though, since we can remove options like archive and delete from the app bar when scrolling.

This is the kind of thing I'd want to actually use for a while to see whether my actual experience lines up with my an

[2016-10-11 03:37] smichel17 commented on #624
It does matter that ListView and RecyclerView are different. Here's someone making them work together. Note: it's a long article to explain a fairly small amount of code, which is linked at the end.

https://medium.com/@BladeCoder/implementing-a-modal-selection-helper-for-recyclerview-1e888b4cd5b9

[2016-10-11 06:43] ddisanti commented on #458
@smichel17 I've a simple lists for home, job, interest, etc and then I have this list for my job.
 I work in a big store. Some products (items) have expiration dates and near that date are put on sale. It is a _three stages process_, each stage represented for a tag:

These are the stages:

* **Stage 1: _capturing task -> tag_ ```PENDING```**

 When an ```item``` next to its expiration date is det

[2016-10-11 13:23] smichel17 commented on #458
@ddisanti I think the way I would do steps 1 and 2 the same, but change step 3. In step 3, I would tag with `ONSALE` the same way but not change the dates. Then create an onFilter script that hides tasks that have the `ONSALE` tag until 3 days before they are due.

[2016-10-12 03:47] smichel17 commented on #458
@doranism Something like this:
[code]
note that `elseif` is one word, not a typo.

[2016-10-12 08:05] djibux commented on #445
I believe this can be closed.  It works in the latest version.

[2016-10-12 08:20] djibux opened #644 ""Create is threshold" setting is sometimes lost"
The "create is threshold" setting sometimes unchecks itself.

One way to reproduce this is to :
- Open filter an check "create is threshold"
- Move to the "script" tab and apply filter
- Open filter again, staying on the "script" tab and apply filter again (it's just a matter of opening and closing the screen, not making any change)
- Open the filter a third time: the "create is threshold" setting

[2016-10-12 11:30] smichel17 commented on #644
I cannot reproduce this. Two questions:

1. Can you try to reproduce by also changing another setting, to see if "create is threshold" is the only thing lost?
2. Are you sure you didn't select a saved filter at some point in those steps?

I can "reproduce" this with the following steps:

- Select a saved filter X where create us threshold is not selected.
- Open the filter, check create is thresho

[2016-10-12 12:28] smichel17 commented on #644
Never mind, found the bug by accident when I was looking at something else. Would have been tricky to find if I had not stumbled on it.

The way android handles memory management (simplified version) is that when a page or part of a page is no longer visible, it's kept around in memory for as long as it can be, for a faster restore if you ever return to that page. When the system needs more memory

[2016-10-12 12:41] djibux commented on #644
That must be it!  Great job finding that one :)

[2016-10-12 15:34] smichel17 commented on #512
This was done a while back.

[2016-10-12 15:57] smichel17 opened #646 "custom sorting via onSort lua callback"
Takes two tasks, returns true if the first should be sorted above the second and false if the second should be sorted above the first.

Definitely wait on this until after the couple of bigger upcoming changes (database backend, queries).

[2016-10-12 22:43] doranism commented on #636
Now we're really getting into it :-)

I wish that I could reply faster! But I have alot to do at the moment.

Yes, that's an good idea

I think that the whole function will need some testing on the usability. It only makes sense, if it is more fluent than the way attributes can be set right now. But in my opinion it is worth trying.

In general, the conclusion of my thoughts about reordering tasks

[2016-10-13 08:09] Remiol opened #647 "Subtasks"
Is there a possibility to add subtasks in simpletask?

(btw. thanks for the work you've done)

[2016-10-13 08:15] Remiol opened #648 "Time indication"
Is it possible to add a time (due date + due time) indication in simpletask?

There was a problem with the first task I inserted in Simpletask yesterday :)

I wanted to insert a task what I had to do 2 times a day p.e.
"taskname": recurrence every day at 9 am and 3pm

There is no way to do this without doubling the task isn't it? And also time is missing.

[2016-10-13 11:33] fluxens commented on #153
Would love to have this feature! Most of my tasks have at least two lists. Currently I cannot be sure that if I check one list it contains all tasks with that list.

[2016-10-13 12:58] mimf opened #649 "Change "Next" to "Done" on Android's keyboard"
I recently came across this app and there's something that makes it borderline unsuable for me.

When I've it in landscape mode, I can't see the "Save" button, so there's no easy way for me to save a task after I'm done typing. The keyboard has the "Next" key, but has no "done" key, which makes no sense to me. The "next" key gives a space, but there's already a space-bar on the keyboard, there's n

[2016-10-13 13:07] mimf opened #650 "Easier way to add tasks to specific lists"
I feel like there should be an easier way to add tasks to specific lists. My suggestion would be something like:

- After a long press on the add button (+ button), a pop-up (or whatever) appears, asking us to choose the lists to which we want to add the task. A normal press would make it work as it currently does.

[2016-10-13 13:17] mimf opened #651 "Consistency in regards with keyboard input"
Sorry for all the "spam", but I really like this app. This issue is a bit of nit-picking, but hopefully it's not taken in a negative way.

I've noticed some problems when adding tasks to a list in different ways:

- When we've a list filtered (let's say "list1") and we add a task, the input will be the following "@list1[cursor_here]"

I suggest adding a space between "@list1" and "[cursor_here]" s

[2016-10-13 13:29] smichel17 commented on #647
Not at the moment. See #362 and #339.

[2016-10-13 13:30] smichel17 commented on #648
See #192 and #466.

[2016-10-13 13:33] smichel17 commented on #153
The backend work that would make this possible is underway (although a ways off) in #617, on the standalone branch.

[2016-10-13 13:55] smichel17 commented on #649
I can verify this. For clarification: the enter key should still be next, but the large button on the right of the text area should close the keyboard.

[2016-10-13 13:58] smichel17 commented on #650
I don't see how this is very much more convenient than using the button to add lists once you're in the edit screen? Also, tasks will be pre-filled based on the active filter.

[2016-10-13 14:05] smichel17 commented on #651
The reason for the cursor being on the beginning of the line is basically that it's really hard to set the cursor to the right spot, so it's better to do something dumb but consistent than try to be smart and mess it up. See #365, #478 for more info.

I don't think there's a good reason why cursor placement is inconsistent, though.

[2016-10-13 14:17] mimf commented on #651
Sorry, I was not aware of it. Should've searched before creating this.

[2016-10-13 14:18] smichel17 commented on #651
No worries. Keep this open, though; it is a good idea to make the cursor placement consistent at the start of the line and I don't believe there's an open issue for that.

[2016-10-13 14:19] mimf commented on #650
I suppose it would be one less click. Depending on the implementation, one could make it possible to add to a specific list with 2 less clicks.

[2016-10-13 14:57] smichel17 commented on #651
One line code changes are the best :)

[2016-10-13 22:09] smichel17 commented on #554
@ddisanti @y2kbugger @mpcjanssen @vojtechkral @memeplex @Chriswaterguy @LocutusX @krayon @Alphalpha007 @getthemike @twckr @djibux @shayneholmes @doranism @knitterb @ComedyTomedy @paullemmens

I've written out how I'm thinking this feature will work below. If you have a short moment, I'd appreciate your feedback. For each of the cases below (especially the tricky case), is this the way you'd expect

[2016-10-13 22:34] smichel17 commented on #554
The alternative behavior is that any time you select or unselect an item, consider yourself in state 1. After that, no matter how you complete or uncomplete any items, the Checkbox will switch between all tasks complete, none complete, and the original state (unless the original state was all or none, in which case it just switches back and forth).

Due to technical limitations until #617 is done

[2016-10-13 22:44] y2kbugger commented on #554
For the alternative behavior, can you clarify what you mean by "consider
yourself in state 1" if that means that the new state becomes considered
the new "original state", then I don't see how it is different from the
non-alternative behavior.

On Oct 13, 2016 6:34 PM, "smichel17" <notifications@github.com> wrote:

[2016-10-13 23:21] smichel17 commented on #554
@y2kbugger Updated my comment to be much more descriptive.

[2016-10-13 23:22] djibux commented on #554
It seems natural enough to me. It returns to the latest state that was manually forced/input.

Mid case you talk about returning to state 2 (which makes sense to me) but your example seems to be state 1…

Le 14 octobre 2016 00:09:14 GMT+02:00, smichel17 <notifications@github.com> a écrit :

--
djib

[2016-10-13 23:23] smichel17 commented on #554
Note that I am not handling any special cases around changing selection, yet. If you add or remove a task from selection, that's the equivalent of starting completely over from step 1.