[2021-01-30 08:03] #1108 closed

[2021-02-01 16:33] cruftex opened #1112 "Problems accessing / sharing current todo.txt"
I am doing my first steps with Simpletask. Used Simpletask version is 10.9.0 cloudless on Samsung S20.

I started entering tasks on Simpletask. Now I'd like to move the todo.txt to a folder I sync via syncthing with my notebook.

There are two issues that confuse me at the moment:

Simnpletask says it stored the todo.txt at `/storage/emulated/0/Android/data/nl.mpcjanssen.simpletask` however when I

[2021-02-01 20:33] cruftex commented on #1112
Probably the first issue is related to #1100. I try the Android 11 build.

[2021-02-09 15:28] smichel17 opened #1113 "Migrate off bintray"
[JFrog is shutting down bintray](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/). Packages will be up until Feb 1, 2022. At the least, my little preference library is hosted there… I'll send a PR at least by that date to either migrate off the library or inline it (it is not that large).

[2021-03-04 17:46] bshanks commented on #1102
For other Dropbox users, currently you can download the latest Simpletask Dropbox from https://mpcjanssen.nl/artifacts/10.9.0/apk/dropbox/release/app-dropbox-release.apk and then install it by using the Files app to navigate to the Downloads folder, selecting the app-dropbox-release.apk file, and then enabling Allow Unknown Apps Installation as requested.

Very sad that Google is doing this. Simpl

[2021-03-04 23:55] kianboon80 commented on #1110
Just want to thank u for this app. It is still my favourite app for todo.txt

[2021-03-05 15:53] aubreyz commented on #1110
Indeed. The best app out there.

[2021-03-07 05:21] tomtom opened #1114 "Please restore the last version of Simpletask cloudless in the store (instead of Simpletask NG)"
Since simpletask is now in low maintenance mode: Could you please replace the current version of Simpletask NG with the last working version of Simpletask cloudless in the Play store? The version that currently is in the Play Store (ńamed Simpletask NG) is extremely buggy - to a degree that makes it unusable. The last official version of Simpletask cloudless worked really well.

Thank you!

[2021-03-07 11:21] mpcjanssen commented on #1114
Problem with restoring the cloudless version is that it only works for people who used the cloudless version before. The dropbox and nextcloud users will be left in the cold. You can still use the latest cloudless version from: https://mpcjanssen.nl/artifacts/10.9.0/apk/cloudless/release/

[2021-03-08 16:21] jan-gerard commented on #1114
Unfortunately, the current version is not able to save the todo.txt file anymore. It exists on by device, but only an older version of the file, updated 4 days ago. In the running app, I see my latest changes, but on in the todo.txt file. It says "Saving of todo file failed".
Tried deleting, recreating, copying the todo file, but I cannot select a different file. The option "taaklijstbestand opene

[2021-03-08 16:58] mpcjanssen commented on #1114
@jan-gerard did you recently update your Android version?

[2021-03-08 17:15] jan-gerard commented on #1114
I think there was a recent security update on my phone, indeed.

[2021-03-08 17:54] mpcjanssen commented on #1114
@jan-gerard possibly https://github.com/mpcjanssen/simpletask-android/issues/1100. Try the version from https://mpcjanssen.nl/artifacts/10.9.0-2-f162a66-fullaccess/cloudless/release/app-cloudless-release.apk

[2021-03-09 07:11] jan-gerard commented on #1114
Now it's working again. I can see and select .txt files, which was not possible with the original version.

[2021-03-09 08:58] mpcjanssen commented on #1114
This requires a permission which google play doesn't allow. In newer versions of Android, directly accessing internal storage is broken by design.
Workaround is to use the storage access framework, which is unreliable and buggy.

[2021-03-10 14:47] fazlerabbi37 commented on #816
@mpcjanssen I just hard back from F-Droid about this issue. As per this [comment](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6680#note_474032844), the way fastlane is structured now will not work with F-Droid. In order to get it working, it needs to be flavor-specific. Do you want me to restructure the fastlane directory and send a new PR?

[2021-03-11 08:24] mpcjanssen commented on #816
@fazlerabbi37 if you could restructure it, that would be great.

[2021-03-11 12:05] fazlerabbi37 commented on #816
I will send a PR ASAP.

[2021-03-11 16:02] smichel17 commented on #816
Aaah, I also need to get around to the f-droid metadata improvement, it's been on my list for foreeever :S

[2021-03-15 16:53] fazlerabbi37 commented on #816
I just created the PR to move Fastlane file to flavor-specific locations #1115.
---
Now I have a question for @mpcjanssen and @IzzySoft, what happens to the `fastlane` directory and the files inside them? I am assuming they will stay there, but can we remove the `metadata` directory inside `fastlane` directory? I have kept them for now but can update the PR after removing them, if it is ok to do s

[2021-03-16 02:55] IzzySoft commented on #816
Just be clear of what you're asking: No need to keep the stuff inside `/fastlane` (i.e. the previous/old location) for F-Droid, we don't need duplicates; the one in the new location of course needs the `metadata` (i.e. `app/src/*/fastlane/metadata` must stay :wink:). When the PR is merged, we should send the bot again on F-Droid's end to see it finally finds it (which might need a tag "on top").

[2021-03-16 11:03] mpcjanssen commented on #816
@fazlerabbi37 PR merged, thanks.

[2021-03-18 16:41] mpcjanssen commented on #1088
@scheunengeist can you try the version https://mpcjanssen.nl/artifacts/10.9.0-2-f162a66-fullaccess/cloudless/release/app-cloudless-release.apk ?

[2021-03-21 13:44] aubreyz commented on #1114
Just some simple advice -- I am being offered an upgrade to Android 11 (I am using at the moment both the Webdav version of ST and the Cloudless version at the same time). Both working great as usual.  Am I to take it that I should not upgrade my Android?

[2021-03-21 15:43] mpcjanssen commented on #1114
@aubreyz with android 11 and cloudless you will need the fullaccess version (link in a previous reply). Webdav will work the same.

[2021-03-21 16:05] scheunengeist commented on #1088
@mpcjanssen Sorry, didn't get around to it right away. When trying to install the above version, the packet installer gives me an error "parsing the package".

[2021-03-21 19:16] mpcjanssen commented on #1088
@scheunengeist you are on Android 11?

[2021-03-22 15:02] scheunengeist commented on #1088
That's correct, I'm using LineageOS 17.1, which corresponds to Android 10.

The version of ST you posted above behaves in the same way the one on F-Droid does (don't know if they are different): I can open a file picker dialog through "open todo file", but anything outside `/storage/emulated/0/Android/data/nl.mpcjanssen.simpletask` is invisible (except for '..', which brings me ever higher into se

[2021-03-22 17:52] mpcjanssen commented on #1088
@scheunengeist can you try with this version: https://mpcjanssen.nl/artifacts/issues/1088/app-cloudless-release.apk which falls back to the old Android 9 permission system om Android 10. It works as expected on my LineageOS 17.1 pixel 2.

[2021-03-22 18:15] mpcjanssen commented on #1088
@aubreyz could you log a separate issue for you Dropbox multiple conflict files?

[2021-03-22 18:16] mpcjanssen commented on #1088
I now have a build which should have full storage access both on Android 10 and lower devices and on Android 11. This will probably be the next f-droid release.

[2021-03-22 18:36] aubreyz commented on #1088
I am ecstatically happy that you have managed to get out of the (well merited) depression @mpcjanssen

I have stopped using the Dropbox version completely (because of this) so would be a bad candidate to test it....
That said the current Webdav version very occasionally does something odd but different

Dropbox past issue:
- This would happen nearly daily
- was connected as the only device so no p

[2021-03-22 19:25] mpcjanssen commented on #1088
@aubreyz if it happens again please log a separate issue. What might be related is the 6s delay Simpletask now waits after the last change before writing the file. Maybe reducing the time in the settings makes a difference.

[2021-03-23 11:04] mpcjanssen opened #1116 "Lots of duplicates in Dropbox"
When making quick consecutive changes a lot of duplicates are created in Dropbox

[2021-03-23 11:05] mpcjanssen commented on #1088
@aubreyz see https://github.com/mpcjanssen/simpletask-android/issues/1116 for this issue

[2021-03-23 13:10] scheunengeist commented on #1088
@mpcjanssen I installed https://mpcjanssen.nl/artifacts/issues/1088/app-cloudless-release.apk and can confirm that I can navigate through the file system, open and save todo.txt from my 'old' location, as well as edit and archive issues with no error messages, as far as tested.

[2021-03-23 13:15] mpcjanssen commented on #1088
I'll close this issue then. Any remaining non-cloudless issues can become new issues.

[2021-03-23 13:15] #1088 closed

[2021-03-23 13:20] scheunengeist commented on #1088
Thanks for your work on this!

[2021-03-23 16:24] smichel17 commented on #1114
To anyone who's gotten Simpletask from the Play Store: Even if the permissions are broken, you can get your tasks out by using "share" in the three dot menu

[2021-03-23 18:05] mpcjanssen commented on #1114
Another option is to go to the history and share the database, which will export an sqlite database with the last 3 days of history.

[2021-04-04 08:44] goZealtech commented on #1102
Is it restricted to certain country play stores?  I cant find it on the India play store.

[2021-04-04 09:46] mpcjanssen commented on #1102
@goZealtech the SAF version was very buggy with detecting remote updates. I have removed it, so now there are no versions available from the playstore.

[2021-04-08 09:20] LegendoftheBowlcut opened #1117 "Reccurance not working"
Device: Xiaomi Poco x3 nfc

Steps to reproduce:
1. Create task with string: tasktext [at]taskgroup rec:2d
2. Check off task
3. Task is immediatly created again
4. done.txt has checked task added

So what i expected was that it will disappear until the next time it is due. I does basically nothing but recreating the task. Not even with an added due:whatever so im not sure if this is really intended

[2021-04-08 10:10] fazlerabbi37 commented on #816
update on F-Droid side: as per this [comment](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6680#note_547158125) the need a new release. @mpcjanssen can you please take a look?

[2021-04-08 10:56] mpcjanssen commented on #816
@fazlerabbi37 I have tagged 10.9.1.

[2021-04-08 13:56] smichel17 commented on #1117
rec: always creates the task again immediately. You can then hide it with a filter. For example, you could make a filter that only shows tasks due today. That would require a lua script; the easier way is to use a threshold date, and un-check "show tasks with threshold date in the future" in the filter.

[2021-04-08 18:25] tommyalatalo commented on #1036
I have had similar behavior where after placing the widget and resizing it on Nova launcher, only scrolling works. The setting and add task buttons don't do anything and clicking any item in the list does nothing. You can still see that the buttons/items are highlighted when clicking on them, but as mentioned they are dead.

[2021-04-09 08:50] qazip commented on #1100
I am trying to install the 11 version on mi a2 lite (android 10) but I get "problem parsing package".

Even though I am not on android 11, I still can't access my todo file. I have given storage access, but all I get while browsing storage looking for the file is "..."

[2021-04-09 09:01] mpcjanssen commented on #1100
You can't use the 11 version if you are not on android 11 because it uses a new permission. Can you try https://mpcjanssen.nl/artifacts/issues/1088/app-cloudless-release.apk?

[2021-04-09 09:58] fazlerabbi37 commented on #816
update on F-Droid side: RFP PR is merged! :tada: Hopefully will be build within next week. Thank you, @mpcjanssen, @IzzySoft and everyone!

PS: @mpcjanssen may need additional help from you to do some additional fix and cleanup after the app is published.

[2021-04-09 11:00] mpcjanssen commented on #816
@fazlerabbi37 thanks a lot. Please let me know if you need something else (log a new issue)

[2021-04-09 12:42] LegendoftheBowlcut commented on #1117
Sure thats how i assumed to happen next that it creates the task immediatly but with a due date depending on the timeframe in the rec string. But for me it just creates exactly the same task without any due date added etc so for me i can write 2w, 2m or 2d they all basically change nothing for me

Ill do a screen recording later and post it here

[2021-04-09 17:29] mpcjanssen commented on #1117
If a recurring task  doesn't have a due date or a threshold date, no date will be added. This works as designed. What would you expect to happen if you recur a task without due date or threshold date?

[2021-04-10 08:51] mpcjanssen commented on #1116
Still some unexpected conflict files in Dropbox. Re-opening until I have tested some more.

[2021-04-27 11:12] t7ko opened #1118 "Keeps showing "Filename was changed remotely" / "Not switching files""
I'm on Android Xiaomi Redmi Note 9 Pro.

Simpletask (with Dropbox), 10.9.0.  Installed manually from download location recommended here #1102.

When configuring, I chose option to enable entire Dropbox, not just the folder.

It's all functioning fine, able to sync back and forth, BUT -- on every "push" (i.e. when I modified sth on Android, and Simpletask is saving), it shows me two warnings:

Warn

[2021-04-27 11:15] t7ko commented on #1118
Note: the file was not modified outside Simpletask in these scenarios.  At least, I myself was not modifying it.

[2021-04-27 11:35] aubreyz commented on #1118
This is the same issue as https://github.com/mpcjanssen/simpletask-android/issues/1116

I think it is a Dropbox problem - which I why I eventually stopped using the dropbox version (and stopped my paid dropbox altogether)

[2021-04-27 12:48] t7ko commented on #1118
No @aubreyz  it does not seem to be the same issue.  I do not see any duplicate/conflict files in Dropbox in my case.

[2021-04-27 12:59] mpcjanssen commented on #1118
@t7ko two questions:

1. Do you use auto archive?
2. Can you try with the version: https://mpcjanssen.nl/artifacts/master/dropbox/release/app-dropbox-release.apk there was a race condition in the 10.9.0 version which could cause this.

[2021-04-27 16:32] t7ko commented on #1118
1. No I'm not using auto archive (I assume auto-archive is "move completed stories to done.txt automatically").
2. Will try the version you gave and report back - thank you.

[2021-04-30 12:09] t7ko commented on #1118
@mpcjanssen -- thank you, new version fixed it.  (It was v10.9.1.)  Closing the issue.  Thanks again!

[2021-04-30 12:09] #1118 closed

[2021-05-06 10:35] Flnch opened #1119 "Show feedback on conflict in WebDAV version"
Hi, thanks for the great app. I am using the `nl.mpcjanssen.simpletask.webdav` version from [F-Droid](https://f-droid.org/en/packages/nl.mpcjanssen.simpletask.webdav/) (version 10.9.1) on two different Android devices.

In case of a conflict, the app does not indicate this. In #454 you say the app shows a toast if a conflict occurs and Dropbox is used as sync target. However, on my devices with th

[2021-05-07 20:01] mpcjanssen commented on #1119
The code to show the notification is not storage specific. So the toast should be shown. Are you confusing a toast with a snackbar? It's easy to overlook a toast and I should probably make it a snackbar for conflicts.

[2021-05-08 18:17] Flnch commented on #1119
Thanks for your answer. Okay. No, I am not confusing those two. Although a snackbar would be nice. I will test it again tomorrow (as I am pretty sure there was no toast in my tests last time) and write down my exact steps.

[2021-05-10 14:49] Flnch commented on #1119
So, I tested this again and I could reproduce my situation. Here the exact steps.

## Starting situation
- Device `A` with WebDAV app and activated wifi connection
- Device `B` with WebDAV app (same synchronization target) and activated wifi connection
- `A` synced with most recent version of `todo.txt`
- `B` synced with most recent version of `todo.txt`

## Test
1. Turn off wifi of device `B`
2.

[2021-05-15 19:46] jeron1 commented on #1102
Simpletask is one of the most important apps on my phone. Super high value. Wish it was still on google play. I grabbed apk off of an old device of mine, when setting up new phone. I guess I'll look to Fdroid or something in the future.

[2021-06-06 18:05] tymmek opened #1120 "Simpletask Cloudless 10.5.5 APK"
Simpletask Cloudless 10.5.5 appears to have recently disappeared from F-Droid.  It's the only version that works 100% with my Android 10 devices. I have been looking online for the APK file but have only been able to find versions Dropbox and Nexcloud. Is there a download location for older versions?

[2021-06-06 18:18] #1120 closed

[2021-06-19 17:17] jacquesh commented on #1102
Is there any reasonable way forward to get any version of SimpleTask back onto the Play store? Does this issue remaining open indicate that you hope to get SimpleTask back onto the Play store in future? I'm not an Android developer by any means but I would consider contributing to a fix if I knew what needed to be changed >_<

In the absence of the ability to reasonably support the various sync ba

[2021-06-21 11:12] mpcjanssen commented on #1102
@jacquesh there is a bit of a Catch 22 situation here.

1. The most logical version to upload to the playstore would be the Cloudless or the Storage Access Framework version.
2. The Storage Access Framework is a buggy PoS so that's a no go.
3. The cloudless version needs special permissions to work on newer Android versions to have access to the storage. This is not a permission that the Play Stor

[2021-06-21 16:51] smichel17 commented on #1102
One way forward would be to have someone *other than @mpcjanssen* distribute it on the Play Store. Since SimpleTask is [FLO](https://wiki.snowdrift.coop/about/free-libre-open#flo) Software licensed under the GPL version 3, anybody is free to do this — with modifications, if you desire — as you give credit and keep the same license.

The two basic problems seem to be:

- Google will not approve the

[2021-06-21 16:56] mpcjanssen commented on #1102
Note that I am absolutely fine with forks being published as long as it's clear that it is different from Simpletask.

[2021-07-08 14:51] GotSpokeNeedHub opened #1121 "F-Droid download ONLY has Cloudless and NEXTcloud version"
I want the version that allows me to use my dropbox account.
Both 'cloud' versions are for NextCloud.
Thank you for the terrific project!

[2021-07-09 11:05] mpcjanssen commented on #1121
@GotSpokeNeedHub it's a bit of black magic to get the proper descriptions in FDroid. The versions on FDroid are the cloudless and the Nextcloud version (even though the names suggest something else)

I have no plans of adding the Dropbox version to FDroid, but you can always download it from: https://mpcjanssen.nl/artifacts/

[2021-07-09 16:58] GotSpokeNeedHub commented on #1121
Thank you for your reply!
I don't want to sound obtuse but after downloading the zip file and
expanding it (on my phone) I don't see how to install it.
Thanks again for your patient help!

On Fri, Jul 9, 2021 at 5:05 AM Mark Janssen ***@***.***>
wrote:

[2021-07-10 10:45] ddisanti commented on #1121
@GotSpokeNeedHub for whatever reason, when downlanding the APK file, the .zip extension is added. Once you've downloaded it, rename the file by removing the ```.zip``` extension. Then you can install the APK file.

[2021-07-10 11:51] mpcjanssen commented on #1121
I haven't seen the .zip behavior before. Could be a web server thing, but renaming to apk should do the trick

[2021-07-10 12:43] ddisanti commented on #1121
@mpcjanssen I've seen this behavior in other sites, not just yours, when downloading .XLSX files, which in fact are Excel compressed files.

[2021-07-11 05:06] spiralofhope commented on #1088
Just to follow up, the error message does continue but only displays once; this is an acceptable annoyance.

I'm using 10.9.1 on F-Droid (from 2021-04-11)

Thanks for your effort.  👍

[2021-07-17 19:54] Vizway opened #1122 "Can not change storage after last uppdate."
I have cloudless version and use my own directory structure. But now I can't change it.

[2021-07-19 10:31] mpcjanssen commented on #1122
Please lease the last cloudless version from https://mpcjanssen.nl/artifacts/master/cloudless/release/ this should have full access to all internal storage.

[2021-07-21 20:05] SlidingHorn opened #1123 "Matrix room invite only?"
I cannot join the Matrix chat. I'm given an error saying "You are not invited to this room"

Attempted using Element web & Nheko

[2021-07-22 07:47] mpcjanssen commented on #1123
It was indeed invite only. Should work now.

[2021-07-22 10:53] SlidingHorn commented on #1123
Thanks!  Appears as though posting permissions are also locked down

[2021-07-22 12:27] smichel17 commented on #1123
It seems like at some point everyone was kicked, as well, since there's only the three of us in the room now and I know there were a decent number of folks hanging around at one point.

[2021-07-22 12:32] smichel17 commented on #1123
At least in May, the freenode bridge did a similar thing, it was kicking out anyone who hadn't spoken in 30 days… which kind of makes sense on IRC, but not so much on Matrix.

[2021-07-22 13:02] SlidingHorn commented on #1123
Is there another room that's not listed on the README? There's like 15-20 people in the room I'm in...I just can't post in it lol

[2021-07-22 13:06] smichel17 commented on #1123
I'm looking at [#simpletask:matrix.org](https://matrix.to/#/#simpletask:matrix.org) and all I see is this:
![image](https://user-images.githubusercontent.com/6563664/126643767-47aebbd5-3a50-42d6-921b-c03500a22bf2.png)
Not sure if this is a visual bug on my side or what.

[2021-07-22 13:14] SlidingHorn commented on #1123
here's what mine shows
![Screenshot_2021-07-22_09-13-53](https://user-images.githubusercontent.com/6623121/126644869-6f21800a-5f30-4b78-bc0f-71e54e99f2c9.png)

[2021-07-23 01:53] #1123 closed

[2021-08-06 12:07] b450mhdv opened #1124 "A confusing icon on "Simpletask" 's UI"
@mpcjanssen

Hello, I found a problem with the app's UI design. At first sight, the widget in the upper right corner looks like a "filter" icon, I thought the widget will open a filter menu in this page. But When I clicked on it, it took me to a new page with filter options. The common "filter" icon I saw in other popular apps maybe usually directly open a filter menu in current page. I think this

[2021-08-07 20:29] mpcjanssen commented on #1124
I find the actual filter icon very ugly. And it's a combination if filter and sort. Maybe a view icon would be better.

[2021-08-08 19:19] mpcjanssen commented on #1124
After looking again. What is confusing with a filter icon opening a filter screen?

[2021-08-23 13:40] mpcjanssen commented on #1121
Hopefully removing the `/play/` folder also containing meta data will ensure that fdroid only uses the actual metadata files and not the play metadata and will show all three versions with the correct name.

[2021-08-26 06:25] traditionalgithub opened #1125 "[Question] What is the the path to the local file in Cloud version, if there is one?"
What is the the path to the local file in Cloud version, if there is one? So after logging out, ionecan access the file locally with the cloudless version or some text viewer.

[2021-08-26 21:36] #1125 closed, assigned to nobody

[2021-08-30 07:27] mpcjanssen commented on #1121
All three versions are in FDroid with the correct titles now. https://gitlab.com/fdroid/fdroiddata/-/merge_requests/9661 should fix the summaries.

[2021-08-30 07:28] mpcjanssen commented on #1117
@LegendoftheBowlcut can you look at my previous question?

[2021-09-03 15:57] tallishpaul opened #1126 "Simpletask WebDAV v10.9.2 fails to sync"
Hi, thanks very much for a great app, it's really useful for me. WebDAV v10.9.1 has worked well since I installed it 2 months ago. I accept that I get the occasional conflict file on my Koofr cloud service. I use and change Simpletask multiple times most days and in > month I've only had conflicts on a couple of days, 4 files in total. I checked a bit and found no data loss.  I've used a Moto-G XT

[2021-09-03 22:37] mpcjanssen commented on #1126
@tallishpaul when you get this issue with 10.9.2 can you paste the log here? (in settings -> other -> view debug log) there was a change in the 10.9.2 sync behavior to prevent conflicts.

[2021-09-04 07:35] mpcjanssen commented on #1126
I can reproduce tbe issue. Will look into it.

[2021-09-04 07:39] tallishpaul commented on #1126
would you still like the debug? I had just sat down to update to 10.9.2. to get a debug log...

[2021-09-04 14:34] mpcjanssen commented on #1126
@tallishpaul I think I have a fix.

[2021-09-04 14:36] mpcjanssen commented on #1126
I will make a test build available later today to confirm.

[2021-09-04 19:35] mpcjanssen commented on #1126
@tallishpaul could you check with https://mpcjanssen.nl/artifacts/10.9.3/webdav/release/ ?

[2021-09-04 21:04] tallishpaul commented on #1126
@mpcjanssen that's great, it's working now. Many thanks.

[2021-09-04 21:24] tallishpaul opened #1127 "settings > donate broken on test build 10.9.3 WebDAV"
I don't now where I end up by clicking on it but the screen just displays "try again" and a broken satellite icon...

[2021-09-04 22:32] #1126 closed

[2021-09-04 22:33] mpcjanssen commented on #1126
@tallishpaul thanks for confirming. This versiom should be on FDroid in the next view days.

[2021-09-04 22:39] mpcjanssen commented on #1127
Not sure what's causing this. Maybe something blocking paypal links on newer Android version. The actual link is https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=mpc.janssen@gmail.com&lc=NL&item_name=mpcjanssen.nl&item_number=simpletask&currency_code=EUR&bn=PP-DonationsBF:btn_donateCC_LG.gif:NonHosted

[2021-09-06 13:37] uGeek opened #1128 "WebDAV sync, with the new version 10.9.2 update, does not work."
When upgrading to version 10.9.2 update, it does not work. I have returned to the previous version and without problems.

The error happens to me on two mobile devices

[2021-09-06 14:28] mpcjanssen commented on #1128
Duplicate of #1126

[2021-09-06 14:28] #1128 closed

[2021-09-06 21:31] uGeek opened #1129 "@tallishpaul could you check with https://mpcjanssen.nl/artifacts/10.9.3/webdav/release/ ?"
many thanks! The new version works perfectly

[2021-09-06 21:32] uGeek commented on #1126
Many thanks! The new version works perfectly

[2021-09-07 16:15] #1129 closed

[2021-09-13 17:26] hrv231 opened #1130 "Sharing a file on nextcloud with simpletask"
Hello,

My wife and I are using Simpletask for our Shopping List, after setting up webdav, one phone is able to edit the file while the other receives a message "Save todo file failed".
On my nextcloud I have that file shared with her username, this used to work on the previous version, I recently updated the version to the latest on both phones.

I also updated Nextcloud, so I don't know now wher

[2021-09-13 17:48] hrv231 commented on #1130
Alright, I was able to find out the debug button:

1.- Getting metadata for https://mynextcloudserver.com/remote.php/dav/files/hrv231/shoppinglist.txt

2.- File conflict remote

3.- System out: Authenticating for response: url=https://mynextcloudserver.com/remote.php/dav/files/hrv231/shoppinglist_conflict_blablabla.txt

So simpletask is creating those conflict files on the fly..
I'm lost here, and

[2021-09-13 17:57] hrv231 commented on #1130
The bad part is that it doesn't let me change to another file because it says:
"Not switching files when changes are pending"

[2021-09-14 03:03] gerroon commented on #1126
Are you sure? This new version seems to create many conflict files :(

[2021-09-14 04:06] gerroon commented on #1130
See my entry in this bug, it seems like something is not right with the latest version

https://github.com/mpcjanssen/simpletask-android/issues/1126

[2021-09-14 11:10] smichel17 commented on #1126
Are you sure they weren't created by the previous version?

[2021-09-14 13:11] mpcjanssen commented on #1126
I would suggest to completely uninstall simpletask webdav. Clean up the mess on the server and then reinstall. Re-opening a file from the menu should also work.

[2021-09-14 13:13] mpcjanssen commented on #1126
The previous version mistakenly stored the full url as the todo file location. Just updating will not change this location as it's stored in the settings. Re-installing will definitely clear this up, reopening from the menu might.

[2021-09-14 13:29] mpcjanssen commented on #1130
@hrv231 please uninstall and install the latest version 10.9.3.

Additional question? Why are you using the webdav version and not the nextcloud version directly?

[2021-09-14 13:54] gerroon commented on #1126
Thanks for the reply.

Reopening the file does not cut it. I cleared the storage which did reset everything for the app then I added everything back. it seems to work now.

[2021-09-14 20:33] hrv231 commented on #1130
Good point, for some reason I was using the webdav version because I didn't know how to do an initial setup with the nextcloud version.
It seems that the first time I tried to use the nextcloud version, it didn't work for me because I was using the entire url example (  https://mynextcloudserver.com/remote.php/dav/files/hrv231/ )

After reading your question, I decided to give it another try, and

[2021-09-15 10:05] mpcjanssen commented on #1130
@hrv231 documentation is always the thing that comes last (unfortunately). I have limited time and writing documentation is simply not what I enjoy doing most.

The edit task before saving shows a popup when you share some text (using the Android builtin `Share` functionality)  so you can edit it before it gets saved. (this is a little bit of a lie, if you cancel the dialog in any way the tasks ar

[2021-09-15 12:37] smichel17 commented on #1130
I'll take this opportunity to again share this lovely quote from the [bup readme](https://github.com/bup/bup#things-that-are-stupid-for-now-but-which-well-fix-later):

[2021-09-15 19:35] jdckr commented on #1103
This bothers me as well in this great app. I looked through the code how to implement this. What is the purpose of the WhitespaceToken in the first place?

[2021-09-17 18:12] mpcjanssen commented on #1103
Whitespace token is needed to reconstruct the task and all the whitespace after it has been tokenized

[2021-09-20 18:17] mpcjanssen commented on #1103
Also needs to be done when adding due or threshold dates.

[2021-10-06 17:45] jason-mehmel opened #1133 ""Loading of todo file failed" repeated pop notification"
Recently I've been getting this popup notification. (It doesn't sit in my notification bar, it's just in a bubble at the bottom of the screen)

Yesterday I did have an issue recently where Simpletask was creating conflicted copies of my todo.txt file, but it did sync eventually.

I am having pretty consistent syncing problems today.

Currently using the 10.9.0, migrated from an older phone so I di

[2021-10-06 19:27] jason-mehmel commented on #1133
Update: I downloaded the 10.9.3 Dropbox release from the artifacts link and it seems to be working. (The Cloudless from Fdroid was giving me trouble, with the sync program I was using and not Simpletask.)

Request: Can we link the artifacts folder to the release area, or something in the main github area to it's easy to find?

[2021-10-15 12:35] captaincurrie opened #1134 "Enhancement: Show Saved Filters in Quick Filter menu instead of just lists and tags"
Hello,

I think instead of showing lists and tags in the quick filter menu, showing my saved filters would
be much cleaner, general, and useful.

Would it be difficult to make that into an option for users?

[2021-10-15 12:52] captaincurrie commented on #1134
OH HUGE. I had no idea there i could swipe from the right!!! Wow. Dude, that was my only
complaint about this app! This is the greatest todo app ever!!

[2021-10-15 12:52] #1134 closed

[2021-10-16 00:34] mpcjanssen opened #1135 "Enable swapping of left and right drawer"
Allow swapping of the left quick filter drawer and right save filter drawer. Additional request from #1134

[2021-10-17 15:51] captaincurrie opened #1136 "Enhancement: customize left/right drawer contents"
Hello,

I use multiple todo.txt files and the current system for switching
between them isn't optimized. I think allowing customization of the
drawers would solve this problem.

For me, the current left and right drawer contents should be merged. That is,
the left-drawer should contain the list of quick filters **and** the list
of custom filters (personally i would put my custom filters at the top

[2021-10-23 11:27] ghost opened #1137 "Enhancement: Business days (rec:b)"
Have you considered implementing support for `rec:b`, as in business days or weekdays (Monday through Friday)?

Would be super useful, since at the moment `rec:b` isn't parsed by the app.

Cheers!

[2021-10-23 11:28] ghost opened #1138 "Enhancement: Rename txt file for done tasks"
**Problem**
Different apps use different filenames for done tasks. This causes done tasks to end up in different files when using multiple platforms across different devices.

**Solution**
Ability to rename the txt file for done tasks to whatever the user wants. For example `done.txt` or `todo_done.txt`

[2021-10-30 10:57] smichel17 commented on #498
No, but a while back we discussed separating filtering into two steps: the "saved filter" (right drawer, changeable by editing it), which we decided to call a *query*, and then the "quick filter" (left drawer, changeable via the gui). The left drawer would only show lists and tags of tasks that were selected by the query. Except for that last part, you can achieve a similar effect today by doing f

[2021-11-02 15:53] t214c commented on #498
@smichel17

Thanks for the info. Lua is now fairly high on my things to learn. Still, no matter how easy, it can't compare with 1-2-3 taps!

Borrowing from SQL, saved filters might be called "views".

Are you saying that I can apply quick partial filtering using Lua scripts. For example, I apply filter A (which changes sorting to state X), then apply a Lua filter B (which doesn't affect sorting at

[2021-11-02 15:55] t214c commented on #498
@smichel17

Thanks for the info. Lua is now fairly high on my things to learn. Still, no matter how easy, it can't compare with 1-2-3 taps!

Borrowing from SQL, saved filters might be called "views".

Are you saying that I can apply quick partial filtering using Lua scripts. For example, I apply filter A (which changes sorting to state X), then apply a Lua filter B (which doesn't affect sorting at

[2021-11-02 19:19] smichel17 commented on #498
IIRC _views_ was one of the ideas for what to call them originally (and was where the inspiration for "queries" came from). I don't remember why we decided not to go with it.

I'm saying you can use lua to filter to only tasks with `+a`, then use the left drawer to select `+b` and `+c`, in order to get tasks with `+a AND (+b OR +c)`.

[2021-11-02 19:35] mpcjanssen commented on #498
@t214c I don't really have the time to do any serious development right now. Especially UI changes because they somehow always end up as a complicated mess on Android. However PRs are always welcome.

[2021-11-02 19:36] mpcjanssen commented on #498
BTW: I think the multistate boxes for filtering is too complex.

[2021-11-02 20:26] t214c commented on #498
I see. So, I can't do a sorting-only filter without the whole package, or can lua do sorting too?

@mpcjanssen
That's definitely disappointing, but I understand life can get in the way.

I really want to use Simpletask since it is clean and fast so I will hazard a question: does this "serious development" extend to something like alternating line backgrounds/two of preset colors for contexts and p

[2021-11-02 20:31] t214c commented on #498
@smichel17  I see. So, I can't do a sorting-only filter without the whole package, or can lua do sorting too?

@mpcjanssen
That's definitely disappointing, but I understand life can get in the way.

I really want to use Simpletask properly since it is clean and fast so I will hazard a question: does this "serious development" extend to something like alternating line backgrounds (or just a separat

[2021-11-02 21:37] smichel17 commented on #498
@t214c Lua can do sorting, but it's not distinct from the filter. You can make a filter with some sorting, and then apply additional filtering on top of that, but you can't change the sorting while leaving the filtering the exact same.

The closest thing I can think of is: you can define some functions in the global lua config, and then call these from the filter. So then you can define several sa

[2021-11-19 20:59] zemua opened #1141 "Recurring compatibility with Sleek for desktop"
Sleek for desktop has also the recurring functionality with the rec:3d kind of tag.
Though the UI by default doesn't add any number, and it recognizes no-numbered recurrence as "1"
https://github.com/ransome1/sleek/wiki/Recurring-todos-(rec:)

Would it be possible to have Simpletask recognize rec:d as it recognizes now rec:1d ?
That would help to avoid mistakes between mobile and desktop as sleek

[2021-11-19 23:34] mpcjanssen commented on #1141
Should not be too hard to add.

[2021-11-19 23:51] #1141 closed

[2021-11-19 23:52] mpcjanssen commented on #1137
#1141 should have added support for recurrence without a number.

[2021-12-09 05:21] roman-yagodin opened #1142 "Cannot archive done tasks"
After recent OS upgrade, the app start showing error "Task archiving failed" then I try to archive done tasks.

Possibly related symphtom: then I try to open another todo file, dialog shows empty file list with just ".." Folder path is correct, and there are .txt files in the folder.

Phone: Redmi Note 9S
OS: Android 11

[2021-12-09 06:07] roman-yagodin commented on #1142
Installing apk from https://mpcjanssen.nl/artifacts/master/cloudless/release/ resolved the issue.

[2021-12-09 08:50] mpcjanssen commented on #1142
@roman-yagodin I am almost 100% sure this has to do with the new storage permissions required for Android 11. This is indeed fixed in the latest cloudless version.

[2021-12-09 08:50] #1142 closed

[2021-12-15 19:55] sphenotux commented on #1103
Being a newbie on the Android/NextCloud version (on Sailfish OS), I like the someday/maybe label of this issue.
However, I like the idea of clean lines. There was a discussion back in the day on #51
https://github.com/mpcjanssen/simpletask-android/issues/51#issue-28240753
Is there a way to run a
`         text = text.replace(/\s{2,}/g, ' ') // cleanup multiple whitespaces`
(via Zutun.txt, a native

[2021-12-15 20:27] smichel17 commented on #1103
**Terrible workaround:**

Add the following to your **main** lua config (NOT in the `script` section of the filter):
[code]

**What it does:**
Whenever you add a task, any amount of whitespace (spaces & tabs) will be replaced by a single space. So any double spaces will be replaced with a single one.

**Limitations:**
Doesn't work for editing a task, only adding a new task.

[2021-12-15 20:27] sphenotux opened #1143 "Make order of buttons: priority - context - project ajdustable?"
Suggestion:
1) Priority [- creation date] - Task (text) - project tag - context tag - due date like shown here: https://github.com/todotxt/todo.txt/blob/master/description.svg
As of now, order is:
2) Context - project - priority - due date - creation date
My (personal) natural behaviour is the first option here, been using _todo.txt_ for three years now. Make this adjustable via Options of the App

[2021-12-15 21:04] sphenotux commented on #1103
Is there a function _onChange_ or _onEdit_ this could be applied to additonally?

Workaround, yes - anyhow, I appreciate the idea.

[2021-12-15 21:07] smichel17 commented on #1103
I don't think so. They could be added, but of course also this bug could be fixed :P

[2021-12-16 06:50] sphenotux commented on #1103
Hmja, I agree - partly ;-). Of course adding and then removing in the next step takes efforts a) for **adding** and b) for **removing** something. Whitespaces, in this case.

However, I guess (yes, **guess**) it is hard to add _@context_ and _+project_ tags **without** "sourrounding" whitespaces, as those tags may appear anywhere in the string of a task. When adding _@a_context_, the _@a_context_

[2021-12-24 10:34] #945 closed

[2022-02-01 08:50] barnoto commented on #1110
I've been using ST Dropbox version for a few years. It is truly a one of a kind app, is easy to use,  and can be used to manage simple as well as complex projects. It's ironic Google has been an obstacle as it's THE best app of it's kind. How can it be so under-rated?

[2022-02-01 12:24] silviuvulcan commented on #1110
I don't mind F-Droid. I actually prefer it to gplay whenever an app is on both.

[2022-02-01 18:55] mpcjanssen commented on #1110
I would really like to have a good way to separate the storage backends from the app itself, this would make maintenance much easier. The Android Storage Framework is a crappy deadend.

[2022-02-01 21:23] vise890 commented on #1110
I am super happy with Syncthing handling the storage and using the cloudless version.. but it doesn't really solve your problem :sweat_smile: just a very happy user!

[2022-02-01 21:26] vise890 commented on #1070
Is that still a thing? The only way I can get the drawer out is by putting my finger close to the edge (but not quite on it) and dragging from there..

[2022-02-01 22:14] aubreyz commented on #1070
Have you turned on gesture navigation in Android settings?. Turn it off - the old 3 buttons is much better.

( Android settings, system navigation)

[2022-02-01 23:04] vise890 commented on #1070
... hmm yes i have turned gestures on and I personally like them more than the buttons :smile:

It's just a minor annoyance, I just wanted to know if the old "perform gesture in higher area" is still a thing

[2022-02-02 01:46] smichel17 commented on #1110
Similarly, I used cloudless + nextcloud handling syncing for a long time, and was generally happier with it than I was with the short time I used the ST Nextcloud flavor— it handled conflicts more gracefully (although they were more common) and didn't run into issues during first setup when the files on Nextcloud were not what ST expected to find.

The problem is that Google keeps making it harder

[2022-02-02 02:02] smichel17 commented on #1110
I remember seeing some way to send intents between apps, but limit which other apps can see them (i.e. to only your own apps). That would enable storage providers to be separate apps. Unfortunately, I'm having a hard time remembering what it was called & finding it :/

[2022-02-02 02:07] smichel17 commented on #1070
Note that both drawers are accessible without swiping, although it is much less convenient. The left drawer is the hamburger in the upper left, and the right drawer is the "Saved filters" option at the bottom of the 3-dot menu (in the upper right).

I think I remember a way to disable left and right swipe gestures within your app, via AndroidManifest.xml. I am not sure, though; I would need to loo

[2022-02-02 11:07] mpcjanssen commented on #1070
Again a nice example of google breaking a common UI pattern without a clear alternative (except redesigning the UI)

[2022-02-02 11:45] jdckr commented on #1070
Just do a L/J like swipe from the edges. This works 95% of the time.

[2022-02-02 12:27] vise890 commented on #1070
sweet .. this works!

[2022-02-02 13:08] smichel17 commented on #1070
On second thought, I don't really see any value in being able to close
ST by swiping from the side, since you can still use the
swipe-from-bottom gesture to do that. The only time it would apply is
launching ST from another app and wanting to get back to that app, and
that's only applicable to the AddTask screen, not the main screen.

So I think just disabling swipe on the main screen (but leaving

[2022-02-02 13:42] vise890 commented on #1070
hmm I don't know, i usually do swipe back to close apps, and it works everywhere else..

[2022-02-10 10:07] mpcjanssen commented on #1070
@vise890 that seems to be the proposed solution from google indeed. I am wondering what to do in case someone is still using the navigation buttons though.

[2022-02-10 11:58] vise890 commented on #1070
I would have hoped google did the sensible thing and left the nav buttons behaviours unaffected when setting [View#setSystemGestureExclusionRects](https://developer.android.com/reference/kotlin/android/view/View#setsystemgestureexclusionrects)... i.e. if you use nav buttons, you should be able to open the drawers with an inward swipe from anywhere on the left/right edge..

but that's just a hope :

[2022-02-11 15:43] Inesgor opened #1146 "custom path of nextcloud todo.txt file"
Hi. Thank you for the great app(s). I use the nextcloud version of simpletask and i wanted to save my `todo.txt` file in a specific directory on nextcloud & not there in the root folder. I felt this is possible since the app displays path of todo file at the top, but i couldn't find any way to do it upon searching here in Issues.
Would it be possible to do so?

[2022-02-11 18:32] smichel17 commented on #1146
"Open task list file" in the menu selects a custom file. I think it must already exist, though.

On February 11, 2022 3:43:51 PM UTC, Inesgor ***@***.***> wrote:

[2022-02-11 18:48] Inesgor commented on #1146
It did work. Thanks mate.

[2022-02-11 18:48] #1146 closed

[2022-02-16 22:20] Flnch commented on #1119
Today, I tested my described scenario again using two Android devices running the Simpletask WebDAV version `10.9.3`. It now works :tada:

Device `B` causes the conflict and a toast message `Filename was changed remotely. New name is: /todo_conflict_94235...2e.txt` is displayed. Device `B` also automatically switches its source to this conflict file.

[2022-02-16 22:20] #1119 closed

[2022-02-22 12:39] silviuvulcan opened #1147 "Wear OS ? :)"
I know you notified that the project is in low maintenance mode but I figured it's worth at least mentioning it:

I would really love a wear os version of simpletask. (whether a full app conecting directly to nextcloud or simply a companion app syncing with the main app on the phone).

Motivation: samsung has dropped tizen in favour of wear os and so Wear OS is now powering one of the most popular

[2022-02-23 12:46] Grydpype opened #1148 "Recursion Question"
I have a question regarding the recursion-feature in Simpletask. I downloaded and installed the Dropbox version (10.9.3 from the site), and if I understand the notes correctly, a recursion of tasks is possible.

But apparently I am doing something wrong; tasks like "foo 2022-02-23 rec:d" are just checked off, they to not show up again as due tomorrow.

Am I missing something here, or using the syn

[2022-02-23 12:53] mpcjanssen commented on #1148
It should be `rec:1d`. I still need to add the default is one day behaviour.

[2022-02-23 12:59] Grydpype commented on #1148
Perfect, that works. Thanks for the quick response. And congrats on this very nice software!
Cheers,
Oliver.

[2022-02-23 13:12] #1148 closed

[2022-02-26 20:23] sphenotux opened #1149 "keep_prio_summary text is irritating, correction suggested"
Standard todotxt behaviour is to **remove** priority (A), (B), (C) from done tasks, [see documentation](https://github.com/todotxt/todo.txt#rule-2-the-date-of-completion-appears-directly-after-the-x-separated-by-a-space):

(Also linked and [discussed here](https://github.com/todotxt/todo.txt-cli/issues/323#issuecomment-731606054).)

Current behaviour in 10.9.3 depends on settings:
When a task with

[2022-02-26 21:40] sphenotux commented on #1149
Thank you for merging, @mpcjanssen! IMHO this issue may be closed, **but** translations to other languages than EN+DE open.

[2022-02-28 10:21] #1149 closed

[2022-03-02 08:13] Grydpype opened #1153 "Updateing of Widget not happening (or too slow)?"
Dear all,

I observe that the SimpleTask widget does not update its tasks (or takes too long for my patience) when waking up out of flight mode. I am using the Dropbox-version 10.9.3 on Android 10 , could the sync to Dropbox be the reason for this? Anything I can do to influence this behaviour?

Regards, Oliver

PS - needless to say, after opening the (very nice) app, the widget is updated immedia

[2022-03-22 06:24] ImperialSquid opened #1154 "[Enhancement] Add recurrence button to task creation/editting UI"
It's not immediately obvious that simpletask actually supports recurring tasks (I initially thought it didn't that that I'd have to implement it in lua...)

It would be really useful to have a button for defining the recurrent nature of a task when making or editing it. All you would need would be:
- a checkbox for whether it's due date or completion date dependent reccuring
- a text field or drop

[2022-03-27 16:26] smichel17 commented on #1154
1. I agree it makes sense to have some UI for adding `rec:` rules, since it is one of the extensions supported "natively" (i.e. without using ST's scripting capability).

2. The bar is getting a little long. I think one more item would not fit on small screens.

3. I am reluctant to make some kind of "nested" UI here, pushing options into a menu. Having everything accessible in one tap is one of t

[2022-03-28 04:31] ImperialSquid commented on #1154
When selecting a task you get buttons at the top for sharing/archiving/deleting tasks, to me moving the edit button up there would be a good fit since they all deal with tasks directly in some way, whereas the ones on the bottom edit some _part_ of a task (it's priority, due date, threshold, etc)

Alternatively, as I'm writing this up on GitHub mobile, I just noticed their markdown shortcuts are o

[2022-03-29 21:55] mpcjanssen opened #1155 "T"
T

[2022-03-29 21:55] #1155 closed

[2022-03-31 03:48] sjl872964789 opened #1156 "A search after canceling the search is invalid"
**Describe the bug**
A search after canceling the search is invalid

**To Reproduce**
1. Click the search button
2. Enter some characters
3. The list displayed is only related to the search characters
4. Remove the search filter by clicking the cross
5. Click the search button again
6. All tasks are displayed

**Expected behavior**
Cancel the search and click the search button again can still sear

[2022-04-04 19:43] leofontenelle opened #1157 "Instability in Dropbox authentication"
I'm using SimpleTask since Drobpox dropped API v1 and made many other todo.txt apps unable to sync. IIRC my current phone came with Android 10 then upgraded to 11. I didn't realize the app was not in Play Store anymore, because it continued working until weeks ago.

What happens is that SimpleTask loses the Drobpox authentication, over and over again. Sometimes I authenticate, the task list seems

[2022-04-04 19:52] leofontenelle commented on #1157
Of course, *now* I thought of a third possibility: recently I enabled two-factor authentication on Dropbox. I didn't perceive one thing to come together with the other, but just in case I authenticated SimpleTask with "another" Dropbox (the same, only that I was sent to the browser to authenticate again, one-time password included). In case the problem persists I'll reopen this issue.

[2022-04-05 21:11] leofontenelle commented on #1157
The next day (which is today) the error returned. This is the log. There's some mention of Lua; I don't have any Lua scripts.

[code]

[2022-04-07 02:49] Grydpype commented on #1154
I definitely support this suggestion; thanks for bringing it up.

[2022-04-09 09:40] mpcjanssen commented on #1157
Did you logout adn login again or did you completely reinstall Simpletask? Could you retry a complete reinstall.

[2022-04-09 10:51] #748 closed

[2022-04-09 11:45] chipbite commented on #748
Awesome @shak-mar @mpcjanssen et al! 🎉

[2022-04-09 20:09] leofontenelle commented on #1157
Now I reinstalled it. The app showed me a Dropbox "This app wants to connect with you account" as if somehow it remembered which was my account, but clicked the "different account" link below. An authentication page opened in my default browser (Firefox) and after email and password Dropbox asked me to answer three captchas before asking my TOTP. Then it did the same again, except that it was only

[2022-04-10 00:06] leofontenelle commented on #1157
After using for a while the problem occurred again:

[code]

[2022-04-15 00:59] bshanks opened #1159 "Dropbox not syncing, SDK version update might be needed"
I'm getting sync errors on Dropbox. In the debugging info way down in the error trace there is a TLSV1_ALERT_PROTOCOL_VERSION error. I suspect this is related to this:

https://www.dropboxforum.com/t5/Dropbox-API-Support-Feedback/Reminder-The-Dropbox-API-will-no-longer-accept-TLS-1-0-or-1-1/td-p/582785

which says, "users of the [Dropbox Java SDK](https://www.dropbox.com/developers/documentation/j

[2022-04-15 11:11] mpcjanssen commented on #1159
Probably a TLS version indeed. I have merged the PR. Will see if I can do a new F-Droid release during easter weekend.

[2022-04-16 11:29] qquq commented on #1159
How can i get the updated version (dropbox, android/apk)?

[2022-04-16 14:27] mpcjanssen commented on #1159
@qquq for now you'll have to rebuild it yourself. I'll see if I can get some test builds on my site in the next view days.

[2022-04-17 09:29] bshanks commented on #1159
I've been running this in 'debug' mode for a few days, with my own dropbox_consumer_key, and with LeakCanary disabled. After many hours it seems to lose Dropbox authentication, and prompts again to log in to dropbox. Then I can seem to successfully log in to Dropbox, but then it immediately fails again ("Loading of todo list failed"), and immediately re-displays the prompt to log in to dropbox. Th

[2022-04-17 17:24] bshanks commented on #1159
Just realized I had my new debug version installed alongside a very old release version of Dropbox. I'll uninstall the old version and see if that was the problem.

[2022-04-17 19:56] holdingsllc commented on #1157
I'm experiencing this exact issue on my Note 9 since 13ish days ago. Simpletask is my most essential phone app so this is bug has quite literally halted my life and productivity. Simpletask can't log into or sync with Dropbox. The most I'm able to do is traverse the Dropbox file tree which is probably using cached file structure data anyway. I've tried on multiple phones including brand new phones

[2022-04-18 06:01] bshanks commented on #1159
That didn't fix it, but I realize that this periodic de-authentication problem has already been described in #1157. So I suspect that #1160 is not to blame. Moving discussion there.

[2022-04-18 06:05] bshanks commented on #1157
In https://github.com/mpcjanssen/simpletask-android/issues/1159#issuecomment-1100840040 I mentioned this before discovering this issue, so allow me to repeat what I said there so as to have everything in one place.

After many hours, the app seems to lose Dropbox authentication, and prompts again to log in to dropbox. Then I can seem to successfully log in to Dropbox, but then it immediately fails

[2022-04-18 06:11] bshanks commented on #1157
I suspect the periodic need to re-authenticate is due to the Dropbox API switching from long-lived access tokens to short-lived access tokens. https://developers.dropbox.com/oauth-guide says "In the past, the Dropbox API used only long-lived access tokens. These are now deprecated, but will remain available as an option in the Developer console for compatibility until mid 2021.".

What I don't und

[2022-04-18 07:01] bshanks commented on #1157
Hmm.. the Dropbox documentation gives example https://github.com/dropbox/dropbox-sdk-java/blob/master/examples/authorize/src/main/java/com/dropbox/core/examples/authorize/Main.java which uses stuff like com.dropbox.core.DbxAuthFinish and
import com.dropbox.core.DbxWebAuth; by contrast, Simpletask currently uses com.dropbox.core.android.Auth. Perhaps com.dropbox.core.android.Auth is not the recomme

[2022-04-18 07:20] bshanks commented on #1157
A better workaround than rebooting: Settings (I mean the Android settings app, not the settings within Simpletask)->Apps->Simpletask->Force stop. After doing this, when I go back into Simpletask, authentication now succeeds.

[2022-04-18 18:38] mpcjanssen commented on #1157
I feel for the people who have their workflow disrupted by stuff like this, but I am getting so fed up with stuff just breaking and the churn that goes along with it.
The Dropbox API has been a major PITA for several years now. If any feels up to looking into the approach suggested by @bshanks and create a PR that would be great.

[2022-04-18 23:53] smichel17 commented on #1157
One thing to investigate is whether you could use the cloudless version with the dropbox android app. That way you don't need to use the version of Simpletask that connects with Dropbox directly. I did this for a few years with Nextcloud and it worked great.

[2022-04-19 00:37] fmartelg commented on #1157
Just to confirm I am having the same issues above. Pixel 4a, Android 12.

I downloaded the cloudless version and the todo.txt file but could not figure out how to change the default directory from Android/data/...

So for now I am using VScode with todo.txt extension to manage my tasks on desktop.

Awesome app. Been a user since launch. Unfortunately, not a programer so cannot help with PR.

(Marc

[2022-04-19 04:55] lullabysinger commented on #1157
Hi all,
Firstly, thanks @mpcjanssen  for such a great app - I've been using it for many years now. :)
The process of converting from the old -> new Dropbox libraries is a bit tricky -- I had to do the same for some python scripts to use the new Dropbox libraries, which is a bit of a pain (esp. switching from the old token types to the newer ones).
Sorry my Android programming is rusty (I've only w

[2022-04-19 06:32] bshanks commented on #1157
I might keep working on it if time permits. What confuses me is that force stopping the app causes authentication to succeed again (only if #1160 has been applied) -- which suggests that there is some state that is being held onto that is messing stuff up, and that if I can modify the app to erase that state upon each auth attempt, maybe it will work, although perhaps with the annoyance of popping

[2022-04-19 10:19] adambro commented on #1159
I've encountered the same error few days ago. Apparently I've got `10.9.0-dirty` version, installed from Google Play years ago.

Do you plan to support Dropbox sync at all? I don't see Dropbox version on F-Droid and wonder if Dropbox is on an agenda, or I should think about different sync mean.

[2022-04-19 10:40] mpcjanssen commented on #1159
@adambro dropbox version is still supported just not via FDroid as it use a non-free service. If this is fixed there will be new builds on my website.

[2022-04-19 11:07] Grydpype commented on #1159
I certainly hope that the Dropbox version of Simpletask is continued. I have currently switched to the WebDAV version (and changed the Sleek target as well) because of the current Dropbox issue and it is a absolute pain, compared with the smooth functioning of Dropbox. Slower, with failures to update the target file because both Webdav and the underlying cloud are to sluggish ...

At least switchi

[2022-04-19 17:44] mpcjanssen commented on #1157
Of course switching to the new OAuth API requires completely rewriting the Dropbox Simpletask backend (again!!!)

[2022-04-19 17:54] mpcjanssen commented on #1157
https://mpcjanssen.nl/artifacts/dropbox-sync/ has two builds (debug and release) which should at least detect that the Dropbox authentication has been lost and let you login again without tricks.

As mentioned in the message above switching to the (new) proper dropbox way requires considerably more work.

[2022-04-19 18:03] mpcjanssen commented on #1159
Updating the SDK was needed and is doen, #1157 handles the dropbox syncing problem, which is not fixed by updating the API.
See updates there.

[2022-04-19 18:03] #1159 closed

[2022-04-19 18:05] mpcjanssen commented on #1157
For any volunteers, using the PKCE flow seem to be the right approach.

[2022-04-19 18:42] mpcjanssen commented on #1157
7f513e5aa04a46048eba1e451cc0bd48100ba29c is a first stab at a full folder access version using the new authentication flow.
If you want to test this version just mail me your dropbox id and I will send you a test build and enable you dropbox email in the dropbox App console

[2022-04-20 05:16] mpcjanssen commented on #1157
Seems that the latest version fixes the Dropbox authentication issue. I will upload a build later today and I will have to get the new API keys put in production.

[2022-04-20 05:35] mpcjanssen commented on #1157
Testing of the full dropbox access flow with https://mpcjanssen.nl/artifacts/dropbox-pkce/release/app-dropbox-release.apk should be possible now.

[2022-04-20 12:10] phantomwhale commented on #1157
It's working for me - VERY pleased to have it working again!

[2022-04-20 12:14] mpcjanssen commented on #1157
@phantomwhale thanks for confirming

[2022-04-20 14:52] sjl872964789 opened #1161 "If the renaming character contains "?" , the renaming will be invalid"
**Describe the bug**
If the renaming character contains "?" , the renaming will be invalid

**To Reproduce**
1. Long click a file
2. Click Rename button
3. Enter a new name which containing "?"
4. Click Ok
5. The rename fails

**Expected behavior**
It should be possible to have a "?" in the file name, or the user can't type "?"

**Screenshots**
https://user-images.githubusercontent.com/15941953/16

[2022-04-20 15:50] mpcjanssen commented on #1161
Eh, wrong project?

[2022-04-20 18:19] jason-mehmel opened #1163 ""Loading of todo file failed" Dropbox version 10.9.3"
New behaviour as of last night, getting this error response.

I've since tried updating the phone, closing and opening the app, and reinstalling it.

From the reinstalled state, logging in via Dropbox, I am getting the same response!

Not sure if something changed with Dropbox overnight?

[2022-04-20 18:40] Grydpype commented on #1157
After I (accidentally) discovered that the app no longer accesses the Simpletask-folder in Dropbox but instead creates an entirely new folder called SimpletaskAndroidFolder (why?), everything appears to work fine.

Thank you very much for fixing it.

Regards,
Oliver.

[2022-04-20 18:57] Jjquigley commented on #1157
Works for me on my Android 6.0.1 phone. Thank you!
Am I correct that my android 12 tablet will still have issues?

[2022-04-20 19:16] mpcjanssen commented on #1157
@Grydpype I had to register a new dropbox application token so I cannot use the same name as the old Simpletask version, sorry for that.

@Jjquigley it should also work fine on a tablet.

[2022-04-20 19:17] mpcjanssen commented on #1163
Duplicate of #1157

[2022-04-20 19:39] bshanks commented on #1157
https://mpcjanssen.nl/artifacts/dropbox-pkce/release/app-dropbox-release.apk appears to work for me in the app, but it cannot create a widget. I am running Android 12 (April 5 2022 update). Here is the debug log from a time when i tried to create a widget:

04-20 12:30:06.433 16278 16278 E sen.todotxthol: Not starting debugger since process cannot load the jdwp agent.
04-20 12:30:06.435 16278 1627

[2022-04-20 19:41] mpcjanssen commented on #1157
@bshanks, that's an unrelated issue. I know a fix for it.

[2022-04-20 19:47] bshanks commented on #1157
Thanks! Yesterday I ran a debug build based on 6b39dc695dc8e6ca8ed0908ab3ba556a0fcf3ad4 (with modifications only to disable LeakCanary, and to add a Dropbox API key). I had to manually choose the option to log out of dropbox after installing it (and then to re-sign in to Dropbox), but after that it worked fine and ran for 12 hours without prompting for reauthentication. I ran it with full access (

[2022-04-20 20:04] mpcjanssen commented on #1157
@bshanks latest versions at https://mpcjanssen.nl/artifacts/master/ also allow creating a widget.

[2022-04-20 20:20] #1161 closed

[2022-04-20 20:27] jason-mehmel commented on #1163
I have checked and the PKCE version works! Including the widget!

Thank you for all your work!

[2022-04-21 02:12] bshanks commented on #1157
Thanks, i installed it. It works so far, and i will report back if i notice any problems.

[2022-04-21 02:48] fmartelg commented on #1157
Confirming that Dropbox is now working as well as widget. I did have to log out of Dropbox after installing, then log back in. Android 12.

Thank you Marc!

[2022-04-21 06:09] #1163 closed

[2022-04-21 11:56] mpcjanssen commented on #1157
@Grydpype thanks to excellent support from Dropbox I was able to access the existing apps for Simpletask again, so in the next version the old foldername (Simpletask) will be used again.

[2022-04-21 12:23] Grydpype commented on #1157
Thanks for your diligent work; I appreciate it.
Incidentally, I tried sending Simpletask some money via the built-in function in the menu and discovered that apparently Google is currently not hosting any version of Simpletask? Or does this not work only with the Dropbox-version?

[2022-04-21 13:58] mpcjanssen commented on #1157
@Grydpype I have removed all the Simpletask applications from Google Play (including the donate application). I will remove the donate option from the settings. If you want to donate you can use paypal: https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=mpc%2ejanssen%40gmail%2ecom&lc=NL&item_name=mpcjanssen%2enl&item_number=Simpletask&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donateCC

[2022-04-21 21:16] mpcjanssen commented on #1157
Seems the dropbox issue has been solved. For any other issues with the new dropbox version please log a new issue.

[2022-04-21 21:16] #1157 closed

[2022-04-21 21:16] #1102 closed

[2022-04-21 21:31] mpcjanssen commented on #1127
This used to link to the Donate app on the play store. I removed all my apps from the play store so this doesn't work anymore.

[2022-04-21 21:43] #1127 closed

[2022-04-22 03:21] jason-mehmel opened #1164 "Places to send tips?"
Not really an issue, but I'd love to know if there's a way to show you my gratitude, through a patreon, ko-fi, paypal, something similar! I can't offer much, but considering how quickly you solve problems and support users, you deserve it!

[2022-04-22 09:59] mpcjanssen commented on #1164
Much appreciated.

From the app go to Menu -> Help, Menu -> Donate

or directly at: [Paypal](https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=mpc%2ejanssen%40gmail%2ecom&lc=NL&item_name=mpcjanssen%2enl&item_number=Simpletask&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted)

[2022-04-24 20:13] fmartelg opened #1165 "Click to edit task does not bring up keyboard"
**Given** I have the latest release of Simpletask for Dropbox open on a Pixel 4a running Android 12,
**When** I click to create / edit a task
**Then** the keyboard does not come up, hence there is no way for me to create / edit tasks.

[2022-04-24 20:15] fmartelg commented on #1165
I rebooted the phone and that seems to have solved it. Will keep an eye on it and report back if it happens again.

[2022-04-25 15:36] #1164 closed

[2022-04-29 17:08] anishmittal2020 opened #1166 "Specify location of done.txt, report.txt"
Todo.txt gives us flexibility to configure (in config file) separate location for todo.txt, done.txt and report.txt. This is useful, as I create a folder Todo and Done and keep these files separately in these folders as I have other documents relating to task in these folders as well.

Please let us choose the location of done.txt, report.txt as I would not want it to be the same as todo.txt

[2022-04-29 17:33] lamyergeier opened #1167 "[Feature request]: Set due date: more relative options"
`Set due date`, we have 2 relative options to current date: today and tomorrow. It would be good to have following additional relative options:
- this Friday
- this Saturday
- this Sunday
- this Month end

[2022-04-29 17:38] anishmittal2020 opened #1168 "[Feature request]: Automatic Due date"
Usually its hard to think about what priority to set with so many different tasks  on hand. Also, the priority and due dates are correlated. So, I thought that if a task needs to be done within a specified period of time we could assign automatic due dates:

| Priority | Due date    |
| :------- | :----------------------- |
| A             | Today         |
| B                                  | T

[2022-04-30 11:10] mpcjanssen commented on #1167
It would be nice to be able to call a lua function to get all the relative names and a lua function which uses this relative name to calculate a date. I think getting one list that works for everyone is a no go.

[2022-04-30 11:11] mpcjanssen commented on #1168
If this is implemented why don't you just use only due date and sort by that?

I don't think this has a big chance of getting implemented.

[2022-05-02 06:00] evmcl opened #1169 "FYI, https://mpcjanssen.nl/artifacts/ is returning 404"
The URL, which is references in the README.md as the place to get the Dropbox version, returns a HTTP 404 (not found).

[2022-05-02 06:09] mpcjanssen commented on #1169
Thanks for letting me know. Fixed now.

[2022-05-02 06:09] #1169 closed

[2022-05-02 12:06] smichel17 commented on #1168
When I was using ST heavily, I used a lua script that sorted things into categories based on either the priority or due date. It didn't automatically change the values of one based on the other, but just displayed anything due today in the same bin as anything with priority A. I've posted my scripts in a different issue here before. I'm not quite sure what issue and don't have time to search much

[2022-05-02 16:17] anishmittal2020 commented on #1168
@smichel17 May I ask you why did you move  away from ST, did you find a better tool, or better system?

[2022-05-02 17:02] aubreyz commented on #1168
For what it's worth I have done an extensive search for todo.txt tools on all platforms, and simpletask remains the best tool on android and on all systems (albeit with some flaws). Sleek on Windows is looking very promising but has some major features missing (selecting more than one task at a time so really hard to do any sort of mass change, no predefined filter/sorting sets, threshold dates in

[2022-05-02 20:41] mpcjanssen commented on #1168
@aubreyz the google situation is not a roadblock anymore. It's more lack of time and also motivation to really improve the app itself.
I am still fixing obvious breakages (like the recent Dropbox one) and I should really do new FDroid release. But I don't really see any new functionality written by me being included anytime soon.
I do merge and review PRs when they come in though.

[2022-05-04 05:35] boydthomson commented on #1133
I have been getting the same error on my Pixel 3 running Android 12.  Using the 10.9.3 release did not change anything :-(

Here is my debuglog:

05-03 22:18:07.439 27654 27910 I FileDialog: File list from /Documents/gtd loaded
05-03 22:18:11.823 27654 27654 I FileDialog: Selected entry todo.txt, folder: false
05-03 22:18:11.824 27654 27654 I Config  : Updating todoList cache with null tasks
05-03

[2022-05-04 17:48] mpcjanssen commented on #1133
@boydthomson try with https://mpcjanssen.nl/artifacts/master/app-dropbox-release.apk

[2022-05-04 19:07] a-ross commented on #1133
I had the same problem. Thank you for posting this link. And thank you for the past two years of helping me be organized.

[2022-05-06 20:40] smichel17 commented on #1168
<details><summary>@lamyergeier I moved to a mostly-paper system, which I later discovered is a variant of bullet journal</summary>

- Make a todo list on the front of a 3x5 inch index card at the start of each day.
- Anything for further in the future than that day goes on the back of the card.
- When making the list, the previous day's card is recycled.
    - **Anything important to carry forward

[2022-05-13 17:21] davesteele opened #1171 "SSL Protocol error - Can't open Dropbox todo.txt"
I am no longer able to open my Dropbox todo.txt file. It always reports "Loading of todo.txt failed".

There is an exception in the log:

[code]

I've upgraded from 10.9.0 to 10.9.3, with no effect

[2022-05-13 17:31] davesteele commented on #1171
Note the TLSV1_ALERT_PROTOCOL_VERSION flag. Does SimpleTask need to be updated to TLS v1.3?

[2022-05-13 18:58] davesteele commented on #1171
I see this is fixed in #1159, and the latest in [master](https://mpcjanssen.nl/artifacts/master/).

[2022-05-13 18:58] #1171 closed

[2022-05-14 09:50] androidAppGuard opened #1172 "the app throws IllegalArgumentException when importing wrong type file"
**the environment is as follows:**
[code]
**The steps to reproduce:**
![29_simpletask_IllegalArgumentException.gif](https://s2.loli.net/2022/05/14/SWfCoTBz2uMIwHE.gif)
**The exception log is as follows:**
[code]

[2022-05-15 19:43] mpcjanssen commented on #1172
This seems to be a leak canary issue more than a simpletask issue. I use the leak canary library as is so not much I can do about it.

[2022-05-16 02:02] androidAppGuard commented on #1172
Thanks, I got it, it a bug about canary library.

[2022-05-16 02:02] #1172 closed

[2022-05-16 18:30] stianmandarin commented on #1137
Without a number does not work for me (nextcloud version from f-droid Version 10.9.3)

[2022-05-20 14:19] KBMD opened #1173 "Can't open OneDrive todo.txt file saved locally"
I love this app and I've used it for years, but recently switched to OneDrive and I can't use it at all. I have my todo.txt file saved locally, according to OneDrive, but I can't open it from Simple Task (can't find it on the file browser). In the OneDrive app, I can select a program to open the file with, but Simple Task is not on the list.
I imagine someone else has tried to use Simple Task with

[2022-05-22 17:42] mpcjanssen commented on #1173
@KMBD the only supported way that I know of using onedrive for Simpletask is using a sync application such as FolderSync to sync the OneDrive file to an accessible folder.

Opening with Simpletask an application from OneDrive would probably not sync back any changes you make so I don't think that's a real alternative.

The most reliable approach would be to make a version that syncs directly with

[2022-05-22 19:11] KBMD commented on #1173
Thank you for the quick and direct answer!

Wouldn't a simpler solution be to register Simpletask with Android as an application that can open .txt files? I can work fine with locally cached OneDrive files by browsing them in the OneDrive app, **if** the app I want to use on the file is listed as an "open with" option for the given file type.

In the meantime, I'll check whether I can sync the fil

[2022-05-23 18:31] mpcjanssen commented on #1173
@KBMD one of the challenges with open with is that you get access to an URI instead of the file itself. But I did have some experience with it in the SAF experiment. I can see if adding Simpletask as a txt handler would work.
I am fairly sure that any remote updates in OneDrive would be ignored however and possibly overwritten.

Another option would be to share the todo.txt from OneDrive with simp

[2022-06-05 19:41] lindoman opened #1174 "Count of selected tasks does not change on archive"
On selecting multiple tasks, the count of selected tasks is shown at the top left, and actions taken act on the selected tasks (e.g. changing priority). On pressing the "archive" action button, the selected items count is not changed, and the interface is behaving as if there are tasks selected still. However, no tasks are selected any more in the current file because they have been archived. This

[2022-06-08 04:45] lindoman commented on #1174
I just realised the setting "keep selection" under "features" does have an impact on this in the sense that the behaviour described above is only an issue when "keep selection" is ticked.

[2022-06-08 08:05] mpcjanssen commented on #1174
@lindoman thanks for that update. It's still. bit strange though because the actual selection is determined by a flag in the tasks in the list so if they are archived the should be gone.

[2022-06-08 08:34] mpcjanssen commented on #1174
I think I know what the problem is. I will create some new test builds soon.

[2022-06-08 08:42] mpcjanssen commented on #1174
I should really refactor the app UI to be more reactive. Right now it's a mess of update events.

[2022-06-08 08:56] mpcjanssen commented on #1174
@lindoman could you check with one of the builds at https://mpcjanssen.nl/artifacts/master/ ?

[2022-06-08 18:29] lindoman commented on #1174
That worked fine for me

[2022-06-08 19:27] mpcjanssen commented on #1174
@lindoman, so the ugly fix seems to work. Do you know what version you were using before?

[2022-06-08 20:15] lindoman commented on #1174
10.9.3 of the nextcloud version from FDroid

[2022-06-08 21:32] lindoman commented on #1174
No problem, thanks for responding so quickly!

[2022-06-08 21:38] mpcjanssen commented on #1174
11.0.0 on F-Droid should include this fix. It should arrive within a day or 2 (just tagged it on github)

[2022-06-11 09:37] lindoman opened #1175 "Back arrow of settings sub menu returns to main screen"
This is a usability enhancement request. When I click on the back arrow at the top of a settings sub menu, it returns me two steps to the main application screen, not the settings menu screen I just came from. If I press my android back button, it behaves the way I would have expected the arrow at the top of the screen to work (it returns me to the settings menu screen). Half the time I remember,

[2022-06-11 10:17] smichel17 commented on #1175
Which version of Android and SimpleTask? The back arrow behaves the way you would expect for me (ST v10.9.3 on Android 7.0).

[2022-06-11 11:20] lindoman commented on #1175
Just for clarity, I am talking about the "in app" back arrow at the top of the screen, not the android back arrow (which still works as expected). I'm on version 11.0.0 on android 12, but this was an issue on the previous version I had installed. I doubt know if this helps, but the screen does seem to "redraw" itself somehow (very brief "darkness" to the screen before showing the main todo list)

[2022-06-12 10:28] smichel17 commented on #1175
Yep same arrow. I would guess it's (yet another) change on Android that broke something which previously worked fine.

[2022-06-12 11:01] lindoman commented on #1175
Ahh the joy of being an android developer... Sounds like that happens more often than you would like! Thanks for the reply, I assume it's ok to leave this issue open anyway? Let me know if you ever want a fix to be tested.

[2022-06-12 13:16] smichel17 commented on #1175
Definitely. Next step is to see if it's reproducible in an Android 12 emulator

[2022-06-12 18:07] mpcjanssen commented on #1175
I ff-ing (excusé le mot) hate it that basic stuff like this is so hard. It's OK to leave it open but don't expect a fix soon.

[2022-06-12 21:08] lindoman commented on #1175
No worries, there is a workaround anyway by using the android button. Thank you for the software, and your "mot" is excused (and justified!)

[2022-06-14 19:51] lindoman commented on #691
@smichel17 I know this issue was raised a while ago, but I still have the same issue on any task with priority, irrespective of recurring tasks. On my version (11.0.0, Nextcloud version, android 12) it keeps the priority between the completed date and the created date like this:
`x 2022-06-14 (A) 2022-06-13 My very important task`

Which if I understand correctly is not the "official" implementati

[2022-06-14 20:16] lindoman opened #1176 ""unofficial" format of retained priority on completed tasks"
On my version (11.0.0, Nextcloud version, android 12) the setting "Keep priority in completed tasks" keeps the priority between the completed date and the created date like this:
`x 2022-06-14 (A) 2022-06-13 My very important task`

Which if I understand correctly is not the "official" suggested implementation of todo.txt:

[https://github.com/todotxt/todo.txt#rule-2-the-date-of-completion-appears

[2022-06-14 21:36] smichel17 commented on #1176
You understand correctly, and this is working as intended. Keeping priority is one place where, imo, todo.txt gets it wrong; it makes it unnecessarily awkward/complicated to restore a completed task. But of course, ST is a todo.txt app, so the setting exists for compatibility; the intent is that you'd disable it if you're using other todo.txt apps. The setting has a description ("Todo.txt removes

[2022-06-14 22:28] lindoman commented on #1176
You make a good point about the complication of restoring a completed task, and I agree with you. It is very easy to complete a task without meaning to in ST (by accidentally clicking) and less easy in the original CLI. So restoration of priority on completed tasks is a required feature for ST which I think it does well. I actually like the way you implemented this, if only I didn't want to use ot

[2022-06-21 15:17] ivysrono opened #1177 "11.0.0 could not load todo.txt"
10.9.3 is ok.

[2022-06-21 16:01] engelhro commented on #1177
Even worse: I get a `Saving of todo file failed` message  every few seconds ☹️.
The timestamp of the respective file remains the same, even after modifications via SimpleTask, so apparently changes are indeed not saved…

Can't use SimpleTask right now until a fixed version 11.0.1 is available.

[2022-06-21 22:31] EdJoJob opened #1178 "11.0.0 tap on task from widget does not select in app"
Before 11.0.0 if I tapped a task from the widget I would be brought into the app with the filter from the widget applied, and the task I tapped selected for me to action with the bottom bar.

Now I am brought into the app with the app default filter (i.e. the one that is the default for a new installation) with no task selected.

[2022-06-22 07:45] mpcjanssen commented on #1177
@ivysrono which storage backend is this? Dropbox/Nextcloud or cloudless? Could you attach the logging? If simpletask says saving failed, there should be something in the logs.

[2022-06-22 07:46] mpcjanssen commented on #1178
@EdJoJob I have noticed this as well. Not quite sure what is causing it though.

[2022-06-22 08:01] mpcjanssen commented on #1177
If this is indeed the cloudless version, that permission is indeed required.

[2022-06-22 09:13] engelhro commented on #1177
Yes, I am using the cloudless version as well.

@mpcjanssen: the log contained really a lot of information, but I couldn't easily and immediately spot something that related to the problem. Drown in the messages 😉.
Anyway, the issue is "fixed" now, so no need to dive deeper.

@EdJoJob: ah, thanks! 👏 That solved my problem as well. I'm just wondering why the previous version worked with the more re

[2022-06-22 09:27] mpcjanssen commented on #1177
@engelhro did you recently update your android version on the phone? That could explain.

[2022-06-22 11:22] engelhro commented on #1177
No, still using the same OxygenOS 11.0.x (OnePlus smartphone), which is Android 11, as the months before. No recent update here.

The only change was yesterday's update to SimpleTask 11 (via the F-Droid store). No problems or "Save failed" messages before.

[2022-06-22 11:35] EdJoJob commented on #1177
I did deny the permission and force a re-request for the permission, which I believe asked for permission for a specific folder, where now I think it is only requesting and getting permission for the default media folders

[2022-06-22 14:59] dk949 opened #1179 "Add dark theme to the widget"
Currently the app has `light`, `dark` and `black` themes. The widget has `light` and `dark`. However, the `dark` theme of the widget seems to be closer to the `black` theme of the app.

Could you add a theme to the widget with the same colors as the `dark` app theme.

Thanks.

[2022-06-23 08:12] EdJoJob commented on #1178
I just found that tapping the header of the widget will bring me to the filtered view, even though taping on a task brings be to an unfiltered view

[2022-06-24 09:34] ryuitxi opened #1180 "Directories with emojis"
New version does not work when todo.txt is placed in a directory with emojis included.

[2022-06-24 09:50] ryuitxi commented on #1180
Solved changing permission over media files

[2022-06-27 18:56] aleksfadini commented on #1177
Had the same issue - couldn't save to Todo file. Solved by extending permissions. Thank you for opening this ussue

[2022-06-28 10:28] smellymoo opened #1181 "Simpletask dropbox v11.0.0 not loging in"
Was displaying a toast something like "can't save todo file" then I tried reinstalling, then tried installing the latest Dropbox version... Still Dropbox doesn't work, it keeps returning to the initial Dropbox login screen in app.

tried sharing the debug info, but it doesn't look like that works right. it just set the title to "Simpletask dropbox v11.0.0 (11000000) Git: 10.9.3-77-8094bed-dirty lo

[2022-06-28 10:51] smellymoo commented on #1181
ran the debug version, it comes up with "simple tasks keeps stopping" before reshowing the initial login screen. it doesn't offer an option to send a bug report?

[2022-06-29 08:17] mpcjanssen commented on #1181
Are you sure you are using version 11? Which link did you use to download Simpletask?

[2022-06-29 18:47] mpcjanssen commented on #1181
@smellymoo never mind. The git version is confusing. Do you use full dropbox access or folder access?
Also did you completely uninstall the old simpletask and reinstalled the new one?

[2022-06-29 21:47] smellymoo commented on #1181
I tried both (app folder and full)

When you say "completely" what do you mean? I uninstalled it then installed git version.

How would I be able to share the debug info? It doesn't seem to be easy to do.

[2022-06-29 21:49] smichel17 opened #1182 "Make space for more task selection actions"
### Motivation

When selecting a task, a number of quick actions appear. Over time, we added more of these. As of https://github.com/mpcjanssen/simpletask-android/pull/1170#issuecomment-1118397262=, they no longer fit on phones with smaller screens, like my Galaxy S6:

<img src="https://user-images.githubusercontent.com/6563664/176180469-bb319b5f-3940-4e7b-9808-8836844e811a.png" alt="Screenshot of

[2022-06-30 02:01] smichel17 commented on #1154
I opened #1182 to discuss making room in the bottom bar. One thing I noticed when revisiting this topic, though: on the edit screen, there are far fewer options in the bottom bar, so there is still room for a button like this.

[2022-06-30 18:54] mpcjanssen commented on #1181
Ah it seems to be a problem with the dropbox API tokens. They were update for the new API version but now are pending review for production.

[2022-06-30 18:58] mpcjanssen commented on #1181
@smellymoo for me I see the login screen again after the `can't save todo file` toast. IS this the same for you? If so can you select Debugging Info after that and share the log?

[2022-06-30 19:01] mpcjanssen commented on #1181
For me I get a connection issue with an IPv6 address.

[2022-07-01 09:25] smellymoo commented on #1181
I'll check everything you have suggested and reply as soon as possible.

Your app is critical to my productivity, if it turns out to be hard to fix I'm happy to post a bug bounty.

[2022-07-02 11:41] dessalines commented on #1177
Same here, this version is broken on several android devices.

Edit:

@ivysrono that fix did it, thank you so much!

[2022-07-02 13:41] mpcjanssen commented on #1177
Strange thing is that Simpletask should already request the permission to have full storage access. I'll check again if this is properly implemented.

[2022-07-02 13:44] mpcjanssen commented on #1177
Ah, per https://ourcodeworld.com/articles/read/1559/how-does-manage-external-storage-permission-work-in-android just adding the permission to the manifest is not enough. You also need to explicity request it. I will release a fixed version soon.

[2022-07-03 08:48] smellymoo commented on #1181
@mpcjanssen tried those steps, it must be silently crashing after selecting login, as it goes back to simpletask login screen (that has debug info button).

the debug info tool needs fixing really, as it only has a share button, and you haven't got that working right, if I share it on github it just changes the title and doesn't add the file, and it's awkward to find a work around, as there isn't

[2022-07-03 10:24] smichel17 commented on #1181
This excellent app adds one! https://f-droid.org/en/packages/com.tengu.sharetoclipboard/

[2022-07-03 12:54] smellymoo commented on #1181
07-03 09:40:28.357 17080 18943 E AndroidRuntime: 	at com.dropbox.core.DbxPKCEManager.makeTokenRequest(DbxPKCEManager.java:107)
07-03 09:40:28.357 17080 18943 E AndroidRuntime: 	at com.dropbox.core.android.AuthActivity$TokenRequestAsyncTask.doInBackground(AuthActivity.java:793)
07-03 09:40:28.357 17080 18943 E AndroidRuntime: 	at com.dropbox.core.android.AuthActivity$TokenRequestAsyncTask.doInBackg

[2022-07-03 16:38] mpcjanssen commented on #1181
Seems to be caused by: https://github.com/dropbox/dropbox-sdk-java/issues/347
Not much I can do about that. Do you by any chance use process cleaners or things like that? Probably not, but if you do disable all of them.

[2022-07-03 16:43] smellymoo commented on #1181
I don't even know what that means? I'll go with no.

[2022-07-03 16:51] smellymoo commented on #1181
one of the last messages in that thread seems vital: https://github.com/dropbox/dropbox-sdk-java/issues/347#issuecomment-1011462566

suggesting to me that it you are right that it is a dropbox-sdk issue, but that also it could easily be avoided by changing the activity flow, so just guessing, it changes between the login activity, and another, during that it gets confused and calls a null pointer,

[2022-07-03 16:59] smellymoo commented on #1181
on a plus side, I have started using [sleek](https://github.com/ransome1/sleek) on my laptop in the interim until your (fabulous) app is fixed. So I can continue my work at least :). Whole reason I took up the todo.txt philosophy is for this exact problem (2 fold; multi-platform and no propriety lock in), so feeling very smug overall :+1:.

[2022-07-03 17:22] mpcjanssen commented on #1181
@smellymoo the creating of the dropbox login activity is done by the dropbox SDK. I don't think I can control that in any way. But I will look into it.

[2022-07-03 19:50] shulist commented on #1177
@EdJoJob can you elaborate on how you changed permissions? I am using a Samsung A20. Android 11, ST10.9.3. I have looked everywhere and cannot find that.

[2022-07-03 22:21] EdJoJob commented on #1177
IIRC @shulist I removed the permission entirely, then restarted simpletask

[2022-07-04 01:22] aubreyz commented on #1181
Sleek is a great contender. Unfortunately a) at the moment the engine it uses scrambles the order of then data line (putting tags at other positions) and b) there is as yet no good system for saved filter/sort profiles as in simpletask. However Sleek is by far the best desktop contender for a simpletask companion.

[2022-07-04 06:15] smellymoo commented on #1181
So is there anything that can be done to use Dropbox atm? I can't find a way to synch files outside of the app in android?

Do you think a bug bounty will help this? Guess it won't to Dropbox, but might help you find the enthusiasm to solve it?

[2022-07-04 15:31] shulist commented on #1177
@EdJoJob you were lucky. I also did that but still no file access. For some reason even after a reinstall and the **File and Media** access question for ST 11 & 10 (latest) will not access SD card. It seems stuck on `/storage/emulated/0/Android/data/nl.mpcjanssen.simpletask/files` and will not allow the selection of the SD card. Its becoming a PITA as I use the app rather heavily on a day to day b

[2022-07-04 17:39] aleksfadini commented on #1177
The problem is the SD card. You should move simpletask files to internal storage, because android doesn't allow apps to access the SD card the way the access internal storage.

[2022-07-04 17:50] shulist commented on #1177
@aleksfadini That's somewhat confusing. I've been using Syncthing to sync a folder to my SDcard for about two years now under Android 11. During that time prior versions of SimpleTask worked flawlessly with no access issues. So why in June did something change? Also why can other apps such as Syncthing, FX, Podcast Addict, Readera etc. use an SD card pretty much without issue also? What makes Simp

[2022-07-04 18:57] mpcjanssen commented on #1177
I have no idea why Simpletask is different, but if you give Simpletask "Full file access" permissions and media access, it should be able to access any file which is visible on the file system. (So also on an external SD card)

[2022-07-04 18:57] aleksfadini commented on #1177
This is going off topic, but to answer your question, with Android 12 all apps aren't be able to access the SD card in that way (so syncthing on termux won't be able to do it for example - I use syncthing too, but the workaround on Android 12 is to use syncthing in termux and use internal storage). They can still access the SD card but through a very convoluted process that doesn't allow changes o

[2022-07-05 15:29] g3434343 opened #1183 "Support for more "invasive" alerts"
One of things I've stopped using todo.txt for a while is the lack of support for "invasive alerts". Those alerts should pop up on your phone even if your phone is locked. That way, we can't forget a single task. Otherwise we have to open the app every single time.
Also, a simple notification I don't think is enough.
Maybe displaying a pop up would be better.

[2022-07-05 15:38] mpcjanssen commented on #1183
You can sync todos with due dates with your calendar. Your calendar will then generate an alert. Would that work for your use case?

[2022-07-05 15:50] shulist commented on #1177
`access any file which is visible on the file system. (So also on an external SD card)`
@mpcjanssen I wish that were true but alas it is not.  After providing full access ST does not see an SD Card from the "Open task file" option.
I've installed every version which is claimed to work but no version (going back to ST 10.5.4) actually works. Perhaps I have a weird version of Android 11 (last update

[2022-07-05 16:29] aleksfadini commented on #1177
I can offer my pseudo-workaround, which involves abandoning the SD card, installing syncthing on termux, pointing to a folder on the internal storage, then giving full access to simpletask in Android 12. The todo.txt lives in the folder in the internal storage synced by syncthing under termux. Everything works as it should. Alas, the hoops one has to jump thanks to Google.

[2022-07-05 19:09] g3434343 commented on #1183
Hi Sir.
Maybe? Would you recommend an app for me? I've tried a lot of them. All apps show me some discrete notification.
I needed something that would pop up. There's a commercial todo list app that actually does that, but I don't wanna trust my lists to them.

[2022-07-05 20:59] smichel17 commented on #1183
https://f-droid.org/en/packages/com.github.quarck.calnotify/

It doesn't pop up, but I have configured it to make a noise every minute until I dismiss it. I assure you it is difficult to miss.

[2022-07-06 01:23] beelzebielsk opened #1184 "Crash when selecting a task"
Version: Simpletask cloudless v11.0.0
Android version: 10

I'm still working out how to reproduce the crash. For now, it seems to happen when I select a task while a specific filter is open.

[code]

[2022-07-06 19:58] mpcjanssen commented on #1184
How is sorting in the crashing filter configured?

[2022-07-06 21:29] beelzebielsk commented on #1184
![Screenshot_20220706-172556](https://user-images.githubusercontent.com/16908019/177646650-1e75a9d4-f599-42e2-bcd7-66b76b0a5d84.png)

[2022-07-07 08:12] beelzebielsk commented on #1184
No. Also, it seems what makes it crash is selecting the first task. No crashes from selecting other tasks so far.

[2022-07-07 08:13] mpcjanssen commented on #1184
@beelzebielsk I have a strong feeling that the PR to add manual task resorting is causing this. I'll look into it.

[2022-07-07 08:21] beelzebielsk commented on #1184
Another update: whenever I have a filter that has sublists, nothing crashes. Examples are putting priority, list, or project at the top of the sort order. Whenever there are no sublists, selecting the first item causes a crash.

[2022-07-07 08:46] mpcjanssen commented on #1184
@beelzebielsk that confirms my suspicion. Thanks for the extra info.

[2022-07-08 01:16] shulist commented on #1177
OK I've managed to sort out my issues and will document them here should someone be in a similar situation.  I am using a Samsung A20 running Android 11 with 32GB main memory and a 256GB SD card. All Simpletask files were originally in a folder on the SD card managed by Syncthing v1.20.2. What I did was:

1. Within Syncthing I "Removed" the synced folder using the Syncthing web GUI,
2. With my A20

[2022-07-11 05:55] vn971 opened #1186 "Add more donation options?"
Hi, thanks everyone involved for the great project!
I'd be glad to contribute/donate to the project a little bit, however, currently only 1 option is supported (paypal). Is it feasible to add another donation method?

* I'd be glad to make a SEPA (Europe bank transfer) donation if possible
* Allowing crypto options such as BTC would be great as it works across borders and is guaranteed to have a l

[2022-07-14 16:32] smellymoo commented on #1181
is this https://github.com/todotxt/todo.txt-android/pull/509 helpful?

[2022-07-23 07:24] h-cspu opened #1187 "11.0.0 cloudless: all completed tasks in one line at the end of done.txt"
Hello,

version 11.0.0 cloudless stores all completed tasks in one line at the end of done.txt.

Example:

testing due:2022-07-23

goes into done.txt as "x 2022-07-23 testing due:2022-07-23" at the end of the last line in done.txt.

If it's important, I have disabled "Windows-friendly line breaks".

[2022-07-28 09:27] mpcjanssen commented on #1184
@beelzebielsk could you check with a new version from https://mpcjanssen.nl/artifacts/master/ ? That should at least prevent the crash.

[2022-07-28 20:58] beelzebielsk commented on #1184
Still crashing.i used the debug cloudless build from your link.

[code]

[2022-08-01 17:37] mpcjanssen commented on #1186
@vn971 I am not comfortable posting my bank details online and I am not really into crypto. But the thanks is enough :)

[2022-08-01 21:12] beelzebielsk commented on #1184
It's not crashing anymore. It looks like the prior fix worked too. I made a mistake in testing out the fix, seems I was still using the version with the bug when I last tested.

[2022-08-01 21:50] mpcjanssen commented on #1184
@beelzebielsk I suspected as much. You can indeed install pretty much all Simpletask versions at the same time (the dropbox version being an exception).

[2022-08-01 21:51] mpcjanssen commented on #1184
I'll close this issue now. Re-enabling the manual reordering is another task.

[2022-08-01 21:51] #1184 closed

[2022-08-03 12:52] stianmandarin commented on #1178
When going to the unfiltered view, the filtering is permanently reset as well, so you have to redo your filters the next time you open the app through clicking its icon

[2022-08-03 19:34] mpcjanssen commented on #1178
Workaround for that is to save your frequently used filters in the right drawer.

[2022-08-06 06:52] xkcd386at opened #1189 "simpletask on sourceforge -- consider deleting entirely?"
Apologies; this is not really an "issue" with the tool per se.  I love the tool, and use it every single day -- thank you for your efforts and getting us such a clean product with so many features!

Somewhere, somehow, a search for simpletask got me to https://sourceforge.net/projects/simpletaskandr/ and I was momentarily stymied by the "Status: Abandoned" note at the top.  Then I saw the "last up

[2022-08-06 13:08] mpcjanssen commented on #1189
I was not aware of this project anymore. Thanks for putting it to my attention. Deleted now.

[2022-08-06 13:08] #1189 closed

[2022-08-07 14:46] rainjamesbird opened #1190 "No version of simpletask showing in app store"
Have just done a factory reset of my phone and it didn't reinstall simpletask. Went to do it manually and found it mysteriously missing, cloudless and all..

[2022-08-07 20:58] mpcjanssen commented on #1190
I removed all versions from the playstore (see #1102). You can download the latest versions from FDroid or https://mpcjanssen.nl/artifacts

[2022-08-07 20:58] #1190 closed

[2022-08-14 18:34] Djey51 opened #1191 "Synch doesn't work with Framagenda.org"
Hi,

Synch doesn't work with Framagenda.org.
Tasks are not synchronized and I obtain the following popup "saving of todo file failed"

Could you help me please?

[2022-08-14 19:27] mpcjanssen commented on #1191
I assume this a nextcloud provider? Can you show the log from Settings->Other->View log

Also just to prevent any confusion, simpletask doesn't use nextcloud tasks it syncs to a txt file in Nextcloud.

[2022-08-16 21:41] smellymoo opened #1192 "Local version shows red "saving" bar"
When you use the local file version, it still shows the thin red line at the top to denote saving, it lasts 2-3 seconds, makes no sense.

[2022-08-16 21:45] smellymoo opened #1193 "Filter by tag has odd results"
![Screenshot_20220816-234229_Simpletask.jpg](https://user-images.githubusercontent.com/3350045/184990655-ae5a0cc5-ac81-4356-949e-c490fb1fe3b6.jpg)

Filterered by @computer

This result suggests a bug to me. The seperation of things with multiple tags doesn't add up. Either it should all be in one (computer) or @life should also be seperately sectioned.

[2022-08-16 23:32] smichel17 commented on #1193
This was surprising to me, too, so I did a source dive. After writing up the explanation below, I think it's intended. I'll elaborate at the end, but let's walk through mechanically why it happens first. I'm going to pretend we sorted on tags instead of lists, because it gets confusing to distinguish the full list of tasks from the `@lists` which are on the tasks. In any case, the logic is identic

[2022-08-17 08:58] smellymoo commented on #1193
It should probably work in 2 steps.
1) Add to sections ignoring filter tag.
2) then if contains filter tag and hasn't been used already add to filter tag section.

[2022-09-01 19:36] dessalines opened #1194 "System / Device-based light / dark theme."
Most apps can now theme either light or dark, based on the system theme.

This would be useful to have, as I have the dark theme default, but when I go outside when its light out, I have to manually change the theme to light, to be able to read my tasks.

[2022-09-04 12:32] Darkempire78 opened #1195 "Support new Android 13 themed icon"
https://developer.android.com/develop/ui/views/launch/icon_design_adaptive

Since android 13 icons should follow Material You. This is very simple to do

[2022-09-06 15:44] regexgit commented on #1187
This bug annoys me because I have a todo application on PC that synchronizes with the todo.txt and done.txt files, but:
- automatic archiving is unusable: all tasks are on the same line in done.txt.
- so I use manual archiving but - still the same bug - the first finished task of the list will be on the same line as the last one of the previous list.

The only way to have a non-corrupted done.txt

[2022-09-06 18:52] smichel17 commented on #1187
I'm guessing this must be caused by https://github.com/mpcjanssen/simpletask-android/commit/e1f4550b6d54bedc9b3d3b986eaf943ea1d44a35#diff-e2fcf25ef113c13520402bbd7354a44fe22db1abe34fa09435b693d879c08751L106-R106

[2022-09-06 20:09] mpcjanssen commented on #1187
@regexgit what OS are you using on the PC?

[2022-09-06 20:30] paulgirard commented on #1100
I confirm that version works on Android 11 and syncthing.
Just for information it seems that by default the file access authorization proposed by default is "media file" and not "all kind of files". I couldn't pick a todo.txt from my syncthing because of this. I had to check permissions in Android SimpleTask app page and select "all kind of files" (not the exact phrase) instead of "only media file

[2022-09-06 20:51] regexgit commented on #1187
Both linux and windows but there is no \r or \n at all, here is an exemple with 2 completed tasks Test1 and Test2 in done.txt, I checked in hex editor on android: there is no character between the 2 tasks:

x 2022-09-06 Test1x 2022-09-06 Test2

[2022-09-06 21:32] smichel17 commented on #1187
Just to confirm, if you follow these steps:

- Create 3 tasks
[code]
- Archive `Test1`
- Archive `Test2` and `Test3` **at the same time**

Is the result:

1. This:
[code]

2. Or this:
[code]

If I understood the description above correctly, it's (1).

[2022-09-06 22:00] regexgit commented on #1187
Yes, case 1

[2022-09-06 22:01] regexgit commented on #1187
Yes, case 1

[2022-09-07 13:22] mpcjanssen commented on #1187
I think I know what's happening. The appendToFile function doesn't add a trailing `eol` so the next archive will be joined in the same line.

[2022-09-07 13:31] #1187 closed

[2022-09-07 13:56] mpcjanssen commented on #1187
@regexgit cloudless builds at https://mpcjanssen.nl/artifacts/master/ have this issue fixed

[2022-09-08 12:55] entropax opened #1196 "Feature request: to add pomodoro timer or simple timer."
Hi! I think it would be a good idea to implement timer function!)
What do you think about it?

[2022-09-08 13:03] mpcjanssen commented on #1196
There are plenty of pomodoro timers for android. What would be the added value of adding this in Simpletask?

[2022-09-08 13:20] mpcjanssen commented on #1196
You mean like a checkin/checkout type of functionality? Probably never going to happen.

[2022-09-10 21:03] clach04 commented on #1098
@mmmok can this be closed now?

[2022-09-10 21:07] clach04 commented on #988
Recommend closing/rejecting. IMHO BOM support isn't reasonable, use a decent/modern text editor to avoid issues on PC.

[2022-09-10 21:11] clach04 commented on #885
In mean time, possible workaround. Use a third party tool (Tasker or equivalent) and the existing Intent support

[2022-09-10 22:00] clach04 opened #1199 "Idea; search or add option - faster add new todo items feature"
Have a search box that live searches, then have an option to add the content of the search as a new line item

I had this idea for a feature, and then found out https://github.com/openintents/shoppinglist implements something like it. OI shopping list shares "lists" in common with simpletask/todo.txt but that's about it.

The OI list feature is implemented as live search, when pressing enter/retur

[2022-09-10 22:01] clach04 commented on #1199
![Screenshot_20220910-145021_OI Shopping List](https://user-images.githubusercontent.com/424032/189503213-8188402c-46f3-4877-a3e5-3c0f145e800c.jpg)
![Screenshot_20220910-145128_OI Shopping List](https://user-images.githubusercontent.com/424032/189503215-e7daf627-ae04-48a4-8c84-952b44aae651.jpg)

[2022-09-11 06:26] mpcjanssen commented on #1199
Good idea. Probably not super easy to implenent considerign how difficult it is to do stuff with the standard Android search widget.

[2022-09-11 06:30] mpcjanssen commented on #885
I think google voice actions have gone the way of the Dodo. Not sure what would be the proper way to do it on newer Android versions.

[2022-09-11 06:31] #1098 closed

[2022-09-11 06:34] mpcjanssen commented on #988
@clach04 I don't feel the need to clean up open issues. I don't have a manager pushing an open issues KPI :)
For @t214c this is a valid concern and I appreciate that. However I don't think I am going to implement this (hence the someday/maybe tag)

[2022-09-11 12:09] trevor87 opened #1200 "archived tasks in done.txt not a separated by linebreak"
I am not sure if this is intended: When tasks are marked as done and added to done.txt the line breaks in the file are missing.

Example:

![Screenshot_20220911-140334~2](https://user-images.githubusercontent.com/6329259/189526651-d65612f1-2b59-43a0-b9f1-99551d6aa093.png)

I did not find a setting to change this. I also tried setting it to "use windows linkebreaks" but it did not change anything.

[2022-09-11 12:20] smichel17 commented on #1200
Hi, this is a duplicate of https://github.com/mpcjanssen/simpletask-android/issues/1187

@mpcjanssen Maybe we should push a new release to F-Droid?

[2022-09-11 12:58] trevor87 commented on #1200
Thanks for the quick answer! While I searched for this issue it seems I forgot the closed issues..

[2022-09-11 14:26] aisbergde commented on #1073
I would really like this option, because I use case sensitive list and tag for different meaning.

[2022-09-11 19:35] #1073 closed

[2022-09-11 19:49] mpcjanssen commented on #1073
@aisbergde it was not as hard as I thought. Fixed now.

[2022-09-11 21:07] aisbergde commented on #1073
thank you!

[2022-09-12 06:29] mpcjanssen commented on #1073
I will be in the next 11.0.1 release from F-Droid. You can also get it at: https://mpcjanssen.nl/artifacts.

[2022-09-12 07:16] aisbergde opened #1201 "add information about current version into app"
I can't find any information about the installed version inside the app. If it is there, then it is not intuitive to find. The only way to detect the installed version is using f-droid app to show installed apps and their version.

[2022-09-12 08:25] mpcjanssen commented on #1201
It is there in Settings->Other->View debug log

but I agree it could be shown more prominently.

[2022-09-12 08:34] aisbergde commented on #1201
I found it :-)

[2022-09-12 19:09] aisbergde opened #1202 "implement easy ways call http links (and other links), stored in tasks"
I can share http links to Simpletask and they look like "https://aaa.bbb.ccc/ddd.html"

But is hard to open them. I need to edit, then I can mark the link, then I get a context menu where I can select to browse the link.

It would be fine to implement a more easy way to call the link, without the need to open the task for editing. But directly from the task. Maybe using one more action button, whi

[2022-09-12 22:39] smichel17 commented on #1202
It is not very discoverable, but if you long-press on a task, it will open up a pop-up list of links in the task (including `tel:` links, for calling phone numbers)

[2022-09-12 22:47] aisbergde commented on #1202
Oh, this works fine! I didn't try a long press. Maybe this could be explained in the help docs?

[2022-09-12 23:26] smichel17 commented on #1202
Or even better: https://github.com/mpcjanssen/simpletask-android/issues/911

[2022-09-12 23:30] smichel17 commented on #911
I don't think this would be hard to implement; the main work would be putting together a coherent list of tasks to start out with, that covers all the most important hard-to-find features without being too long/annoying

[2022-09-12 23:33] smichel17 commented on #911
Things that I know are not intuitive / discoverable (or at least, that people have not found in the past):

- Long press on task to open links
- Swipe in from the right to open the saved filter drawer
- Steps to archive all tasks in the current view (select task, select all, archive)

Probably you could find more by searching this bug tracker for "discoverable"

[2022-09-13 06:51] aisbergde commented on #911
Great idea, I also missed some these features, now I know.
To provide a default todo list is one way, a menu point "how to start" ore "Quick start" would also helpful. Intuitively I would search in Settings > help, And there should be one very present menu point. Or it could be a separat entry in the apps menu.

But in General the idea to just deliver a first todo.txt explaining idea and usage is

[2022-09-13 19:29] smichel17 commented on #911
Well, the app already has a default todo.txt file, so there's no extra menu needed. Just (pseudocode):

[code]

The check that the file is empty is important, because we wouldn't want to add a bunch of tasks to someone's existing file when they reinstall the app.

If someone wants to compile a good list of introductory tasks, I'll implement it.

[2022-09-14 21:14] sphenotux commented on #1201
IMHO a good place would be either one of
* About (new entry in main menu),  or
* Help right underneath the headline, or
* Settings > About (new entry in Settings menu)
Just my 5ct

[2022-09-15 21:07] sphenotux commented on #1202
IMHO #911 is a good approach, would have made it easier for me as well 😊.
So @aisbergde Thank you for your suggestion - can this #1202 be closed?

[2022-09-15 21:13] sphenotux commented on #1200
Hi, sry to intervene, just trying to clean up a little...
@smichel17 says (above) this is a duplicate. So, I guess, @trevor87 this issue can be closed..?

[2022-09-15 21:21] sphenotux commented on #1192
Hm... I see the red line from time to time. I guess (please correct me, long-term users)
* You change your todo.txt locally (on your smartphone?)
* Changes are saved to the local todo.txt on your device
* App notices those changes and tries to sync them to the server
* if that sync fails, red line is shown
@smellymoo you could crosscheck (please)
* e. g. via file browser on your device if the time

[2022-09-15 21:25] sphenotux commented on #1165
@fmartelg it has been a while... Did the behaviour you described appear, again - ideally 😉 even reproducable?
Or can this issue be closed?

[2022-09-15 21:35] sphenotux commented on #1156
@sjl872964789 thank you for posting the issue, and the helpful image you linked.
I just checked on version 11.00 after clicking the cross, filter is reset = expected behaviour.
Can you confirm, and/or close the issue?

[2022-09-15 21:36] smichel17 commented on #1200
Let's leave it open until a new release is out, lest we get more dupes (GitHub doesn't do a very good job of reminding you to search closed issues).

[2022-09-15 21:38] trevor87 commented on #1200
I agree with smichel17. I think it would be easier to find if it is open.

[2022-09-16 01:47] fmartelg commented on #1165
I've not experienced this again. The issue can be closed. Thank you for following up.

[2022-09-16 06:20] #1202 closed

[2022-09-16 08:31] sphenotux commented on #1200
OK. - Question: How do you track to close **this** very issue once the release is out?

IMHO the less issues open, the better 😉?!

[2022-09-16 10:59] #1165 closed

[2022-09-16 13:57] sphenotux commented on #1180
Thank you for your issue. Looks like it is solved, by magic 😉.
Suggest you close the issue as 'not planned', or similar, @ryuitxi?

[2022-09-16 14:03] #1180 closed

[2022-09-16 22:05] smellymoo commented on #1192
I mean the server-less version of simpletask, it isn't supposed to be using the internet, it just saves a local file. But it still has a red saving bar.

[2022-09-17 05:35] sphenotux commented on #1192
Weird...
Can you please cross check read/write permissions of the folder the todo.txt file is located in? Some users experienced success here.

[2022-09-17 16:25] trevor87 commented on #1200
Just got the new release on fdroid and the problem is solved. Thank you very much!

[2022-09-17 16:25] #1200 closed

[2022-09-18 08:18] smellymoo commented on #1192
it saves it, so it's not getting blocked by permissions, although I haven't checked yet. It's like it has a timer in the save function for displaying the red bar.

[2022-09-18 11:31] sphenotux commented on #1192
I use Nextcloud version 11 and rarely see the red bar. Are you running the latest version?
Check: Main menu -  settings - miscellaneous (or similar) -  error log and compare to the latest version in your trusted store.
How long is the bar shown:
* 1/10 second
* 3 seconds
* 2 minutes?

Hard to tell for me and maybe an inpolite question, but if changes are reliably saved: Can you live with it?

[2022-09-18 12:37] sphenotux commented on #911
Volunteering.

[2022-09-18 18:37] sphenotux commented on #1192
... in addition: Main menu - settings - functions (or similar): '*Time before save*' has **a value - which**? Mine is set to three seconds.

[2022-09-18 18:57] smellymoo commented on #1192
Yup! It's that. Which means it only needs a slight correction for the local version (set timeout to 0, which you can't do).

[2022-09-18 20:01] sphenotux commented on #1192
Thx, so you think the **default value** is > 0 (saying: greater than zero) now?

[2022-09-20 10:30] marscher commented on #1032
I just found this issue as I was thinking about how to avoid typing in duplicates, e.g. items on a shopping list. Most likely these things will be repeated. Of course you can search the (probably long) list of completed items in your list, but I guess it would speed things up, if one can auto-complete just on the items, which are already there.
Upon the completion event, the user would just re-act

[2022-09-20 18:41] mpcjanssen commented on #1201
I like the Settings -> About idea. Easy to implement so if someone wants to get their hands dirty....

[2022-09-20 18:43] mpcjanssen commented on #1156
I think @sjl872964789 is seeing the same behavior and is arguing it's a bug. The way filters are implemented right now, it's not trivial to prefill the search box with the last searched text after clearing the filter.

@sjl872964789 could you describe your use case? Why would you want the search to start where you left off?

[2022-09-20 18:45] mpcjanssen commented on #1165
I think this is/was a bug in Android. Controlling the keyboard visibility from code is impossible as far as I was able to determine when I encountered this issue a long time ago. Glad to see it seems fixed.

[2022-09-20 18:48] mpcjanssen commented on #1192
The timer for the local version doesn't really make sense, it is useful for the connected versions to wait for the todo.txt to settle before saving it. I think setting different defaults for local and connected versions should be relatively easy.

[2022-09-20 18:50] mpcjanssen commented on #1032
@marscher a workaround to quickly add to an already existing list/tag is to filter on that list/tag and then add a new task, every line will be prefilled with the list or tag you filtered on.

[2022-09-21 02:28] smichel17 commented on #1192
In the past I have synced the local version using the nextcloud app (and actually found it handled conflict resolution better than the ST Nextcloud flavor).

Not sure if waiting would help anything in that situation, but just as an FYI.

[2022-09-21 08:20] marscher commented on #1032
Thanks @mpcjanssen. This becomes handy for quickly writing new lists. But it does avoid duplicates in any sense.

[2022-09-21 19:57] mpcjanssen commented on #1192
The waiting is mostly to not trigger throttling of APIs and to prevent conficts on the remote side by starting a new save without waiting for the result of the previous one. Saving to local storage is almost instantanious so it's not a real issue there.

[2022-09-25 06:22] aisbergde opened #1204 "Text in brackets sometime prevents recognition of the following tag"
try this content

[code]

the +test2 is not recognized as tag. I tried to find out the logic, when this happens, but I didn't. I think it doesn't depend on the dot.

you can also remove the +test3 after +test2 and it will not be recognized.

![Screenshot_2022-09-25-08-20-10-592_nl.mpcjanssen.simpletask.jpg](https://user-images.githubusercontent.com/9020187/192131033-95956171-9e84-4d54-8799-f053186

[2022-09-25 06:28] aisbergde commented on #1204
as a work around I can add one more space in front of the tag. But I also use the same todo files on Windows (I use a GitLab repository to sync). But the Windows app sleek can't keep the original order of lists and tags and resorts them.

I need to find a way to use Simpletask on Windows.

[2022-09-25 08:09] mpcjanssen commented on #1204
For me the tags are recognized and higlighted properly:

![image](https://user-images.githubusercontent.com/146895/192134235-13c6f423-77b4-4664-871e-1fb0f2574d02.png)
![image](https://user-images.githubusercontent.com/146895/192134251-274dcde7-f748-43b0-927b-40c920977451.png)

Which version are you using? (Find at top of Settings -> Other -> View debug log)

[2022-09-25 09:19] aisbergde commented on #1204
Simpletask cloudless v11.0.1

btw, I can't copy and paste content from the log. Please implement a way to easy copy the current version. See (can't find the other issue here on Android, because GitHub is always opening in this terrible mobile app where it is not possible to do anything else in parallel)

[2022-09-25 09:21] aisbergde commented on #1204
as workaround I can add an additional blank before the '+test2', but when I open the todo. txt on Windows in sleek, then unfortunately this program rearranges all content.

[2022-09-25 10:08] sphenotux commented on #1204
Just guessing; check linebreak, carriage return, vbcrlf, EOL whatever on Windows vs. Android/Linux?
If linebreak is NOT recognised, maybe due to wrong settings of the file, two 'separate' tasks may be interpreted as ONE by ST. Where did you create the text file, which machine?

[2022-09-25 10:32] aisbergde commented on #1204
I am on Android. I found this issue today when I copied some content from a forum into simpletask. I created 2 tasks, added a tag using Simpletask. And then I wanted to filter by this tag and only one task got the tag. I found out, that it is somehow related to the parentheses, I could reproduce with one test task, but I don't get the issue on some other test tasks. I can't find the logic. It is s

[2022-09-25 10:38] aisbergde commented on #1204
I think there is an invisible special character:
when I just copy I can reproduce the issue.
when I then remove the visible space before the +test2 and add it again, then the +test2 is a task.

So it is solved.

But this could happen again, when a user will copy and past content from wherever. Maybe it is possible to implement a function to clean up content and to remove non visible characters?

[2022-09-25 11:29] sphenotux commented on #1204
Hm... Remove? Or replace? If the latter, replace by... What? Single whitespace?
On the other hand, it is IMHO not up to ST cleaning up the mess someone else from far away created 😉, in your case the (unknown) author of the source you copied from.

[2022-09-25 11:55] smichel17 commented on #1204
You can share from the log, along with something like [share to clipboard](https://f-droid.org/en/packages/com.tengu.sharetoclipboard/)

[2022-09-25 12:00] smichel17 commented on #1204
As for the issue: the best outcome imo would not be to automatically sanitize, but just *warn* the user that there is some character which may not be render on Android / might cause parsing issues. The warning can show only on the add task screen, so it isn't too annoying for people who might want to use these characters.

[2022-09-25 19:00] aisbergde commented on #1204
Yes, a warning would be good. Especially when you are on Android, you think that what you see is what it is. So you don't notice such errors. On the PC, there are a few tools that can clean up the content of the clipboard so that only the pure text is copied. On Android, you have to take what's available.

By the way, I haven't found out on the PC what kind of special character might have been hid

[2022-09-27 20:45] aisbergde commented on #1204
I can't upload, but I used a hex editor to check the content

![Screenshot_2022-09-27-22-41-44-486_nl mpcjanssen simpletask](https://user-images.githubusercontent.com/9020187/192631181-4d70316a-c666-4f62-8fcc-bd865225b1ce.jpg)
![Screenshot_2022-09-27-22-41-23-090_com myprog hexedit](https://user-images.githubusercontent.com/9020187/192631211-02494b1a-d6b6-4baa-bb31-ffe035ee3df9.jpg)

c2 a0

[2022-09-27 20:47] aisbergde commented on #1204
https://www.scivision.dev/hex-code-c2a0-non-breaking-space-markdown/

Hex C2A0 is UTF8 for non-breaking space

[2022-09-27 21:15] mpcjanssen commented on #1204
@aisbergde thanks for the feedback. Could you try with one of the versions from https://mpcjanssen.nl/artifacts/11.0.1-5-bd94175/ ?

[2022-09-27 21:50] aisbergde commented on #1204
I will do. But it looks like I need to uninstall my current f-droid version first. And there is no backup and restore for settings, so I will do some Screenshots.

Maybe it would be a good idea to enable not only save and restore of filters, but also for settings?

Or I will try to install on another smartphone, where the settings are not so important.

[2022-09-27 22:11] aisbergde commented on #1204
it looks better now, regarding test2
but there is a strange first empty task
Maybe, this is not new but was already in the current version

![Screenshot_2022-09-28-00-03-33-375_nl.mpcjanssen.simpletask.jpg](https://user-images.githubusercontent.com/9020187/192645992-29260da6-8425-446a-8487-027eb902aa36.jpg)

[2022-09-28 05:00] mpcjanssen commented on #1204
You can install multiple version of Simpletask without issue. So just try one of the debug builds and you won't have to uninstall the FDroid version.

[2022-09-28 06:06] aisbergde commented on #1204
I can't
Otherwise I would not write that I can't.

![Screenshot_2022-09-28-08-03-58-255_com.google.android.packageinstaller.jpg](https://user-images.githubusercontent.com/9020187/192700249-f6117143-6a22-4438-9025-884390f87d10.jpg)

![Screenshot_2022-09-28-08-04-06-639_com.google.android.packageinstaller.jpg](https://user-images.githubusercontent.com/9020187/192700268-a6f63a4b-6daf-4dad-8166-0ede1a

[2022-09-28 06:12] aisbergde commented on #1204
but it looks like that I can install the debug version in parallel. Then I misunderstood the instruction "any version", I should try any debug version. 🤔

[2022-09-28 07:36] CoD-ZT opened #1205 "Missing newline at end of file"
Simpletask v. 11.0.0 (no sync support) doesn't add a newline at eof when adding a task.
How to reproduce:
- in settings enable "append to file"
- add a new task
- import to pc
- add a task from pc

the last task will be on the same line of the previous one because no newline was added at the end of file

[2022-09-28 15:15] mpcjanssen commented on #1205
Try with 11.0.1. This should be fixed by https://github.com/mpcjanssen/simpletask-android/commit/d4a79f3fd2a67b57d9b8553ed2963aba0f2f89ba

[2022-09-29 11:14] smichel17 commented on #1204
Yeah, you can install the different backend "flavors" of SimpleTask alongside each other, and for each "flavor", you can install the release and debug version alongside each other. You cannot install the release version of the same flavor over the one from F-Droid.

On September 28, 2022 6:12:18 AM UTC, "Germo Görtz" ***@***.***> wrote:

--
To respect your time, I try to write short, functional em

[2022-09-30 08:02] CoD-ZT commented on #1205
Confirmed. That was quick! Thank you

[2022-09-30 08:03] #1205 closed

[2022-10-06 21:03] Jjquigley opened #1206 "Is there any way to hide the Pin to Notification icon"
![Screenshot_20221006-133610](https://user-images.githubusercontent.com/18133162/194415149-e9902c61-173a-4e16-b00d-213aa4c6431d.png)
Using SimpleTask Dropbox version 11.0.1 on a Samsung Galaxy Luna Pro, Android version 6.0.1
On my phone, when I select several items and would like to change the threshold date, the new pin icon now crowds the threshold icon a bit too far to the right and I can no lo

[2022-10-07 04:56] sphenotux commented on #1206
Same behaviour here, v11.0 Nextcloud Edition.
(Did not make use of the threshold date as of now - just to confirm your description. Workaround screen rotation works as well.)
Huawei P40 lite.
Screen/display size matters?

[2022-10-07 12:13] smichel17 commented on #1206
Yes, it's an issue only on smaller devices. Tentatively I'd say this is a duplicate of https://github.com/mpcjanssen/simpletask-android/issues/1182

[2022-10-15 09:13] qazip opened #1207 "UI Suggestion: Remove the "+" to add a new task and add a text-box below/above the list of tasks"
I have a UI suggestion, if you don't mind!

What do you think of removing the "+" to add a new task and adding a text-box, either below or above the lists of tasks? Sort of like a messaging app, it has the messages (in this case we would have the tasks) and it has the place to write a new message, a text box (in this case it would be to write new tasks)..

It would make it so it's faster and simpl

[2022-10-15 11:42] sphenotux commented on #1207
Suggestions always welcome 💪!
Hm... On my smartphone, I am using a quick launcher icon to create a new task. Plus I like the add new task view, as it provides all the context, project, prio and due date buttons I need. Would probably miss them in your view?
What if tasks extend one page on your screen -  display at the bottom always?
I am satisfied "as is". Anyone else?

[2022-10-15 12:51] qazip commented on #1207
I cannot really use a quick launcher icon in [KISS](https://github.com/Neamar/KISS/issues), sadly (I think?).

No, I don't think you would miss them! On a messaging app, there are also buttons, for attaching and all that. You could still have the context, project, etc buttons. You could also just add them in an hamburger menu on the side of the textbox, as to not waste vertical space.

I don't und

[2022-10-16 17:46] sphenotux commented on #1207
Thx for following up.
`I don't understand this.. What do you mean?`
Clear to me now, as I did not get your point of the buttons in messaging apps, mea culpa.
As mentioned above, fine *for me* 😜. Does not mean any ranking here. I am just an ordinary user that wants to keep the discussion running.
Maybe one of the ST power users wants to add a comment..?

[2022-11-16 17:52] seekstar opened #1209 "It seems that the webdav version does not create new todo.txt"
I first install the webdav version (11.0.1) of this app, then login with webdav URL `https://cloud.seafile.com/seafdav/seafile/software/simpletask` which is an empty folder in cloud. Then I create a todo item, `Sync`, then it displays `Saving of todo file failed`, and there is no file created in the folder in the cloud. Then I create a new empty `todo.txt` in the cloud folder and `Sync`, then it w

[2022-11-21 22:24] adastx commented on #1194
I'm gonna try and implement this, at some point in the near future.
Seems like a good first issue.