[2019-06-03 11:38] mpcjanssen commented on #971
@dometto @hagenbauer could you try with the latest nextcloud release build from https://www.mpcjanssen.nl/artifacts/ ? I can't test it myself, but this should allow storage of the self signed certificate.

[2019-06-03 11:42] FallenSpaces commented on #978
You're right, I got confused by seeing it all sorted, and thought that I had unprioritized tasks previously.

Just doing a quick google search, I found this [example.](https://i.stack.imgur.com/ToIn9.png) Maybe the inversion arrows could go on the right, and the drag and drop indicator on the usual left.

Thanks for the awesome app btw

[2019-06-03 12:25] mpcjanssen opened #979 "Show merge dialog when there are text file conficts"
https://github.com/java-diff-utils/java-diff-utils

[2019-06-03 13:27] hagenbauer commented on #971
yes. !!!. indeed it does. looks good. I will work with this version and give additional feedback if necessary.

[2019-06-03 17:22] mpcjanssen commented on #971
Thanks for confirming if @dometto also can work with a self signed certificate, this issue can be closed.

[2019-06-03 17:25] mpcjanssen commented on #974
Latest builds at https://mpcjanssen.nl/artifacts should have this issue fixed. @Henry78 can you also confirm?

[2019-06-03 17:38] lamalediction commented on #974
It works for me!

[2019-06-03 18:12] Henry78 commented on #974
Yes, lates build works.

[2019-06-03 18:21] jose1711 commented on #974
Thank you again Mark, closing

[2019-06-03 18:21] #974 closed

[2019-06-03 19:43] pierrefrancois opened #980 "crashing after inserting a newline into a task"

[2019-06-03 19:48] pierrefrancois commented on #980
I gave my phone to another person for inserting her email after her name into a task that was open for editing. She probably hit the enter key during the input (see todo.txt attached) and since that day, the app is always crashing with message "Simpletask has stopped".
[todo.txt](https://github.com/mpcjanssen/simpletask-android/files/3249190/todo.txt)

[2019-06-04 08:41] rcuddy commented on #974
Works for me too. Thanks heaps.

[2019-06-04 10:24] mpcjanssen commented on #971
@hagenbauer not sure if you can retest once you already stored the certificate, but I think the latest version doesn't react correctly if you give invalid login credentials and store the certificate. The latest development version should fix that as well.

[2019-06-04 17:26] mpcjanssen commented on #980
I have downloaded the file, and it works without problems for me. (I also deleted it from here as it has private info). How did you install the app? Did you install it from playstore or fdroid?
Any possibility you can send a crash report or adb logcat?

[2019-06-04 18:31] mpcjanssen commented on #980
Also how do you sort the list?

[2019-06-05 08:56] pierrefrancois commented on #980
Thank you Mark for removing my private info from the web.

I think I was using the F-droid version of the app. I didn't collect any
crash report.

I removed the app and installed the Simpletask Dropbox from Google Play,
edited the *todo.txt* for removing the unwanted line breaks and put it
inside of the *~/Dropbox/todo* directory, and now, Simpletask (Dropbox)
is again in the air.

If you tell me

[2019-06-05 09:04] pierrefrancois commented on #980
Since I uninstalled the F-droid version of Simpletask and installed a
working version (Simpletask Dropbox) from Google Play, I no longer can
figure it out. I don't remember, sorry.

On 4/06/19 20:31, Mark Janssen wrote:

[2019-06-05 09:18] mpcjanssen commented on #980
You could install the Cloudless version from the Play store and reopen the same (local) file you used with the cloudless version from F-Droid (if you still have that on your phone). Then a crash would allow you to report the issue.

[2019-06-05 09:23] mpcjanssen commented on #973
Was there a conflict in the file while saving?

[2019-06-05 13:39] pierrefrancois commented on #980
Hello Mark

I am sorry, but the app belongs to a production environment, accessed
also by other software. I can no longer experiment with it.

Since my file *todo.txt* didn't crash the app in your environment, and I
was probably using an old version of the app, it will probably no longer
crash. I suggest you to close the issue. If something happens again, I
will reopen this issue.

Met dank voor a

[2019-06-05 14:13] #980 closed

[2019-06-06 14:54] hagenbauer commented on #971
Hi @mpcjanssen not sure if this is what you wanted but I tested this
- deinstalled app
- reinstalled app
- connect to nextcloud with wrong password
- accepted private cert
- login failed
- logout
- login again with correct password
- selected todo.txt file
happy user. :-)

[2019-06-06 17:51] mpcjanssen commented on #971
@hagenbauer ok thanks for confirming.

[2019-06-06 17:51] #971 closed

[2019-06-09 17:18] ammarraisafti opened #981 "Add "TASK PROGRESS" feature in the SimpleTask app"
# Components
The following are the features that I want to recommend:

- TASK PROGRESS

# Proposal description
Propose a new feature in the SimpleTask app.

- Add the TASK PROGRESS feature in the SimpleTask app at the top of the shortcut menu option.

- Modify the TASK PROGRESS feature section to provide some important features in it, such as ALMOST DONE, HALFWAY THERE, WAY TO GO, NOTHING ACCOMPLI

[2019-06-09 19:22] mpcjanssen commented on #981
Not going to work with a non standard extension to the todo.txt format. How are you going to store the progress on a task?

[2019-06-10 10:29] #981 closed

[2019-06-11 21:53] p-baum opened #982 "Add option to hide URLs in task list."
Just started using this app.  It's great. Thankyou.  One thing that quickly annoyed me is how messy things get when you have a link in a task.  I love that I can hold down on the task to go to somewhere else for further details but having the link visible in the list is just horrible.

[2019-06-12 08:56] jpalczewski commented on #973
Nope, even logging out and trying to login again failed - I don't remember now, but message in-app was a bit different(something near 500).

[2019-06-12 13:10] kirschner commented on #816
@mpcjanssen to clarify: the version which is now in F-Droid does not support Nextcloud but is the standalone version, right?

[2019-06-12 14:11] mpcjanssen commented on #973
Does updating to the last version make any difference?

[2019-06-12 14:12] mpcjanssen commented on #816
Correct

[2019-06-12 17:54] kirschner commented on #816
Thanks for clarifications @mpcjanssen I would still be interested in a version with nextcloud support in f-droid, but I can understand that it is not a priority for you. Thanks for your work!

[2019-06-14 11:54] mpcjanssen commented on #816
Feel free to add it to F-Droid yourself. The only reason for me not to added is lack of time. If someone will make the required fdroiddata PR I am all for it.

[2019-06-14 23:17] hut opened #983 "CSS class of bold text?"
Hi,

I'm trying to style bold text with a custom CSS, but I can't figure out what CSS selector to use.

For italic text, "em" works, but styling the "b" tag has no effect. Any ideas?

[2019-06-15 20:00] mpcjanssen commented on #983
How are you using css for styling?

[2019-06-15 20:09] mpcjanssen commented on #983
You mean in the embedded documentation?

[2019-06-16 09:44] hut commented on #983
Well, this is awkward. I opened this issue in the wrong GitHub project. Sorry!

Then let me take this opportunity to say thanks for this excellent app. I've been using it for years and always come back to it. :) It's simple, yet powerful & extensible enough to cover so many use cases.

[2019-06-16 09:44] #983 closed

[2019-06-16 18:34] mpcjanssen commented on #983
No problem, thanks for closing it to confirm I wasn't losing it :grin:

[2019-06-22 14:45] mimmori opened #984 "Error showing task with multiple context or project"
I want to report a bug in the show of the task contained multiple context or project (C/P).
When I chose to sort my tasks by C/P all the task that contains more than one tag is showed only in the first C/P found.

Example:

Todo.txt contents:
Task 1 @context1 @context2

Show filtering by context:

context1:
Task 1

context2:
(Void)

I expect to see the task on both context lists.
The same happen w

[2019-06-22 15:35] mimmori opened #985 "LUA script - help filtering by week"
I am not LUA expert programmer but I usually write code in other languages.
I tried to write a script for filtering all tasks with due date before the end of the week but I have some troubles to determine the limit of condition for determine the visibility.

Is there someone that has realised something similar?

[2019-06-23 10:36] mpcjanssen commented on #984
Duplicate of #153

[2019-06-23 10:36] #984 closed

[2019-06-24 10:02] pabgan opened #986 "Project filter wildcards"
The official application supports (incidentally?) nested projects because filter seems to always add a wildcard at the end.

For example, I have a general project called `+hogar` (home in spanish) and inside it I create other smaller projects for everything I want to fix by adding `.` and some more text. Then I can list all tasks in that general project:
[code]
Or only those inside a subproject:
[

[2019-06-24 14:14] mpcjanssen commented on #986
You can make pretty much any type of filter using Lua. This case is no exception.
When I have some time I will add an example script.

[2019-06-25 09:00] mpcjanssen commented on #986
The following Lua script should show all tasks in the Hogar project:

[code]

See https://github.com/mpcjanssen/simpletask-android/blob/master/app/src/main/assets/script.en.md for details.

[2019-06-25 14:10] mpcjanssen commented on #986
Supporting custom filtering requests like this was the main reason for including a Lua scripting option.

[2019-06-26 13:36] pabgan commented on #986
Thank you very much for the code, @mpcjanssen , and sorry for the delay in my response.

I see your point, but that would mean creating a custom filter for every project to replicate the behaviour in the original application. I know this is not an official application, but it is the closest, and I thought that it may make more sense to make this the default behaviour and leave the custom LUA scrip

[2019-06-26 19:13] mpcjanssen commented on #986
@pabgan I see the point, but I don't know how I can make this work in the UI. I am open for suggestions. BTW you can save all these project specific filters in the right drawer.

[2019-06-29 09:27] pabgan commented on #986
Thanks for your openness.

I do not know what you mean. The way I see it the UI would remain the
same but when any project is selected then the tasks that are shown are
all that contain that project with or without subprojects, maybe
running that script that you pasted above. I have not digged into the
code and there might be a better solution, though. I will take a look
into it when I have time.

[2019-06-29 18:21] mpcjanssen commented on #986
@pabgan, that might work as a standard filter setting (show sub projects). Because the cli supports this,  i might add this.

[2019-06-30 08:13] pabgan commented on #986
Thank you very much.

[2019-07-01 15:47] t214c commented on #41
I second this.

In place of the ["Simpletask" Title](https://f-droid.org/repo/nl.mpcjanssen.simpletask/en-US/phoneScreenshots/main.png) (or the File path if option is enabled), there could be a drop down list of recently used txt files (or a custom chosen list). Like [here](https://jira.appcelerator.org/secure/attachment/39162/DropDownAlmost.png).

[2019-07-01 16:35] t214c opened #987 "Request: Show only filename instead of path"
If the option "Show where todo file is stored" is unchecked, it shows "Simpletask"; if checked, the full path.

There should be a third option to show just the filename (with/without the extension).

Thanks

[2019-07-01 16:51] t214c opened #988 "UTF-8 BOM bug"
Steps to reproduce:

- Create some tasks.
- Set Priority A to the first. It will show `(A)` in red at the beginning of the line.
- In a text editor (e.g. on PC). Convert the file to UTF-8 **with BOM**.
- Reopen the task list.

Expected behavior:

- Nothing should change.

Current behavior:

- `(A)` becomes normal color. This suggest that the byte order mark is not treated by Simpletask as separate

[2019-07-01 16:57] t214c commented on #638
Is there anyway this could be fixed?

[2019-07-02 10:01] mpcjanssen commented on #988
Java always assumes a UTF-8 string does not have a BOM. Why do you need the BOM at all?

[2019-07-02 10:04] mpcjanssen commented on #638
Main goal is to prevent tasks from being lost (for example if you add a background task and forget to apply the edit box). This behavior is a side effect of this. I think in this case, not losing any tasks trumps having the occasional additional task.
Properly fixing this requires distinguishing the different edit scenarios which is quite a bit of work. For now a workaround is to clear the edit bo

[2019-07-02 15:11] t214c commented on #988
Editing the file on PC. Many text editors don't recognize UTF-8 if it didn't have a BOM. Multi-byte characters are interpreted wrong as separate 8-bit characters.

What I want is at least don't revert the BOM back when editing the file.

Thanks :)

[2019-07-02 15:12] t214c commented on #638
OK. Thanks.

[2019-07-03 10:21] mpcjanssen commented on #988
That is exactly what I wouldn't want to do as it requires tracking state. I could at a setting use UTF-8 with BOM so it always writes a BOM.
I do consider applications that need a BOM to handle UTF-8 properly broken BTW.

[2019-07-03 12:02] t214c commented on #988
I'm not sure I follow. Couldn't it be a simple If function? or just appending the file without modifying the early bytes (BOM or no BOM)?

That would be a good solution :)

:) I am aware of the debate. But practical situations sometimes force one's hand. No text editor checks all the boxes. On my machine, the ones that handle UTF-8 well are slow or can't handle big files, for example.

In a better

[2019-07-04 21:01] Kamul-PL opened #989 "Drag and drop sorting feature request - one more try ;)"
I know that this case appeared here many times. But I wanted to ask again to consider adding a drag'n'drop tasks sorting option. I don't think about any miracles here. It would be enough to change the position of one task relative to another within one single list/tag range. There's no necessity to extend the todo.txt format. Let the sorting be based solely on changing the position of task in the

[2019-07-04 22:53] smichel17 commented on #989
For what it's worth, I don't have anything against drag-and-drop sorting and I don't think @mpcjanssen does, either.

The problem is that it's very challenging to implement, both from a technical *and a UX* perspective. It has been proposed and discussed quite a bit before in #39, #406, #636, and #748. As far as I know, we never ended up with a complete design for how it would work. Given that it

[2019-07-06 09:12] mpcjanssen commented on #989
Opening extra issues wont make it more likely to happen. @smichel17 gave a good summary. Due to complexity and unclear behaviour in sorts besides file order not going to happen anytime soon. Please continue discussion at #748. PRs also welcome.

[2019-07-06 09:22] #989 closed

[2019-07-06 21:41] OSupporter opened #990 "Improve vertical space utilization on Edit screen"
The Edit screen UI could be improved if the whitespace wasted (at least apparently on a Pixel 3) below a longer To-Do task was filled with the task text instead of reserved as blank white-space (see attached screen-shot red mark-up).  In addition, if one of the 3 horizontal bars could be eliminated by rearranging the icons elsewhere it could further add to the vertical space in the task text Edit

[2019-07-07 06:13] Fire-Dragon-DoL commented on #974
I'm not sure if the build has already been pushed on android but I have the same situation. Didn't change anything on server and android app for months, now I get "ssl initialization failed" out of the blue. Terrible timing because i'm on a trip 😂

[2019-07-07 08:55] mpcjanssen commented on #974
Build is not published yet, but you can download the nextcloid release  version from the message above.

[2019-07-07 10:28] mpcjanssen commented on #990
Wasted space at botteom of edit text is a bug. I will not move the buttons (I really like them like this)

[2019-07-07 12:56] Kamul-PL commented on #748
Oops! I'm afraid I'm not allowed to reply here #989, so I'll do it in this thread.

@smichel17, you wrote:

Maybe I didn't put it enough precisely (sorry, English is not my native language), but that's exactly what I meant. Task sorting based on tasks order in file. I think it's the simplest way to implement it (still keeping todo.txt rules).

Here is a small problem. But it isn't impossible to so

[2019-07-07 18:01] mpcjanssen commented on #748
Probably file order only reordering is the only sane way. I am not convinced drag and drop is the best way. Maybe when you select a task. Arrows can be shown (if it's a file order sort). To move the selected task(s) up or down.

[2019-07-07 18:08] mpcjanssen commented on #974
@Fire-Dragon-DoL could you copy the debug log (from settings->other) ?

[2019-07-07 20:30] Fire-Dragon-DoL commented on #974
Thanks for the indication,I'll post one as soon as I can (i'm on a trip), i want to do a few more checks on the server to see if nextcloud could be the problem

[2019-07-07 20:39] Kamul-PL commented on #748
I thing it should be enough. And if it would be possible to connect it together with priorities, it would be even more than enough. But it's not so important, because if we could sort tasks in easy way, the positioning at the list will be the natural priority marker (higher on the list - higher priority).

Why do you think so? Drag and drop is probably the fastest and the most comfortable method t

[2019-07-07 22:20] smichel17 commented on #748
@mpcjanssen drag and drop is super nice. Try any.do if you want to feel it for yourself (see #433).

[2019-07-08 11:59] mpcjanssen commented on #748
It's probably because of my fat fingers :) It's not as bad as swiping though.

[2019-07-10 22:10] hut opened #991 "Auto-assign priority when filtered by priority"
When filtering the task list by a single context and/or a single project, and adding a new task, the context/project is automatically added to the task. Can the same be done for the priority?

My use case is that I'm filtering with prio=(A) to show the most urgent tasks across the board, and when new urgent tasks come to mind, I want to be able to quickly add them. This is especially bothersome wh

[2019-07-11 12:51] smichel17 commented on #991
Seems reasonable to me.

[2019-07-11 19:32] mpcjanssen commented on #991
A PR providing this would be merged.

[2019-07-13 01:00] ddisanti commented on #638
@mpcjanssen I've tried that back then.  As @smichel17 said, the task is already saved. Clearing the Edit box doesn't work. It does not work by Clearing the Edit Box and then taping the Save button, or by pressing the X Button or pressing the Back button. The task is saved anyway.

[2019-07-14 10:00] emarsk commented on #947
Actually, the [official specs page](https://github.com/todotxt/todo.txt) uses "project" and "context", so there should be at least an option to enable the official terminology.

It's a small thing, of course, but I'm also confused by "list" and "tag". I can somewhat see the argument for "tag" instead of "project", but to me "list" feels just wrong: it's completely generic and meaningless (isn't th

[2019-07-14 20:22] mpcjanssen commented on #947
@emarsk, there is a setting to use the official terminology. This issue describes a place where the setting has no effect yet.

[2019-07-14 20:47] emarsk commented on #947
@mpcjanssen, I was commenting about the claim that "there is no specific todo.txt version for those strings". I interpreted this sentence as "there's no official terminology". Sorry if I misunderstood that.

[2019-07-14 20:50] mpcjanssen commented on #947
@emarks no problem, just wanted to clear up any misunderstanding.

[2019-07-14 21:01] emarsk commented on #947
By the way, the same non-official terminology is also present in the lua function names, at least according to the wiki. It would be nice to have aliases with the official names.

It would be extra nice - in my opinion - if the official terminology were the default one everywhere, because if you're basing a tool on a standard, it makes sense to have the defaults adhering to that standard as much a

[2019-07-15 02:09] emarks commented on #947
Check username spelling on your reply.   emarks != emarsk

[2019-07-15 08:34] mpcjanssen commented on #947
@emarsk making the default todo.txt terms available everywhere makes sense and I am all for it. I could even add a question on first launch to determine if the user wants todo.txt terms or generic terms.
I am not quite sure about doing this in code, because as it is the Lua parts reflect the actual naming in the Simpletask source code itself. It's should be fairly easy to add yourself though.

For

[2019-07-16 15:45] hiqua commented on #985
You want to check if the week number of the task is lower or equal to the current week number.

If the ISO week number works for you (e.g., your weeks start on Mondays), you can use `os.date("%V")` to get the current week number, and `os.date("%V", d)` to get the week number corresponding to the due date `d`. From the documentation, I assume that `d` is in the right format.

[2019-07-16 16:09] smichel17 commented on #985
I've wanted to do this for a while. I think the best way might be to put some common helper functions, commented, into the default global lua config.

[2019-07-17 07:43] mimmori commented on #985
I have some trouble with the solution suggested.

I tried this:

function onFilter(t,f,e)
  if f.due~=nil then
    return os.date("%V", f.due) <= os.date("%V");
  else
    return false;
  end
end

but it seem not working because the task will be always shown even if the due date is far away from now

[2019-07-17 08:36] hiqua commented on #985
The format "%V" may not be supported by the Lua engine used (and its C library), and I think that os.date("%V") just fails silently (@smichel17 I guess this is intended, but wouldn't it be better if the script just failed instead? E.g., having only `os.this_function_does_not_exist()` in an `onFilter` function will show every task rather than failing).

 So another option would be:
* check if the d

[2019-07-17 09:17] mimmori commented on #985
Now it works correctly. Thanks.

Below an extract of the code to help who need it.

[code]

[2019-07-17 09:30] mpcjanssen commented on #985
I would prefer to keep the Lua stdlib file lean, so no large amount of commented code. I will create a scripting examples md file in the help assets. Snippets can then be added by PRs to this file.

[2019-07-17 09:30] mpcjanssen opened #992 "Add a help asset with Lua scripting examples."

[2019-07-17 09:31] mpcjanssen commented on #985
See #992

[2019-07-17 09:31] #985 closed

[2019-07-17 09:31] smichel17 commented on #985
Sorry it took me so long to get around to posting this, but here's some stuff from my Lua config that might be helpful, too:

[code]
Example usage:
[code]

[2019-07-17 09:33] smichel17 commented on #985
@mpcjanssen I don't mean adding functions to the stdlib, I mean pre-populating the user's lua config with some common helpful functions, which can then be edited or deleted if they want.

[2019-07-17 10:52] mpcjanssen commented on #985
@smichel17 ah right, I do not know if parsing all the commented code would make startup slower. I still prefer to add it to the help instead.

[2019-07-23 09:11] junior291492659 opened #993 "[Bug] Clear all the text in the "Update" page and updating again can double the same task"
#### General information

* **App version:**  10.3.0(the latest version in the google play )
* **System:** Android 6.0 (can be reproduced on an Android emulator 6.0 and a Redmi Note 4X phone )

#### Description

  I install the version 10.3.0 and start the app, click the floating button to create a task named "Task1" successfully, then click the task, click the "update" icon below to the "Update"

[2019-07-24 17:14] t214c commented on #498
Hi,

I really need this feature (AND).

Meanwhile, if  this can be done in Lua, could you provide a script for enabling this on any tags/lists combination? i.e. if multiple tags/lists are selected, show tasks with *both* not either.

Thanks :)

[2019-07-25 11:11] mpcjanssen commented on #498
@t214c lua doesn't enable this, you should write a custom Lua filter. If you need help please log a separate issue asking for help with details.

[2019-07-25 11:37] t214c commented on #498
You mean custom for each possible configuration?

[2019-07-25 11:40] t214c opened #994 "Help Request: Lua Filter to apply "AND" rule when combining tags/lists"
Could you provide a script for helping with filtering tasks that contain all tags/lists checked rather than any checked?

Thanks!

[2019-07-25 13:49] smichel17 commented on #498
Currently you can tap the List/Tag header to invert it. What it tapping it a 3rd time swapped it to ALL? So the 3 options would be: ANY / ALL / NONE. That should be relatively easy to implement -- very little new UI.

[2019-07-25 20:40] mpcjanssen commented on #994
You can't do this from a script,  i a script there is no way to get the state of the ui. You can make a script with specific tags and filters. Would that work?

[2019-07-26 13:58] mpcjanssen commented on #498
I like that, would be even better with some sort of indication of which mode is active.

[2019-07-26 14:02] mpcjanssen commented on #498
Maybe text indication is enough.

[2019-07-27 02:00] t214c commented on #498
Seconded. I suggest:
`Tasks with any of these tags:`
`Tasks with all of these tags:`
`Tasks without these tags:`

or something similar.

Can a default behavior be set in the settings, please? :)

And since we are on the topic, how about Showing how many tasks under each tag/list, [Like this](https://f-droid.org/repo/me.cgarcia.yarr/en-US/phoneScreenshots/screenshot_phone_2.png).

Thanks!

[2019-07-27 02:05] t214c commented on #994
Unfortunately, no. It would be too much hassle to do this for every desired combination.

Maybe [other methods](498) would be better. :)

[2019-07-27 15:52] mpcjanssen opened #995 "Add counts in navigation drawer"

[2019-07-27 15:54] mpcjanssen commented on #498
@t214c please don't add additional requests or topics to an issue. It makes it difficult to track progress. See #995

[2019-07-27 18:01] t214c commented on #498
OK. Sorry.

[2019-07-29 19:39] mpcjanssen commented on #498
@t214c no problem, keep the requests coming. It's much appreciated.

[2019-07-29 20:46] smichel17 commented on #498
I think we should start with text indication. We'd also need to change the inversion checkbox in the filter screen to a drop-down.

Making the functionality more discoverable is a separate problem -- present in the current UI whether or not we add "AND" sorting.

[2019-07-30 06:05] mpcjanssen commented on #498
One challenge left is how to implement this without breaking existing filters. Most natural would be a new field in the filter json which gets filled for existing filters based on the invert value.

[2019-07-30 10:35] smichel17 commented on #498
Agreed. We should probably also continue including the old key (when one of the existing options is in use), so that filters exported from a new version can still be imported into an old version. Then in a couple versions when most people have upgraded we can drop it. Doesn't affect parsing logic (try new key, fall back to old key), so it's not that much additional work.

[2019-07-30 10:47] mpcjanssen commented on #498
Old to new is not a requirement IMO.

[2019-07-30 10:56] smichel17 commented on #498
Not a requirement but it's also only a couple lines of code.

[code]

[2019-07-31 01:27] t214c commented on #498
Well, I commented at #41. Not sure if you saw it.

I have a few more but didn't want to add too many at a time, but since you asked :P

[2019-07-31 01:29] t214c opened #996 "Visual separation between adjacent tasks"
Show a separator or use a different background color for alternate lines to help tell multiline tasks apart

[2019-07-31 01:30] t214c opened #997 "Search results: Task unselect doesn't show search box again"
If filtered by search:
select a task from the results
unselect it
search box becomes hidden. It shouldn't.

[2019-07-31 05:35] smichel17 commented on #996
#808

[2019-07-31 06:03] mpcjanssen commented on #997
Handling these types of ui elements in Android is very tricky. But I will have a look.

[2019-07-31 14:43] dlicse opened #998 "AddTask activity changes its state after a screen orientation change"
When I change the orientation of the device screen, AddTask activity changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after) ...

-- first case --
"Cut, Copy, Paste" options disappear
![2019-07-24 12-26-47_before](https://user-images.githubusercontent.com/53469180/62221507-

[2019-07-31 14:45] dlicse opened #999 "FilterActivity changes its state after a screen orientation change"
When I change the orientation of the device screen, FilterActivity changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after) ...

-- first case --
The options disappear
![2019-07-25 03-06-43_before](https://user-images.githubusercontent.com/53469180/62221754-7af5f200-b3b2-11e

[2019-07-31 14:48] dlicse opened #1000 "HelpScreen activity changes its state after a screen orientation change"
When I change the orientation of the device screen, HelpScreen activity changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after) ..

-- first case--
The main text disappears
![2019-07-24 20-22-33_before](https://user-images.githubusercontent.com/53469180/62221975-d922d500-b3

[2019-07-31 14:53] dlicse opened #1001 "HistoryScreen activity changes its state after a screen orientation change"
When I change the orientation of the device screen, HistoryScreen activity changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after) ...

-- first case --
The menu situated on the right-bottom of the activity disappears
![2019-07-25 01-14-18_before](https://user-images.github

[2019-07-31 14:54] dlicse opened #1002 "Preferences activity doesn't keep the scroll position after a screen orientation change"
When I change the orientation of the device screen, Preferences activity doesn't keep the scroll position
![2019-07-24 15-08-22_before](https://user-images.githubusercontent.com/53469180/62222585-e9877f80-b3b3-11e9-8cae-ace33b18ce65.png)
![2019-07-24 15-08-22_after](https://user-images.githubusercontent.com/53469180/62222586-e9877f80-b3b3-11e9-964a-b1b4a3a3dbcf.png)

[2019-07-31 14:56] dlicse opened #1003 "ScriptConfigScreen activity changes its state after a screen orientation change"
When I change the orientation of the device screen, ScriptConfigScreen activity changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after) ...

-- first case --
The Dialog disappears
![2019-07-24 13-26-13_before](https://user-images.githubusercontent.com/53469180/62222702-176c

[2019-07-31 15:00] dlicse opened #1004 "Simpletask activity changes its state after a screen orientation change"
When I change the orientation of the device screen, Simpletask activity changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after) ...

-- fist case --
The menu loses the first element, "Search"
![2019-07-24 12-12-30_before](https://user-images.githubusercontent.com/53469180/6

[2019-08-01 07:07] mpcjanssen commented on #998
Reconfiguration handling in Android is a PITA. I am not very inclined to fix these issues. I wonder if the copy paste popup issue is fixable at all.

[2019-08-01 07:07] mpcjanssen commented on #999
Reconfiguration handling in Android is a PITA. I am not very inclined to fix these issues. I wonder if the popup scroll issue is fixable at all.

[2019-08-01 07:08] mpcjanssen commented on #1000
Reconfiguration handling in Android is a PITA. I am not very inclined to fix these issues.

The empty screen after rotation should be fixed though.

[2019-08-01 07:11] mpcjanssen commented on #1001
The main text doesn't really dissappear, it is showing the first item from the history again. This could be fixed. All menu popup issues are probably unfixable.

[2019-08-01 07:12] mpcjanssen commented on #998
@dlicse do you know any apps that handle this properly?

[2019-08-01 07:13] mpcjanssen commented on #1002
Reconfiguration handling is a PITA in Android. Probably not going to fix this. It's a mild inconvenience.

[2019-08-01 07:15] mpcjanssen commented on #1003
I don't think this is fixable on Android. @dlicse do you know of any apps where this works properly?

[2019-08-01 07:16] mpcjanssen commented on #1004
The dialog and the right drawer opening are purposely built this way to demonstrate the UI. Restoring dialogs and menus is probably not possible. @dlicse do you know of any apps where this works properly?

[2019-08-01 07:20] mpcjanssen commented on #998
Seems issues created by some automated process spamming hundreds of projects with the same minor issues. Wont fix unless there is anything where dataloss is occurring.

[2019-08-01 07:20] #998 closed

[2019-08-01 07:20] mpcjanssen commented on #999
Seems issues created by some automated process spamming hundreds of projects with the same minor issues. Wont fix unless there is anything where dataloss is occurring.

[2019-08-01 07:20] #999 closed

[2019-08-01 07:20] #1002 closed

[2019-08-01 07:23] mpcjanssen commented on #1001
Seems issues created by some automated process spamming hundreds of projects with the same minor issues. Wont fix unless there is anything where dataloss is occurring.

[2019-08-01 07:23] #1001 closed

[2019-08-01 07:24] mpcjanssen commented on #1003
Seems issues created by some automated process spamming hundreds of projects with the same minor issues. Wont fix unless there is anything where dataloss is occurring.

[2019-08-01 07:24] #1003 closed

[2019-08-01 07:24] mpcjanssen commented on #1004
Seems issues created by some automated process spamming hundreds of projects with the same minor issues. Wont fix unless there is anything where dataloss is occurring.

[2019-08-01 07:24] #1004 closed

[2019-08-01 09:13] dlicse commented on #1004
Thank you for your answer, I opened these issues for research purpose. I would like to know whether you consider them as failure and yes, I know apps in which such problems do not manifest.

[2019-08-01 09:49] mpcjanssen commented on #1004
@dlicse can you give an actual example? Even the google apps exhibit the same behavior. Only real way to fix it is to not use menus or popups.

[2019-08-01 11:33] dlicse commented on #1004
For example, here nothing happens when I rotate the screen two times, I analyzed a large number of apps and I'm trying to figure out whether the developers accept the issues I posted as failures. Thank you for your contribute.
![2019-07-21 19-30-08_before](https://user-images.githubusercontent.com/53469180/62290008-89024c00-b460-11e9-83c3-1fcc85d6c5da.png)
![2019-07-21 19-30-08_after](https://user

[2019-08-01 11:43] mpcjanssen commented on #1004
@dlicse you would probably have a higher success rate with your checks if:

1. You would discuss with the developer that you are going to do this check and if they would think it's useful.
2. Only log a single issue describing all the failures.

Your current approach is very close to spam.

[2019-08-01 11:52] dlicse commented on #1004
Maybe you are right, I opened one issue for every activity in which I found these problems. I'm currently collecting the answers of the developers.

[2019-08-01 11:54] mpcjanssen commented on #1004
Main issue I have with all this is that it requires quite some time for me to review with very little value in return. Most of the detected issues are cosmetic and not really a big deal.

[2019-08-01 11:57] mpcjanssen commented on #966
Quick workaround, select a single task and then press the select all icon on the top of the screen. This will show total currently visible task count.

[2019-08-01 12:02] mpcjanssen commented on #1004
Search box issue is related to #997.

[2019-08-01 13:53] smichel17 commented on #1001
In my opinion, this functionality -- at least in its basic form -- ought to be provided by the Android SDK.

Currently, when the device is rotated, Android recreates dialogs and some other elements from scratch. In order to have them reflect previous state, developers need to hand-code that persistence. That is, any time the contents of a dialog change in response to user input, you have to save t

[2019-08-01 13:55] smichel17 commented on #966
Also, when you are using a filter, it will show "(visible/total)" right before "Filtered on:"

[2019-08-11 15:53] tomtom opened #1005 "FR: Provide a simple text editor (for notes etc.)"
Since opening links under root makes simpletodo crash (see bug #709), it would be nice if simpletodo provided a simple text editor to open notes (and maybe create new notes if the file does not yet exist) under the root directory.

My personal use case: Edit markdown files under a ``root://notes`` subdirectory.

[2019-08-13 15:28] wtanksleyjr commented on #806
According to the reviews on the Play store this feature is abandoned.

I need one part of this feature, specifically the ability to hide my UUIDs from user visibility -- they're just too big. Is there any way to do it? The last post here asks a question about "onDisplay" that sounds useful, except that I don't know what he means by "onDisplay".

[2019-08-13 19:56] smichel17 commented on #806
onDisplay is a lua function you can implement to control which parts of the task are shown.

[2019-08-13 20:14] wtanksleyjr commented on #806
Thanks, I see.. That looks like it should work. I'll have to check it out!

[2019-08-14 10:01] mpcjanssen commented on #806
@wtanksleyjr I will restore the functionality behind the UUID setting.

[2019-08-14 16:22] wtanksleyjr commented on #806
What I'm trying to do is build a booklist that's updated by my own library-tracking app, and also accepts user modifications. The problem is that the resulting sync seems to create _disastrous_ conflicts, so I'm trying to add UUIDs so I can merge.

I've done a bit more research, though, and I think the real problem is Syncthing-Android. It seems to depend on the file modification times, which are

[2019-08-15 11:37] mpcjanssen commented on #993
Thanks for the clear bug report. This should be fixed in the next version.

[2019-08-17 12:11] lucker999 opened #1006 "Future / Threshold start date conflict with other todo.txt apps"
Hello Mark,

Thank you for very convenient and powerful app to manage tasks. I like almost all in your app especially MYN compatibility. Alas, there is one issue.

The problem is with theshold date. As I understand it intends to indicate a date when a task should be started (and appear in the list if a filter applied). In order to achieve this your app add additional t:YYYY-MM-DD record to a task.

[2019-08-18 07:57] mpcjanssen commented on #1006
Menu -> Filter -> Other tab select create is threshold.

[2019-08-18 08:32] mpcjanssen commented on #1006
Create is threshold was one of the first things I added after adding the threshold function. To aid in compatibility this was indeed created as a (filter specific) option as you suggested. So I couldn't agree more with you request 😄

[2019-08-18 11:58] lucker999 commented on #1006
Ok, then let's find out why it doesn't work for me.

I have a task with a date in the future:
`(A) 2019-08-20 Test task from phone`
It suppose to be hidden if I check "Create is threshold" AND uncheck "Show tasks with theshold dates in future" simultaneously. Alas, this doesn't provide expected results, neither in the app nor in widget. Actually I tried this option before I open the thread.

I hav

[2019-08-18 12:01] lucker999 commented on #1006
Also, with the option "Show tasks' age" I see the actual date in future. For other tasks it shows "yesterday", "two days ago", etc.

[2019-08-18 15:37] lucker999 commented on #1006
BTW, I use the latest Simpletask Nextcloud version 10.3.1.3212 from play store.

[2019-08-18 19:18] mpcjanssen commented on #1006
I suspect hide tasks in the future doesn't obey the create is threshold setting.

[2019-08-18 19:19] mpcjanssen commented on #1006
Also ages in the future are shown as dates on purpose. This is not a bug.

[2019-08-18 21:37] bshanks commented on #293
+1

[2019-08-19 05:53] Abies-sand opened #1007 "Sort by Due or Threshold Date does not work"
## Description
Sorting by Due Date or Threshold Date does not work.

## Versions and device
- SimpleTask (Cloudless)  10.3.0
- Android  9
- MI9

## Steps to Reproduce
1. Create two same tasks with different due dates only.
2. Choose Filter on the top right corner.
3. Choose  "SORT" and Click "Due Date" (Threshold Date) to change ascending or descending order.

### Actual behaviour
The order of tas

[2019-08-19 06:22] Abies-sand opened #1008 "Scroll position changes on Device Rotation"
## Versions and device
- SimpleTask (Cloudless)  10.3.0
- Android  9
- MI9

## Steps to Reproduce
1. Open task list
2. Scroll down
3. Orientation change

### Actual behaviour
The previous scroll position disappears and it goes back to the head of the list
### Expected behaviour
The scroll position persists

[2019-08-19 07:52] Abies-sand opened #1009 "Sync does not work"
## Description
I have Nextcloud and Dropbox on my phone, but the Sync function of SimpleTask (Cloudless) does not work.
## Versions and device
- SimpleTask (Cloudless)  10.3.0
- Android  9
- MI9

## Steps to Reproduce
1. Create tasks and Save
2. Click "Sync" from the three dots on the right top corner

### Actual behaviour
Nothing happens.
### Expected behaviour
Something about Sync shows

If the

[2019-08-19 09:01] aubreyz commented on #1009
It is not clear what you expect to happen? How do you know it does not force a sync?
Have you tried changing an entry and have then found that the dropbox and phone versions are not the same?

[2019-08-19 09:12] aubreyz commented on #1007
It works fine for me. What do you mean "Click" the dates? The sorting items have to be in an order (what is on the top of the list?, where does due date feature in the sorting list?) If there is an issue, you will need to be more precise so that it can be reproduced by others.

[2019-08-19 09:22] aubreyz commented on #1007
Do the below series of screenshots help you?

![tempshots](https://user-images.githubusercontent.com/25100168/63254177-2b953a00-c26b-11e9-869f-af0128abc8b5.jpg)

[2019-08-19 09:37] aubreyz opened #1010 "Knowing which file you are using (two enhancements)"
There is only one thing that makes using multiple todo.txt files difficult and that is knowing which file you are currently looking at (and avoiding mistakes made by entering data into the incorrect file). That is apart from the inability to keep a separate filter set which has been discussed elsewhere... Can I suggest the following

a) The best solution - make it possibly to vary the background c

[2019-08-19 09:57] mpcjanssen commented on #1010
@aubreyz there is already a "Show where todo file is stored" setting in Settings->Other which will show the (abbreviated) path to the todo file.

[2019-08-19 09:58] mpcjanssen commented on #1007
@Abies-sand you will need to drag and drop the Threshold and Due date sorts to the top of the list. By default they are very low so the sorts above override the setting.

[2019-08-19 09:59] mpcjanssen commented on #1008
Duplicate of #941 .

[2019-08-19 09:59] #1008 closed

[2019-08-19 10:02] mpcjanssen commented on #1009
Cloudless doesn't do any sync. In order to sync with Nextcloud or Dropbox use Simpletask Nextcloud and Simpletask instead.
The sync button forces a reload from the todo file from the file system. As such it should probably be renamed.

[2019-08-19 12:04] aubreyz commented on #1010
Ah, that is useful - I missed that setting. Having it even more obvious would be useful.

[2019-08-19 12:24] aubreyz commented on #506
I'm going to bump this too. The widget would be useful if you could see more than 4 tasks on a full-screen phone widget (where I can see around 20 within the app at a reasonable font size). This was said to be "easy"

[2019-08-19 12:32] lucker999 commented on #1006
So, how I can make the tasks in the future obey? :) It's really frustrating...

Also, I noticed strange filter behavior. If I open the app by tapping on widget header, the filter from widget apply to the list instead of filter from the app.

[2019-08-19 13:04] aubreyz commented on #1006
I can confirm that -- but it makes perfect sense to me that it should work that way. If it just chose any other random filter, the stuff shown may have nothing to do with the widget which is how you got to the app on this occasion.

[2019-08-19 13:09] Abies-sand commented on #1007
@aubreyz Sorry for my unclear description. And the screenshots do help me figure out how to sort when I notice the Due Date is at the top of the list, as @mpcjanssen pointed out.
The sort works fine for me now. Thanks a lot.

[2019-08-19 13:13] aubreyz commented on #959
This is a note I left elsewhere but it seems more appropriate here.

I think your thought above of including the file name in the filter is the perfect solution.
I also disagree with you about the ease of keeping everything in one giant todo.txt file. There are several issues with this a) privacy if files shared with someone else b) complete irrelevance of totally discrepant data (I have a massive

[2019-08-19 13:30] mpcjanssen commented on #506
easy as in: "Don't hesitate to create a PR" :) Easy doesn't mean it's high prio. I have limited time, I also don't use the widgets so I have not much itch to scratch here.

[2019-08-19 13:32] mpcjanssen commented on #1006
@lucker999 what do you mean with:

 As I mentioned this is probably a bug, because I never considered the create date in the future scenario.

[2019-08-19 13:33] mpcjanssen commented on #1006
Widget header opening the app with the filter from that widget works as designed because of the reason @aubreyz mentioned and is not going to change.

[2019-08-19 13:34] #1007 closed

[2019-08-19 14:32] lucker999 commented on #1006
Sorry, I guess I just missed the added bug (perhaps I answered from email or something). Nevermind. I am happy to wait for the bugfix.

Thank you once more for the awesome app!

[2019-08-19 15:11] arthur-star commented on #1007
Yes. Before I read this issue, I don't know is the method to rearrange the list is hold and drag. I tried to click the list item, the up arrow turns down, which make me confused.

Because this list is not a multi-level list, using arrow icons are misleading. Below implementation should be better for good user experience.

![image](https://user-images.githubusercontent.com/53738161/63276462-fe31a60

[2019-08-19 18:12] mpcjanssen commented on #1006
The task `inFuture` method should take create is threshold into account.

https://github.com/mpcjanssen/simpletask-android/blob/development/app/src/main/java/nl/mpcjanssen/simpletask/task/Task.kt#L241

[2019-08-20 06:12] mpcjanssen commented on #1007
The arrows do determine the sort order. I probably should re-add the drag and drop sash though.

[2019-08-20 06:42] arthur-star opened #1011 "Not check the existence of the root directory"
Not check the existence of the root directory

## Steps to reproduce

1. app home->three points(option) button->setting->other
2. Set the root directory to a path that does not exist

## Actually

The set operation is successful and has no effect on opening the task list file function.

## Expected

If the root directory does not exist, it should not be successful, else opening the task list file

[2019-08-20 08:00] mpcjanssen commented on #1011
That is not what the root directory is used for. The root directory is used for resolving root:// links in your task file. It is deliberately not related to the task list location. I should probably rethink the whole root:// thing considering changes to direct file access in newer android versions.

[2019-08-20 16:54] thehungryturnip opened #1012 "Unable to see "/sdcard""
I tried use DriveSync to sync my todo.txt under /sdcard/DriveSync, but cannot access it in the Simpletask menu: in the "Open task list file" menu, I can only see my SD card in "/storage" and nothing in "/".

I'm not sure if there's a permission I'm missing that allows Simpletask to access the internal storage.

[2019-08-20 17:32] thehungryturnip commented on #1012
Observation: after a fresh installation, where the default directory is in the internal SD card, the folders are visible, but if you navigate out of the SD card (e.g. /storage), the SD card is no longer visible/selectable.

[2019-08-21 08:11] mpcjanssen commented on #1012
When you go to the root folder, No locations are visible. I will add /sdcard and /storage there so that you can browse into it.

[2019-08-21 08:40] mpcjanssen commented on #1012
It's not a good idea to hardcode `/sdcard`. Instead you will now be able to select the default external storage. For me this is `/storage/emulated/0` which is actually the same location as `/sdcard`

[2019-08-21 10:25] aubreyz opened #1013 "Getting file links to work - links halt simpletask"
I thought I would try linking to a few external files for some more complex tasks. However no matter what I try simpletask terminates

I have tried all sorts of combinations of definitions for the root in settings, and all sorts of combinations of either

root://link

or

file://link

and the outcome is the same. Am I doing something wrong?

A typical series of screenshots is attached
![simpletask

[2019-08-21 10:33] mpcjanssen commented on #1013
`root://` and `file://` are broken (possibly beyond repair) on newer versions of Android. Much more reliable and future proof is to share the external file with simpletask. This wil create a task with a `content://` link which should work.

[2019-08-21 10:49] aubreyz commented on #1013
I have also tried content:// which does offer to open the file but
It does not open the file when the action is clicked (but does not crash) - it just does nothing.

Maybe I am doing something wrong - I hope so? but as a simple test, just making a task of the type
content://full-path-to-the-file/test.txt
does offer to open (without offering any choice of app to open it with), but nothing is opened

[2019-08-21 10:52] mpcjanssen commented on #1013
No you need an actual shared link to the content while sharing it with simpletask. content://full-path will definitely not work.

[2019-08-21 10:53] mpcjanssen commented on #1013
So:
1. open the external file in the app that can view it.
2. Share the document with Simpletask (using the share function in the viewing application)
3. Open the document from Simpletask.

[2019-08-21 11:05] mpcjanssen commented on #1005
This would be much better served by using a dedicated note application and sharing the notes with simpletask. You can then use the `content://` link to open the note.

I am not going to include a note taking functionality.

[2019-08-21 11:05] #1005 closed

[2019-08-21 11:20] aubreyz commented on #1013
OK -- that worked for an image file and an audio recording (though the path in the contents lines were nothing I could recognise). However for a text file it caused havoc -- because on sharing very line in the text file became a new task item.... (I also tried from a filemanager - sold explorer - to share a file, and the same happened).

So couldn't figure out a way to get the shared link to conte

[2019-08-21 12:25] aubreyz commented on #1013
I also tried sharing from a couple of text editor apps (Markor, and Quickedit Pro) - they didn't work either. Is it possible that at the simpletask end it handles a share of text (or a text file) by not creating a content://item but rather creating items from the file?

[2019-08-21 12:28] mpcjanssen commented on #1013
Right that side effect has tripped me up on occassion as well. I will look into a better way to handle this.

[2019-08-21 12:30] aubreyz commented on #1013
Thanks for all your help here with this great app

[2019-08-21 12:30] mpcjanssen commented on #1013
Right now, Simpletask inserts the full text for all `text/*` mime types. I think I will split this into two share targets, one which will share the link to Simpletask and one which will share the contents.

[2019-08-21 12:34] aubreyz commented on #1013
That would be great -- in reality I think text files are the most useful to link as a means of having task extended task notes.

As an aside could the permissions issue not be overcome by allowing use of linked files with conventional paths in the same folder as that used for the todo.txt files?

[2019-08-21 12:52] mpcjanssen commented on #1013
Using files in the same folder as todo.txt doesn't really change the scenario and it will not work for the Nextcloud and Dropbox version where there is no local todo.txt folder.

The new share link target will help. I might still look into the original issue if I have time, but I find the sharing approach much more elegant and robust.

[2019-08-21 13:01] aubreyz commented on #1013
That was speedy - will check it out when I get the update.

[2019-08-21 13:30] mpcjanssen commented on #1013
Update is not going to be released any time soon, but you can get the latest version at https://ww.mpcjanssen.nl/artifacts

[2019-08-21 18:15] tomtom commented on #1005
May I kindly ask, what is a content link? I know simpletask supports root:// and file:// but content:// is new to me.

[2019-08-21 18:20] tomtom commented on #1005
Ok, I see now. But this isn't compatible with any other OS. The beauty of todo.txt (and simpletask) is that it works on many platforms.

[2019-08-21 18:24] mpcjanssen commented on #1005
True but linking to another file is pretty much impossible to make work over all platforms. Linking to an URL still works fine.

[2019-08-22 19:39] tomtom commented on #1005
I don't know Android, but couldn't you use the mechanism for content:// links for root:// links (after replacing root:// with content://..../folder/? Is it absolutely necessary to expose the whole machinery to the user? I would be fine with root:// links if they worked.

[2019-08-22 20:07] mpcjanssen commented on #1005
Unfortunately, that's not how content:// links work. The links themself generally don't make sense. I still need to look into the root:// error though.

[2019-08-24 10:33] lucker999 opened #1014 "Options for sync (Nextcloud)"
Hello Mark,

I would like to propose a couple option to improve battery drain. Currently the app is the most consuming battery in my phone! I run it on Android 5.1 without Gapps and sync with my Nextcloud installation. It wakes my phone about 4 time per hour and BBS shows that it is responsible for 27% of battery drain. I'm not sure, but I guess it doesn't allow the phone to sleep (need more testi

[2019-08-24 19:13] mpcjanssen commented on #1014
Before implementing complicated sync scheduling schemes, i would like to understand why the battery drain is so high.
Sync uses an android alarm manager, this shouldn't prevent sleep.

Do you have spotty network coverage? Whenever the phone comes online, simpletask syncs again. Maybe this is causing the drain.

[2019-08-24 20:47] aubreyz commented on #1014
I'm using the dropbox version. I just checked and simpletask accounts for <1% of my battery usage (I use it directly for at least an hour a day). It shows as "Battery optimisation" on.

[2019-08-26 06:57] lucker999 commented on #1014
Please excuse me or the delay with response. First of all I have to gather proofs: I laid the phone without use at home for the largest part of the day (see screenshots). Usually the Garmin app and bluetooth are miles ahead of the other apps by consumption.
[1](https://nc.shershidsky.eu/index.php/f/36167), [2](https://nc.shershidsky.eu/index.php/f/36168), [3](https://nc.shershidsky.eu/index.php/f/

[2019-08-26 08:12] aubreyz commented on #1014
None of the screenshot links are connected to live images. Your last paragraph suggests a nextcloud issue rather than a simpletask one? Some googling does suggests that nextcloud (and Meizu) are related to a lot of battery problems on some phones. though I have used neither.

[2019-08-26 08:19] mpcjanssen commented on #1014
@lucker999 : Simpletask uses the same library as the official nextcloud client, so if you have problems with the client that might explain. You could check the logging to see if something weird shows up (Settings->Other->View debug log)

[2019-08-26 09:07] lucker999 commented on #1014
corrected

For all I know, there are some cases in which android nextcloud app works flawlessly, and some in which it drain battery. Last time I checked the nextcloud forum regarding the issue (about 3-4 months ago) developers answered that they can do nothing about it and suggested to accept that it could or couldn't work correctly.

I know about this attitude toward the nextcloud app, but I star

[2019-08-26 09:28] smichel17 commented on #1014
The high battery usage is probably because Simpletask uses `RTC_WAKEUP` and `ELAPSED_REALTIME_WAKEUP` instead of `RTC` and `ELAPSED_REALTIME` alarm types, here: https://github.com/mpcjanssen/simpletask-android/blob/19d9804d9766d3d0c691ec1d88b4a9477bf5568c/app/src/main/java/nl/mpcjanssen/simpletask/TodoApplication.kt#L139

[2019-08-26 11:04] mpcjanssen commented on #1014
@lucker999 the 4 wake ups per hour are expected (the battery drain isn't).
I will make a test build without background sync to see if this changes the battery drain and confirm that that is the issue instead of the actual sync draining.
Simpletask always checks the  remote file when it's activated so it should not make much of a difference.

[2019-08-26 11:22] mpcjanssen commented on #1014
@lucker999 can you try with: https://www.mpcjanssen.nl/artifacts/app-nextcloud-release-no-bg-sync.apk

[2019-08-26 18:33] lucker999 commented on #1014
@mpcjanssen thanks for the link. As expected, for more than 6 hours no trace of the app in battery stats as well as in BBS.
The sync performed very fast when I launch the app. No delay whatsoever (frankly this somehow surprised me)

[2019-09-06 13:16] avierax opened #1015 "I get a blank task list every time I add a new task"
Every time I add a new task the app shows me a blank task list.

![image](https://user-images.githubusercontent.com/4680369/64430618-9f667d80-d086-11e9-9050-d53a34db7b9c.png)

![image](https://user-images.githubusercontent.com/4680369/64430631-a68d8b80-d086-11e9-8135-b0b911417a89.png)

If I immediately reopen the task file again I can see the recently added task there.
"... > Open Task List File >

[2019-09-07 05:52] mpcjanssen commented on #1015
Could you add the log file from Settings->Other->Debug log?

[2019-09-07 14:08] moosavy opened #1016 "Creating a widget with only project/tags names"
Hi
I want to do my work based on projects. Many of my tasks have multi steps. So they must be register as a project. But I don't know how to make a widget on screen to display only project names, which then I can tap on any project name and then simpletask opens with the task related to that project.
Please guide me to do this.

[2019-09-07 15:24] avierax commented on #1015
I have just included the logs in the main description of the issue.

Take a look.

[2019-09-07 15:28] avierax commented on #1015
I'm not using dropbox or any other cloud. I'm just using a cloudless version and a local file. I don't even have a dropbox account.

[2019-09-08 07:45] mpcjanssen commented on #1016
This is not possible.

[2019-09-08 07:47] mpcjanssen commented on #1015
@avierax just to confirm, you are not modifying the task list in the background?

[2019-09-08 07:48] mpcjanssen commented on #1015
I think the background file monitoring is acting up, I will prepare a version without this later this week so you can test.

[2019-09-08 13:24] avierax commented on #1015
No, not at all. In fact the task I add is being correctly shown up if I reopen the file.

I'm using the application with a workaround. Everytime I add a new task I have to reopen the task list file.

All other actions work well: mark as done, delete.

[2019-09-08 13:25] avierax commented on #1015
UPDATE: The bug is also reproducible if I edit an already existing task. I'll update the issue description.

[2019-09-08 14:02] moosavy commented on #780
Hi @smichel17
why you have uploaded saved_filter.txt file? You didn't say anything about that. Also I think that newer versions of simpletask have different UI from what you explained on this post.
Please update you guide.

[2019-09-09 13:29] mpcjanssen commented on #1015
@avierax could you try with the debug build from https://www.mpcjanssen.nl/artifacts/bug-1015/app-cloudless-debug.apk ? You can install this next to the Playstore version.

[2019-09-11 17:11] mpcjanssen commented on #969
It does suppport appending. The storageframework branch has a working im implementation. Added benefit all storage providers are supported in one app.

[2019-09-13 18:22] avierax commented on #1015
Sorry for my late reply. I'm now installing the version you prepared. I'll
feedback as soon as I'm able.

On Mon, Sep 9, 2019 at 9:29 AM Mark Janssen <notifications@github.com>
wrote:

[2019-09-13 18:28] avierax commented on #1015
[code]

[2019-09-14 16:56] mpcjanssen commented on #1015
Somehow the file got cleared after simpletask saving it. I can't really think of a reason why. When you add some tasks to todo.txt and check the file later with some other program, are the tasks still there?

[2019-09-14 17:18] mpcjanssen commented on #1015
@avierax can you also try with Storage Framework version which is a work in progress. You can download a test build from: https://www.mpcjanssen.nl/artifacts/saf ? Be aware that installing this version will remove any widgets you might have so if you stille have a lot of widgets configured, don't install this. (or use the debug version)

[2019-09-14 20:36] avierax commented on #1015
No, the file is there and contains it's text also with the latest added
task. This is the only way I'm using the app now. I add a task using the
widget and never directly from the app to avoid this bug.

On Sat, Sep 14, 2019, 12:56 PM Mark Janssen <notifications@github.com>
wrote:

[2019-09-24 00:46] gryftir opened #1017 "Reoccuring task by week of the month"
I have certain tasks that reoccur monthly, but not on a particular date. Rather they are the second and fourth Fridays.  I occasionally have tasks for the last friday of a month, or the last weekend in October. I'm wondering if simpleTask can handle those with it's rec:processing?

If not would a feature like that be something you'd consider adding?

[2019-09-25 11:56] jan-gerard opened #1018 "Tasklist scrolls back to the top everytime screen is turned back on"
Every time I switch on my phone again (after it's switched off by regular screen timeout or manually) the focus jumps back to the top of the list. This is extremely annoying since typically I have to scroll all the way back down to where I was.

[2019-09-25 12:00] mpcjanssen commented on #1018
Same cause as #941.

[2019-09-25 12:00] #1018 closed

[2019-09-25 12:22] jan-gerard commented on #941
Maybe it's possible to store the scroll position when scrolling or re-ordering occurs.
Then, if no manual scroll was triggered, but the current scroll position appears different from the previous (after turning screen of and back on for exae) , the app could move to the stored position.

[2019-09-25 12:32] mpcjanssen commented on #941
@jan-gerard that is what the code tries to do now, but it doesn't work

[2019-09-25 12:59] jan-gerard commented on #941
Ah, I didn't know that. Is the stored scroll position lost after screen off/on, or does the programmatic scrolling to restore the position not work?

[2019-09-25 14:56] mpcjanssen commented on #941
Restoring doesn't seem to work.

[2019-09-28 12:53] mpcjanssen commented on #941
development branch should now properly restore the scrolling position.

[2019-09-29 11:33] mpcjanssen commented on #1017
This is currently not supported. I would consider adding this if it doesn't break or modify the existing recurrence functionality.

[2019-09-29 11:33] #1016 closed

[2019-09-29 11:35] mpcjanssen commented on #1015
@avierax did you try with the version https://www.mpcjanssen.nl/artifacts/saf/app-release.apk

[2019-09-29 12:59] jan-gerard commented on #941
Great! Glad you fixed it. Do you want me to test it somehow?

[2019-09-29 16:15] mpcjanssen commented on #941
@jan-gerard you could try a development build from https://www.mpcjanssen.nl/artifacts

[2019-09-29 18:26] avierax commented on #1015
Just tried it. Works fine again. Just curious what was that?? 😃

On Sun, Sep 29, 2019, 7:35 AM Mark Janssen <notifications@github.com> wrote:

[2019-09-30 08:16] mpcjanssen commented on #1015
Not sure really, but I think it had to do with the change listener. I will need to investigate further before this can go in the production version. But this at least gives me an idea where to look.

[2019-10-10 17:39] rptb1 opened #1019 "Add support for #tags such as #short #easy #vague"
Some versions of Todo.txt allow arbitrary tags using the hashtag format. It would be nice if Simpletask has a tag menu and supported filtering and sorting by tags, adding '#' as another dimension to the '@' and '+' tags. It would make it easy to work with tasks with extra properties.

For example, I like to tag some tasks as '#easy' or '#short' so that I can choose them when I'm tired or pressed f

[2019-10-11 07:52] mpcjanssen commented on #1019
This is the main reason simpletask uses lists and tags as terms for @ and + instead of context and project. See https://github.com/mpcjanssen/simpletask-android/blob/master/app/src/main/assets/listsandtags.en.md

So short answer use `+`. I am not going to add `#` considering `+easy` would work fine.

[2019-10-11 16:34] smichel17 commented on #1019
If you want to create a pseudo-grouping of tags, you can do something like `+#easy`.

[2019-10-13 19:12] mimmori opened #1020 "Review mode"
it would be really useful to implement a review mode that allows you to quickly filter one element at a time (both project and context).

The simplest way would be to introduce a button in the filter panel which, if only one element is selected, allows you to select the next one and deselecting the previous one.

[2019-10-14 08:08] mpcjanssen commented on #1020
Between the two filter drawers and the automatic headers when the list is sorted on lists or tags (contexts and projects), I only see limited added value with this addition. And it will further clutter an already complex interface.
So probably not going to be added.

[2019-10-14 12:56] mimmori commented on #1020
the algorithm used to list the activities has a bug that does not allow to see the single activity under all relative contexts. To be sure I have to filter one context at a time, but this operation is very slow (deselecting the previous context and selecting the next one)

[2019-10-14 17:46] mpcjanssen commented on #1020
Do you have a lot of contexts so that open left drawer and select next is slow? Retaining the drawer scroll position and offering a single select option would be something I would consider adding.

[2019-10-14 17:48] mpcjanssen commented on #1020
Single select mode would also close the drawe after selecting.

[2019-10-14 17:57] mimmori commented on #1020
I do not have a lot of context but every time I want to check one I have to scroll the list. I think the single select mode and retain position could solve this issue.

[2019-10-20 01:36] smichel17 commented on #1020
It sounds like scrolling the list is the problem. If the list did not reset position each time, it would not be very much effort to unselect the previous before serving the next.

That is, I think fixing #820 would probably be enough.

[2019-10-20 17:26] mimmori commented on #1020
I think could be a good workaround.
Thanks

[2019-10-20 17:26] #1020 closed

[2019-10-21 09:21] silviuvulcan opened #1021 "simpletask nextcloud bug"
I'm migrating from dropbox to nextcloud so I'm trying out the simpletask nextcloud version of the application. I think I found a peculiar bug. I can't open the task list if it's stored inside a **"todo.txt" folder**.

So I have:

`nextcloudroot/todo.txt/todo.txt` and `nextcloudroot/todo.txt/done.txt` and in the Android
application I get:

"Loading of todo file failed" and in the task list I see on

[2019-10-21 14:53] mpcjanssen commented on #1021
todo.txt is the default name for the todo file,  so simpletask tries to open the folder as a file. This explains the error. Using the open todo file menu item should allow you to open the proper location after that.

[2019-10-21 15:18] silviuvulcan commented on #1021
I thought but it doesn't. After selecting `nextcloudroot/todo.txt/todo.txt` and getting the error I can't select any other folder - it keeps showing me the root of my nextcloud. I have to clear storage from android and start again from nextcloud loging. I imagine the identical name with the file being the issue - and it's not a big issue as I renamed the folder. Figured you still want to know abou

[2019-10-29 08:28] jonaheinrichs opened #1022 "Can not write to external SD card"
The app can read and I can edit tasks, but it always shows: "Saving of todo file failed" and it does not save changes on the external SD-card.
On the external SD-card I sync the Markor-Markup-files and the todo.txt file to:

This path I use to sync the files via Syncthing to my other devices.
Markor can read and write to this folder, but Simpletask does not.

It would be nice if it would be possib

[2019-10-29 19:00] mpcjanssen commented on #1022
You could try the version at https://www.mpcjanssen.nl/artifacts/saf/app-release.apk which is an experimental version using the storage access framework.

[2019-10-29 21:57] jonaheinrichs commented on #1022
Wow, nice, with this APK it works! 🙂

[2019-11-06 18:32] srednax opened #1023 "syncing with nextcloud does not always work correctly"
I installed Simpletask Nextcloud (again), and it works fine except it does not sync correctly. If I edit the file on the server, adding a line, this sometimes shows up very briefly in the app, but then dissapears. Pressing "Sync" in the menu does not help. Just now, I added a task using the nextcloud built-in editor, and after starting simpletask it showed up, along with earlier changes. This does

[2019-11-06 18:35] srednax commented on #1023
Next I added a task on the app. It is not visible in the app now, but the nextcloud file has it.

[2019-11-06 18:44] srednax commented on #1023
THIS SHOULD NOT BE CLOSED!!!!!

[2019-11-06 18:56] srednax commented on #1023
Adding a task in the app while it is out of sync whith the NC server, the server isn't updated. Pressing "Sync" does not help.

[2019-11-06 19:27] srednax commented on #1023
Now after some time, the file on the server is overwritten with the old version of the file, used by the app on my phone. Changes made to the file on the server is now lost. I did press "Sync" on the app a few times, in the hope of seing it update to the latest version, but no luck. Does the "Sync" button do anything at all? (either it deleted the file on the server, or the app did that for some o

[2019-11-06 19:36] srednax commented on #1023
The file on the NC server is updated correctly. But I don't think it is feasible to use the same file on more devices, or to edit the file on the NC server. And I consider this a relatively bad bug, as it may lead to data loss.

[2019-11-07 08:25] mpcjanssen commented on #1023
Indeed a very bad bug. I suspect the code which tries to determine if the server version of the file is newer is not working correctly. I will look into this.

[2019-11-07 08:26] mpcjanssen commented on #1023
Could you provide some logging (Settings->Other->View debug log) ?

[2019-11-07 08:26] mpcjanssen commented on #1023
As far as I can see you closed it yourself :) Be assured I take possible data loss very seriously.

[2019-11-07 09:00] srednax commented on #1023
torsdag den 7. november 2019 09.26.58 CET skrev Mark Janssen:

Yes, I am not very fluent in github theese days... I tried to reopen, which
appearently worked. :)

[2019-11-07 09:01] srednax commented on #1023
torsdag den 7. november 2019 09.26.13 CET skrev Mark Janssen:

Absoltely, here goes:

--------- beginning of system
11-06 20:28:46.682 25692 25692 D TextClassifierService: No configured system
TextClassifierService
--------- beginning of main
11-07 09:58:47.862 17245 17245 I AlarmReceiver: Executing Alarm callback
11-07 09:58:47.864 17245 17245 I Util    : Sending file changed broadcast
11-07 09:5

[2019-11-07 10:40] mpcjanssen commented on #1023
Could you try your scenarios again with the Nextcloud release version from https://www.mpcjanssen.nl/artifacts/ ? It has better logging.

[2019-11-07 13:30] srednax commented on #1023
Here is a log from the new package, similar result.

--------- beginning of system
11-06 20:28:46.682 25692 25692 D TextClassifierService: No configured system TextClassifierService
--------- beginning of main
11-07 14:23:30.458  9853  9853 I Simpletask: onResume
11-07 14:23:30.458  9853  9853 D TodoList: Reload: Main activity resume
11-07 14:23:30.458  9853  9853 I Util    : Sending file sync sta

[2019-11-07 18:50] mpcjanssen commented on #1023
It seems the change is detected but the new remote contents are never persisted in the local cache.

[2019-11-07 19:04] mpcjanssen commented on #1023
If you changed the remote file, used sync and then terminating simpletask by swiping it from the app list. Do you then see the remote changes when you reopen simpletask?

[2019-11-07 22:10] srednax commented on #1023
torsdag den 7. november 2019 20.04.23 CET skrev Mark Janssen:

That has worked some times, but sometimes the file on the server has been
overwritten by the file from the android device.

My nc server at nc.alweb.dk is currently not working, but I got an account on
thegood.cloud, which appears to work better. I will do some tests with that
tomorrow.

--
Anders

[2019-11-08 11:07] mpcjanssen commented on #1023
I have made some more changes and uploaded an updated version to https://www.mpcjanssen.nl/artifacts could you try with that version again.

[2019-11-10 12:35] srednax commented on #1023
I'm testing, but meanwhile I updated nextcloud, and that made things much better, l do not experience problems now.

I do have a suggestion though, an that is to automatically create pr list views, and to navigate them by swiping horizontally.

I also think the default order should be order of creation/order in file, and it should be possible to reorder items by dragging them. Ordering by using pr

[2019-11-10 17:27] mpcjanssen commented on #1023
I am a bit hesitant to change defaults, because it will break someone's workflow. So making file order the default is not an options.

pr list views sound like a good idea, but:

- You want pr views someone else wants context views etc. so there is no one way which will work well for everybody and this breaks one of the design principles of simpletask
- It will collide with the swiping for the dra

[2019-11-10 20:03] srednax commented on #1023
Hi Mark,

Thanks for being so helpful. Read on if you are interrested in my opinion on
the app, og leave it be if you want to!

søndag den 10. november 2019 18.27.18 CET skrev Mark Janssen:

Too bad. Especially since there is no way to configure this in a persistant
way. Maybe it would be an idea to add that.

The point is to make it as easy as possible to navigate one's items.

The most logic vie

[2019-11-10 20:38] jpalczewski commented on #973
Sorry for late answer: now from 10.3.1  i tried to return to your app and possible reason was found:
11-07 12:27:30.039 21658 22058 E GetRemoteUserInfoOperation:             <p>The owner of this website (domain) has banned your access based on your browser's signature (id).</p>
peek into cloudflare firewall says that its the issue with Browser Integrity Check. Happily it can stay enabled domain-wi

[2019-11-11 18:36] mpcjanssen commented on #973
The nextcloud client sets a specific user agent. This could be related.

[2019-11-11 18:54] mpcjanssen commented on #973
Hmm seems like a red herring. The Simpletask code specifically requests to use the Nextcloud UA

[2019-11-11 19:19] mpcjanssen commented on #973
Could you try again with the nextcloud version from: https://www.mpcjanssen.nl/artifacts/

[2019-11-11 20:39] jpalczewski commented on #973
That was my thought yesterday also, in Cloudflare logs it appears as `Jakarta Commons-HttpClient/3.1` which may be blacklisted by CF (there's ongoing scan attempt by `Python-urllib/2.7`)
To the point:  I have installed debug version and disabled pagerules and results are:
 - debug version works flawlessly
 - recent play store version dies sends `saving of todo.txt file failed' with similar NPE  er

[2019-11-11 20:39] #973 closed

[2019-11-12 10:04] #990 closed

[2019-11-12 10:04] #993 closed

[2019-11-12 10:04] #1006 closed

[2019-11-12 13:55] mpcjanssen commented on #1023
Fix is live in 10.3.2.

[2019-11-12 17:32] mpcjanssen commented on #1023
For faster list switching see #1020 for some ideas. I really do want to implement single select mode. Also, are you aware of the right drawer?

[2019-11-12 17:32] #1023 closed

[2019-11-12 17:33] mpcjanssen opened #1024 "Add single select option for left drawer."
Single select will make switching between lists and tags faster. When in single select mode, the drawer should close after making a selection.

[2019-11-13 10:07] srednax commented on #1023
tirsdag den 12. november 2019 18.32.04 CET skrev Mark Janssen:

Yes. I manually created "quick filters" for parts of my lists, but they are
still somehow missorted, and there is no way of persistantly save a sane
sorting. So now I use the sorting panel excluseively. Its lists and tags
panels does the same thing as the quick filters but scrolling is less likely as
they are separated in two panels.

[2019-11-13 10:08] srednax commented on #1023
tirsdag den 12. november 2019 18.32.04 CET skrev Mark Janssen:

Oh, and did I thank you for your work? I can't thank you enough, as this is a
really nice app, something I have been looking for for a long time :)

--
Anders

[2019-11-13 17:43] smichel17 commented on #1023
I'll also chime in and say it's really impressive how long and consistently you've maintained ST.

[2019-11-16 02:01] mpcjanssen opened #1025 "Workaround Android NoDisplay bug"
https://web.archive.org/web/20151116170752/https://code.google.com/p/android-developer-preview/issues/detail?id=2353

[2019-11-17 10:42] #1025 closed

[2019-11-17 22:11] edusantana opened #1026 "Allow to write on tomorrow"
On current version we cannot write on a future date. I would like to write on tomorrow. This is a technique to improve the will. I would like to write everything I'm going to do tomorrow, and for every obstacle I will write the solution. This way it will help to make it as intended.

[2019-11-17 22:13] edusantana commented on #1026
My mistake.we already can do it.

[2019-11-17 22:13] #1026 closed

[2019-11-21 18:13] mpcjanssen commented on #1015
@avierax can you confirm this also works with 10.3.3 from the play store?

[2019-11-21 18:15] mpcjanssen commented on #941
Fixed in 10.3.3

[2019-11-21 18:15] #941 closed

[2019-11-21 18:32] sarana1 commented on #941
Amazing! Thank you!

On Thu, Nov 21, 2019, 1:15 PM Mark Janssen <notifications@github.com> wrote:

[2019-11-25 17:26] avierax commented on #1015
@mpcjanssen I have to test in my old phone. I have a Galaxy S9 and it seems
to work ok in it. (I have problems with writing to an SD Card though).

On Thu, Nov 21, 2019 at 1:13 PM Mark Janssen <notifications@github.com>
wrote:

[2019-12-01 12:02] mpcjanssen commented on #1015
@avierax, right the play versions do not support writing to sd card. For that keep using the storageacessframework version.  I want to merge the cloudless version with this in the future.

[2019-12-03 17:26] btittelbach opened #1027 "Syncing with Dropbox duplicates ALL entries"
## How to reproduce issue:
1. Enter Simpletask App, make sure it is synced with Dropbox.
2. Go to PC, make sure todo.txt has synced.
3. add a new task to todo.txt
4. wait sufficently long time until Dropbox has synced
5. change to Simpletask App on Phone
6. Watch as Simpletask App updates todo.txt from Dropbox and DUPLICATES every task
7. verify on PC that a copy of todo.txt has been appended to t

[2019-12-04 02:11] mpcjanssen commented on #1027
Thank you for this very clear issue report. Is this a recent issue or did it also occur on older versions?

[2019-12-04 02:19] mpcjanssen commented on #1027
I can't reproduce this at the moment. Will investigate further. Is anything else touching todo.txt besides Simpletask?

[2019-12-04 03:00] mpcjanssen commented on #1027
The current logging doesn't seem to include a case where a change was made on dropbox. Could you get a new logging directly after the issue occurred?

[2019-12-06 05:03] roman-yagodin opened #1028 "Feature request: Filter tasks by selected item(s) tags"
Introduce ability to filter tasks by the selected item(s) tags.

Thus, we could easily find all tasks that have at least one of the tags from the selected tasks. This could greatly simplify some routine operations like GTD projects review.

It could be called "Find similar tasks", "Filter on selection" or something in the UI.

[2019-12-07 23:08] Robinlovelace commented on #767
Heads-up, I think there are compatibility issues, at least with todo.sh. I see this for issues that I've marked as 'done' in SimpleTask:

[code]

The x was added by SimpleTask but does not close it in the CLI tool I think. Any ideas?

[2019-12-08 04:27] mpcjanssen commented on #767
@Robinlovelace the issue is the preceding `25` . I don't think simpletask did this. By design a completed task will always start witj `x`

[2019-12-08 10:22] Robinlovelace commented on #767
The 25 is added by `todo.sh`. The line does start with x:

[code]

It seems todo.sh does not realise that tasks that start with x should be closed. I'm running

[code]

[2019-12-08 10:27] Robinlovelace commented on #767
To clarify with a larger example, here's some output from `todo.sh` that shows that there are 2 versions of the task, one open (with the x added by SimpleTask) and one closed:

[code]

[2019-12-08 16:25] mpcjanssen commented on #767
Ah the 25 comes from todo.sh. In that case I have no idea what is causing this. Maybe a mix of line endings?

[2019-12-08 23:28] Robinlovelace commented on #767
Just realised you need to run

[code]

For it to move the done items into `done.txt`.

Reprex:

[code]

So problem solved. It works!

[2019-12-08 23:28] Robinlovelace commented on #767
P.s. this is documented here: https://github.com/todotxt/todo.txt-cli/wiki/Usage

[2019-12-09 02:07] mpcjanssen commented on #767
Glad it works. Thanks for letting me know.

[2019-12-09 02:07] #767 closed

[2019-12-13 18:59] btittelbach commented on #1027
well, the bug happened regularly multiple times a day ... until I ready your post and tried to replicate the issue once more for a new debug log. Since then... is has not occured.
Will post a debug log, as soon as the issue reappears, though I hope it does not.

[2019-12-14 09:17] mpcjanssen commented on #1027
I have had more reports of this issue. Will investigate as soon as I have some time.

[2019-12-16 22:55] leviwheatcroft commented on #1027
I've run into this. I'm syncing with nextcloud. On my PC todo.txt is updated by [todour](https://nerdur.com/todour-pl/).

Not sure if this is helpful because I'm unable to confirm, however I'm sure that the first time I ran into this I "fixed it" by force closing simpletask, or maybe just by using the sync option in the UI. (sorry I can't remember which).

More recently, when force closing / synci

[2019-12-19 09:08] mpcjanssen commented on #1027
I don't think it will solve the issue. But the latest versions on https://www.mpcjanssen.nl/artifacts/ should at least improve the logging. Could you try with a version from there.

[2019-12-19 09:42] rptb1 opened #1029 "Lua sort and group has to be refreshed to work"
I have `onSort` and `onGroup` functions defined for many saved filters. When I switch to a filter, the sorting often does not work until I go to the "SORT" menu and touch "Lua Script" (which is at the top) twice, forcing Simpletask to refresh.  I can get a similar effect by unchecking and checking "Use script".

Here are my functions:
[code]
The purpose of these is to give me a view grouped by due

[2019-12-19 10:38] mpcjanssen commented on #1029
There was some caching added for the Lua scripts. I will check if this can cause issues.

[2019-12-19 14:01] mpcjanssen commented on #1029
@rptb1 can you check with a development build from https://www.mpcjanssen.nl/artifacts/ ? I have disabled caching so this issue should be fixed.

[2019-12-22 06:23] rptb1 commented on #1029
I installed https://www.mpcjanssen.nl/artifacts/app-cloudless-debug.apk and that does seem to fix it (with only five minutes of testing though!)

By the way, there were several "Leak Canary" dumps.

[2019-12-23 09:49] mpcjanssen commented on #1029
So caching is the problem @smichel17 do you have time to look into this? If not I will remove caching for now. I will also look in the leak canary dumps.

[2019-12-24 00:59] smichel17 commented on #1029
You can remove caching for now. My life has been simpler so I've been using paper todo lists recently; I'll look into this at whatever point I need Simpletask again :)

[2019-12-24 08:41] mpcjanssen opened #1030 "Investigate leaks"
investigate leak canary leaks as mentioned in #1029

[2019-12-26 14:47] tveulemans opened #1031 "Extra space before List or Tag header"
Hi,

It would be great to have some additional space before the list/tag header when sorting on list/tag. With the current settings the last task from the previous list (or tag) is very close to the next header.

Kind regards
Thomas

[2019-12-27 05:23] ddisanti commented on #1031
@tveulemans  I deal with it using a new line character ( ``` \n ``` ) inside the header string.
[code]

[2019-12-27 08:52] tveulemans commented on #1031
@ddisanti
Thanks, great trick!!

I modified it slightly to fit my purpose:
[code]

[2019-12-27 08:52] #1031 closed

[2019-12-30 23:23] harshad1 opened #1032 "Drop down + auto complete for contexts and projects when adding tasks"
It would be great if Simpletask would automatically offer suggested completions (based on existing contexts and projects) as a user types. A user could then enter the first couple of letters of a project or context and then tap on a suggestion in order to enter it.

The trigger for this would be the typing @ (or +) followed by one or more characters. This behaviour would be similar to todoist, for

[2019-12-30 23:24] harshad1 commented on #1032
Not sure how to mark this as an enhancement.

[2019-12-31 03:39] btittelbach commented on #1027
The issue reappeared after I added a few todos on my phone. No other device connected to that dropbox account was online for the last 24h, so the todo.txt file was not modified externaly.

[simpletask_debuglog.txt](https://github.com/mpcjanssen/simpletask-android/files/4011861/simpletask_debuglog.txt)

[2019-12-31 15:56] smichel17 commented on #1032
This is kind of a duplicate of discussion in https://github.com/mpcjanssen/simpletask-android/issues/182, but I'll leave it open because it has a clearer title:)

[2020-01-01 11:05] mpcjanssen commented on #1032
great idea, but from experience with handling the Android text and keyboard api, probably a pain to implement. I don't think I will spend much time on it unless there is some code from somewhere else that can be adapted.

[2020-01-01 11:07] mpcjanssen commented on #1032
these are also the things which tend to break between Android version, so they add a considerable maintenance burden.

[2020-01-03 11:40] hockeymikey opened #1033 "Tabbed widget option"
The widget list should have an option to define one sort criteria as a tabbed option. So I could set by priority and there would be tabs on the top bar of the widget and tapping one filters the list by the tab (like separate pages). This would help declutter the widget and help users get the info they need quickly from the launcher. I could add mocks if it helps vizualize it.

[2020-01-03 14:32] tveulemans opened #1034 "Creating duplicate of selected task(s)"
Hi,

Is there a way (via a Lua script) to create copies of the selected task(s)?

Alternatively, could this be added as a feature?

Kind regards,
Thomas

[2020-01-04 05:22] btittelbach commented on #1027
Happened again. This time I believe the new debuglog finally shows relevant information. :-)

[2020-01-04 simpletask debuglog.txt](https://github.com/mpcjanssen/simpletask-android/files/4021567/2020-01-04.simpletask.debuglog.txt)

[2020-01-04 09:27] mpcjanssen commented on #1034
select a task and sharing it with simpletask will create a copy. it's not a very direct way though. Can you explain the usecase?

[2020-01-05 10:31] mpcjanssen commented on #1027
It seems to be a race condition triggered when a Simpletask alarm is pending in the background (for example to update widgets after midnight) and where in the mean time the app itself is also loading the task list because it is started.

Do you have battery saving enabled for Simpletask?

[2020-01-05 11:17] mpcjanssen commented on #1027
@btittelbach could you try again with the latest test build from https://mpcjanssen.nl/artifacts?

[2020-01-05 14:40] dessalines commented on #929
@mpcjanssen So [todo.txt](https://github.com/todotxt/todo.txt) is a fully dead project now. That repo has had **zero** activity for over two years. Would you be interested in helping maintain a fork?

[2020-01-05 18:25] btittelbach commented on #1027
Battery saving is the default and SimpleTask is not being explicitly excepted so probably yes.

I installed the latest test build, will see how that goes. It seems to display the same version number though.

Btw: I observed the following:
If duplicates are shown and if I then use "Open tasklist file" to re-open the current todo.txt before adding a new todo item, the duplicates are gone.

Only if I

[2020-01-05 19:14] mpcjanssen commented on #1027
yes that behaviour seems to indicate there is a duplication issue while loading from file or cache. this incorrect list will only be saved after a local change.

[2020-01-05 19:20] mpcjanssen commented on #929
@dessalines not really interested. i think todo.txt is mostly fine as it is.

[2020-01-05 19:21] tveulemans commented on #1034
Regarding the use case: I have a few high-level tasks (e.g., following an online course) that I want to break down in smaller steps (e.g., a specific lesson) while retaining most of the characteristics of the 'parent' task.

I will give the workaround a try - thanks!

[2020-01-05 19:46] smichel17 commented on #1034
I thought it used to be that if you are filtered on certain lists and tags, when you add a new task it will be pre-filled with those. Doesn't seem to be the case any more though. Maybe changed when we removed the pre-fill checkbox in favor of two separate buttons (enter and (+))?

[2020-01-05 23:47] aubreyz commented on #1034
I'm not following here. Isn't it easy enough to use the clipboard to copy the task text and paste it into a new one (once or multiple times)?

At least my end new tasks do pre-fill with the filtered @ and +

[2020-01-06 08:51] mpcjanssen commented on #1034
@smichel17 still works for me, but only with the plus button. Getting it the work triggered by the keyboard enter was a PITA and had unintended side effects.

[2020-01-06 08:52] mpcjanssen commented on #1034
@tveulemans as @smichel17 indicated, It might work well if you use a tag for the big task to treat is as a project and then add next tasks using the plus button in the UI.

[2020-01-06 10:52] tveulemans commented on #1034
@mpcjanssen OK thanks for the suggestion, I'll give it a try and will close the issue.

[2020-01-06 10:52] #1034 closed

[2020-01-06 13:38] smichel17 commented on #1034
@mpcjanssen We're on the same page about how things work on the AddTask activity. That won't work, though, since we're talking about adding more tasks after the fact, and when editing, addTask checks that you have the same number of tasks you started editing with.

I meant adding a new task from the FAB in the main activity. I tried again just now, and it turns out it does still pre-fill, but only

[2020-01-06 14:05] mpcjanssen commented on #1034
@smichel17 I removed the checking of addTask of the same number of tasks as I find it very unintuitive. Prefill from FAB works if at most one context and/or one tag is selected.

[2020-01-12 04:15] harshad1 commented on #1032
Would it be possible to add as-you-type filtering to the Project and Context dialogs instead?
Would it also be possible to launch the project or context dialogs when a user types '+' or '@'?

[2020-01-12 04:31] smichel17 commented on #1032
I wonder if autocompletion is something we could find a library for, that would save us from the maintenance burden.

[2020-01-12 23:43] harshad1 commented on #1032
What would this library provide, ideally? Also, would such a library still be necessary if autocompletion were implemented via the existing Context and Projects dialogs?
i.e.
1. Adding as-you-type filtering to those two dialogs
2. Adding the ability to launch those dialogs automatically when a user types '@' or '+'

[2020-01-13 20:01] mpcjanssen commented on #1032
@harshad1 the tricky part is detecting when the dialogs need to pop up and putting the autocompletions in the text box. Show the dialogs is the easy part. The library would ideally take care of the detection part.

Even then an Android upgrade might break the possibly at that point unmaintained library.

[2020-01-14 08:21] inkarkat commented on #1027
I was just about to report this issue when I found this existing one. I've encountered the duplication of `todo.txt` three times in the past weeks (while using the app a few times a week). I'm mostly managing my todo list on the PC using _todo.txt-cli_. Since the first occurrence, I take great care to wait for the app to finish syncing (i.e. for the rotating blue line at the bottom to disappear) b

[2020-01-14 11:29] mpcjanssen commented on #1027
@inkarkat would you also be willing to test with a development build from https://mpcjanssen.nl/artifacts ?

[2020-01-15 18:10] hockeymikey opened #1036 "Widgets get bugged on restart"
I'm running the nextcloud version on Oreo (Resurrection Remix) on a Sony xz1c, Nova launcher. Sometimes when you restart the phone, the widgets are bugged out after. The top bar is transparent, all white in the body. Clicking anything does nothing. Only way to fix is to sometimes stop SimpleTask and clear cache. A new way is to change the theme for the widgets. Basically they somehow get corrupted

[2020-01-19 11:56] tveulemans opened #1037 "Changing grouping"
Hello,

I thought that changing the sorting order would also change the grouping, but somehow I cannot change the grouping logic (it always groups by list).

Is this the expected behavior?

Regards,
Thomas

[2020-01-19 13:10] smichel17 commented on #1037
Generally grouping happens by the top sort criteria. However, you can override this with the onGroup lua callback.

[2020-01-19 18:41] tveulemans commented on #1037
Thanks for the information - I had forgotten that I am indeed using a lua script...

[2020-01-19 18:41] #1037 closed

[2020-01-22 10:26] mpcjanssen opened #1038 "Create intent based API for storage"
Create an intentbased API which implements the `FileStore` interface. This will allow 3rd party plugins which will handle the intents to provide the backend storages.

[2020-01-22 14:21] mpcjanssen commented on #1038
Intents are not going to work because the extras payload size is limited. This will break for people with big todo files.

[2020-01-26 13:00] btittelbach commented on #1027
Happy to report, so far, since installing the development build, I have not encounterd the issue.

[2020-01-27 12:47] mpcjanssen commented on #1027
@btittelbach thanks for confirming. I will prepare a new release.

[2020-02-01 07:49] mpcjanssen commented on #617
@smichel17 main challenge here is that i don't know how to create the plugin infrastructure on Android.

[2020-02-01 12:06] smichel17 commented on #617
@mpcjanssen did you see my musings over in matrix(/gitter/irc)?

[2020-02-02 16:25] hiqua commented on #965
You can put the following in your Lua configuration to achieve this:

[code]

[2020-02-03 10:09] mpcjanssen commented on #1038
Investigate ContentProvider instead. This will keep the existing flow of the Simpletask file handling. Plugins could be small applications providing new content providers.

[2020-02-10 20:33] mpcjanssen commented on #1038
The aidl branch has a proof of concept plugin architecture.

[2020-02-10 20:34] mpcjanssen commented on #1038
content providers are useless because you get the old file even if it was changed remotely until you open the application that provides the content provider

[2020-02-17 10:48] RFDAJE commented on #676
I'm using simpletask on miui 11.0.1 android 10 locale zh_CN, which on default set first day of the week as Sunday. in miui calendar app preference allows user to choose the first day of the week, set it as Monday, in simpletask still shown Sunday as the first day.

my question is, could it possible to do an extra query from calendar app setting to determine the first day of the week to respect use

[2020-02-19 21:24] hockeymikey commented on #1036
Changing the theme of the widget always fixes it.

[2020-02-19 21:32] hockeymikey commented on #86
This is a simple and needed addition that I would personally use. It can be a setting so if someone doesn't want it, they don't have to turn it on.

[2020-02-20 18:35] mpcjanssen commented on #86
@hockeymikey, this is not simple. If it was I would have already implemented it.

[2020-03-04 16:17] uGeek opened #1040 "Webdav support"
Webdav support within the application for Nextcloud would be possible?
Nextcloud is a very heavy cloud with a simple webdav server.

In addition, there would be synchronization with many more clouds.

[2020-03-05 03:21] fazlerabbi37 opened #1041 "[FR] Add Single sign-on for the nextcloud version"
It would be great if you could add single sign-on as an option in addition to the traditional login.

see more: https://github.com/nextcloud/Android-SingleSignOn

[2020-03-05 15:00] mdtrooper opened #1042 "The task editor, a task with long text is showed as several tasks."
The task editor view is good but when the task has a long text is showed as several task.

Maybe a margin between tasks or a background or border around the task could be help it.

Added a screenshots (the red underline words are the spanish dict, sorry):

![photo5983320357853050019](https://user-images.githubusercontent.com/1285451/75993551-ed572380-5ef9-11ea-8051-218e2c67e357.jpg)

And the list

[2020-03-05 15:25] aubreyz commented on #1042
You must have had two tasks selected before you pressed the edit button

[2020-03-05 16:36] mpcjanssen commented on #1042
you could disable word wrap from the menu

[2020-03-05 16:39] smichel17 commented on #1042
I wonder if we could apply a styling so that there is slightly more whitespace between lines when it is a new task, compared to word wrap.

[2020-03-10 09:48] IvanKazak opened #1043 "Gets frozen in aeroplane mode"
Simpletask Nextcloud.

If in Aeroplane mode Simpletask freezes (showing just black screen). When switching phone back to standard mode simpletask starts working again. Log is attached.

Taking a chance - thank you for the great app!

[Simpletask nextcloud v10.4.0 (3222) log.txt](https://github.com/mpcjanssen/simpletask-android/files/4311533/Simpletask.nextcloud.v10.4.0.3222.log.txt)

[2020-03-11 17:14] mpcjanssen commented on #1043
it seems determining the remote version is not done on the background

[2020-03-12 04:51] IvanKazak commented on #1043
Thank you for the quick reply. So any idea on how to fix it? While in the air it makes it impossible to work on todos...

[2020-03-12 09:13] mpcjanssen commented on #1043
I will look into it.

[2020-03-12 11:27] mpcjanssen commented on #1043
@IvanKazak could you test with a new build from https://mpcjanssen.nl/artifacts/nextcloud/release/ ?

[2020-03-12 16:50] IvanKazak commented on #1043
Still black screen when in Aeroplane mode. Log is attached.

[Simpletask nextcloud v10.4.0 (3222) log.txt](https://github.com/mpcjanssen/simpletask-android/files/4325469/Simpletask.nextcloud.v10.4.0.3222.log.txt)

[2020-03-16 09:28] IvanKazak commented on #1043
I've made additional testing, seems that the issue is also because of a running VPN-client. When in Aeroplane mode the VPN-client is still running in the background (still intercepting connection requests) and trying to tunnel the connections further (obviously without any success) - in this case SimpleTack gets frozen.

After the VPN-client has been manually closed and still in Aeroplane mode, Si

[2020-03-16 10:10] mpcjanssen commented on #1043
@IvanKazak network activities should already be completely done in the background. Can you do a test again with https://mpcjanssen.nl/artifacts/10.4.0-17-987630e/nextcloud/ so I know what version you have tested last.

[2020-03-16 17:25] IvanKazak commented on #1043
Thank you! I've tested with the mentioned version - it still gets frozen if a VPN client is running. Log attached.
[Simpletask nextcloud v10.4.0-17-987630e (10004000) log.txt](https://github.com/mpcjanssen/simpletask-android/files/4339478/Simpletask.nextcloud.v10.4.0-17-987630e.10004000.log.txt)

[2020-03-16 18:14] mpcjanssen commented on #1043
@IvanKazak thanks for the extensive testing

[2020-03-16 22:11] mpcjanssen commented on #1043
Next version with more logging and another possible fix at https://mpcjanssen.nl/artifacts/10.4.0-19-e0c2c70/nextcloud/release/

[2020-03-17 07:36] sarana1 opened #1044 "Change Theme From 3 Dot Menu"
I feel annoyed having to go into the three dot menu-settings-appearance-theme in order to change the theme. Seven clicks are needed to change the theme and get back to the app. I like the light theme during the day, and the black theme at night. It would be much more convenient to be able to change the theme simply from the three dot menu: 3 dots-theme-switch and done. No? Or any other ideas to re

[2020-03-17 16:24] ddisanti commented on #1044
It could be done with Lua, using the
callback ```theme()``` and some simple date/time code.

[2020-03-17 16:47] IvanKazak commented on #1043
Works like a charm! Awesome!
19:39 - aeroplane off, VPN-client on, OK
19:40 - aeroplane on, VPN-client on, OK!
19:41 - aeroplane on, VPN-client off, OK!
19:42 - aeroplane on, VPN-client on, OK!
19:43 - aeroplane off, VPN-client on, OK!

Log:

[Simpletask nextcloud v10.4.0-19-e0c2c70 (10004000) log.txt](https://github.com/mpcjanssen/simpletask-android/files/4344631/Simpletask.nextcloud.v10.4.0-19-e

[2020-03-17 17:51] mpcjanssen commented on #1043
That is great news. Please be aware that the fix was to remove a lot of unneeded thread synchronisation. I do recall adding it as a blunt fix for a concurrent modification exception so that might reoccur. For now treat this version as alpha.

[2020-03-22 08:00] #1043 closed

[2020-03-22 08:02] mpcjanssen commented on #1042
Maybe a configurable `lineSpacingExtra` will help

[2020-03-23 09:15] mpcjanssen commented on #1040
https://mpcjanssen.nl/artifacts/10.4.0-26-d8c6cc4/webdav/ contains a webdav enabled version of Simpletask which seems to work with my own Nextcloud server.

[2020-03-23 09:27] mpcjanssen commented on #1044
Note that a theme change always requires an application restart. So even if it can be done from Lua, it does require completely restarting the application.

[2020-03-23 17:14] uGeek commented on #1040
374/5000
Amazing!!!
Synchronizes perfectly and without any problems.
Could it be possible to enable http connection? For local and VPN connections it is ideal.

Does this version come in the next version of Simpletask for Nextcloud?

I am going to test the application with other webdav clouds like Box.com, Yandex, stackstorage, ...

Many thanks!!!

[2020-03-23 17:44] mpcjanssen commented on #1040
If you add http:// in front of the webdav it should work. This will be a new version. Not sure if i will release it via the Play store or just as a download for now.

[2020-03-23 18:04] uGeek commented on #1040
I have tested public clouds like Box.com and Yandex, they work perfectly using webdav

To connect to WebDAV

Box.com:
Server: https://dav.box.com/dav
Login: Email address and password.

Yandex:
Server:  https://webdav.yandex.com or https://webdav.yandex.ru
Login: User and password

HiDrive:
Server: https://webdav.hidrive.strato.com
Login: User and password

More clouds no tested:
4shared	https://w

[2020-03-23 18:12] uGeek commented on #1040
When you connect via http, it displays the following message:
[code]

[2020-03-23 18:33] sarana1 commented on #1044
My app changes immediately when I hit the "Black" button....

Thanks for your reply.

Sebastián

On Mon, Mar 23, 2020, 5:28 AM Mark Janssen <notifications@github.com> wrote:

[2020-03-24 16:18] mpcjanssen commented on #1040
@uGeek https://mpcjanssen.nl/artifacts/10.4.0-28-766e9ae-dirty/webdav/ should fix the http issue.

[2020-03-24 23:53] uGeek commented on #1040
Work perfectly with http!!!!

Synchronization is instantaneous with the webdav server, extremely fast.

Thank you very much for your time and modifying the app
Thanks a lot

[2020-03-25 02:53] mpcjanssen commented on #1040
I might release this version on fdroid

[2020-03-25 17:44] uGeek commented on #1040
That would be great news. it would have much more visibility and possibilities to install it.

I will wait for it to be published on F-Droid and I will make an article and podcast talking about all the possibilities of synchronization with public and private clouds.

I mounted the webdav server by docker on a Raspberry Pi and the synchronization with Simpletask webdav is very fast and perfect

[2020-03-26 10:45] mpcjanssen commented on #1040
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6534 for inclusion in FDroid

[2020-03-26 17:00] uGeek commented on #1040
Thank you. It is great news !!!
Today I record the podcast and when the app is published, I publish it.
I'm also going to start the post.
I have many followers who use webdav as a server, I am sure they will use it.

The app works perfectly, 0 sync errors.

Before, I used the todo.txt synchronizing a directory with Syncthing and Simpletask, many times there was conflict in the synchronizations, I

[2020-03-26 21:24] smichel17 commented on #1040
@mpcjanssen with all the versions floating around, I wonder if it would make sense for you to put out a request for packagers -- maybe people like @uGeek who have requested the different versions -- who could handle doing the various releases, to lower the burden for you a little.

[2020-03-27 09:20] mpcjanssen commented on #1040
@smichel17 once the version is developed, releasing is not the burden. Actually testing all the backends is. So if people raise any issues that is very helpful.

Deploying of all versions is completely automated.

[2020-03-27 09:20] #1040 closed

[2020-03-28 19:04] paullemmens commented on #1040
Will this be a separate app like cloudless or nextcloud? Or how should i use this functionality?

[2020-03-28 19:34] smichel17 commented on #1040
Yes, it will be a separate app.

[2020-03-29 11:48] magikmw opened #1045 "Nextcloud sync stops working"
I've been using simpletask with Nextcloud for a while now, and from time to time the sync just stops working without any visible errors. It may be connected to server or app updates, but I can't be entirely sure, since my todo.txt mostly covers hobby projects I touch on irregular basis.

Removing the NC connection and reconnecting helps, but it inevitably breaks again, and is a real bother with ha

[2020-03-29 13:12] mpcjanssen commented on #1045
Need proper error handling in
`getRrmoteVersion` to figure out why it's failing.

[2020-03-29 14:09] mpcjanssen commented on #1045
@magikmw could you try again with a release from https://mpcjanssen.nl/artifacts/10.5.1-4-8ad3733/nextcloud/ it has better logging for this error scenario.

[2020-03-29 14:19] magikmw commented on #1045
Installed from release folder, started the app, clicked sync.

[2020-03-29 14:31] mpcjanssen commented on #1045
For some reason it gives an unauthorized error. I will add some additional logging. I forgot to include the actual url that's used.

[2020-03-29 14:36] mpcjanssen commented on #1045
Please try again with https://mpcjanssen.nl/artifacts/10.5.1-5-e24150c/nextcloud/release/

[2020-03-29 15:04] magikmw commented on #1045
Same as above

[2020-03-29 15:52] mpcjanssen commented on #1045
Are you absolutely sure the server url and app specific password are correct? Does the nextcloud log show anything?

[2020-03-29 15:59] magikmw commented on #1045
NC log is clear. Server url is correct (logs got anonimized).
App specific password must have worked at first, but NC shows last connection from the app for 3 months ago. Either simpletask lost the password, Nextcloud decided it's invalid or something else is going on.

[2020-03-29 16:03] mpcjanssen commented on #1045
Could you try without app specific password for testing or use that not possible for your scenario?

[2020-03-29 16:05] magikmw commented on #1045
I've disabled 2FA and logged in without problems, sync worked, but then again it always helped before as I mentoned (to log out, regenerate password and login).

[2020-03-29 16:30] magikmw commented on #1045
Update: reenabled 2FA, regenerated app password, logged in, sync both ways works.
Still, I'll keep an eye out for another occurence of the sync breaking.

[2020-03-29 17:53] mpcjanssen commented on #1045
I will close the issue. If it re-occurs feel free to re-open. Next release will include the improved logging.

[2020-03-29 17:53] #1045 closed

[2020-04-02 09:04] btittelbach commented on #1027
Heads up, that the issue reappeared with the PlayStore update from March 28th to Version "Simpletask dropbox v10.5.1"
It is also seems to happen more frequently now.

[2020-04-03 05:20] mpcjanssen commented on #1027
Unintended side effect of the fix for #1043 . Will try to fix it using another approach than global code locking.

[2020-04-03 06:33] mpcjanssen commented on #1027
@btittelbach can you try again with a version from https://www.mpcjanssen.nl/artifacts/10.5.1-7-2c2f6ea/ I used a different way to hopefully fix this issue.

[2020-04-04 12:09] btittelbach commented on #1027
Installed it and will report.

Btw: it seems the bug behaved slightly differently now, in that sometimes reopening the todo.txt file in Simpletask would remove the duplicates. Unless you add a task, then the duplicates are saved to DB.

Btw: saw there is a dokuwiki version of Simpletask: awesome 😁

[2020-04-04 14:54] mpcjanssen commented on #1043
@IvanKazak can you confirm that 10.5.2 has not reintroduced the slow startup?

[2020-04-04 17:35] mpcjanssen commented on #1027
I use the dokuwiki version exclusively myself.

[2020-04-05 07:12] IvanKazak commented on #1043
@mpcjanssen it has some noticeable delay when it starts for the first time (didn't notice big change), but then works really fast (feels like became faster), e.g. switching using predefined filters.

The most important thing that it works when network is not available ))

[2020-04-05 13:34] mpcjanssen commented on #1043
@IvanKazak thanks for confirming that the fix for #1027 has not reintroduced the broken behavior.

[2020-04-05 22:09] mpcjanssen commented on #1036
widget life cycles are a pita

[2020-04-06 07:32] mpcjanssen opened #1050 "Restore todo:// and root:// functionality"
Was accidentally removed.

[2020-04-06 12:02] #1050 closed

[2020-04-07 18:30] paullemmens commented on #1040
Any idea on an ETA for this release @smichel17 ? Will it indeed be via FDroid as indicated above? In that case I'll manually monitor that.

[2020-04-07 18:58] mpcjanssen commented on #1040
@paullemmens see https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6534 no idea on ETA

[2020-04-07 19:00] smichel17 commented on #1040
@paullemmens watch the merge request linked above. It'll appear in f-droid when that is merged, plus some delay depending on how long it takes the F-Droid folks' deploy process to get around to building it (last time I pushed a Red Moon update, this was around a week).

[2020-04-10 15:32] sareporter opened #1053 "Completing a task causes app to crash"
This is a new, bewildering problem on my Moto X4. When I try to complete a task, the app closes. When I re-open the app, the task is still there. Completing the task a second time is successful, but the app crashes. In my done file, the completed task is there twice.

Here's the log, thanks for any help you can offer ...

--------- beginning of crash
04-10 08:23:01.539 13015 13015 E AndroidRuntime

[2020-04-10 16:40] ddisanti opened #1054 "Lua config error: config.lua file saved as config.lue"
Title is self explanatory.

- Go to `Lua config`.
- Tap on `Save and export` from `Import/Export Menu`.

The `config.lua` file is saved as `config.lue`.

I noted this when doing some backups and noted the new config.lue file. This was introduced in version 10.5.2 because it never happened before.

[2020-04-10 19:49] ddisanti commented on #1054
@mpcjanssen looks like you already fixed this [here](https://github.com/mpcjanssen/simpletask-android/commit/67d3cb2afb74026c2a3003906ba60823e4e996f0#diff-7e261d05fe4be52d4e9f37b880a68f66R73).

[2020-04-10 23:32] #1054 closed

[2020-04-10 23:32] mpcjanssen commented on #1054
was indeed a typo.

[2020-04-10 23:41] mpcjanssen commented on #1053
@sareporter what is your time before save? And does changing it work around the issue?

[2020-04-10 23:58] mpcjanssen commented on #1053
Core issue is TodoList.save iterating directly over todoItems

[2020-04-11 03:42] sareporter commented on #1053
It was set on "3." I tried lowering and raising it and it didn't solve the problem.

For now I just turned off auto-archive and it works fine. Thanks ...

[2020-04-11 07:19] mpcjanssen commented on #1053
Ah auto archive probably is the trigger for the problem. I will see if I can reproduce and create a fix.

[2020-04-11 11:48] mpcjanssen commented on #1053
@sareporter can you check with one of the versions from https://www.mpcjanssen.nl/artifacts/10.5.3-17-37168c7/ ?

If you installed from Google play, you'll need the release version.

[2020-04-11 12:35] btittelbach commented on #1027
Happy to report: Have not experienced any issues with duplicates in the last seven days.

[2020-04-11 13:51] #1027 closed

[2020-04-11 13:51] mpcjanssen commented on #1027
Thanks for letting me know.

[2020-04-13 04:08] ddisanti opened #1057 "Wrong hint fon "Import/export Lua config" icon"
I think this line:

https://github.com/mpcjanssen/simpletask-android/blob/d2c82b7ae7b880dc28027903e0ba0588cd81b3e4/app/src/main/res/menu/lua_config.xml#L20

should reference this value:

https://github.com/mpcjanssen/simpletask-android/blob/d2c82b7ae7b880dc28027903e0ba0588cd81b3e4/app/src/main/res/values/strings.xml#L403

[2020-04-13 09:43] #1057 closed

[2020-04-13 21:03] hiqua opened #1059 "Feature request: smart default for Windows-friendly line breaks"
Hi,
just like every time I reset my Android phone, I opened my todo.txt with simpletask, just to then realize on my computer that it's full of Windows line breaks.

Currently simpletask defaults to Windows-friendly line break. I'm wondering if you'd consider changing this to, when the first todo.txt is opened, check which line breaks are used (if there's a mix, use the current default) and set the

[2020-04-13 22:12] mpcjanssen commented on #1059
Biggest issue with implementing this is that the functions to efficiently read the lines from a text file don't return what line ending was found but just the lines.
So implementing this means manually splitting the text files for all storage backends.
So it's more work than it seems.

[2020-04-14 07:39] MAWSpitau opened #1060 "commas in projects will don't show their tasks"
Hi there,

I have several projects like:

`+name,forename`

if I want to see all tasks from one project via the menu on the left, simpletask shows me nothing. There won't be a checked checkbox either.

Other clients, like todo.sh or todotxt-maschine accepting those syntax of projects.

Bug in here or am I not allowed to use commas ins projects?

Greetings
MAW

[2020-04-14 10:01] mpcjanssen commented on #1060
If todo.sh accepts this, this is a bug.

[2020-04-15 08:15] mpcjanssen commented on #1060
commas are allowed. Can you share a screenshot demonstrating the issue?

[2020-04-15 08:35] mpcjanssen commented on #1060
![image](https://user-images.githubusercontent.com/146895/79316594-cfbba780-7f04-11ea-80a3-b3d06f2376ab.png)

[2020-04-15 08:43] MAWSpitau commented on #1060
Hy thanks to care about this problem.
I send you a screencast, where I show you the problem. I won't post it here, because of the names I used in my todo.txt.

- The projects are shown on up in the left sidebar
- but the tasks will not show up in the main-view.
- Also the project will not be checked in the sidebar.

[2020-04-15 08:58] mpcjanssen commented on #1060
Ah thanks for expanding. The issue is clear. Will check

[2020-04-15 09:08] #1060 closed

[2020-04-15 19:55] mpcjanssen commented on #1060
@MAWSpitau you can download a version with fix from https://mpcjanssen.nl/artifacts/10.5.4-7-3c06437/

[2020-04-15 20:26] MAWSpitau commented on #1060
Great! It Works! Thanks a lot!

[2020-04-15 23:36] taylor-josh commented on #1053
I had this issue the other day after the latest fDroid release actually. I made a backup of my to-do file and then cleared the cache and data for the app and that fixed it. Not sure if that is helpful in this situation. If I encounter the problem again, I'll respond back.

[2020-04-17 19:29] sareporter commented on #1053
Sorry, I just saw this. Looks like the problem was fixed in the latest update on F-Droid. I haven't had any issues. Thanks for jumping on this.

[2020-04-18 15:33] #1053 closed

[2020-04-28 08:56] fazlerabbi37 commented on #816
hi @mpcjanssen, I know this is a very old issue but I still am interested in getting the Nextcloud variant in F-Droid. I may be able to help with the _fdroiddata PR, but would require a lot of your help. I have a couple of queries first:

- It is unclear to me how are you building the Nextcloud app from the same source and what is added in that build.
- What about the package name? Do you want to

[2020-04-28 12:35] mpcjanssen commented on #816
@fazlerabbi37 there is already a PR for the webdav version which can also be used for nextcloud see https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6534

[2020-04-28 13:16] fazlerabbi37 commented on #816
@mpcjanssen I just copied and pasted your MR, changed the app name to Simpletask Nextcloud and created a new MR: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6680. Please give it a look and let me know if any improvement is needed.

[2020-04-28 15:35] smichel17 commented on #816
Looks like it should work. Note that there are instructions in the fdroiddata repo for verifying that it actually will work (by downloading the fdroid server and trying to run it locally; it's not that hard).

[2020-04-30 19:03] edgewood opened #1064 "Center "change priority" list on current priority"
When I change the priority of a task, the current priority is at the top of the list.

When I'm lowering the priority (A to B), that means the nearest lower priorities are already in view, I just need to tap, so that's great.

When I'm raising the priority (B to A), that means all the higher priorities are scrolled off the top of the screen, requiring me to scroll before tapping.

It would be easi

[2020-04-30 19:08] smichel17 commented on #1064
I can almost figure out what you're describing, and I *think* it makes sense.. Are you able to share a screenshot or two to clarify?

[2020-05-01 12:15] mpcjanssen commented on #1064
Nothing with regard to scrolling is easy in Android.

[2020-05-01 14:29] mpcjanssen commented on #1064
Maybe a spinner would be better for prios

[2020-05-01 16:56] edgewood commented on #1064
Current view that pops up when I hit the star/priority button when I have a todo with priority "D" selected:
![Current](https://user-images.githubusercontent.com/60952/80823407-95136980-8baa-11ea-8dab-68f49d700db7.png)
See how priorities A-C, and the "-" selection, are off the screen to the top?

Desired view would be something like this:
![Desired](https://user-images.githubusercontent.com/60952/

[2020-05-01 16:58] edgewood commented on #1064
I don't see the comment any more, but got a notification about switching to a spinner.  I would like that less than the current behavior, because that means I would have to scroll even for lowering priorities.

[2020-05-01 23:02] mpcjanssen commented on #1064
Yeah i removed the comment, a spinner is not a better design.

[2020-05-01 23:14] smichel17 commented on #1064
How's this for something reasonable to implement?

if the priority is in A..F, set the scroll position to the top.

I suspect most people do not use more than 9 priorities anyway, so this will hit the vast majority of use cases, and we won't need to keep track of how far we need to scroll the view. I chose A-F instead of A-H or A-I to be safe, because I don't know how many entries appear on smalle

[2020-05-02 17:56] edgewood commented on #1064
That would mostly work for me.  I use A-H, but A-F is probably the most active subset.

I'm a developer, and while I don't usually do GUIs, I have worked with them in the past.  I can imagine that a display-independent true centering could be tricky.

If there is any way to say "make the priority 4-6 levels higher" the top of the display (eg, if currently "H", make "B" the top), that would be best

[2020-05-03 06:12] mpcjanssen commented on #1064
How about a number picker with text values? https://miro.medium.com/max/788/1*r44BBytGvtm5mG1Q3It2bQ.gif

[2020-05-03 08:34] aubreyz commented on #1064
I hate those tiny number pickers. They are slow and fiddling. Maybe we a non default option.

[2020-05-03 14:39] edgewood commented on #1064
I like being able to tap directly on a priority without scrolling/spinning.

A custom control with a grid?  A 4x7 grid would look like the following link (mocked with a spreadsheet), and I think would be small enough to fit on even small screens.  Shows everything, direct tap to change to any priority.

https://imgur.com/a/uwPqvtD

Not sure how much work that would be.

PS, I didn't notice until m

[2020-05-16 09:11] ecogit opened #1065 "Sorting tags (not tasks)"
Hello Simpletask community,
So far I've used common GTD-inspired tags (contexts) but I'm in the process to changing this system from the perspective of physical location to one which is more attuned to the spiritual routines of a creative knowledge worker. I got inspired by the Taoist concept of flow, hence I call it "Mindflow Spheres". So far that works quite well and I applied it also to related

[2020-05-16 13:54] mpcjanssen commented on #1065
Tags and quickfilters are sorted alphabetically, this cannot be changed by using Lua. Lua can only impact the sorting of the tasks themselves.
Easiest way is to prefix the tags and filters with the step number.

[2020-05-17 03:53] ecogit commented on #1065
Thank you @mpcjanssen for prompt feedback!

Your suggested workaround is at least as practical, just less elegant / minimal than I had hoped for. Since it's an internal tool it's sufficient.

Eventually other Simpletask / GTD enthusiasts will be looking for the same functionality and I assume a future solution could be equally applied to custom sort the `Lists` (projects). Meanwhile thanks again t

[2020-05-17 10:06] smichel17 commented on #1065
This is possible. First, sort your _tasks_ into a custom order (in your case, based on lists). Then, use onGroup to fix the headings. Here is an excerpt you can adapt. You don't need to put the heading names in variables like I did, it just makes them easier to change in the future.

In the lua config (so it can be re-used in multiple filters):
[code]

In the filter:
[code]

[2020-05-17 18:12] OpenWarp commented on #650
I vote for #6. The most convenient way is to have a drop down arrow in the widget title just left to the settings gear. This way it is a quick filter on the context when going somewhere, and a convenient way to add more tasks while in the same context.

[2020-05-17 18:23] OpenWarp commented on #1033
I would suggest a drop down arrow just left to the settings gear in the widget title. When creating a widget, you could choose what this arrow button will do,
1. Drop-down context list to filter on
2. Drop-down tag/project list to filter on
3. Sort by priority
4. Sort by due date

Although only options 1 and 3 are required in my opinion, the arrow button can be configured to sort or filter on what

[2020-05-17 19:23] OpenWarp opened #1066 "Enhancement: Widget: replace settings gear in the widget title by little triangle to sort/filter"
May I suggest to make the widget mimic the OpenTasks widget design, and the settings gear in the widget title being replaced by the little triangle button. In my opinion, having a quick switch rather than settings is more practical. When creating a widget, the triangle (arrow) button will be decided on to either filter on context/category or sort on priority. New task created from a widget would i

[2020-05-18 10:57] mpcjanssen commented on #1066
Android widget programming sucks. And this is trying to do too much in the widget IMO. All these things are already easily doable from the app itself, shortcuts to specific filters on the homescreen make it even more direct.
So probably never going to happen.

[2020-05-18 11:15] OpenWarp opened #1067 "Encancement: 1x1 Widget to display tasks count for given context"
It would be nice to change existing 1x1 widget or to create a new one to behave as follows.

1. On creation, select context/category or project/tag from the list
2. The widget then displays the name of context selected on step 1 inside it, and the count of active tasks for that context as standard Android notification count, in a little circle in the top right-hand corner of the widget.
3. Clickin

[2020-05-19 06:55] mpcjanssen commented on #1033
Android widget programming sucks. And this is trying to do too much in the widget IMO. All these things are already easily doable from the app itself, shortcuts to specific filters on the homescreen make it even more direct.
So probably never going to happen.

[2020-05-19 15:33] hockeymikey commented on #1033
@mpcjanssen Challenge accepted.

[2020-05-19 15:55] smichel17 commented on #1033
If you have simpletask-specific questions, you can ask here or in one of the chat rooms (linked [here](https://github.com/mpcjanssen/simpletask-android/blob/master/app/src/main/assets/index.en.md#support); they're all bridged together) and I'll do my best to help, depend on how much time I am around (I'm somewhat busy today).

[2020-05-20 13:58] ecogit commented on #1065
@smichel17   I haven't yet succeeded in adopting your approach but just wanted to quickly thank you for your comprehensive feedback, very helpful! Once I have this decent workaround working I'll share it here.

Also, for future reference to other nOObs like me; please mind that in the thread above I (coming from projects / contexts) mixed up the terms for tags and lists. Too many to edit now, unle

[2020-05-20 15:21] smichel17 commented on #1065
Feel free to use those names too (or just @ and +); we'll know what you're talking about.

[2020-05-20 15:40] smichel17 commented on #1065
@ecogit Here's the simplest version. Try this in lua config:

[code]
And same as above in the filter. Make sure that the sort tab of the filter has :arrow_down_small: Lua Script at the top.

I didn't test it; you can try it as-is first and then fill out the rest, if this works for the first two.

[2020-05-21 16:44] zekooooo opened #1068 "Option to store the todo.txt file privately"
I love your app's interface and I'd love a setting to have the app data stored in a way so that the todo.txt file isn't accessible to other apps with I/O permissions. (I don't know how this method of storage is called in Android, apps like Firefox use it for user data)

[2020-05-22 10:45] OpenWarp commented on #1033
Fair enough. It is possible to live without widgets when shortcuts are available. I do not see any however when long press on the app icon. Quick access to three recent context filters through application actions (press and hold app icon) menu would suffice.

[2020-05-23 19:17] mpcjanssen commented on #1033
Create a saved filter and long press that. Then you can create a shortcut to the homescreen.

[2020-05-25 08:41] aisbergde opened #1069 "question about GTD: How to move tasks to different files like waiting, someday?"
Simpletask has

it is easy to move tasks (lines) from a todo-file to a done-file.

But how can I easy move tasks between files in general? For example from a todo-file to a waiting-file or to a someday-file? I did not yet find an Android app to do this. My naive idea is:

- I mark one ore more tasks with a tag like +waiting or +someday
- I can filter (this works fine in simpletask)
- or I can sele

[2020-05-25 11:15] smichel17 commented on #1069
No easy way. You can make two saved filters, one that shows exclusively someday/maybe tasks and one that hides them, and that works pretty similarly. And/or you can use thresholds to hide them from your list until a specified review date in the future.

[2020-05-25 11:50] aisbergde commented on #1069
filtering will work if all is in one file. But my goal is to work with different files. I also want to distinguish between private task and task related to some customer projects I am involved.

To use several files is easy on a desktop PC where I can move content from one file into another. Maybe I should search an Android text editor which allow easy move of lines from one file into another?

Th

[2020-05-25 16:41] mpcjanssen commented on #1069
What does multiple files give you that multiple contexts and filters don't do? One big disadvantage of multiple files is that it becomes complex to show tasks from multiple files (for example work and home tasks) at the same time.

I would not be against making switching between files easier but then a lot of extra complexity gets introduced. For example will you show the same saved filters for al

[2020-05-25 18:51] aisbergde commented on #1069
I will try to combine all in two files: todo and done. it seams to be easier when I use only 2 files. Also all android apps I found support only this system (there are not so much apps).

And your arguments are valid: In a database I also keep all together as long as possible (my main business are dwh, databases, analytics).

But if I mix private and work, waiting, someday and so on in one file th

[2020-05-25 23:20] smichel17 commented on #1069
Saved filters are in the right hand drawer.

[2020-05-26 06:43] mpcjanssen commented on #1069
Discoverability of the features could use some work. But if you slide from the right, you open the saved filter drawer. There you can create, import and export filters.
To get options for a specific filter (including adding a shortcut on the homescreen), long press the entry in the list.

[2020-05-26 06:56] aisbergde commented on #1069
How an Android 10 user with global gesture enabled woul or could find this? This is the only way to do do a "back" action and when holding it is used switch apps.
Now it is clear why I am not able to find this on my Smartphone.
Now I tried on an Android 7 device, there it is. But it is totally not intuitive to find. And if nobody would write me that this exists I would never try and never find.

P

[2020-05-26 07:02] aisbergde opened #1070 "make app compatible with Android 10 gesture navigation"
some features can't be used on Android 10 because the app uses "reserved" global gestures like swipe from right or swipe from left.

[2020-05-26 07:10] aisbergde commented on #1069
saving filters is exactly what I need to work with one file containing all tasks. I works great on the Android 7 device - which I normally never use.

[2020-05-26 07:15] aisbergde commented on #1069
if this will be posible to on Android 10 in the near future:
is it possible to synchronize these filters between devices? Maybe some export and import could be implemented?

[2020-05-26 11:41] smichel17 commented on #1069
There is import/export, it's in the top menu (up/down arrow icon) when you have the drawer open, to/from a file named `saved_filters.txt` in the same directory as whatever todo.txt file is selected.

For making the drawer more obvious, #484, although I have more recent thoughts that are a less radical change to the UI (not getting rid of the two-drawer setup) but would accomplish similar things. N

[2020-05-26 12:07] aisbergde commented on #1070
I found that it works also on Android 10 if I perform this gesture in a higher area (maybe from top to 1/3 of the hight).

So there is no need to change the implementation.
But it is very required to document this feature in the help file!

[2020-05-26 12:36] aisbergde opened #1071 ""Force English" doesn't work in some places"
I changed the settings to "force English" to easier be able to follow some instructions. But this option doesn't work in some places:

Filter - Sort: all entries are still in German

showing filter: "non" is still "KEIN"

[2020-05-26 12:43] mpcjanssen commented on #1070
I am open for suggestions of how to make this more discoverable.

[2020-05-26 12:47] mpcjanssen commented on #1071
This is probably because the sort tabs are fragments and not activities. I will check.

[2020-05-26 12:47] mpcjanssen commented on #1071
Does it still not work after killing the application and restarting?

[2020-05-26 13:51] aisbergde commented on #1069
Sorry for the question regarding export / import, I also found this :-)

Regarding the access to this save and restore section:
It works great for me. But please add some hints into the documentation, how to find this "hidden feature"!

[2020-05-26 13:54] aisbergde commented on #1070
help > user interface
this would be the right place to explain. There you explain how to use filters and there you could or should explain how to save and restore filters.

[2020-05-26 13:59] aisbergde commented on #1071
after killing and restarting it works.

But what is strange:
I have set this option some days ago and I think I have seen it in English yesterday or before.
And today it was in German again, but I did not change the setting.
So it looks like sometimes it switches back to German.

I know this is hard to evaluate or to reproduce. The issue could be closed now and reopened, if this happens again. And

[2020-05-26 15:24] aisbergde commented on #833
Why it should be stored in a folder called "notes" but not in the current folder?

I use VS Code and there is an extension:
https://marketplace.visualstudio.com/items?itemName=davraamides.todotxt-mode
it allows to quickly move some content from the current todo file into a separate note file which is created in the **current folder**, for example `demo-item-123-note.md`
and it write this filename

[2020-05-26 16:04] aisbergde opened #1072 "multiple lists or tags: but entry is shown only once"
I can assign multiple tasks (or lists) to an entry.
But each entry is shown only once.

I would expect an entry to appear multiple times under different tags or lists: for each assigned list or tag. This is a typical many-to-many-relationship

[2020-05-26 16:11] aisbergde commented on #1072
or an option where I can control this (maybe other users are minded differently)

[2020-05-26 16:25] smichel17 commented on #1072
Duplicate of #153

[2020-05-26 16:35] aisbergde commented on #153
I see, it is a long time and often requested feature. I love many-to-many relationships and use them very often in my analytical database models.

What I do not understand from this issue here: should I use some Lua script to get the desired result?

[2020-05-26 17:34] smichel17 commented on #153
It is not currently possible. Needs someone with time to implement it.

[2020-05-27 09:56] mpcjanssen commented on #833
You can share other files in Android with Simpletask, this will then insert a content:// link which upon long press on the task will open the file with the associated viewer/editor.
This is the only supported way to do something like this in Android. Accessing files directly is becoming more and more difficult which each Android version.

[2020-05-27 13:15] aisbergde commented on #833
I tried to share a file to simpletask. But the result was that no content://... was created, but the content of the file was extended to the todo.txt file

[2020-05-27 13:18] aisbergde commented on #833
but what describe is exactly what I am looking for. So it seams to be implemented but I did not use the correct share method?
Maybe it would better to open a share dialog and to ask me, what I want to do:
- create a content link
- add the content to the currently open file
- ...

[2020-05-27 13:22] aisbergde commented on #833
I tried both share icons, both insert the content but not a link

[2020-05-27 13:48] smichel17 commented on #833
This depends on the app doing the sharing. Some apps share a link to the file, others share the full text of the file. If the app only shares the text, ST has no way of knowing what file the text came from.

If you just want to see how it ought to work, I just verified that [simple gallery](https://f-droid.org/en/packages/com.simplemobiletools.gallery.pro/) shares images as `content://` links.

[2020-05-27 14:41] aisbergde commented on #833
OK, i did not know. I used Astro file explorer to share. I will try some other ways.

I used simple gallery to test and this works fine. long press on the entry opens an action window. This is exactly what I need, for text files, markdown files
But it is not clear which syntax is required to link an open txt files or md files
`content://todo.txt` doesn't work

I tried to understand and to find the

[2020-05-27 15:17] aisbergde commented on #833
now I used several file explores and it looks like every explorer uses it`s own format, starting with the identification of the app and then something different. So it looks like this `content:` thing is not very useful because it depends on the app which was used to create the content and this will not be available on the desktop.

So we return to the initial request:
`note:filename`

[2020-05-27 15:20] aisbergde commented on #833
terrible ...

[2020-05-27 15:24] aisbergde commented on #833
what about supporting this syntax:
`<a href='../filename.txt'>filename</a>` to make this clickable?
I could use Markor to create these kind of links to files

[2020-05-27 17:46] aisbergde opened #1073 "option for not using upper case for list and tag group header"
I don't want simpletask to write the headers for list and task grouping in upper case but as I defined them. Maybe an option could be implemented to set this?

[2020-05-27 17:48] aisbergde commented on #1071
it is in German again, but I did not change this in the settings. I can't say when this happened, only have seen the "KEIN" and then I checked the sort list. It is a bug, but it is not important for me to fix it. I only want to report it.

[2020-05-27 18:00] aisbergde opened #1074 "Add ability to fold lists and tag (and whatever) groups in main window"
if entries are grouped by list or tag elements (or by whatever elements) it would be fine to hide / show entries by clicking or long tapping on the group header. The number of items should still be shown, but not the entries.

This could be used for quick analysis and hiding not needed details instead of changing the filter.

this is not #918 which is about the left side filter.

[2020-05-27 18:11] aisbergde commented on #1028
I want to extend this request:

implement **bi-directional filters** between
- list filter and data window
- tag filter and data window

filter the left side filter lists (lists and tasks) by content in the main window.

Example:
- from the list filter I select some items
- the list filter is applied in the main window
- in the tag filter only tags are shown used in the main window

- from the tag

[2020-05-28 07:06] mpcjanssen commented on #833
The `content://` links are not easy to generate by hand (unfortunately).  One thing which should still work (but will probably be broken in future Android versions) is to insert a `root://todo.txt` link. Where the `todo.txt` is looked up relative to the the root directory configured in settings->Other

[2020-05-28 07:49] mpcjanssen commented on #1071
These kinds of things fall into the category of "Things the Android SDK makes difficult but doable via some unreliable hack" so I probably wont spend much time on fixing this.

[2020-05-28 07:50] mpcjanssen commented on #1074
I don't think this is doable in the standard RecyclerView. It would require a special widget or logic.

[2020-05-28 07:51] mpcjanssen commented on #1028
I like the idea. Needs more fleshing out of how it would work though.

[2020-05-28 07:52] mpcjanssen commented on #1028
@aisbergde this should probably be a separate request.

[2020-05-28 07:57] mpcjanssen commented on #1013
`root://` should be fixed by 63839bf051de197fa8f9321c83572472386ade8b . New build an link above

[2020-05-28 08:12] mpcjanssen commented on #833
@aisbergde can you try the `todo://` approach with a build from https://mpcjanssen.nl/artifacts/10.5.4-14-63839bf/

[2020-05-28 11:10] aisbergde opened #1075 "bi-directional filters between list - content - tag"
implement **bi-directional filters** between
- list filter and data window
- tag filter and data window

filter the left side filter lists (lists and tasks) by content in the main window.

Example:
- from the list filter I select some items
- the list filter is applied in the main window
- in the tag filter only tags are shown used in the main window

- from the tag filter I select some items
- th

[2020-05-28 11:59] aisbergde commented on #833
I tried:

`2020-05-28  @@Test root://done.txt`

but I get

[code]

I see, this is not easy to do. And it should work on android and in windows, and it should be future proof.

That's why the idea to use this human readable `note:filename.fileextension` is so interesting.

Maybe I should think about the usage of the `uuid:` which is in options, but currently I don't want to mess my real todo.txt un

[2020-06-01 03:01] fazlerabbi37 commented on #816
@mpcjanssen I just hit a bit of problem regarding the [RFP](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/6680#note_352363278) for Nextcloud flavor. Simpletask usages [Triple-T structure](https://github.com/mpcjanssen/simpletask-android/tree/master/app/src/main/play) to provide the description and summery but for the Cloudless app in F-Droid almost all [metadata](https://gitlab.com/fdroid/

[2020-06-01 05:24] mpcjanssen commented on #816
If you could create PR for Triple-T that would be great.

[2020-06-01 11:09] smichel17 commented on #816
[Meta] it's annoying to me that neither fastlane nor triple-T get  everything right.

Triple-T:

- Metadata inside app folders makes sense
- Gradle plugin instead of standalone tool is great
- Metadata structure leaves much to be desired.

Fastlane:

- Metadata structure works well with multiple locales
- Changelog structure makes way more sense

Fastlane structure in Triple-T location as a gradle

[2020-06-04 20:37] roman-yagodin opened #1077 "Disallow punctuation at the end of in list/tag names"
Then editing tasks manually, I often use list/tag (context/project) labels as parts of the speech, which sometimes produces duplicating labels in Simpletask, like `+Project` and `+Project,`

I think the way how Simpletask recognizes lists and tags should be adjusted to allow lists/tag to be separated not only by whitespace, but also by punctuation (special chars) followed by whitespace.  In other

[2020-06-04 21:11] roman-yagodin opened #1078 "Duplicate task(s) action"
It would be nice to have duplicate selected task(s) action.

This will provide fast and clear way to make task copies to tweak. After duplication, selection can be expanded to include both tasks.

Besides obvious copy/paste, this can be simulated currently by selecting task and sharing it back to Simpletask - happy find for me, but surely it's not clear for everyone from the start. And it also add

[2020-06-05 05:20] mpcjanssen commented on #1078
You can configure the +background tag to be empty. It's just useful to see tasks that were added in the background to later process them.

[2020-06-05 13:58] roman-yagodin commented on #1078
Thanks, @mpcjanssen! I'm aware of that setting, but for me it plays it's purpose - to mark externally added tasks - which is not the case.

[2020-06-05 14:16] roman-yagodin commented on #1078
Updated description - added use cases.

[2020-06-16 08:55] tbm opened #1080 "Syntax highlighting"
It would be nice if Simpletask would do syntax highlighting, e.g. show priorities, projects and tags in a different colour.

[2020-06-16 15:29] aubreyz commented on #1080
It does that for me to a large extent. The A,B,C are highlighted in different colors. Projects and Tags are in a different muted color but I agree it would be good if they were much more different, and if tags and projects were colored differently. There is a setting (checkbox) to color dates, but for some reason they remain (white) in a black theme, despite setting this.

[2020-06-16 15:34] aubreyz commented on #1080
It would obviously be hard to have a different color for each tag, but can I suggest as a simple improvement it might be possible to have different colors for tags/projects starting with different letters, even in groups of letters. It would be up to the user to decide how and if to employ this (although it might add too much processing time).

[2020-08-01 08:28] mpcjanssen commented on #1077
This was a result of allowing punctuation inside tags. Having punctuation at the end of lists or tags seems much less useful. A configurable regexp sounds like a bit of overkill though. Maybe a checkbox in the settings.

[2020-08-01 12:20] smichel17 commented on #1077
What about just fixing this one case? Allow any punctuation within tags, but strip a subset of trailing punctuation, specifically any of these symbols: `.,:;?!')]}>`

Without any preference, I think that would probably cover 95% of use cases.

Or -- I'd need to check how this one interacts with the todo.txt spec -- if you want trailing punctuation, use the same symbol as a closing tag. Eg, if you

[2020-08-02 09:41] mpcjanssen commented on #1077
spec is silent on these kinds of things

[2020-08-04 06:03] roman-yagodin commented on #1077
I agree with @smichel17 - it would be good to preserve ability to use not only alphanumeric chars at the end of the label. So there is some options:

- Special ending char like `+Project?_`
- Escape char like `+Project\?`
- Some kind of brackets like `+(Project?)`

[2020-08-09 09:28] geniuslittleteddy opened #1081 "Help page reloads after device rotation"
In the help page, click any link and rotate device. The page state gets lost and returns to the home page.

![Screen Shot 2020-08-09 at 5 26 02 PM](https://user-images.githubusercontent.com/67744580/89729179-b915ff00-da65-11ea-8867-38d3015bcd48.png)
![Screen Shot 2020-08-09 at 5 26 08 PM](https://user-images.githubusercontent.com/67744580/89729182-bb785900-da65-11ea-9dc0-da36ca437957.png)

[2020-08-12 14:38] PetrVladimirov opened #1082 "Recurring donation"
@mpcjanssen - simpletask is a great app :1st_place_medal: that many use everyday. Thank you very much for its development and maintenance!

You have to fix bugs and maintain compatibility with platforms updates. Moreover many people ask for new features and it would be great to get at least some of them in future (no pressure :smile:)

So I thought that it might be fair for your to open recurring

[2020-08-12 15:00] aubreyz commented on #1082
There is already a donation app for simpletask (I have donated) - though it seems slightly odd as a mechanism.

https://play.google.com/store/apps/details?id=nl.mpcjanssen.simpletask.donate&hl=en_US

[2020-08-12 15:03] smichel17 commented on #1082
There's also a paypal link in the [readme](https://github.com/mpcjanssen/simpletask-android/blob/master/app/src/main/assets/index.en.md). However, neither of those are a recurring donation method, so I think @PetrVladimirov's question still stands. :)

[2020-08-13 14:45] mpcjanssen commented on #1082
To be honest, even though I appreciate the sentiment, looking at the amount of donations I think setting up a recurring donation will be more trouble than it's worth. And it will create expectations for changes or fixes in Simpletask.

[2020-08-13 14:46] #1082 closed

[2020-08-18 21:33] ComedyTomedy opened #1083 "When updating/editing multiple tasks, List/Tag/Prio/etc buttons should map over every line"
When updating/editing multiple tasks, in a single massive textbox where newlines separate the tasks, the List/Tag/Prio/due/threshold buttons at the bottom should add/remove their text from every line.

Current behaviour is to edit only the final line (I think...).

Use case:
1) If I paste a multi-line bullet list from an article to create a list of task, I usually want to apply a particular Tag to

[2020-08-18 21:54] ComedyTomedy opened #1084 "Feature Req: Keyboard Navigation (!) for Anbox"
SimpleTask seems to run well on Linux in Anbox, but with one major problem: There's no way to access the Saved Filter drawer (because I can't swipe).

I have no idea how feasible/easy this is, but it'd be lovely to:
1. Have non-swipe access to Filters
2. If it's by key, also have key shortcuts for some commonly-used actions

Here's a few key suggestions off the top of my head
* `[Esc]` already exi

[2020-08-18 22:40] ComedyTomedy commented on #1080
Oh! I've wanted priorities beyond (D) to be colourised since *forever*. I often (mis-)use prios as tags within non-task lists because they won't inflate the tag list.

[2020-08-19 09:52] mpcjanssen commented on #1083
Current behavior is to add it to the line with the cursor. I think a good way would be to do it to all selected lines, but that is far from trivial.
As a workaround (which is how I do it) you can

- Add all the tasks without any tag or list.
- Save them
- In the main filter all tasks without tag or list
- Select them
- Add lists and tags

[2020-08-19 15:31] ComedyTomedy commented on #1083
Thanks! My issue with your way is that once I add a tag, they vanish from the "no tag or list" filter, so I need to find them again and add a list (for example) ☺ Either way, I'm okay enough doing that for now. Thanks for replying!

[2020-08-19 15:53] mpcjanssen commented on #1083
@ComedyTomedy if you enable the keep selection setting from Features. The tasks will remain selected and visible so you can make other changes. This setting was created specifically for this scenario.

[2020-08-19 15:55] ComedyTomedy commented on #1083
Aha! Thanks! I often put my interface in other languages for learning, and miss subtleties like this. Got it ♥

[2020-08-23 10:28] zagl opened #1085 "Saved filter has to be clicked twice for onSort to take effect"
I have a saved filter with onGroup and onSort lua sorting. When no filter or some other filter is active and I switch to the filter with lua script filtering, onSort does not take effect at first, onGroup works though. Wenn I press the saved filter in the right drawer a second time sorting works.

I also get the same behaviour with onSort alone and removed onGroup and I even tried a very simple so

[2020-08-26 21:37] spiralofhope opened #1086 "Be available as a file handler"
#### Version

<details>
 <summary>Click to expand</summary>

Simpletask 10.5.4

Settings > About phone >

* Custom built version:  alps-mp-q0.mp1.V8.4

Settings > About phone > Android version

* Android version: 10
* Android Security patch level: 5 December 2019
* Baseband version:  MOLY.LR12A.R3.MP.V84.T1,MOLY.LR12A.R3.MP.V84.T1
* Kernel version:  4.14.141
  *  `#1` Thu Mar 19 09:23:51 CST 2020

[2020-08-26 21:51] spiralofhope opened #1087 "Do not strikethrough completed items"
#### Version

<details>
 <summary>Click to expand</summary>

Simpletask 10.5.4

Settings > About phone >

* Custom built version:  alps-mp-q0.mp1.V8.4

Settings > About phone > Android version

* Android version: 10
* Android Security patch level: 5 December 2019
* Baseband version:  MOLY.LR12A.R3.MP.V84.T1,MOLY.LR12A.R3.MP.V84.T1
* Kernel version:  4.14.141
  *  `#1` Thu Mar 19 09:23:51 CST 2020

[2020-08-29 20:31] spiralofhope opened #1088 "repeating "Saving of todo file failed" popup message"
#### Version

<details>
 <summary>Click to expand</summary>

Simpletask 10.5.4

Settings > About phone >

* Custom built version:  alps-mp-q0.mp1.V8.4

Settings > About phone > Android version

* Android version: 10
* Android Security patch level: 5 December 2019
* Baseband version:  MOLY.LR12A.R3.MP.V84.T1,MOLY.LR12A.R3.MP.V84.T1
* Kernel version:  4.14.141
  *  `#1` Thu Mar 19 09:23:51 CST 2020

[2020-08-30 09:51] mpcjanssen commented on #1088
please attach the logging after this happens. from Settings->other

[2020-08-30 19:41] nicosmaris opened #1089 "render links"
If a word that starts with http was rendered when updating a task, then I could click on it.

[2020-08-31 10:07] mpcjanssen commented on #1089
if you long press a task in the main view, you get a popup with all the links. is that what you want? making this work in an edit box is hard.

[2020-08-31 11:44] nicosmaris commented on #1089
Yes the long press is all I wanted, you can close this ticket, thanks!

On Mon, Aug 31, 2020, 13:07 Mark Janssen <notifications@github.com> wrote:

[2020-08-31 16:32] #1089 closed

[2020-09-01 21:16] spiralofhope commented on #1088
https://gist.github.com/spiralofhope/25e6edda132ce114a9c22e84f6495aaa

[2020-09-02 09:18] aubreyz commented on #1088
Perhaps not entirely related by my dropbox version persistently fails to write and creates a new dropbox file (with numbers appended) citing version clash (even though my single phone and simpletask are the SOLE devices connected to my dropbox account, so there is nothing else altering things).

[2020-09-02 12:33] mpcjanssen commented on #1088
this os the cloudless version giving an error?

- does thr cloudless version have storage access
- how fo you sync to dropdox

[2020-09-02 12:44] aubreyz commented on #1088
No the cloudless version works great.

It is the dropbox version that is causing the problem. I actually have both versions running and I use them for different purposes.

[2020-09-02 13:35] mpcjanssen commented on #1088
@aubreyz that was a question for @spiralofhope

[2020-09-03 08:26] spiralofhope commented on #1088
Yes it is just simpletask from f-droid.

Yes it does.  I am able to open, change and save files normally.  This message keeps appearing, but it does not need to.

[2020-09-06 12:22] ComedyTomedy opened #1090 "Accessibility of right sidebar"
It's not always possible to swipe, meaning one can't always open the Saved Filters panel.

I'd like to suggest adding an item "Show Saved Filters" in the overflow menu (top right). There may be other solutions.

Examples of the problem:
* SimpleTask works well in Andoid split-screen mode, but at least on my Xiaomi "MIUI" phone, accessing the saved filters list in this mode isn't possible.
* As ref

[2020-09-06 13:19] ComedyTomedy opened #1091 "Enhacement: Sync filters between instances"
I'd like to have my "saved filter list" synched between different instances / devices of SimpleTask. I use 2, and keep the filters similar manually.

#### Suggested solution:
Saved Filters be (optionally?) stored in plaintext like the TODO.txt file, at a user-selected location (either on the device's filesystem, or in Dropbox/etc). The format could be JSON (or Sexps, XML, ...). It needn't be compr

[2020-09-06 18:52] ddisanti commented on #1091
@ComedyTomedy saved filters can be exported tapping on the Import/Export (_double arrow_) icon in the right side drawer. The filters are exported to a plain text file called ```saved_filters.txt``` inside ```/data/nl.mpcjanssen.simpletask``` folder inside your device's internal storage. Inside this folder you'll also find your todo.txt, done.txt, lua.config files.

[2020-09-06 19:03] ComedyTomedy commented on #1091
Ah! Thanks ever so much! I knew that years ago and forgot >.<

I guess that updates this issue to: allow automatic sync of filters / reading and writing constantly to a file.

It wouldn't add much UI clutter, and (mostly) generalises functions the app already provides.

[2020-09-06 22:23] ghgary opened #1092 "Latest version often fails to sync"
For the last few weeks, since the last update, I think, SimpleTask often fails to read updates to todo.txt made by Dropbox. I am running version 10.5.5 on a Samsung Galaxy running Android 9.

I often update todo.txt on a computer running Linux. I can see the changes to todo.txt on my phone using the Dropbox editor, so Dropbox appears to be working fine. However, SimpleTask shows a previous version

[2020-09-07 07:47] mpcjanssen commented on #1092
Doe the new version get picked up if you re-open the file from the menu in Simpletask using `Open task list file` ?

[2020-09-08 06:14] ghgary commented on #1092
Yes, that works. Also, since using that command to open the file, the syncing problem seems to have disappeared. Changes saved from Simpletask appear as they should on my Linux machine and changes made to todo.txt on Linux appear shortly in Simpletask without my having to do anything. So, apparently something was stuck? In any case, thanks for the fix.

[2020-09-08 13:52] smichel17 commented on #1090
This seems like a good, low-effort compromise, until someone has the inclination to do a UI update to fix this in a better way.

[2020-09-10 17:18] smichel17 opened #1093 "Removed metadata"
I just noticed 801bbb0abfb9536b58cb42649d4079c79b44e260 — @mpcjanssen FYI, this is going to affect F-Droid, to whatever extent the metadata is not in the fdroiddata repo (but, they have been encouraging devs not to use that approach, and to host metadata in their own repo (fastlane/triple-t style) instead).

You don't need the Triple-T plugin, just the metadata in that location (or the fastlane on

[2020-09-10 18:13] mpcjanssen commented on #1093
ah that's a better option. The plugin keeps breaking the build.

[2020-09-11 08:44] mpcjanssen commented on #1093
Reverted by 63141bb6eb0eac6d4f4efdf32d6e0dd57d86ff76

[2020-09-11 08:44] #1093 closed

[2020-09-11 11:50] smichel17 commented on #816
Follow-up: https://gitlab.com/fdroid/fdroidserver/-/issues/829

[2020-09-11 22:49] colinsullivan commented on #972
+1 for recurring

Other tools use the syntax:

`rec:1w` (for 1 week from completion date)
`rec:+1w` (for "strict" recurring one week from due date)

[2020-09-11 23:13] mpcjanssen commented on #972
rec is supported and calendar integration is also there. What is missing exactly?

[2020-09-12 20:43] colinsullivan commented on #972
Ah okay cool, I was confused - good for my needs 👍

[2020-09-19 23:00] sarana1 opened #1094 "Not finding my todo.txt file"
Hi,

I keep my todo.txt file in my own large folder in Dropbox. Simpletask has always been able to see it and connect with it without any issues. I don't know how long ago it stopped doing that (maybe after the last update?), but now, even after reinstalling from the Play Store, it will only see the one in the initial folder it chooses (I choose the Dropbox option when connecting NOT to use the Si

[2020-09-21 10:59] mpcjanssen commented on #1094
Could you attach the logging from the app with problems? Try to browse to the folder with the todo.txt and then go into Settings->Other->View debug log and share it here.

[2020-09-21 18:07] sarana1 commented on #1094
Sure. I don't know when I'll be able to get around to it, but I will.
Thanks!

El lun., 21 de sep. de 2020 6:59 AM, Mark Janssen <notifications@github.com>
escribió:

[2020-09-22 09:22] mpcjanssen commented on #1094
I have also uploaded a version with the newer dropbox SDK included at https://mpcjanssen.nl/artifacts/10.8.0-2-b732e3b/dropbox/release/app-dropbox-release.apk

It would be interesting to try with that.

[2020-09-26 16:35] jensberke opened #1095 "Can't save or open todo.txt to/from internal storage anymore after upgrade to Android 10"
Hi, first of all, thanks a lot for your work on Simpletask.

### Setup

Simpletask 10.7.0 Cloudless
Granted app permissions: Storage, Calendar
todo.txt location: /storage/emulated/0/Simpletask/todo.txt

### Problems

Can't save todo.txt anymore. Saving shows "Saving todo file failed".
Can't open a todo.txt anymore because the file dialog only shows empty directories (though files exists in these d

[2020-09-26 19:40] mpcjanssen commented on #1095
This is caused by tightened storage permissions in Android 10. Please use the version from
https://mpcjanssen.nl/artifacts/10.8.0/cloudless/release/app-cloudless-release.apk
for a fix. You will need to move the todo.txt file to
/storage/emulated/0/Android/data/nl.mpcjanssen.simpletask/files/todo.txt
easiest is to reinstall cloudless and create a new task in the new
version and then copy the existi

[2020-09-27 10:15] jensberke commented on #1095
I've already tried 10.8.0 released via F-Droid by now but the problem persists (removed 10.7.0 from Google Play and reinstalled 10.8.0 from F-Droid). The path to todo.txt which is actually used is different from the one you posted above:

Posted by you:
/storage/emulated/0/Android/data/nl.mpcjanssen.simpletask/files/todo.txt

Actually used:
/storage/emulated/0/data/nl.mpcjanssen.simpletask/todo.tx

[2020-09-27 13:17] mpcjanssen commented on #1095
@jensberke you'll need the unreleased https://mpcjanssen.nl/artifacts/10.8.0-2-b732e3b/cloudless/release/app-cloudless-release.apk for https://github.com/mpcjanssen/simpletask-android/commit/6f084e4cdd0ecb6904a0c7b78930e7a1d85cf027 . Sorry for the wrong link.

[2020-09-27 15:13] jensberke commented on #1095
Ok, thanks, that version fixes the problem. I copied my backup of the todo.txt to /storage/emulated/0/Android/data/nl.mpcjanssen.simpletask/files/ after installing the apk and now everything's back and working.

[2020-09-27 16:03] idlinds commented on #1095
I was having exactly the same problem and that fixed it. Thanks for this and all your work on this useful app. Is this going to have to remain the storage location for future versions or do you think future updates will allow different locations to be selected again?

[2020-09-28 11:04] mpcjanssen commented on #1095
@idlinds I have no plans to try jump through hoops to be able to write to the old location again (just for Google to break the hoops in the next Android release)

[2020-09-28 11:04] #1095 closed

[2020-09-28 22:52] ddisanti commented on #1095
@mpcjanssen I've switched to a new Android 10 device and I'm experimenting this same issue. Do you plan to publish the new version in the play store soon? Thanks in advance.

[2020-09-29 20:36] mpcjanssen commented on #1095
@ddisanti not sure when I have time but if you install the version linked above it will fix the issue and be update once a newer version comes on the playstore

[2020-10-05 20:06] #972 closed

[2020-10-09 05:03] RickH64 opened #1096 "Share with filter"
Is it possible to share a list with filtered tasks?  At the moment it only seems possible to share a whole list, which is more an export.

Thanks for all the hard work!

[2020-10-09 12:30] smichel17 commented on #1096
You can share selected tasks, and there is a "select all" item next to the share item. So in practice, yes. It's arguable that plain menu->share should share the filtered list, but the current way of select->all->share is basically as fast (but less obvious)

[2020-10-09 13:21] steinm opened #1097 "Possible error when access webdav server"
I have put my todo.txt into seeddms (another open source dms) and access it via webdav. When I open a todo file I see PROFIND calls with a path '//' which I suppose should be '/'. seeddms webdav server response with not a found msg. Opening a subdirectory is working fine. I'm not sure if it is '//' is a valid path for the root folder but I doubt it. Can this be fixed?

[2020-10-09 18:54] mpcjanssen commented on #1096
Share from the main menu should only share the filtered items. If it doesn't, that's a bug.

[2020-10-09 18:55] mpcjanssen commented on #1097
What did you enter for server address? And did it have a trailing slash?

[2020-10-09 20:21] steinm commented on #1097
No trailing slash. It's just a php page `https://..../webdav/index.php`.

When I access a subfolder I can see a correct access on `/foldername/`. My first thought was, that you always put a `/` in front and after the foldername. In case of the root folder this results in `//`. But that is just a guess.

[2020-10-10 11:05] mpcjanssen commented on #1097
@steinm could you try with https://mpcjanssen.nl/artifacts/10.8.0-5-5980466/webdav/release/app-webdav-release.apk

[2020-10-11 10:18] steinm commented on #1097
I tried to install it, but for some reason it doesn't do it. It starts fdroid and asked me whether I would like to install it. After clicking continue it starts to install, but then issues the error msg 'the app could not be installed'.

[2020-10-11 10:34] mpcjanssen commented on #1097
Ah you installed the fdroid version? Then you should uninstall that first. Fdroid signs the build with their own (different) key.

[2020-10-11 13:47] steinm commented on #1097
Got it installed and now its working flawlessly. The path to PROPFIND is a single dash for the root folder and all subfolders are also still working. Thanks for fixing this.

[2020-10-11 14:05] mmmok opened #1098 "Todo file content overwritten"
Hi, I have been using Simpletask Cloudless for many years, and I am very grateful for the app, and had never found a problem like this one.

I don't know how, the content of one of my todo files (let's call it file B) was replaced with the content of another one (let's call it file A). Both files live on the same directory.

I am almost certain that file A was the last one I opened and worked with

[2020-10-12 05:57] mpcjanssen commented on #1098
@mmmok I hope this didn't cause any data loss and until it's clear what's causing this I would suggest not switching todo files.

[2020-10-12 06:00] mpcjanssen commented on #1098
@mmmok could it have been the case that you had changes pending while switching todo files? i.e. do you recall if there was a red bar showing?

[2020-10-14 12:22] mpcjanssen commented on #1098
@mmmok fixes are included in the released 10.9.0 version.

[2020-10-19 12:17] chadvoegele opened #1099 "Webdav PROPFIND works but PUT fails"
Hi @mpcjanssen! Thank you for simpletask! It is a really great progam.

I am trying to switch from the Dropbox version to Webdav. My webdav server is nginx ([example](https://wiki.archlinux.org/index.php/WebDAV#Nginx)) behind a reverse proxy with Basic HTTP Auth.

The login and fetching of the `todo.txt` file works but saving fails. It looks like the username/password is not provided during the PU

[2020-10-20 11:47] mpcjanssen commented on #1099
Is there any (temporary) option to test this without the intermediate nginx proxy?

[2020-10-20 12:11] chadvoegele commented on #1099
Yup, I will try that.

Also, I noticed that Orgzly has the same behavior where the request is submitted once without the username/password and then again with it. I see the same `no user/password was provided for basic authentication` with Orgzly but it goes through on the subsequent call. I'm trying to look more into the `okhttp3.internal.http2.StreamResetException: stream was reset: NO_ERROR` er

[2020-10-20 12:20] chadvoegele commented on #1099
Ya, it works without the proxy so seems like Simpletask is fine. Not sure why the same setup works with Orgzly; both are using Sardine + OkHttp.

I'll close this since it is not a Simpletask issue. I'll post back if I figure out a solution with the proxy.

[2020-10-20 12:20] #1099 closed

[2020-10-20 12:40] chadvoegele commented on #1099
I'm still doing some testing but it looks like it works with the proxy if you use OkHttp 4.10.0-RC1. I think the problem is related to this issue: https://github.com/square/okhttp/issues/4964

[2020-10-20 17:01] mpcjanssen commented on #1099
I'll see if I can update sardine and or okhttp

[2020-10-20 17:58] chadvoegele commented on #1099
Thanks for looking into it!

keepass2android hopped onto the RC for this issue: https://github.com/PhilippC/keepass2android/pull/1445/files

I completely understand if you don't want to use the RC version. I can make my own build in the meantime until this stabilizes.

[2020-10-20 18:43] mpcjanssen commented on #1099
@chadvoegele I have no issues with using RC version if they fix a real world problem. I will make a build for you to try.

[2020-10-20 20:13] mpcjanssen commented on #1099
@chadvoegele updated build at https://mpcjanssen.nl/artifacts/10.9.0-1-4598ad4/webdav/

[2020-10-20 20:21] chadvoegele commented on #1099
Wow, thanks so much for the quick fix!

It is working for me!

I need to back out all of the config I added for testing but I'm pretty sure the OkHttp upgrade does it.

[2020-10-21 03:20] chadvoegele commented on #1099
I cleaned up everything and it's still working with your build. Thanks so much for your help!

[2020-10-21 07:59] mpcjanssen commented on #1099
@chadvoegele thanks for finding out the probable fix, that was most of the effort, making the build was 5 minutes work :smile:

[2020-10-21 15:34] smichel17 commented on #1090
I had another idea for a UI change that I think has a very good ratio of effort to benefit:

Add another FAB, above the current one, to open the right drawer.
It should be the small style of FAB, not big like the +.

I think it would not cover too much task list area, but I might be wrong; in that case, we should offer the option to hide it (or move to the overflow menu), instead.

[2020-10-21 15:35] smichel17 commented on #484
This is no longer on my list for the moment; I am not using SimpleTask enough to justify the time this would take. Since I doubt anyone else will come across to implement this, I'm going to close the issue. #1090 will get a large portion of the way there.

[2020-10-21 15:35] #484 closed

[2020-10-21 15:56] smichel17 commented on #780
I guess I forgot to respond to this.

Saved filters are where you put the lua functions — `onFilter`, `onGroup`, `onSort` — that have an effect on what is shown.

What if you want two filters that show the same tasks, but sorted differently? You could copy the `onFilter` function into both filters, but then you need to update two places each time you want to make a change. This is what the lua con

[2020-10-21 18:58] Rudd-O opened #1100 "Android 11 storage problems"
Hello.  Latest version of the app.

App starts and says "cannot load todo.txt" (enoent in the log).  I create some tasks, they are created fine.  File todo.txt is saved in /storage/emulated/0/Android/data/nl.mpcjanssen.simpletask/files/todo.txt.  All good.

Problem arises when I want to open another todo.txt (I use syncthing to keep the list in sync with my PC) in another directory.  No matter whi

[2020-10-21 20:09] mpcjanssen commented on #1100
I don't know how this can be fixed with the new permission model for storage in Android 11. If someone knows how I would be very interested, but I am tired of the arms race with Google on storage access

[2020-10-23 12:46] Rudd-O commented on #1100
I think if you use the standard Storage Framework file chooser, and let the user choose a folder, then it grants you access *just* to that folder, even if it is outside of `~/Android/data`.  Your app uses a homecooked file chooser.

[2020-10-23 12:48] Rudd-O commented on #1100
Yes https://developer.android.com/about/versions/11/privacy/storage#file-access

[2020-10-23 13:16] smichel17 commented on #1100
Looks like you can request access to all files https://developer.android.com/about/versions/11/privacy/storage#all-files-access

I wonder whether this would be approved by app store review. But it should work on fdroid at least.

...but yes, it seems like every new version or two, Android introduces some new hoop top jump through if you want storage access. Tbh they should just cut it off entirely

[2020-10-23 16:06] mpcjanssen commented on #1100
@Rudd-O using the storage file framework is not really an option because simpletask uses file monitoring events to check for changes in other apps and saf doesn't support this. This would break a very common user case

[2020-10-23 16:07] mpcjanssen commented on #1100
I did make a SAF version and that also had issues with properly synching files opened using saf on remote providers.

[2020-10-23 16:59] mpcjanssen commented on #1100
@smichel17 I doubt simpletask matches the required criteria to request that level of access

[2020-10-23 16:59] Rudd-O commented on #1100
Can you poll every second instead of monitor?  Not suggesting this is the way, perhaps all files access is enough.  The thing is, I would gladly let the app use its normal data directory as it does, but then I can't actually put the config.lua file there, AND syncthing can't sync from that folder either.

This is bullshit man, damn android.

[2020-10-23 17:41] smichel17 commented on #1100
I wonder if it would make sense to use the all-files permission for cloudless and just not distribute that version on the play store

I wonder if the "right" way to do this, according to Google, would be to make a syncthing flavor, as another storage backend like Nextcloud/dropbox. :roll_eyes:

…this is why I am becoming increasingly skeptical of sandboxing a la Android/iOS/flatpak/snap, etc. Inst

[2020-10-24 07:06] mpcjanssen commented on #1100
It seems that android O (API level 26) adds an option to refresh a cached file in the SAF cache, This would allow a version based on SAF. I will make a proof of concept at https://github.com/mpcjanssen/simpletask-android/tree/saf

[2020-10-24 16:46] mpcjanssen commented on #1100
Even while being a POS PITA, the SAF version does seem to work now. Getting a reliable lastModified result is unreasonably hard.

[2020-10-26 08:14] mpcjanssen commented on #1100
Adding file manage permissions is a very small change and works perfectly on Android R. I will make a Android R build and add the link.

[2020-10-26 08:27] mpcjanssen commented on #1100
Android R version with full access at https://mpcjanssen.nl/artifacts/10.9.0-2-f162a66-fullaccess/cloudless/

[2020-10-26 08:27] #1100 closed

[2020-10-28 17:14] Rudd-O commented on #1100
Will this be released?  Thanks in advance.

[2020-10-28 17:31] Rudd-O commented on #1100
FYI I can confirm this works perfectly.

[2020-10-28 18:01] mpcjanssen commented on #1100
@Rudd-O I can't really release this because Simpletask will probably not meet the Google requirements for this permission. Also this build only works on Android 11. I will keep putting updated builds on my site though.

[2020-10-30 02:20] thehungryturnip opened #1101 "Unable to find todo.txt"
The app (cloudless version) seems unable to recognize the presence of any files. The "open task list file" button seems to only see folders. E.g.

No files show up:
![Screenshot_20201029-221246](https://user-images.githubusercontent.com/91952/97652320-75171280-1a34-11eb-8f65-bf0c34394666.png)

Other app showing for presence:
![Screenshot_20201029-221317](https://user-images.githubusercontent.com/9

[2020-10-30 02:38] smichel17 commented on #1101
If you are on Android 11, this is a duplicate of #1100

[2020-10-30 02:42] smichel17 commented on #1100
Until this is resolved in a way that users can figure out how to make ST work on Android 11 without coming here, I suspect there will be a steady stream of new issues from people who forget to search or didn't find this issue when they searched. Pinning this to hopefully avoid some of that.

[2020-10-30 02:53] thehungryturnip commented on #1101
Thanks... You are correct... Unfortunately I searched but didn't spend enough time. Sorry and thanks for the quick reply!

[2020-10-30 02:53] #1101 closed

[2020-10-30 02:57] smichel17 commented on #1101
No worries, it happens. Particularly, GitHub's UI makes it easy to forget to search *closed* issues in addition to open ones.

[2020-10-31 13:29] mpcjanssen commented on #1100
Funny that the Android 11 storage issue is issue nr #1100 :)

[2020-11-01 10:42] aubreyz commented on #1090
Ahhh. this problem has now rendered simpletask unusable on my new moto G8. There is no possible way I can see to access the right swipe menu or the filters. Any attempt to do that just exits the app. If this is an "easy" fix then it's an urgent one as I am completely disabled for now....

The left swipe menu is obviously still accessible from the "3-line" menu.

[2020-11-02 08:11] mpcjanssen commented on #1090
Yet another google hoop :clap: Adding a menu item should be easy.

[2020-11-02 08:11] mpcjanssen commented on #1090
Code is already there to show the right drawer on first launch

[2020-11-02 10:24] #1090 closed

[2020-11-02 12:29] aubreyz commented on #1090
Thank you for this (not yet looked). As to Google, I couldn't agree more. The best software I use (over many decades) is nearly perfectly backwards compatible (like LaTex). Windows is even quite backwards compatible at least over one decade.

They could easily have done these meta-gestures in a very different way that would be mostly compatible (e.g over a very narrow slice of the vertical screen,

[2020-11-06 07:49] mpcjanssen opened #1102 "Two versions of Simpletask missing in play store"
The dropbox and cloudless versions of Simpletask have been suspended in the playstore because of a "repetitive content" violation.
To me it's not clear how one should publish different flavours of the same app in the playstore then. For now. I will start adding builds to https://mpcjanssen.nl/artifacts if or when I will find a proper solution to this which doesn't risk suspending my whole gmail ac

[2020-11-06 07:57] mpcjanssen commented on #1102
Appeal text:

I therefore think these different version (although very similar) do provide enough differentiating functionality (the storage backend) to all be allowed. The amount of downloads for each clearly support this.
Also going to direct suspension instead of a warning after several years being live with these apps is too harsh.

[2020-11-06 13:03] dessalines commented on #1100
For anyone wondering, the earliest version of simple-task available on f-droid still works (10.5 I think?).

[2020-11-10 04:35] smichel17 commented on #1097
Fixed by https://github.com/mpcjanssen/simpletask-android/commit/598046661dcb948e95a89cb2c45a6ce2fa5f0e38

[2020-11-10 04:35] #1097 closed

[2020-11-10 05:13] smichel17 opened #1103 "[AddTask] Don't create double spaces when adding lists/tags"
Right now if the task ends in a space, adding a list or tag will still prepend a space, resulting in a double space.

Low priority; just clearing this out of my personal task list.

[2020-11-10 05:19] smichel17 opened #1104 "[FilterActivity] Add shortcut to open lua config from overflow menu"
It would be nice to jump quickly from editing the scripts for a filter to the global lua config, either for making changes or just for reference.

Low priority; just clearing this out of my personal task list.

[2020-11-16 09:46] Rudd-O commented on #1100
Yes.  It's probably because it targets an older version of Android?  (But what do I know, to be honest — all I know is Android apps are getting more and more walled-in, certainly for good reason, but the way the chessboard was set up from the start was going to lead us here.)

[2020-11-16 09:47] Rudd-O commented on #1100
Can this be the default in F-Droid?  I can confirm your build works **perfectly**, for all readers of this issue.

[2020-11-17 05:57] mpcjanssen commented on #1100
@Rudd-O unfortunately not as is because the functionality to get this permission is only available on api 30. I could do some rewriting to change the behavior based on api level.

[2020-11-17 05:57] mpcjanssen commented on #1102
That didn't really help:

Status of app (nl.mpcjanssen.todotxtholo, nl.mpcjanssen.simpletask): Suspended from Google Play due to policy violation
I’ve reviewed your appeal request and found that your apps still violate Google Play Policy.
During review, we found that your apps violate the Repetitive Content policy. We don't allow apps that merely provide the same experience as other apps already o

[2020-11-19 17:34] nicodn commented on #1102
Is it possible to swap the currently active version on Google Play to the Cloudless or the main build? I'm selfishly asking so that I can install on my chromebook without having to enable developer mode in order to sideload the apk (and lose all my data) 🙏

[2020-11-19 17:58] smichel17 commented on #1102
Normally, tasks are saved to the todo.txt file whenever you update the list and you can export your saved filters and lua config as well. So, migrating between different versions of Simpletask is not very much work; you just need to change the app-wide settings.

If I understand you right, though, you are currently using the Nextcloud version, but have not connected it to a Nextcloud server yet, s

[2020-11-19 19:11] nicodn commented on #1102
I'm using the cloudless version on my phone but I can't install it on my chromebook because sideloading is blocked there. I tried installing the nextcloud version on the chromebook but it shows a login screen. I use a separate app to sync the file on my sdcard. Is there a way to open the `todo.txt` file from the local filesystem on the nextcloud version?

[2020-11-20 06:08] mpcjanssen commented on #1102
@nicodn I am currently thinking to publish a version using the storage access framework as the single google  play version. This would offer at least the same functionality as the current separate versions.

[2020-11-20 06:09] mpcjanssen commented on #1102
@smichel17 comment on wrong issue?

[2020-11-23 02:52] jason-mehmel opened #1105 "Missing from Google Play?"
Hey! This isn't really a but or an issue, but I noticed the app is missing from Google Play today! Are there any issues to be aware of?

[2020-11-23 04:36] mpcjanssen commented on #1105
See #1102

[2020-11-23 04:36] #1105 closed

[2020-11-23 04:37] mpcjanssen commented on #1102
For now I have also disabled the nextcloud version in preparation of the storage access framework version.

[2020-11-23 21:15] jason-mehmel commented on #1102
(Thanks for looping me in from the erroneous issue opening.)

[2020-11-25 05:05] mpcjanssen commented on #1102
I have rolled out the Storage Access Framework version to the play store. This is missing some stuff (most notably archiving) I will re-add this functionality gradually.

[2020-11-25 17:20] aubreyz commented on #1102
I can't see it, but that might involve a delay on Google's end?
But clarify what this replaces -- presumably this is just a replacement for the cloudless version??

If I am already running the cloudless version, can I install separately three cloudless versions (FDroid version, the old non-available one, and this new one)? It would be great if that were the case, and even better if the main progra

[2020-11-26 08:03] mpcjanssen commented on #1102
@aubreyz it is still under review at google side and yes this new version can access all storage providers which integrate with the storage access framework among which Dropbox, nextcloud and Google drive if the client apps are installed.
It is also possible to install all apps in parrallel but I am not so sure if I still have the motivation to maintain all the current versions next to the new sto

[2020-11-26 10:49] mpcjanssen commented on #1102
This version is also rejected because of the donate button in the app.

[2020-11-26 12:19] aubreyz commented on #1102
Yes Google are infuriating. Can I make a small suggestion for the longer term if just maintaining one version: It would be nice if it were possible to allow the background colour (or something else glaringly obvious) to depend on which database is loaded. That way it will be clear which database one is working with. Better still to allow the filter-set to be tied to a database (maybe a filter set

[2020-11-28 05:53] mpcjanssen commented on #1102
It's live now at https://play.google.com/store/apps/details?id=nl.mpcjanssen.simpletask.saf

[2020-11-28 18:17] jason-mehmel commented on #1102
Possibly dumb question: does this version replace Simpletask with Dropbox and the Cloudless version? And this new version puts the file sync options outside of the app, at our own discretion?

[2020-11-28 22:34] smichel17 commented on #1102
Yes, when you choose the option to select the todo.txt file, it will open an Android menu, not unique to simpletask. You can use it to select a local file. If you have the Nextcloud or Dropbox apps installed and logged in, you should also be able to select files from those locations, and those apps will handle the sync, similar to how you can currently sync the cloudless todo.txt file using nextcl

[2020-11-29 03:12] mpcjanssen commented on #1102
NB the nextcloud implementation from the nextcloud Android app has a bug where remote changes are only picked up after you release the file. Google Drive is fine.

[2020-11-29 19:04] jason-mehmel commented on #1102
On my Samsung S7, it doesn't look like the Android file menu connects to Dropbox, but I'm using Foldersync to line them up. Just doing a test now to see how well the Foldersync option works!

Also a dumb question, I've now got two version of Simpletask on my phone... the newest one and the Dropbox Sync version. I'm assuming the Dropbox version isn't being updated, but there's no current issue cont

[2020-11-30 06:38] mpcjanssen commented on #1102
@json-mehmel you'll need to install the Dropbox client application for it to be included. The client provides the storage provider.
Also the latest Dropbox version is still fine to use.

[2020-11-30 17:35] jason-mehmel commented on #1102
On the Dropbox app I have, there's nothing that connects Dropbox to my file browser access. Is the Dropbox Client application you'd talking about something different? Not the 'standard' Dropbox app?

It's possible that it might be in a version of the app I don't have access to...

I'm doing Android 8.0.0 on Samsung S7 with "Samsung Experience version" 9.0 (Whatever that means.)
Dropbox App version

[2020-12-02 16:27] mpcjanssen commented on #1102
You're right, i could have sworn that the Dropbox app provides a storage provider, but it doesn't. Sorry for the confusion.

[2020-12-08 00:55] aurisnoctis commented on #1102
Hi @mpcjanssen ,
https://play.google.com/store/apps/details?id=nl.mpcjanssen.simpletask.saf is for `Android 8.0 and up`.
Does it mean that simpletask on older Android versions cannot be updated via Google Play from now on / are stuck with latest available versions before Google took them down?

I have F-Droid - just want to understand implications for Google Play.

Thanks in advance for clarifying

[2020-12-08 02:46] jason-mehmel opened #1106 "Feature Req: Quick Capture as a Widget OR default option for opening a new task line (Android)"
I would love to have a widget that goes directly to creating a new task with some options for preset contexts or projects.

AND/OR

When using the app, to have an option to create preset contexts or projects when creating a new task.

Basically, I'm trying to find a quick-capture method here when using the app on the go.

(I have found a way to do this by creating an Android Widget that displays a

[2020-12-08 08:58] vinniec commented on #710
Today I tried this your application and I wanted to do three things:
1) congratulate you because among all the ones I tried it is the one that seemed to me better designed (I notice it from the speed of task input)
2) report that the links on the github page to the playstore are broken
3) ask for the calendar functionality, but for good practice I did the search in the issues before and I saw that

[2020-12-08 15:57] smichel17 commented on #710
2. This is due to #1102

3. Simpletask (ST) creates a *local* (on your phone only) that is stored in the Android calendar provider, which is then accessible to all apps. When I checked last (a year or two ago), Simple Calendar used its own built-in calendar storage system instead of the Android calendar provider, which is why it does not see the ST calendar — this is a fault of Simple Calendar, no

[2020-12-08 16:20] aubreyz commented on #710
Here is a bit of information about the Google Calendar issue. I have due dates set to show up on my Calendar. They show up just fine in Google Calendar. However you should check a) that they are set to show on the calendar in ST (check both due or threshold dates or one of them) b) That in Google calendar the simpletask calendar is set to show and c) I found that if I have two versions of ST insta

[2020-12-09 03:32] vinniec commented on #710
thanks to both of you for the answer, @aubreyz :
at a certain point (after resetting the applications) I couldn't see the dates on Etar anymore, so the point a) was fundamental :P
As far as gcalendar is concerned, probably I had to better check point b) but I don't like google to put the nose in my appointments, so I disabled the default calendar even if it has the monthly view widget that I like

[2020-12-09 04:50] vinniec opened #1107 "Feature Req: possibility to hide group headers"
Instead of the application's default sorting, I wanted the entries to be sorted by due date.
However, when I set the order each date became a header making the list a bit too cluttered (also because this information is written in Due:xxxx-xx-xx for each item).
To solve this, after some testing, I moved "Lua Script" above as the first sorting key, so the date headers disappeared.
It's a bad solutio

[2020-12-09 06:15] mpcjanssen commented on #1107
The fact that setting Lua as first story hides the headers is a bit of s side effect and has the disadvantage you mentioned. Instead define a Lua callback onGroup

[code]

[2020-12-09 06:31] vinniec commented on #1107
Work :)
Also if I don't know Lua, this is one of the things that makes your program very interesting.
Just a couple of days ago I was reading an [article](https://towardsdatascience.com/optimise-your-todo-list-with-monte-carlo-simulations-in-python-1682a8a5eb84) about how to make your own to-do list execution order more efficient, currently I think your app allows you to do what it says in the art

[2020-12-09 13:51] #1107 closed

[2020-12-22 04:35] kianboon80 commented on #1092
For my case, it doesn't get reload when I reopen file from task. Neither does it sync. I just switch phone to android 10. It is still working on on my old phone on android 9. Any workaround?

[2021-01-02 17:28] Robinlovelace commented on #647
Any updates on this? Could be useful.

[2021-01-07 14:09] silasdb commented on #1029
The problem persists. Was this pushed to apps in F-Droid or Play Store? Is there something the user can make to enable/disable such "caching"? Maybe adding a checkbox to the Settings screen?

(Thanks for this great software!)

[2021-01-08 07:39] mpcjanssen commented on #1029
@silasdb there are (and will be) no new versions on google play (see #1102) instead the version at https://mpcjanssen.nl/artifacts/10.9.0/apk/cloudless/release/ has caching disabled.

[2021-01-08 14:20] silasdb commented on #1029
Thanks for the answer.  Unfortunatelly the problem persists for me.  I tried both the Cloudless version from F-Droid and the one you linked in this issue.

My sort script (onSort()) works but stops working as soon I edit a task.

I'm using Android 7.0.  Is there further configuration I need to make besides installing this specific version?

[2021-01-09 04:10] kianboon80 commented on #1102
may i know how to release the file?

[2021-01-09 06:24] mpcjanssen commented on #1102
that should have been "reload the file" you can do that by restarting simpletask or refeshing from the menu.

[2021-01-09 08:01] kianboon80 commented on #1102
Thanks. Recently, I have issue ever since I switch to a new phone(android 10). It open the file in Dropbox with no issue but after making one/two change, when I click sync. It will revert back all my changes. Then I notice that I often need to open Dropbox app before opening SimpleTask in order to get the latest. But there are also times where after my changes, it will create another todo(conflict

[2021-01-09 19:05] fairplay opened #1108 "Deletion doesn't work, appending works not immediately."
Version: last google play Simpletask NG

Phone: Huawei Honor 10, Android 10

To reproduce:
1. Add new task, wait for top red line to disappear -- change is not reflected in tasks list (no filters in use). Close/open app -- new task is here.
2. Delete any task, wait for top red line to disappear. Press "Sync" in menu or relaunch the app -- task is here, not deleted.

[2021-01-09 20:48] aubreyz opened #1109 "Documentation issue: cloud storage mechanisms"
I think this is more an issue of documentation and having sufficient explanation to allow users to know what is going on - rather than a bug:

a) I have started using the Webdav version (I have stopped using the Dropbox version because, as it seems others are finding, Dropbox is producing conflicted files even if the phone is the ONLY device connected to Dropbox - suspect the issue is with Dropbox

[2021-01-09 20:54] silasdb commented on #1029
I'm coming to apologize because it seems it was a problem with my configuration. After reinstalling and reviewing the settings, it works. Sorry for the confusion.

[2021-01-10 14:19] silasdb commented on #1029
Hi again. A minor issue: when I close the app and open it again it doesn't sort by Lua Script. Opening and closing Filter options, though, is enough to make sorting with Lua Script working.

[2021-01-10 16:31] mpcjanssen commented on #1109
@aubreyz instead of addressing each point specifically, I'll try to explain the design, that should address most of your questions.

Simpletask stores the current version of the full todo.txt in the application preferences. If there are still changes that haven't been saved to remote storage this is indicated by a small orange bar on top of the screen whenever you open simpletask.

Android makes i

[2021-01-10 22:23] aubreyz commented on #1109
Many thanks @mpcjanssen

That orange or red bar is a little subtle.... I have used ST for years and years and never noticed it before!

Just to clear it up further -

a) I am correct in thinking that if the bar is NOT red or yellow I can safely presume that the version on the webdav and phone are identical - hopefully - right?

b) If there is an orange bar I can presume that they MIGHT not be iden

[2021-01-12 10:22] mpcjanssen opened #1110 "Low maintenance mode"
The suspending of the applications by Google #1102 and the continuously fixing breakage by Android API changes have reduced my Simpletask motivation to a very low level.

Please don't expect a quick response on new issues or PRs.

[2021-01-12 10:34] aubreyz commented on #1110
I can understand that.....

Your audience is very grateful people - not Google

[2021-01-17 13:19] scheunengeist commented on #1088
I have the same problem now after switching to LineageOS 17.1 (Android 10), using Simpletask Cloudless 10.9.0 from F-Droid: popup "Saving of todo file failed".

After reinstalling Simpletask, I'm greeted with "Loading of todo file failed". Trying to open my todo file from the menu entry produces a seemingly crippled file picker, showing nothing but ".." below the alleged current directory. No file

[2021-01-17 16:28] smichel17 commented on #1088
Perhaps also #1100 and #1102; and see #1110

[2021-01-19 10:33] scheunengeist commented on #1088
After reading a bit more (thanks @smichel17 for the additional links), I'd like to add two things:

* I tried SimpleTask 10.9.0-20-2e2a362-saf from artifacts, and it works great in my first tests. Thank you for providing it @mpcjanssen!
* I totally sympathize with you concerning the never ending changing around of Android internal functionality. It is annoying even for a mere conscious user. For a

[2021-01-21 18:05] 12425 opened #1111 "Enhancement: customize widget (e.g. font size, line wrapping)"
Hello, can we make the widget show more lines by customizing font size etc.?
Now long lines are wrapped, and we have a setting in the app, but not for the widget.
Also can we reduce the height of the widget header line?
Thank you for the great app!

[2021-01-22 00:40] Yur7y commented on #1100
For anyone looking for a functional version: Here is the link on @mpcjanssen's site to the 10.5 version, since it is no longer available on F-Droid: https://mpcjanssen.nl/artifacts/10.5.4-7-3c06437/cloudless/release/

[2021-01-25 13:31] silviuvulcan commented on #1110
I'm grateful for this app - I use it everyday but I understand how annoying this has to be. Thank you for your work!

[2021-01-26 07:47] amariusz commented on #312
This is old discussion but I'd like to opt for change @h-cspu was describing. I've run into this issue yesterday on Dropbox version I've downloaded in November 2020 (I've Dropbox sync issues on latest generic 'NG' version but it seems to work the same way regarding recurrence).

According to manual SimpleTask recurrence behaviour is inspired by ToPyDo.

However if you start today with @h-cspu nons

[2021-01-30 08:03] fairplay commented on #1108
I read the previous issues and can see the picture as a whole. Version from google play with saf support should work in Android 11, but causes problems in Android 10. But version for Android 10 is removed by Google bureaucracy. The only one working version is 10.5.4 from author site/fdroid repo.
I'm glad I can use 10.5.4, so I think this issue can be closed.